<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<nav th:fragment="page_breadcrumb" class="page-breadcrumb">
    <ol class="breadcrumb">

        <li class="breadcrumb-item" th:if="${not #strings.isEmpty(breadcrumb.parent_menu_name)}"><a href="#" th:text="${breadcrumb.parent_menu_name}">시스템관리</a></li>
        <li class="breadcrumb-item active" aria-current="page" th:text="${breadcrumb.menu_name}">사용자관리</li>

        <!--<li class="breadcrumb-item" th:if="${parentMenuName}"><a href="#" th:text="${parentMenuName}">시스템관리</a></li>
        <li class="breadcrumb-item active" aria-current="page" th:text="${menuName}">사용자관리</li>-->
    </ol>
</nav>

</html>