.gradle
/build/
/bin/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
# build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/bin/
/doc/
.pmd

*.log
*.log.*gz

sogongja_platform_core/bin/
sogongja_platform_core/build/
sogongja_platform_admin/bin/
sogongja_platform_admin/build/
sogongja_platform_user/bin/
sogongja_platform_user/build/
sogongja_platform_user/src/main/resources/static/assets/images/new/main/img_mainbg1_bak.png
sogongja_platform_user/src/main/resources/static/assets/images/tagcloud.png
