<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layouts/layout}">

<head>
    <title>커뮤니티</title>
    <meta property="og:url" content="">
    <meta property="og:title" content="소공자 플랫폼 | 커뮤니티">
    <meta property="og:image" th:content="@{/images/img-logo-black.png}">
    <meta property="og:description" content="소공자 플랫폼 게시판">
    <meta name="keywords" content="소공자 플랫폼, 첨부파일, 제목, 작성일, 커뮤니티">
    <meta name="description" content="소공자 플랫폼 커뮤니티">
</head>

<body>
    <article layout:fragment="content">
        <section class="sub_visual">
            <div class="container">
                <h2 class="border_title">커뮤니티</h2>
            </div>
            <div class="lnb">
                <div class="m_tab" th:classappend="${type eq 'shop'?'':'noShow'}">상점 커뮤니티</div>
                <div class="m_tab" th:classappend="${type eq 'region'?'':'noShow'}">지역 커뮤니티</div>
                <ul class="container">
                    <li th:classappend="${type eq 'shop'?'active':''}"><a th:href="@{/community(type=shop)}">상점 커뮤니티</a></li>
                    <li th:classappend="${type eq 'region'?'active':''}"><a th:href="@{/community(type=region)}">지역 커뮤니티</a></li>
                </ul>
            </div>
            <!--<th:block th:include="pages/board/board_nav"></th:block>-->
        </section>
        <section class="wrap">
            <div class="sub_container">
                <div class="view">
                    <div class="view_title">
                        <div>
                            <h3 th:text="${community.subject}">소상공인 불공정 피해 상담센터 운영</h3>
                        </div>
                        <p>
                            작성일 <th:block th:text="${community.regDt}">2021.01.01</th:block>
                        </p>
                        <!--/*
                        <th:block sec:authorize="isAuthenticated()">
                            <div class="view_change" th:if="${detail == true}">
                                <div class="moreBtn_wrap">
                                    <span class="moreBtn"></span>
                                    <ul class="morePop">
                                        <li>
                                            <span class="changeBtn">수정하기</span>
                                        </li>
                                        <li>
                                            <span class="delBtn">삭제하기</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </th:block>
                        */-->
                    </div>
                    <div class="view_text" id="viewer">[[${community.content}]]</div>
                    <ul class="file_list" th:if="${not #lists.isEmpty(fileList)}">
                        <li th:each="item : ${fileList}">
                            <a th:href="@{|/file/download/${item.file_seq}|}" th:text="${item.file_name}" download="">(Q&A)2021년 온라인미디어 예술활동 지원 주요 문의사항.pdf</a>
                        </li>
                    </ul>
                </div>

                <div class="reply_view" >
                    <div class="reply_view_top">
                        <p>
                            <span class="reply_num">[[${#lists.size(replyList)}]]</span>
                            개의 댓글 &nbsp;
                            <span>최신순</span>
                        </p>
                        <a href="#none" class="more_reply pcBtn" th:if="${#lists.size(replyList) > 5}">댓글 더보기</a>
                    </div>
                    <ul class="reply_list">
                        <li th:each="item,i : ${replyList}" class="row_li">
                            <div class="reply_list_info_wrap">
                                <div  class="reply_list_info">
                                    <!--<p>ID에 뒤에 ** 처리필요</p>-->
                                    <p>[[${item.nick_name}]]</p>
                                    <span>[[${item.reg_dt}]]</span>
                                </div>
                                <div class="moreBtn_wrap" th:if="${myReplyList[i.index] == true}">
                                    <span class="moreBtn"></span>
                                    <ul class="morePop">
                                        <li>
                                            <span class="changeBtn">수정하기</span>
                                        </li>
                                        <li id="cancle_li" style="display: none">
                                            <span class="cancleBtn">취소하기</span>
                                        </li>
                                        <li>
                                            <span class="delBtn" th:data-value="${item.reply_seq}">삭제하기</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <p class="reply_list_text">
                                [[${item.comment}]]
                            </p>
                            <div class="reply_write"  style="display: none">
                                <textarea name="comment" id="comment2" cols="30" rows="10" placeholder="댓글을 입력해주세요." th:utext="${item.comment}"></textarea>
                                <button type="button" class="replyUpdateBtn" th:value="${item.reply_seq}">댓글 수정</button>
                            </div>
                        </li>
                    </ul>
                </div>
                <th:block sec:authorize="isAuthenticated()">
                    <div class="reply_view">
                        <form th:action="@{/reply/replyWrite}" th:object="${reply}" method="post" onsubmit="return validationForm2();">
                            <input type="hidden" name="replySeq" value="0">
                            <input type="hidden" name="communitySeq" th:value="${community.communitySeq}">
                            <input type="hidden" name="communityType" th:value="${type}">
                            <div class="reply_write">
                                <textarea name="comment" id="comment1" cols="30" rows="10" placeholder="댓글을 입력해주세요."></textarea>
                                <button type="submit">댓글 작성</button>
                            </div>
                        </form>
                    </div>
                </th:block>
                <form class="reply_write" name="replyUpdate" th:action="@{/reply/replyWrite}" th:object="${reply}" method="post" onsubmit="return validationForm3();">
                    <input type="hidden" name="replySeq">
                    <input type="hidden" name="communitySeq" th:value="${community.communitySeq}">
                    <input type="hidden" name="communityType" th:value="${type}">
                    <input type="hidden" name="comment" >
                </form>
                <form class="reply_write" name="replyDelete" th:action="@{/reply/replyDelete}" method="post">
                    <input type="hidden" name="replySeq">
                    <input type="hidden" name="communitySeq" th:value="${community.communitySeq}">
                    <input type="hidden" name="communityType" th:value="${type}">
                </form>
            </div>
            <div class="btn_box">
                <a class="btn btn_grey" href="javascript:window.history.back();">목록으로</a>
            </div>

        </section>

        <!--삭제하기 여부 팝업-->
        <div class="pop_up_wrap del_pop">
            <div class="pop_up">
                <div class="pop_head red">
                    <h4>삭제하시겠습니까?</h4>
                </div>
                <div class="pop_main">
                    <div class="pop_text">
                        <p>해당 글을 삭제하시면</p>
                        <p>다시 복구할 수 없습니다.</p>
                    </div>
                    <div class="pop_btn">
                        <button type="button" class="btn backBtn redline">취소</button>
                        <button type="button" id="board_del" class="btn red">삭제하기</button>
                    </div>
                </div>
            </div>
            <!--/*<form name="deleteForm" th:action="@{/board/delete}" method="post">
                <input type="hidden" name="boardSeq" id="boardSeq" th:value="${data.board_seq}">
                <input type="hidden" name="boardSettingSeq" id="boardSettingSeq" th:value="${boardSettingSeq}">
            </form>*/-->
        </div>
    </article>
    <th:block layout:fragment="custom_css">
        <link rel="stylesheet" type="text/css" th:href="@{/css/toastui-editor-viewer.css}">
    </th:block>
    <th:block layout:fragment="custom_js">
        <script th:inline="javascript">
        var tui_content = /*[[${community.content}]]*/ '';
        var detail = /*[[${detail}]]*/ '';
        </script>
        <script th:src="@{/js/libs/codemirror.js}"></script>
        <script th:src="@{/js/libs/toastui-editor-viewer.js}"></script>
        <script th:src="@{/js/pages/board/community_write.js}"></script>
    </th:block>
</body>

</html>