<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layouts/layout}">

<head>
    <title>커뮤니티</title>
    <meta property="og:url" content="">
    <meta property="og:title" content="소공자 플랫폼 | 커뮤니티">
    <meta property="og:image" th:content="@{/images/img-logo-black.png}">
    <meta property="og:description" content="소공자 플랫폼 커뮤니티">
    <meta name="keywords" content="소공자 플랫폼, 커뮤니티, 첨부파일, 제목, 작성일">
    <meta name="description" content="소공자 플랫폼 커뮤니티">
</head>

<body>
<article layout:fragment="content">
    <section class="sub_visual">
        <div class="container">
            <h2 class="border_title">커뮤니티</h2>
        </div>
        <div class="lnb">
            <ul class="container">
                <li th:classappend="${params.type eq 'shop'?'active':''}"><a th:href="@{/community(type=shop)}">상점 커뮤니티</a></li>
                <li th:classappend="${params.type eq 'region'?'active':''}"><a th:href="@{/community(type=region)}">지역 커뮤니티</a></li>
            </ul>
        </div>
        <!--<th:block th:include="pages/board/board_nav"></th:block>-->
    </section>
    <section class="wrap">
        <div class="sub_container board">
<!--            <div class="faq_anchor_wrap">-->
<!--                <p>문의하기 전에 <span>FAQ</span>에서 답을 찾아 보세요.</p>-->
<!--                <div><a th:href="@{/board/type/faq}">자주하는 질문</a></div>-->
<!--            </div>-->
            <form name="searchForm" >
                <div th:if="${params.type eq 'shop'}">
                    <h3 class="h3_title">상점 커뮤니티 항목</h3>
                    <div class="checkbox_wrap checkbox_wrap_baord">
                        <ul class="check_list check_list50 select_choice">
                            <li>
                                <h4>지역선택</h4>
                                <div>
                                    <select class="sidoBox" name="regionName1" onchange="changeSido(this);">
                                        <option>선택해주세요</option>
                                    </select>
                                    <select class="sigunguBox" name="regionName2">
                                        <option>선택해주세요</option>
                                    </select>
                                </div>
                            </li>
                            <li>
                                <h4>업종선택</h4>
                                <div>
                                    <select class="main_type" name="categoryName1">
                                        <option>대분류</option>
                                        <option th:each="item : ${researchShopGroupList}" th:value="${item.code_type1}" th:text="${item.nm_type1}"></option>
                                    </select>
                                    <select class="sub_type" name="categoryName2">
                                        <option>중분류</option>
                                        <option th:each="item : ${researchShopSubGroupList}" th:value="${item.code_type2}" th:text="${item.nm_type2}" style="display: none"></option>
                                    </select>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div th:if="${params.type eq 'region'}">
                    <h3 class="h3_title">지역 커뮤니티 항목</h3>
                    <div class="checkbox_wrap checkbox_wrap_baord">
                        <ul class="check_list check_list50 select_choice">
                            <li>
                                <h4>지역선택</h4>
                                <div>
                                    <select class="sidoBox" name="regionName1" onchange="changeSido(this);">
                                        <option>선택해주세요</option>
                                    </select>
                                    <select class="sigunguBox" name="regionName2"onchange="changeSigungu(this);">
                                        <option>선택해주세요</option>
                                    </select>
                                </div>
                            </li>
                            <li>
                                <h4>동</h4>
                                <div class="select_choice01">
                                    <select class="dongBox" name="regionName3">
                                        <option>선택해주세요</option>
                                    </select>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
            <div class="search_list">
                <th:block th:include="fragments/paging_result"></th:block>
                <div>
                    <form name="searchForm" th:action="@{/community}" th:object="${params}">
                        <input type="hidden" name="type" th:value="${params.type}">

                        <th:block th:include="fragments/search_hidden"></th:block>
                        <legend>커뮤니티</legend>
                        <select th:field="*{field}">
                            <option value="subject">제목</option>
                            <option value="content">내용</option>
                            <option value="">제목 + 내용</option>
                        </select>
                        <input type="text" th:field="*{keyword}" title="검색" placeholder="검색어를 입력하세요">
                        <button type="submit">검색</button>
                    </form>
                </div>
            </div>
            <div class="qna_list">
                <table class="table_style">
                    <caption>커뮤니티</caption>
                    <thead>
                    <tr>
                        <th style="width: 11.5%;">No</th>
                        <th class="title txl">제목</th>
                        <th >작성자</th>
                        <th style="width: 11.5%;">작성일</th>
                        <!--<th style="width: 11.5%;">첨부파일</th>-->
                        <th >댓글</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:include="fragments/table_empty:: table_empty(5)" th:if="${#lists.isEmpty(list)}"></th:block>
                    <th:block th:unless="${#lists.isEmpty(list)}">
                        <tr th:each="item : ${list}">
                            <td class="color_606060" th:text="${paging.total - item.rnum + 1}">4</td>
                            <td class="txl">
                                <a th:href="@{|/community/${item.community_seq}|(type=${params.type})}" >[[${item.subject}]]</a>
                            </td>
                            <td th:text="${item.reg_username}">작성자</td>
                            <td th:text="${item.reg_dt}">2021.01.01</td>
                            <td >0</td>
                            <!--/*<td><span class="file" th:if="${item.file_cnt > 0}">파일</span></td>*/-->
                        </tr>
                    </th:block>
                    </tbody>
                </table>
                <th:block th:include="fragments/paging"></th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <input type="hidden" id="session_seq" th:value="${session.ss_user.userSeq}">
                    <!--/*<div class="qna_write_btn" th:if="${boardSetting.answerUse == 1}">
                        <a th:href="@{|/board/QnaWriteForm?boardSettingSeq=${boardSettingSeq}|}">문의하기</a>
                    </div>*/-->
                    <div class="qna_write_btn" >
                        <a th:href="@{/community/communityWriteForm(type=${params.type})}">글쓰기</a>
                    </div>
                </th:block>
            </div>
        </div>
    </section>
</article>
<th:block layout:fragment="custom_js">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b1b498b9b5f5cf2ae9f152080bcb6cec&libraries=services"></script>
    <script th:src="@{/js/pages/board/community_list.js}"></script>
</th:block>
</body>

</html>