<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stoneitgt.sogongja.user.mapper.AnswerMapper">

    <select id="getAnswerInfo" parameterType="int" resultType="com.stoneitgt.sogongja.domain.Answer">
        /* file : BoardMapper.xml, id : getboardSettingList */
        SELECT *
        FROM ST_ANSWER
        WHERE DEL_FLAG            = 0 AND BOARD_SEQ = #{boardSeq}
    </select>

</mapper>