<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stoneitgt.sogongja.user.mapper.AreaMapper">

<!--	<select id="getTradingAreaList" parameterType="map" resultType="com.stoneitgt.common.LowerKeyMap">-->
<!--		/* file : AreaMapper.xml, id : getTradingAreaList */-->
<!--		  SELECT A.*-->
<!--		       , B.AREA_TYPE_NAME-->
<!--		       , B.STROKE_WEIGHT-->
<!--		       , B.STROKE_COLOR-->
<!--		       , B.STROKE_OPACITY-->
<!--		       , B.STROKE_STYLE-->
<!--		       , B.FILL_COLOR-->
<!--		       , B.FILL_OPACITY-->
<!--		       , B.OVER_FILL_COLOR-->
<!--		       , B.OVER_FILL_OPACITY-->
<!--		    FROM ST_TRADING_AREA A-->
<!--		       INNER JOIN ST_TRADING_AREA_TYPE B-->
<!--		               ON A.AREA_TYPE = B.AREA_TYPE-->
<!--		   WHERE A.DEL_FLAG          = 0-->
<!--		ORDER BY A.AREA_SEQ-->
<!--    </select>-->


	<select id="getTradingAreaMapPartList" parameterType="map" resultType="com.stoneitgt.common.LowerKeyMap">
		/* file : AreaMapper.xml, id : getTradingAreaMapPartList */
		SELECT TAM.AREA_SEQ, TAM.AREA_NAME, TA.AREA_TYPE, TA.AREA_CD
		FROM ST_TRADING_AREA_MAP TAM
				 INNER JOIN ST_TRADING_AREA TA
							ON TAM.AREA_SEQ = TA.AREA_SEQ
				 INNER JOIN ST_TRADING_AREA_TYPE TAT
							ON TA.AREA_TYPE = TAT.AREA_TYPE
		WHERE TAT.AREA_TYPE = #{code_type2}
		  AND TAM.LATITUDE BETWEEN #{x1} AND #{x2}
		  AND TAM.LONGITUDE BETWEEN #{y1} AND #{y2}
		GROUP BY TAM.AREA_SEQ
	</select>

	<select id="getTradingAreaMapList" parameterType="string" resultType="com.stoneitgt.common.LowerKeyMap">
		/* file : AreaMapper.xml, id : getTradingAreaMapList */
		  SELECT B.MAP_SEQ
		       , B.AREA_SEQ
		       , B.MAP_TYPE
		       , B.LATITUDE
		       , B.LONGITUDE
		    FROM ST_TRADING_AREA A
		       INNER JOIN ST_TRADING_AREA_MAP B
		               ON A.AREA_SEQ = B.AREA_SEQ
		   WHERE A.DEL_FLAG          = 0
		     AND B.DEL_FLAG          = 0
		   <if test="mapType != null and mapType != ''">
		     AND B.MAP_TYPE = #{mapType}
		   </if>
		ORDER BY B.MAP_TYPE DESC
		       , B.MAP_SEQ
    </select>

<!--	<select id="getTradingAreaList" resultType="com.stoneitgt.common.LowerKeyMap">-->
<!--		/* file : AreaMapper.xml, id : getTradingAreaList */-->
<!--		SELECT *-->
<!--		FROM (-->
<!--			SELECT * FROM ST_RESEARCH_AREA ORDER BY YEAR DESC, QRT DESC ) AS TBL1-->
<!--		GROUP BY AREA_CD;-->
<!--	</select>-->


	<select id="getTradingAreaGroupByList" resultType="com.stoneitgt.common.LowerKeyMap">
		/* file : AreaMapper.xml, id : getTradingAreaGroupByList */
		SELECT *, SUM(CT_SHOP) AS STORES, SUM(CT_OPEN) AS OPEN, SUM(CT_CLOSE) AS CLOSE, SUM(CT_OPEN) + SUM(CT_CLOSE) AS OPCL,
		SUM(RAC.SUM_00_06) + SUM(RAC.SUM_06_11) + SUM(RAC.SUM_11_14) + SUM(RAC.SUM_14_17) +  SUM(RAC.SUM_17_21)+ SUM(RAC.SUM_21_24) AS SALES
		, LEFT(COM_CD2,1) AS CODE
		FROM ST_RESEARCH_AREA_COM RAC
		WHERE RAC.YEAR =  (SELECT YEAR FROM ST_RESEARCH_AREA_COM ORDER BY YEAR DESC, QRT DESC LIMIT 1 )
		  AND RAC.QRT =  (SELECT QRT FROM ST_RESEARCH_AREA_COM ORDER BY YEAR DESC, QRT DESC LIMIT 1 )
		  AND RAC.COM_CD2 != ''
		GROUP BY AREA_CD, LEFT(COM_CD2,1)
	</select>

	<select id="getTradingAreaAllList" resultType="com.stoneitgt.common.LowerKeyMap">
		/* file : AreaMapper.xml, id : getTradingAreaAllList */
		SELECT *, LEFT(COM_CD2,1) AS CODE
		FROM ST_RESEARCH_AREA_COM RAC
		WHERE RAC.YEAR =  (SELECT YEAR FROM ST_RESEARCH_AREA_COM ORDER BY YEAR DESC, QRT DESC LIMIT 1 )
			AND RAC.QRT =  (SELECT QRT FROM ST_RESEARCH_AREA_COM ORDER BY YEAR DESC, QRT DESC LIMIT 1 )
			AND RAC.COM_CD2 != ''
	</select>

	<select id="getTest" parameterType="String" resultType="com.stoneitgt.common.LowerKeyMap">
		/* file : AreaMapper.xml, id : getTest */
		SELECT *, LEFT(COM_CD2,1) AS CODE
		FROM ST_RESEARCH_AREA_COM RAC
		WHERE RAC.YEAR =  (SELECT YEAR FROM ST_RESEARCH_AREA_COM ORDER BY YEAR DESC, QRT DESC LIMIT 1 )
		  AND RAC.QRT =  (SELECT QRT FROM ST_RESEARCH_AREA_COM ORDER BY YEAR DESC, QRT DESC LIMIT 1 )
		  AND RAC.COM_CD2 != ''
		  AND RAC.AREA_CD IN (${scope})
	</select>


	<select id="getTradingAreaCountList" resultType="com.stoneitgt.common.LowerKeyMap">
		/* file : AreaMapper.xml, id : getTradingAreaCountList */
		SELECT COUNT(*)
		<choose>
			<when test="zoom gte 10">
				, LEFT(EMD_CD, 2)
			</when>
			<otherwise>
				, LEFT(EMD_CD, 5)
			</otherwise>
		</choose>
		FROM ST_RESEARCH_AREA RA
		WHERE RA.AREA_DIV_CD = #{code_type2}
		  AND RA.YEAR =  (SELECT YEAR FROM ST_RESEARCH_AREA ORDER BY YEAR DESC, QRT DESC LIMIT 1 )
		  AND RA.QRT =  (SELECT QRT FROM ST_RESEARCH_AREA ORDER BY YEAR DESC, QRT DESC LIMIT 1 )
		<choose>
			<when test="zoom gte 10">
				GROUP BY LEFT(EMD_CD, 2)
			</when>
			<otherwise>
				GROUP BY LEFT(EMD_CD, 5)
			</otherwise>
		</choose>
	</select>

	<select id="getRegionAreaList" parameterType="map" resultType="com.stoneitgt.common.LowerKeyMap">
		/* file : AreaMapper.xml, id : getRegionAreaList */
		SELECT A.*
			 , B.AREA_TYPE_NAME
			 , B.STROKE_WEIGHT
			 , B.STROKE_COLOR
			 , B.STROKE_OPACITY
			 , B.STROKE_STYLE
			 , B.FILL_COLOR
			 , B.FILL_OPACITY
			 , B.OVER_FILL_COLOR
			 , B.OVER_FILL_OPACITY
		FROM ST_REGION_AREA A
				 INNER JOIN ST_TRADING_AREA_TYPE B
							ON A.AREA_TYPE = B.AREA_TYPE
		WHERE A.DEL_FLAG          = 0
		ORDER BY A.AREA_SEQ
	</select>

	<select id="getRegionAreaMapList" parameterType="string" resultType="com.stoneitgt.common.LowerKeyMap">
		/* file : AreaMapper.xml, id : getRegionAreaMapList */
		SELECT B.MAP_SEQ
		, B.AREA_SEQ
		, B.MAP_TYPE
		, B.LATITUDE
		, B.LONGITUDE
		FROM ST_REGION_AREA A
		INNER JOIN ST_REGION_AREA_MAP B
		ON A.AREA_SEQ = B.AREA_SEQ
		WHERE A.DEL_FLAG          = 0
		AND B.DEL_FLAG          = 0
		<if test="mapType != null and mapType != ''">
			AND B.MAP_TYPE = #{mapType}
		</if>
		ORDER BY B.MAP_TYPE DESC
		, B.MAP_SEQ
	</select>

	<select id="getResearchShopList" parameterType="map" resultType="com.stoneitgt.common.LowerKeyMap">
		/* file : AreaMapper.xml, id : getResearchShopList */
		SELECT *
		FROM ST_RESEARCH_SHOP RS
		WHERE RS.CODE_TYPE1 IN (${scope})
		  AND RS.LATITUDE BETWEEN #{x1} AND #{x2}
		  AND RS.LONGITUDE BETWEEN #{y1} AND #{y2}
	</select>

	<select id="countResearchShop" parameterType="map" resultType="com.stoneitgt.common.LowerKeyMap">
		/* file : AreaMapper.xml, id : countResearchShop */
		SELECT COUNT(*) AS COUNT
		<choose>
			<when test="zoom != 14 and zoom != 0">
				, RS.EMD_CD AS CODE, RS.EMD_NM AS NAME
			</when>
			<otherwise>
				, RS.EMD_CD AS CODE, '서울특별시' AS NAME
			</otherwise>
		</choose>
		FROM ST_RESEARCH_SHOP RS
		<choose>
			<when test="zoom != 14 and zoom != 0">
				WHERE RS.CODE_TYPE1 IN (${scope})
				AND RS.LATITUDE BETWEEN #{x1} AND #{x2}
				AND RS.LONGITUDE BETWEEN #{y1} AND #{y2}
				GROUP BY RS.EMD_CD
			</when>
			<otherwise>
				WHERE RS.CODE_TYPE1 IN (${scope})
				GROUP BY LEFT(RS.EMD_CD, 2)
			</otherwise>
		</choose>
	</select>

	<select id="getResearchShopPublicTransport" parameterType="map" resultType="com.stoneitgt.common.LowerKeyMap">
		/* file : AreaMapper.xml, id : getResearchShopPublicTransport */
		SELECT LBS.LONGITUDE AS buslng, LBS.LATITUDE AS buslat, LSS.LONGITUDE AS sublng, LSS.LATITUDE AS sublat
		FROM ST_RESEARCH_SHOP RS
				 INNER JOIN ST_LOCATION_BUS_STATION LBS
							ON RS.ARS_ID = LBS.ARS_ID
				 INNER JOIN ST_LOCATION_SUBWAY_STATION LSS
							ON RS.SUB_STA_NO = LSS.SUB_STA_NO
		WHERE RS.SHOP_SEQ = #{shopSeq}
	</select>

	<select id="getTradingAreaShopList" parameterType="map" resultType="com.stoneitgt.common.LowerKeyMap">
		/* file : AreaMapper.xml, id : getTradingAreaShopList */
		SELECT RS.CODE_TYPE1, RS.LONGITUDE, RS.LATITUDE
		FROM ST_RESEARCH_SHOP RS
		WHERE RS.CODE_TYPE1 IN (${scope})
		  AND RS.LATITUDE BETWEEN #{x1} AND #{x2}
		  AND RS.LONGITUDE BETWEEN #{y1} AND #{y2}
	</select>
<!--	<select id="getRecentMonth" parameterType="string" resultType="com.stoneitgt.common.LowerKeyMap">-->
<!--		/* file : AreaMapper.xml, id : getRecentMonth */-->
<!--		SELECT YEAR, QRT-->
<!--		FROM ST_RESEARCH_AREA_COM-->
<!--		WHERE AREA_CD = #{areaCd}-->
<!--		GROUP BY YEAR, QRT-->
<!--		ORDER BY YEAR DESC ,QRT DESC-->
<!--		LIMIT 1-->
<!--	</select>-->

<!--	<select id="getResearchAreaComList" parameterType="map" resultType="com.stoneitgt.common.LowerKeyMap">-->
<!--		/* file : AreaMapper.xml, id : getResearchAreaComList */-->
<!--		SELECT *, SUM(RAC.CT_SHOP) AS STORES, SUM(RAC.PER_OPEN) + SUM(RAC.PER_CLOSE) AS OPCL,-->
<!--			   SUM(RAC.SUM_00_06) + SUM(RAC.SUM_06_11) + SUM(RAC.SUM_11_14) + SUM(RAC.SUM_14_17) +  SUM(RAC.SUM_17_21)+ SUM(RAC.SUM_21_24) AS SALES-->
<!--		FROM ST_RESEARCH_AREA_COM RAC-->
<!--				 INNER JOIN ST_COMMERCE_CODE CC-->
<!--							ON RAC.COM_CD2 = CC.JOIN_CD-->
<!--		WHERE RAC.AREA_CD = #{area_cd} AND RAC.YEAR = #{year} AND RAC.QRT = #{qrt}-->
<!--		GROUP BY CC.TYPE1_CD-->
<!--	</select>-->

<!--	<select id="getResearchAreaComDetail" parameterType="map" resultType="com.stoneitgt.common.LowerKeyMap">-->
<!--		/* file : AreaMapper.xml, id : getResearchAreaComDetail */-->
<!--		SELECT *-->
<!--		FROM ST_RESEARCH_AREA_COM RAC-->
<!--				 INNER JOIN ST_COMMERCE_CODE CC-->
<!--							ON RAC.COM_CD2 = CC.JOIN_CD-->
<!--		WHERE RAC.AREA_CD = #{area_cd} AND RAC.YEAR = #{year} AND RAC.QRT = #{qrt}-->
<!--	</select>-->

	<select id="getTradingAreaDetails" parameterType="String" resultType="com.stoneitgt.common.LowerKeyMap">
		/* file : AreaMapper.xml, id : getTradingAreaDetails */
		SELECT *
		FROM ST_RESEARCH_AREA RA
		WHERE RA.AREA_CD = #{areaCd}
		  AND  RA.YEAR =  (SELECT YEAR FROM ST_RESEARCH_AREA ORDER BY YEAR DESC, QRT DESC LIMIT 1 )
			AND RA.QRT =  (SELECT QRT FROM ST_RESEARCH_AREA ORDER BY YEAR DESC, QRT DESC LIMIT 1 )
	</select>

	<select id="getTradingAreaStaIdx" parameterType="String" resultType="com.stoneitgt.common.LowerKeyMap">
		/* file : AreaMapper.xml, id : getTradingAreaDetails */
		SELECT RA.AREA_SEQ AS AREA_SEQ, RA.YEAR AS YEAR, RA.QRT AS QRT, RA.IDX_STB_AREA AS IDX_STB_AREA
		FROM ST_RESEARCH_AREA RA
		WHERE RA.AREA_CD = #{areaCd}
	</select>

	<select id="getRegionAreaInfoList" parameterType="map" resultType="com.stoneitgt.common.LowerKeyMap">
		/* file : AreaMapper.xml, id : getRegionAreainfoList */
		<choose>
			<when test="code_type3 == 1">
				SELECT RAC.EMD_CD AS EMD_CD, SUM(RAC.CT_SHOP) AS STORES, SUM(RAC.CT_FRANCHISE) AS FRANC
				FROM ST_RESEARCH_AREA_COM RAC
				WHERE RAC.YEAR =  (SELECT YEAR FROM ST_RESEARCH_AREA_COM ORDER BY YEAR DESC, QRT DESC LIMIT 1 )
				AND RAC.QRT =  (SELECT QRT FROM ST_RESEARCH_AREA_COM ORDER BY YEAR DESC, QRT DESC LIMIT 1 )
				GROUP BY RAC.EMD_CD
			</when>
			<otherwise>
				SELECT *
				FROM ST_RESEARCH_REGION RA
				WHERE RA.YEAR =  (SELECT YEAR FROM ST_RESEARCH_REGION ORDER BY YEAR DESC, QRT DESC LIMIT 1 )
				AND RA.QRT =  (SELECT QRT FROM ST_RESEARCH_REGION ORDER BY YEAR DESC, QRT DESC LIMIT 1 )
			</otherwise>
		</choose>
	</select>

	<select id="getRegionAreaDetail" parameterType="map" resultType="com.stoneitgt.common.LowerKeyMap">
		/* file : AreaMapper.xml, id : getRegionAreaDetail */
		<choose>
			<when test="code_type3 == 2">
				SELECT *
				FROM ST_RESEARCH_REGION RA
				WHERE RA.EMD_CD = #{emd_cd}
				AND RA.YEAR =  (SELECT YEAR FROM ST_RESEARCH_REGION ORDER BY YEAR DESC, QRT DESC LIMIT 1 )
				AND RA.QRT =  (SELECT QRT FROM ST_RESEARCH_REGION ORDER BY YEAR DESC, QRT DESC LIMIT 1 )
			</when>
			<when test="code_type3 == 3">
				SELECT *
				FROM ST_RESEARCH_REGION RA
				WHERE RA.EMD_CD = #{emd_cd}
			</when>
			<otherwise>
				SELECT * , LEFT(RAC.COM_CD2, 1) AS DIVISION1
				FROM ST_RESEARCH_AREA_COM RAC
				WHERE RAC.EMD_CD = #{emd_cd}
				AND RAC.YEAR =  (SELECT YEAR FROM ST_RESEARCH_AREA_COM ORDER BY YEAR DESC, QRT DESC LIMIT 1 )
				AND RAC.QRT =  (SELECT QRT FROM ST_RESEARCH_AREA_COM ORDER BY YEAR DESC, QRT DESC LIMIT 1 )
				AND RAC.COM_CD2 != ''
			</otherwise>
		</choose>
	</select>

</mapper>