<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stoneitgt.sogongja.user.mapper.AreaMapper">

	<select id="getTradingAreaList" parameterType="map" resultType="com.stoneitgt.common.LowerKeyMap">
		/* file : AreaMapper.xml, id : getTradingAreaList */
		  SELECT A.*
		       , B.AREA_TYPE_NAME
		       , B.STROKE_WEIGHT
		       , B.STROKE_COLOR
		       , B.STROKE_OPACITY
		       , B.STROKE_STYLE
		       , B.FILL_COLOR
		       , B.FILL_OPACITY
		       , B.OVER_FILL_COLOR
		       , B.OVER_FILL_OPACITY
		    FROM ST_TRADING_AREA A
		       INNER JOIN ST_TRADING_AREA_TYPE B
		               ON A.AREA_TYPE = B.AREA_TYPE
		   WHERE A.DEL_FLAG          = 0
		ORDER BY A.AREA_SEQ
    </select>

	<select id="getTradingAreaMapList" parameterType="string" resultType="com.stoneitgt.common.LowerKeyMap">
		/* file : AreaMapper.xml, id : getTradingAreaMapList */
		  SELECT B.MAP_SEQ
		       , B.AREA_SEQ
		       , B.MAP_TYPE
		       , B.LATITUDE
		       , B.LONGITUDE
		    FROM ST_TRADING_AREA A
		       INNER JOIN ST_TRADING_AREA_MAP B
		               ON A.AREA_SEQ = B.AREA_SEQ
		   WHERE A.DEL_FLAG          = 0
		     AND B.DEL_FLAG          = 0
		   <if test="mapType != null and mapType != ''">
		     AND B.MAP_TYPE = #{mapType}
		   </if>
		ORDER BY B.MAP_TYPE DESC
		       , B.MAP_SEQ
    </select>

	<select id="getRegionAreaList" parameterType="map" resultType="com.stoneitgt.common.LowerKeyMap">
		/* file : AreaMapper.xml, id : getRegionAreaList */
		SELECT A.*
			 , B.AREA_TYPE_NAME
			 , B.STROKE_WEIGHT
			 , B.STROKE_COLOR
			 , B.STROKE_OPACITY
			 , B.STROKE_STYLE
			 , B.FILL_COLOR
			 , B.FILL_OPACITY
			 , B.OVER_FILL_COLOR
			 , B.OVER_FILL_OPACITY
		FROM ST_REGION_AREA A
				 INNER JOIN ST_TRADING_AREA_TYPE B
							ON A.AREA_TYPE = B.AREA_TYPE
		WHERE A.DEL_FLAG          = 0
		ORDER BY A.AREA_SEQ
	</select>

	<select id="getRegionAreaMapList" parameterType="string" resultType="com.stoneitgt.common.LowerKeyMap">
		/* file : AreaMapper.xml, id : getRegionAreaMapList */
		SELECT B.MAP_SEQ
		, B.AREA_SEQ
		, B.MAP_TYPE
		, B.LATITUDE
		, B.LONGITUDE
		FROM ST_REGION_AREA A
		INNER JOIN ST_REGION_AREA_MAP B
		ON A.AREA_SEQ = B.AREA_SEQ
		WHERE A.DEL_FLAG          = 0
		AND B.DEL_FLAG          = 0
		<if test="mapType != null and mapType != ''">
			AND B.MAP_TYPE = #{mapType}
		</if>
		ORDER BY B.MAP_TYPE DESC
		, B.MAP_SEQ
	</select>

	<select id="getResearchShopList" parameterType="map" resultType="com.stoneitgt.common.LowerKeyMap">
		/* file : AreaMapper.xml, id : getResearchShopList */
		SELECT *
		FROM ST_RESEARCH_SHOP RS
		WHERE RS.CODE_TYPE1 IN (${scope})
		  AND RS.LATITUDE BETWEEN #{x1} AND #{x2}
		  AND RS.LONGITUDE BETWEEN #{y1} AND #{y2}
	</select>

	<select id="countResearchShop" parameterType="map" resultType="com.stoneitgt.common.LowerKeyMap">
		/* file : AreaMapper.xml, id : countResearchShop */
		SELECT COUNT(*) AS COUNT
		<choose>
			<when test="zoom != 14 and zoom != 0">
				, RS.EMD_CD AS CODE, RS.EMD_NM AS NAME
			</when>
			<otherwise>
				, RS.EMD_CD AS CODE, '서울특별시' AS NAME
			</otherwise>
		</choose>
		FROM ST_RESEARCH_SHOP RS
		<choose>
			<when test="zoom != 14 and zoom != 0">
				WHERE RS.CODE_TYPE1 IN (${scope})
				AND RS.LATITUDE BETWEEN #{x1} AND #{x2}
				AND RS.LONGITUDE BETWEEN #{y1} AND #{y2}
				GROUP BY RS.EMD_CD
			</when>
			<otherwise>
				WHERE RS.CODE_TYPE1 IN (${scope})
				GROUP BY LEFT(RS.EMD_CD, 2)
			</otherwise>
		</choose>
	</select>

	<select id="getResearchShopPublicTransport" parameterType="map" resultType="com.stoneitgt.common.LowerKeyMap">
		/* file : AreaMapper.xml, id : getResearchShopPublicTransport */
		SELECT *
		FROM ST_RESEARCH_SHOP RS
				 INNER JOIN ST_LOCATION_BUS_STATION LBS
							ON RS.ARS_ID = LBS.ARS_ID
				 INNER JOIN ST_LOCATION_SUBWAY_STATION LSS
							ON RS.SUB_STA_NO = LSS.SUB_STA_NO
		WHERE RS.SHOP_SEQ = #{shopSeq}
	</select>

</mapper>