<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stoneitgt.sogongja.user.mapper.CommunityMapper">

    <select id="getCommunityList" parameterType="map" resultType="com.stoneitgt.common.LowerKeyMap">
        /* file : CommunityMapper.xml, id : getCommunityList */
        SELECT A.*
        , DATE_FORMAT(A.REG_DATE, '%Y-%m-%d') AS REG_DT
        , U.USERNAME                          AS REG_USERNAME
        , (select count(*) from ST_REPLY as R where R.COMMUNITY_SEQ = A.COMMUNITY_SEQ and R.DEL_FLAG = 0) as REPLY_CNT
        FROM ST_COMMUNITY A
        INNER JOIN ST_USER U ON A.REG_USER_SEQ = U.USER_SEQ
        WHERE A.DEL_FLAG              = 0 AND A.COMMUNITY_TYPE = #{type}
        <if test="keyword != null and keyword != ''">
            AND A.SUBJECT LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="region_code1 != null and region_code1 != ''">
            AND A.REGION_CODE1 = #{region_code1}
        </if>
        <if test="region_code2 != null and region_code2 != ''">
            AND A.REGION_CODE2 = #{region_code2}
        </if>
        <if test="region_code3 != null and region_code3 != ''">
            AND A.REGION_CODE3 = #{region_code3}
        </if>
        <if test="category_code1 != null and category_code1 != ''">
            AND A.CATEGORY_CODE1 = #{category_code1}
        </if>
        <if test="category_code2 != null and category_code2 != ''">
            AND A.CATEGORY_CODE2 = #{category_code2}
        </if>
        ORDER BY COMMUNITY_SEQ DESC
        /*||ORDER BY COMMUNITY_SEQ DESC||*/
    </select>

    <insert id="insertCommunity" parameterType="com.stoneitgt.sogongja.domain.Community">
        /* file : CommunityMapper.xml, id : insertCommunity */
        INSERT
        INTO ST_COMMUNITY (
        COMMUNITY_TYPE
        , SUBJECT
        , CONTENT
        , REGION_NAME1
        , REGION_NAME2
        , REGION_NAME3
        , REGION_CODE1
        , REGION_CODE2
        , REGION_CODE3
        , CATEGORY_NAME1
        , CATEGORY_NAME2
        , CATEGORY_CODE1
        , CATEGORY_CODE2
        , REG_USER_SEQ
        )
        VALUES (
        #{communityType}
        , #{subject}
        , #{content}
        , #{regionName1}
        , #{regionName2}
        , #{regionName3}
        , #{regionCode1}
        , #{regionCode2}
        , #{regionCode3}
        , #{categoryName1}
        , #{categoryName2}
        , #{categoryCode1}
        , #{categoryCode2}
        , #{loginUserSeq}
         )

        <selectKey resultType="int" keyProperty="communitySeq" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="updateCommunity" parameterType="com.stoneitgt.sogongja.domain.Community">
        /* file : CommunityMapper.xml, id : updateCommunity */
        UPDATE ST_COMMUNITY
        SET
           SUBJECT      = #{subject}
          , CONTENT      = #{content}
          , REGION_NAME1 = #{regionName1}
          , REGION_NAME2 = #{regionName2}
          , REGION_NAME3 = #{regionName3}
          , REGION_CODE1 = #{regionCode1}
          , REGION_CODE2 = #{regionCode2}
          , REGION_CODE3 = #{regionCode3}
          , CATEGORY_NAME1 = #{categoryName1}
          , CATEGORY_NAME2 = #{categoryName2}
          , CATEGORY_CODE1 = #{categoryCode1}
          , CATEGORY_CODE2 = #{categoryCode2}
          , MOD_USER_SEQ = #{loginUserSeq}
          , MOD_DATE     = CURRENT_TIMESTAMP()
        WHERE COMMUNITY_SEQ    = #{communitySeq}
    </update>

    <select id="selectTotalRecords" resultType="int">
        SELECT FOUND_ROWS();
    </select>

    <select id="getResearchShopGroupList" resultType="com.stoneitgt.common.LowerKeyMap">
        /* file : CommunityMapper.xml, id : getResearchShopGroupList */
        select * from ST_RESEARCH_SHOP group by CODE_TYPE1;
    </select>

    <select id="getResearchShopSubGroupList" resultType="com.stoneitgt.common.LowerKeyMap">
        /* file : CommunityMapper.xml, id : getResearchShopSubGroupList */
        select CODE_TYPE2,NM_TYPE2 from ST_RESEARCH_SHOP where CODE_TYPE1 in('D', 'F', 'L', 'N', 'O', 'P', 'Q', 'R') group by CODE_TYPE2;
    </select>

    <select id="getCommunityInfo" parameterType="int" resultType="com.stoneitgt.sogongja.domain.Community">
        /* file : CommunityMapper.xml, id : getCommunityInfo */
        select C.*
             , DATE_FORMAT(C.REG_DATE, '%Y-%m-%d') AS REG_DT
        from ST_COMMUNITY as C
        where C.DEL_FLAG = 0 AND C.COMMUNITY_SEQ = #{communitySeq};
    </select>

    <update id="deleteCommunity" parameterType="map" >
        /* file : CommunityMapper.xml, id : deleteCommunity */
        UPDATE ST_COMMUNITY
        SET DEL_FLAG     = 1
          , DEL_USER_SEQ = #{login_user_seq}
          , DEL_DATE     = CURRENT_TIMESTAMP()
        WHERE COMMUNITY_SEQ      = #{community_seq} AND DEL_FLAG = 0
    </update>

    <select id="getShopCommunityList" parameterType="map" resultType="com.stoneitgt.common.LowerKeyMap">
        /* file : CommunityMapper.xml, id : getShopCommunityList */
        SELECT A.*
        , DATE_FORMAT(A.REG_DATE, '%Y-%m-%d') AS REG_DT
        , U.USERNAME                          AS REG_USERNAME
        , REPLACE(U.NICK_NAME,RIGHT(U.NICK_NAME,3),'***')                          AS NICK_NAME
        FROM ST_COMMUNITY A
        INNER JOIN ST_USER U ON A.REG_USER_SEQ = U.USER_SEQ
        WHERE A.DEL_FLAG              = 0 AND A.COMMUNITY_TYPE = #{type} and A.REGION_NAME2 LIKE CONCAT('%', #{gu}, '%')
        ORDER BY COMMUNITY_SEQ DESC LIMIT 10
        /*||ORDER BY COMMUNITY_SEQ DESC||*/
    </select>

</mapper>