<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stoneitgt.sogongja.user.mapper.ConsultingMapper">

	<select id="getConsultingList" parameterType="map" resultType="com.stoneitgt.common.LowerKeyMap">
		/* file : ConsultingMapper.xml, id : getConsultingList */
		  SELECT C.*
			   , CATE1.NAME                     AS CATEGORY_1_NAME
			   , CATE2.NAME                     AS CATEGORY_2_NAME
			   , CATE3.NAME                     AS CATEGORY_3_NAME
			   , SUPPORT.SUPPORT_NAME               AS SUPPORT_ORG_NAME
		       , DATE_FORMAT(C.REG_DATE, '%Y-%m-%d') AS REG_DT
		       , U.USERNAME                          AS REG_USERNAME
			   , CB.CON_MARK_SEQ
			   , CW.CON_WATCHING_SEQ
		    FROM ST_CONSULTING C
			INNER JOIN ST_USER U ON C.REG_USER_SEQ = U.USER_SEQ
			inner join ST_CATEGORY1 as CATE1 ON CATE1.CATEGORY1_SEQ = C.CATEGORY_1
			inner join ST_CATEGORY2 as CATE2 ON CATE2.CATEGORY2_SEQ = C.CATEGORY_2
			inner join ST_CATEGORY3 as CATE3 ON CATE3.CATEGORY3_SEQ = C.CATEGORY_3
			left join ST_SUPPORT as SUPPORT ON SUPPORT.SUPPORT_SEQ = C.SUPPORT_ORG
			left join ST_CONSULTING_BOOKMARK as CB ON CB.CON_SEQ = C.CON_SEQ and CB.USER_SEQ = #{login_user_seq}
			left join ST_CONSULTING_WATCHING as CW ON CW.CON_SEQ = C.CON_SEQ and CW.USER_SEQ = #{login_user_seq}
		    WHERE C.DEL_FLAG                    = 0
		<if test="keyword != null and keyword != ''">
             AND C.SUBJECT LIKE CONCAT('%', #{keyword}, '%')
        </if>

		<if test="category1 != null and category1 != ''">
			AND C.CATEGORY_1 = #{category1}
		</if>
		<if test="category2 != null and category2 != ''">
			AND C.CATEGORY_2 = #{category2}
		</if>
		<if test="category3 != null and category3 != ''">
			AND C.CATEGORY_3 = #{category2}
		</if>
		<if test="support_org != null and support_org != ''">
			AND C.SUPPORT_ORG = #{support_org}
		</if>

        <choose>
        <when test='read_cnt == "Y"'>
        ORDER BY READ_CNT DESC, CON_SEQ DESC
    /*||ORDER BY READ_CNT DESC, CON_SEQ DESC||*/
        </when>
        <otherwise>
		ORDER BY CON_SEQ DESC
	/*||ORDER BY CON_SEQ DESC||*/
        </otherwise>
        </choose>
	</select>

	<select id="getConsulting" parameterType="int" resultType="com.stoneitgt.common.LowerKeyMap">
		/* file : ConsultingMapper.xml, id : getConsulting */
		  SELECT A.*
		       , DATE_FORMAT(A.REG_DATE, '%Y-%m-%d') AS REG_DT
			   , C1.NAME as C1_NAME
			   , C2.NAME as C2_NAME
			   , C3.NAME as C3_NAME
		    FROM ST_CONSULTING A
			LEFT JOIN ST_CATEGORY1 AS C1 ON C1.CATEGORY1_SEQ = A.CATEGORY_1
			LEFT JOIN ST_CATEGORY2 AS C2 ON C2.CATEGORY2_SEQ = A.CATEGORY_2
			LEFT JOIN ST_CATEGORY3 AS C3 ON C3.CATEGORY3_SEQ = A.CATEGORY_3
		   WHERE A.DEL_FLAG = 0
		     AND A.CON_SEQ  = #{conSeq}
	</select>

	<update id="updateConsultingReadCnt" parameterType="map" >
        /* file : ConsultingMapper.xml, id : updateConsultingReadCnt */
        UPDATE ST_CONSULTING
           SET READ_CNT = IFNULL(READ_CNT, 0) + 1
         WHERE CON_SEQ  = #{conSeq}
    </update>

	<select id="selectTotalRecords" resultType="int">
		SELECT FOUND_ROWS();
	</select>

</mapper>