<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stoneitgt.sogongja.user.mapper.CounselingMapper">

	<select id="getCounselingList" parameterType="map" resultType="com.stoneitgt.common.LowerKeyMap">
		/* file : CounselingMapper.xml, id : getCounselingList */
		  SELECT C.*
		       , COU_TYPE.CODE_NAME                  AS COU_TYPE_NAME
		       , COU_CLASS.CODE_NAME                 AS COU_CLASS_NAME
		       , SUPPORT_ORG.CODE_NAME               AS SUPPORT_ORG_NAME
		       , DATE_FORMAT(C.REG_DATE, '%Y-%m-%d') AS REG_DT
		       , U.USERNAME                          AS REG_USERNAME
		    FROM ST_COUNSELING C
		       INNER JOIN ST_CODE_DTL COU_TYPE
		               ON COU_TYPE.GRP_CODE = 'COU_TYPE'
		              AND COU_TYPE.CODE     = C.COU_TYPE
		       INNER JOIN ST_CODE_DTL COU_CLASS
		               ON COU_CLASS.GRP_CODE = 'COU_CLASS'
		              AND COU_CLASS.CODE     = C.COU_CLASS
		       INNER JOIN ST_CODE_DTL SUPPORT_ORG
		               ON SUPPORT_ORG.GRP_CODE = 'SUPPORT_ORG'
		              AND SUPPORT_ORG.CODE     = C.SUPPORT_ORG
		       INNER JOIN ST_USER U
                       ON C.REG_USER_SEQ = U.USER_SEQ
		   WHERE C.DEL_FLAG                    = 0
		<if test="keyword != null and keyword != ''">
             AND C.SUBJECT LIKE CONCAT('%', #{keyword}, '%')
        </if>
		ORDER BY COU_SEQ DESC
	/*||ORDER BY COU_SEQ DESC||*/
	</select>

	<select id="getCounseling" parameterType="int" resultType="com.stoneitgt.common.LowerKeyMap">
		/* file : CounselingMapper.xml, id : getCounseling */
		  SELECT A.*
		       , DATE_FORMAT(A.REG_DATE, '%Y-%m-%d') AS REG_DT
		    FROM ST_COUNSELING A
		   WHERE A.DEL_FLAG = 0
		     AND A.COU_SEQ  = #{couSeq}
	</select>

	<update id="updateCounselingReadCnt" parameterType="map" >
        /* file : CounselingMapper.xml, id : updateCounselingReadCnt */
        UPDATE ST_COUNSELING
           SET READ_CNT = IFNULL(READ_CNT, 0) + 1
         WHERE COU_SEQ  = #{couSeq}
    </update>

</mapper>