<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stoneitgt.sogongja.user.mapper.EducationBookmarkMapper">

    <select id="getEducationBookmark" parameterType="int" resultType="com.stoneitgt.sogongja.domain.EducationBookmark">
        /* file : EducationBookmarkMapper.xml, id : getEducationBookmark */
        SELECT *
        FROM ST_EDUCATION_BOOKMARK
        WHERE EDU_SEQ = #{eduSeq} and USER_SEQ = #{userSeq}
    </select>

    <insert id="addEducationBookmark" parameterType="int" >
        /* 관심교육 등록 */
        INSERT INTO ST_EDUCATION_BOOKMARK(EDU_SEQ, USER_SEQ)value(#{eduSeq}, #{userSeq});
    </insert>

    <delete id="deleteEducationBookmark" parameterType="int" >
        DELETE FROM ST_EDUCATION_BOOKMARK where EDU_SEQ = #{eduSeq} and USER_SEQ = #{userSeq}
    </delete>



</mapper>