<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stoneitgt.sogongja.user.mapper.SurveyMapper">

    <select id="getSurveySubList" parameterType="int" resultType="com.stoneitgt.common.LowerKeyMap">
        /* file : SurveyMapper.xml, id : getSurveySubList */
        select * from ST_SURVEY_SETTING_SUB where SURVEY_SETTING_SEQ = #{surveySettingSeq} and DEL_FLAG = 0;

    </select>

    <select id="getSurvey" parameterType="int" resultType="com.stoneitgt.sogongja.domain.Survey">
        /* file : SurveyMapper.xml, id : getSurvey */
        select * from ST_SURVEY_SETTING where SURVEY_SETTING_SEQ = #{surveySettingSeq} ;

    </select>

    <select id="getUserSurvey" parameterType="int" resultType="com.stoneitgt.sogongja.domain.UserSurvey">
        /* file : SurveyMapper.xml, id : getUserSurvey */
        select * from ST_USER_SURVEY where REG_USER_SEQ = #{userSeq} and DEL_FLAG = 0 ;

    </select>

    <insert id="insertUserSurvey" parameterType="com.stoneitgt.sogongja.domain.UserSurvey">
        /* file : SurveyMapper.xml, id : insertUserSurvey */
        INSERT
        INTO ST_USER_SURVEY (
        SURVEY_SETTING_SEQ
        , REG_USER_SEQ
        , REG_DATE)
        VALUES (
        #{surveySettingSeq}
        , #{loginUserSeq}
        , CURRENT_TIMESTAMP())

        <selectKey resultType="int" keyProperty="userSurveySeq" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertUserQuestion" parameterType="com.stoneitgt.sogongja.domain.UserQuestion">
        /* file : SurveyMapper.xml, id : insertUserQuestion */
        INSERT
        INTO ST_USER_QUESTION (
        USER_SURVEY_SEQ
        , QUESTION_SETTING_SEQ
        , REG_USER_SEQ
        , REG_DATE)
        VALUES (
        #{userSurveySeq}
        , #{questionSettingSeq}
        , #{loginUserSeq}
        , CURRENT_TIMESTAMP())

        <selectKey resultType="int" keyProperty="userQuestionSeq" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertUserAnswer1" parameterType="com.stoneitgt.sogongja.domain.UserAnswer1">
        /* file : SurveyMapper.xml, id : insertUserAnswer1 */
        INSERT
        INTO ST_USER_ANSWER1 (
        USER_QUESTION_SEQ
        , CATEGORY3_SEQ
        , RANK
        , TYPE
        , ADDRESS
        , REG_USER_SEQ
        , REG_DATE)
        VALUES (
        #{userQuestionSeq}
        , #{category3Seq}
        ,#{rank}
        ,#{type}
        ,#{address}
        , #{loginUserSeq}
        , CURRENT_TIMESTAMP())

        <selectKey resultType="int" keyProperty="userAnswer1Seq" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertUserAnswer2" parameterType="com.stoneitgt.sogongja.domain.UserAnswer2">
        /* file : SurveyMapper.xml, id : insertUserAnswer2 */
        INSERT
        INTO ST_USER_ANSWER2 (
        USER_QUESTION_SEQ
        , CATEGORY2_SEQ
        , ANSWER
        , ANSWER_SEQ
        , REG_USER_SEQ
        , REG_DATE)
        VALUES (
        #{userQuestionSeq}
        , #{category2Seq}
        , #{answer}
        , #{answerSeq}
        , #{loginUserSeq}
        , CURRENT_TIMESTAMP())

        <selectKey resultType="int" keyProperty="userAnswer2Seq" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertUserKeyword" parameterType="com.stoneitgt.sogongja.domain.UserKeyword">
        /* file : SurveyMapper.xml, id : insertUserKeyword */
        INSERT
        INTO ST_USER_KEYWORD (
        QUESTION_SETTING_KEYWORD_SEQ
        , KEYWORD
        , USER_ANSWER1_SEQ
        , REG_USER_SEQ
        , REG_DATE)
        VALUES (
        #{questionSettingKeywordSeq}
        , #{keyword}
        , #{userAnswer1Seq}
        , #{loginUserSeq}
        , CURRENT_TIMESTAMP())

        <selectKey resultType="int" keyProperty="userKeywordSeq" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="deleteUserSurvey" parameterType="int">
        /* file : SurveyMapper.xml, id : deleteUserSurvey */
        update ST_USER_SURVEY
        set DEL_FLAG = 1
          , DEL_DATE = CURRENT_TIMESTAMP()
          , DEL_USER_SEQ = #{userSeq}
        where REG_USER_SEQ = #{userSeq} and DEL_FLAG = 0 ;
    </update>
    <update id="deleteUserQuestion" parameterType="int">
        /* file : SurveyMapper.xml, id : deleteUserQuestion */
        update ST_USER_QUESTION
        set DEL_FLAG = 1
            , DEL_DATE = CURRENT_TIMESTAMP()
            , DEL_USER_SEQ = #{userSeq}
        where REG_USER_SEQ = #{userSeq} and DEL_FLAG = 0 ;
    </update><update id="deleteUserAnswer1" parameterType="int">
        /* file : SurveyMapper.xml, id : deleteUserAnswer1 */
        update ST_USER_ANSWER1
        set DEL_FLAG = 1
          , DEL_DATE = CURRENT_TIMESTAMP()
          , DEL_USER_SEQ = #{userSeq}
        where REG_USER_SEQ = #{userSeq} and DEL_FLAG = 0 ;
    </update><update id="deleteUserAnswer2" parameterType="int">
        /* file : SurveyMapper.xml, id : deleteUserAnswer2 */
        update ST_USER_ANSWER2
        set DEL_FLAG = 1
          , DEL_DATE = CURRENT_TIMESTAMP()
          , DEL_USER_SEQ = #{userSeq}
        where REG_USER_SEQ = #{userSeq} and DEL_FLAG = 0 ;
    </update><update id="deleteUserKeyword" parameterType="int">
        /* file : SurveyMapper.xml, id : deleteUserKeyword */
        update ST_USER_KEYWORD
        set DEL_FLAG = 1
          , DEL_DATE = CURRENT_TIMESTAMP()
          , DEL_USER_SEQ = #{userSeq}
        where REG_USER_SEQ = #{userSeq} and DEL_FLAG = 0 ;
    </update>

    <select id="selectTotalRecords" resultType="int">
        SELECT FOUND_ROWS();
    </select>

</mapper>