<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<link rel="shortcut icon" th:href="@{/images/favicon/favicon.ico}" type="image/x-icon" />
<link rel="icon" th:href="@{/images/favicon/favicon.ico}" type="image/x-icon" />
<script th:inline="javascript">
var contextPath = /*[[${#httpServletRequest.getContextPath()}]]*/ '';
var result_code = /*[[${result_code}]]*/ '';
</script>