<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
    <div class="ft_top_wrap">
        <div class="ft_top">
            <div class="ft_menu">
                <ul>
                    <li>
                        <h2>소공자 공부방</h2>
                        <ul>
                            <li><a th:href="@{/study/education}">소상공인 교육</a></li>
                            <li><a th:href="@{/study/consulting}">소공자 컨설팅</a></li>
                            <li><a th:href="@{/solution/education}">맞춤 교육</a></li>
                            <li><a th:href="@{/solution/consulting}">맞춤 컨설팅</a></li>
                        </ul>
                    </li>
                    <li>
                        <h2>커머스 연구소</h2>
                        <ul>
                            <li><a th:href="@{/trading-area/shop}">상점연구</a></li>
                            <li><a th:href="@{/trading-area/analysis}">상권연구</a></li>
                            <li><a th:href="@{/trading-area/regional}">지역연구</a></li>
                            <li><a th:href="@{/board/type/community}">커뮤니티</a></li>
                        </ul>
                    </li>
                    <li>
                        <h2>소공자 솔루션</h2>
                        <ul>
                            <li><a th:href="@{/commerce/area}">커머스 도시공간분석</a></li>
                            <li><a th:href="@{/commerce/service}">솔루션서비스</a></li>
                        </ul>
                    </li>
                    <li>
                        <h2>소공자 물어방</h2>
                        <ul>
<!--                            <li><a th:href="@{/board/notice}">공지사항</a></li>-->
<!--                            <li><a th:href="@{/board/news}">보도자료</a></li>-->
<!--                            <li><a th:href="@{/board/project}">지원 및 정책사업</a></li>-->
<!--                            <li><a th:href="@{/board/faq}">QnA</a></li>-->
                            <th:block th:unless="${#lists.isEmpty(boardSettingList)}">
                                <li  th:each="item : ${boardSettingList}">
                                    <a th:href="@{|/board/${item.board_setting_seq}?name=${item.file_directory_name}|}">[[${item.name}]]</a>
                                </li>
                            </th:block>
                            <li><a th:href="@{|/board/project?name=project|}">지원 및 정책관리</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="ft_address">
                <p>연락처</p>
                <ul>
                    <li>051) 627-0257</li>
                    <li class="call"><a href="tel:051-612-0258">051) 612-0258</a></li>
                    <li class="mail"><a href="mailto:contact@siteplanning.co.kr">contact@siteplanning.co.kr</a></li>
                </ul>
                <div>
                    <a href="#n">페이스북</a>
                    <a href="#n" class="google">구글</a>
                    <a href="#n" class="youtube">유튜브</a>
                </div>
            </div>
        </div>
    </div>

    <div class="ft_bottom container">
        <ul class="privacy">
            <li><a th:href="@{/TermsOfService}" th:style="${sel_TermsOfService eq true?'color:#709bff':''}">사이트이용약관</a></li>
            <li><a th:href="@{/privacyPolicy}" th:style="${sel_privacyPolicy eq true?'color:#709bff':''}">개인정보취급방침</a></li>
        </ul>
        <ul class="ad">
            <li>
                <p>(주)싸이트플래닝건축사무소</p>
                <p>대표자 : 한영숙</p>
            </li>
            <li>
                <p class="br">부산광역시 동구 중앙대로 226번길 3-8, 9F</p>
                <p>서울특별시 중구 청계천로 100, 10F (수표동, 시그니쳐타워)</p>
            </li>
            <li>
                <p>9F, 3-8, Jung-daero 226beon-gil, Dong-gu, Busan, Republic of Korea</p>
                <p>10F, 100, Cheonggyecheon-ro, Jung-gu, Seoul, Republic of Korea</p>
            </li>
        </ul>
        <p>COPYRIGHT 2021 SITEPLANNING. ALL RIGHTS RESERVED.</p>
    </div>
</footer>

</html>