<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="header">
    <div class="header">
        <h1>
            <a th:href="@{/}">소공자플랫폼</a>
        </h1>
        <nav>
            <ul th:replace="fragments/menu"></ul>
        </nav>
        <div class="user">
<!--            <div class="search_btn">-->
<!--                <a href="#n" id="sc_btn">검색</a>-->
<!--                <div class="search" style="display: none;">-->
<!--                    <div>-->
<!--                        <form action="">-->
<!--                            <legend>통합검색</legend>-->
<!--                            <label for="topKeyword">검색</label>-->
<!--                            <input type="text" name="topKeyword" id="topKeyword" title="검색어 입력" placeholder="검색어 입력">-->
<!--                            <button type="button">검색</button>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <a th:href="@{/faq}" class="guide">이용가이드</a>
            <div class="login_btn">
                <a href="#n" sec:authorize="!isAuthenticated()">회원가입/로그인</a>
                <a href="#n" sec:authorize="isAuthenticated()">내 정보 보기</a>
                <div class="login_popup">
                    <th:block sec:authorize="!isAuthenticated()">
                        <p>회원가입으로 소공자플랫폼의<br>다양한 서비스를 이용하세요</p>
                    </th:block>
                    <th:block sec:authorize="isAuthenticated()">
                        <p class="name"><span th:text="${session.ss_user.username}">왕부리부리</span>님<br>반갑습니다.</p>
                        <a th:href="@{/logout}" class="logout">로그아웃 <span></span></a>
                    </th:block>
                    <ul>
                        <th:block sec:authorize="!isAuthenticated()">
                            <li><a th:href="@{/login}">로그인</a></li>
                            <li><a th:href="@{/signup}">회원가입</a></li>
                        </th:block>
                        <th:block sec:authorize="isAuthenticated()">
                            <li><a th:href="@{/mypage}">마이페이지</a></li>
                            <li><a th:href="@{|/mypage/qna/${qnaBoardSetting.boardSettingSeq}|}">문의 및 답변</a></li>
                        </th:block>
                    </ul>
                </div>
            </div>
            <div class="urban">
                <span></span>
            </div>
        </div>
    </div>

    <div class="m_header">
        <div class="top_header">
            <h1>
                <a th:href="@{/}">소공자플랫폼</a>
            </h1>
            <div class="h_btn"></div>
        </div>
        <div class="h_menu_wrap">
            <div class="h_menu">
                <div class="login_btn">
<!--                    <a href="#n" sec:authorize="!isAuthenticated()">회원가입/로그인</a>-->
<!--                    <a href="#n" sec:authorize="isAuthenticated()">로그아웃</a>-->
                    <div class="login_info">
                        <th:block sec:authorize="!isAuthenticated()">
                            <p>회원가입으로 소공자플랫폼의<br>다양한 서비스를 이용하세요</p>
                        </th:block>
                        <th:block sec:authorize="isAuthenticated()">
                            <p class="name"><span th:text="${session.ss_user.username}">왕부리부리</span>님<br>반갑습니다.</p>
                            <a th:href="@{/logout}" class="logout">로그아웃 <span></span></a>
                        </th:block>
                        <ul class="m_btn">
                            <th:block sec:authorize="!isAuthenticated()">
                                <li><a th:href="@{/login}">로그인</a></li>
                                <li><a th:href="@{/signup}">회원가입</a></li>
                            </th:block>
                            <th:block sec:authorize="isAuthenticated()">
                                <li><a th:href="@{/mypage}">마이페이지</a></li>
                                <li><a th:href="@{/board/faq}">문의 및 답변</a></li>
                            </th:block>
                        </ul>
                    </div>
                </div>
                <nav class="m_nav">
                    <ul th:replace="fragments/menu"></ul>
                </nav>
                <a th:href="@{/board/faq}" class="guide">이용가이드</a>
                <div class="urban">
                    <span></span>
                </div>
                <div class="close_side"></div>
            </div>
        </div>
    </div>
</header>




</html>