<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<ul th:fragment="menu">
    <li class="service">
        <h2><a href="#">소공자 공부방</a></h2>
        <ul>
            <li><a th:href="@{/study/education}">소상공인 교육</a></li>
            <li><a th:href="@{/study/counseling}">소공자 컨설팅</a></li>
        </ul>
    </li>
    <li class="area">
        <h2><a href="#">상권 연구소</a></h2>
        <ul>
            <li><a th:href="@{/}">상권분석정보</a></li>
            <li><a th:href="@{/trading-area/analysis}">상권특성정보</a></li>
            <li><a th:href="@{/}">지역특성정보</a></li>
        </ul>
    </li>
    <li class="solution">
        <h2><a href="#">소공자 과외방</a></h2>
        <ul>
            <li><a th:href="@{/solution/education}">맞춤형 교육</a></li>
            <li><a th:href="@{/solution/consulting}">맞춤형 컨설팅</a></li>
        </ul>
    </li>
    <li class="">
        <h2><a href="#">소공자 솔루션</a></h2>
        <ul>
            <li><a th:href="@{/board/news}">소공자 솔루션</a></li>
        </ul>
    </li>
    <li class="board">
        <h2><a href="#">소공자 물어방</a></h2>
        <ul>
            <li><a th:href="@{/board/news}">보도자료</a></li>
            <li><a th:href="@{/board/notice}">공지사항</a></li>
            <li><a th:href="@{/board/faq}">자주하는 질문</a></li>
            <li><a th:href="@{/board/community}">커뮤니티</a></li>
            <li><a th:href="@{/board/project}">공공지원사업 및 정책</a></li>
            <li><a th:href="@{/board/law}">법령 및 조례</a></li>
        </ul>
    </li>
</ul>

</html>