<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<head>
  <title>비밀번호 재설정</title>
  <meta property="og:url" content="">
  <meta property="og:title" content="소공자 플랫폼 | 비밀번호 재설정">
  <meta property="og:image" content="../images/img-logo-black.png">
  <meta property="og:description" content="소공자 플랫폼 비밀번호 재설정">
  <meta name="keywords" content="소공자 플랫폼, 비밀번호 재설정 관심지역, 상권, 건물, 임대">
  <meta name="description" content="소공자 플랫폼 비밀번호 재설정">
</head>

<body>
<article layout:fragment="content">
  <section class="sub_visual">
    <div class="container">
      <h2 class="border_title">비밀번호 재설정</h2>
      <p>비밀번호를 재설정하세요.</p>
    </div>
  </section>
  <section class="wrap">
    <div class="sub_container signup_info">
      <form name="passwordChangeForm" >
        <div class="stage_02">
          <div class="sub_container mypage_info">
            <table class="">
                <input type="hidden" id="email" name="email" th:value="${email}">
              <input type="hidden" id="token" name="token" th:value="${token}">
                <tr>
                  <th>새 비밀번호 <span class="required">(필수)</span></th>
                  <td style="width: 75%;">
                    <input type="password" id="password" name="password" required title="비밀번호" placeholder="비밀번호를 입력해주세요." autocomplete="new-password" maxlength="20">
                    <span id="wrongpw1" class="checking_color"></span>
                    <!--<th:block th:include="fragments/form_invalid:: form_invalid('password')"></th:block>-->
                  </td>
                </tr>
                <tr>
                  <th>새 비밀번호 확인 <span class="required">(필수)</span></th>
                  <td>
                    <input type="password" id="passwordConfirm" name="passwordConfirm" required title="비밀번호" placeholder="비밀번호를 재입력해주세요." autocomplete="new-password" maxlength="20">
                    <span id="wrongpw2" class="checking_color"></span>
                  </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="btn_box">
      <button type="button" class="btn blue" onclick="new_password_update();">비밀번호 변경</button>
    </div>
    </form>
    </div>
  </section>

</article>
<th:block layout:fragment="custom_js">
  <script th:src="@{/js/pages/user/user.js}"></script>

</th:block>
</body>

</html>