<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<head>
    <title>문의 및 답변</title>
    <meta property="og:url" content="">
    <meta property="og:title" content="소공자 플랫폼 | 문의 및 답변">
    <meta property="og:image" content="../images/bg-maintext.png">
    <meta property="og:description" content="소공자 플랫폼 문의 및 답변">
    <meta name="keywords" content="소공자 플랫폼, 문의 및 답변">
    <meta name="description" content="소공자 플랫폼 문의 및 답변">
</head>

<body>
    <article layout:fragment="content">
        <section class="sub_visual mypage_visual">
            <div class="container">
                <h2 class="border_title"><span>김나모님</span> 반갑습니다.</h2>
            </div>
            <div class="lnb">
                <ul class="container">
                    <li><a th:href="@{/mypage}">마이서비스</a></li>
                    <li class="active"><a th:href="@{/mypage/qna}">문의 및 답변</a></li>
                    <li><a th:href="@{/mypage/info}">회원정보 변경</a></li>
                </ul>
            </div>
        </section>
        <section class="wrap">
            <div class="sub_container qna_write">
                <form action="">
                    <fieldset>
                        <legend>문의하기</legend>
                        <ul class="form_ul">
                            <li>
                                 <input type="text" title="제목" placeholder="제목을 입력해주세요">
                            </li>
                            <li class="mb0">
                                <textarea name="" id=""  cols="30" rows="10" placeholder="텍스트를 입력해주세요."></textarea>
                            </li>
                            <li>
                               <div class="file_search2">
                                  <!-- <label for="ex_filename">파일 첨부하기<span></span></label>
                                  <input type="file" id="ex_filename" class="upload-hidden">
                                  <input class="upload-name" value="파일선택" disabled="disabled"> -->
                                  <button class="btn-file-upload" type="button">파일 첨부하기<span></span></button>
                                  <input type="file" id="" name="" class="upload-hidden">
                                    <ul class="file_list">
                                        <li>(Q&A)2021년 온라인미디어 예술활동 지원 주요 문의사항.pdf <button type="button">삭제</button></li>
                                        <li>(Q&A)2021년 온라인미디어 예술활동 지원 주요 문의사항.pdf <button type="button">삭제</button></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </fieldset>
                </form>
                <div class="btn_box">
                    <button class="btn blue">문의하기</button>
                </div>
            </div>
        </section>
    </article>
    <th:block layout:fragment="custom_js">
        <script th:src="@{/js/pages/user/sub.js}"></script>
    </th:block>
</body>

</html>