<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<head>
    <title>회원가입</title>
    <meta property="og:url" content="">
    <meta property="og:title" content="소공자 플랫폼 | 회원가입">
    <meta property="og:image" content="../images/img-logo-black.png">
    <meta property="og:description" content="소공자 플랫폼 회원가입">
    <meta name="keywords" content="소공자 플랫폼, 회원가입, 약관동의, 관심지역, 상권, 건물, 임대">
    <meta name="description" content="소공자 플랫폼 회원가입">
</head>

<body>
    <article layout:fragment="content">
        <section class="sub_visual">
            <div class="container">
                <h2 class="border_title">회원가입</h2>
                <p>아직 계정이 없으신가요? 간단한 가입 후 더 많은 정보를 을 수 있습니다.</p>
            </div>
            <div class="lnb">
                <ul class="container">
                    <li><a th:href="@{/login}">로그인</a></li>
                    <li class="active"><a th:href="@{/signup}">회원가입</a></li>
                </ul>
            </div>
        </section>
        <section class="wrap">
            <div class="sub_container signup_info">
<!--                <ul class="info_stage">-->
<!--                    <li class="complete">01 약관동의</li>-->
<!--                    <li class="active">02 정보입력</li>-->
<!--                    <li class="">03 가입완료</li>-->
<!--                </ul>-->
                <form name="joinForm" th:action="@{/signup/register}" th:object="${user}" method="POST" onsubmit="return validationForm();">
                    <input type="hidden" th:field="*{agree1}">
                    <input type="hidden" th:field="*{agree2}">
                    <input type="hidden" th:field="*{checkedId}">
                    <input type="hidden" id="socialType" name="socialType" th:value="${type}">
                    <input type="hidden" id="uniqueId" name="uniqueId" th:value="${uniqueId}">
                    <ul class="stage_02">
                        <ul class="sub_container mypage_info">
                            <div class="table table_title">
                                <h3>기본 정보 입력</h3>
                            </div>
                            <table class="">
                                <caption>기본 정보 입력</caption>
                                <th:block th:if="${type eq null}"><!-- 이메일 회원가입일 경우 출력 -->
                                    <tr class="tr_id">
                                        <th style="width: 25%;">아이디 <span class="required">(필수)</span></th>
                                        <td>
                                            <input type="text" th:field="*{id}" title="아이디" required placeholder="아이디를 입력해주세요." autocomplete="new-password" maxlength="15">
                                            <button type="button" id="btn-checked-id">중복확인</button>
                                            <th:block th:include="fragments/form_invalid:: form_invalid('id')"></th:block>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>비밀번호 <span class="required">(필수)</span></th>
                                        <td style="width: 75%;">
                                            <input type="password" th:field="*{password}" required title="비밀번호" placeholder="비밀번호를 입력해주세요." autocomplete="new-password" maxlength="20">
                                            <th:block th:include="fragments/form_invalid:: form_invalid('password')"></th:block>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>비밀번호 확인 <span class="required">(필수)</span></th>
                                        <td>
                                            <input type="password" th:field="*{passwordConfirm}" required title="비밀번호" placeholder="비밀번호를 재입력해주세요." autocomplete="new-password" maxlength="20">
                                        </td>
                                    </tr>
                                </th:block>
                                <tr>
                                    <th>이름 <span class="required">(필수)</span></th>
                                    <td>
                                        <input type="text" name="username" id="username" title="이름" required placeholder="이름을 입력해주세요." autocomplete="new-password" maxlength="20" th:value="${param.name}" th:readonly="${type ne null}">
                                        <th:block th:include="fragments/form_invalid:: form_invalid('username')"></th:block>
                                    </td>
                                </tr>
                                <tr>
                                    <th>휴대번호 <span class="required">(필수)</span></th>
                                    <td>
                                        <ul class="tel_ul">
                                            <li>
                                                <select th:field="*{hp1}" required>
                                                    <option value="010">010</option>
                                                </select>
                                            </li>
                                            <li><input type="text" class="number_only" th:field="*{hp2}" required title="휴대번호" placeholder="0000" maxlength="4"></li>
                                            <li><input type="text" class="number_only" th:field="*{hp3}" required title="휴대번호" placeholder="0000" maxlength="4"></li>
                                        </ul>
                                        <th:block th:include="fragments/form_invalid:: form_invalid('hp')"></th:block>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Email <span class="required">(필수)</span></th>
                                    <td>
                                        <ul class="email_ul">
                                            <li><input type="text" name="email1" id="email1" required placeholder="이메일" title="email" maxlength="30" th:value="${email1}" th:readonly="${type ne null}"></li>
                                            <li><input type="text" name="email2" id="email2" required placeholder="이메일" title="email" maxlength="30" th:value="${email2}" th:readonly="${type ne null}"></li>
                                            <li>
                                                <select th:field="*{email3}" th:readonly="${type ne null}">
                                                    <option value="">직접입력</option>
                                                    <option value="naver.com">네이버</option>
                                                    <option value="daum.net">다음</option>
                                                    <option value="gmail.com">지메일</option>
                                                </select>
                                            </li>
                                        </ul>
                                        <th:block th:include="fragments/form_invalid:: form_invalid('email')"></th:block>
                                    </td>
                                </tr>
<!--                                <tr>-->
<!--                                    <th>관심사항 <span class="">(선택)</span></th>-->
<!--                                    <td>-->
<!--                                        <th:block th:each="item, row : ${category1}">-->
<!--                                            <input type="checkbox" class="checkbox_style checkbox_style_small" th:id="|category${row.count}|" name="categoryList" th:value="${item.code}">-->
<!--                                            <label th:for="|category${row.count}|" th:text="${item.code_name}">동의합니다</label>-->
<!--                                        </th:block>-->
<!--                                    </td>-->
<!--                                </tr>-->
                            </table>
                            <div class="table table_title">
                                <h3>부가 정보 입력</h3>
                            </div>
                            <table class="">
                                <caption>부가 정보 입력</caption>
                                <tr>
                                    <th>이용자 유형<span class="required">(필수)</span></th>
                                    <td>
                                        <ul class="radio_depth01">
                                            <li>
                                                <input type="radio" name="type01" id="type01_01" value="1"  checked="checked">
                                                <label for="type01_01">사업자(소상공인)</label>
                                                <ul class="radio_depth02 radio_on01">
                                                    <li>
                                                        <input type="radio" name="type02" id="type02_01_01" value="1">
                                                        <label for="type02_01_01">사업 실행중</label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" name="type02" id="type02_01_02" value="2">
                                                        <label for="type02_01_02">휴/폐업(예정)중</label>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <input type="radio" name="type01" id="type01_02" value="2">
                                                <label for="type01_02">예비창업자</label>
                                                <ul class="radio_depth02 radio_on02">
                                                    <li>
                                                        <input type="radio" name="type02" id="type02_02_01" value="3">
                                                        <label for="type02_02_01">창업 준비중</label>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <input type="radio" name="type01" id="type01_03" value="3">
                                                <label for="type01_03">임대 부동산 소유</label>
                                                <ul class="radio_depth02 radio_on03">
                                                    <li>
                                                        <input type="radio" name="type02" id="type02_03_01" value="4">
                                                        <label for="type02_03_01">공실문제 해결</label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" name="type02" id="type02_03_02" value="5">
                                                        <label for="type02_03_02">시설관리 </label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" name="type02" id="type02_03_03" value="6">
                                                        <label for="type02_03_03">빚,채무 관련</label>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <input type="radio" name="type01" id="type01_04" value="4">
                                                <label for="type01_02">일반인</label>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th>연령대<span class="required">(필수)</span></th>
                                    <td>
                                        <ul class="radio_depth01">
                                            <li>
                                                <input type="radio" name="age" id="age20" value="20" checked="checked">
                                                <label for="age20">20대</label>
                                            </li>
                                            <li>
                                                <input type="radio" name="age" id="age30" value="30">
                                                <label for="age30">30대</label>
                                            </li>
                                            <li>
                                                <input type="radio" name="age" id="age40" value="40">
                                                <label for="age40">40대</label>
                                            </li>
                                            <li>
                                                <input type="radio" name="age" id="age50" value="50">
                                                <label for="age50">50대</label>
                                            </li>
                                            <li>
                                                <input type="radio" name="age" id="age60" value="60">
                                                <label for="age60">60대 이상</label>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th>관심 서비스 유형 <span class="required">(필수)</span></th>
                                    <td>
                                        <th:block th:each="item, row : ${category1}">
                                            <input type="checkbox" class="checkbox_style checkbox_style_small" th:id="|category${row.count}|" name="categoryList" th:value="${item.code}">
                                            <label th:for="|category${row.count}|" th:text="${item.code_name}">동의합니다</label>
                                        </th:block>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="btn_box">
                        <a th:href="@{/signup/agree}" class="btn">이전</a>
                        <button type="submit" class="btn blue">등록</button>
                    </div>
                </form>
            </div>
        </section>
    </article>
    <th:block layout:fragment="custom_js">
        <script th:src="@{/js/pages/user/signup_info.js}"></script>
    </th:block>
</body>

</html>