<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<head>
    <title>회원가입</title>
    <meta property="og:url" content="">
    <meta property="og:title" content="소공자 플랫폼 | 회원가입">
    <meta property="og:image" content="../images/img-logo-black.png">
    <meta property="og:description" content="소공자 플랫폼 회원가입">
    <meta name="keywords" content="소공자 플랫폼, 회원가입, 약관동의, 관심지역, 상권, 건물, 임대">
    <meta name="description" content="소공자 플랫폼 회원가입">
</head>

<body>
<article layout:fragment="content">
    <section class="sub_visual">
        <div class="container">
            <h2 class="border_title">회원가입</h2>
            <p>아직 계정이 없으신가요? 간단한 가입 후 더 많은 정보를 을 수 있습니다.</p>
        </div>
        <div class="lnb">
            <div class="m_tab">회원가입</div>
            <ul class="container">
                <li><a th:href="@{/login}">로그인</a></li>
                <li class="active"><a th:href="@{/signup}">회원가입</a></li>
            </ul>
        </div>
    </section>
    <section class="wrap">
        <div class="sub_container signup_info">
            <ul class="info_stage">
                <li class="complete">01 약관동의</li>
                <li class="complete">02 정보입력</li>
                <li class="active">03 가입완료</li>
            </ul>
            <div class="stage_03 mypage_info signup_completion">
                <p><span>회원가입</span>이 완료되었습니다!</p>
                <div class="sub_container mypage_info">
                    <table class="">
                        <caption>회원가입 완료</caption>
                        <tr class="tr_id">
                            <th style="width: 25%;">아이디</th>
                            <td>
                                <th:block th:text="${user.id}"></th:block>
                            </td>
                        </tr>
                        <tr>
                            <th>이름</th>
                            <td>
                                <th:block th:text="${user.username}"></th:block>
                            </td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>
                                <th:block th:text="${user.email}"></th:block>
                            </td>
                        </tr>
                        <tr>
                            <th>가입일</th>
                            <td>
                                <th:block th:text="${#dates.format(#dates.createToday(), 'yyyy-MM-dd')}"></th:block>
                            </td>
                        </tr>
                        <!--설문여부 Y or N 체크 필요-->
                        <tr>
                            <th>설문여부</th>
                            <td>
                                <th:block th:text="${#dates.format(#dates.createToday(), 'yyyy-MM-dd')}"></th:block>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="btn_box">
                <a th:href="@{/}" class="btn">홈으로</a>
                <a class="btn blue" th:href="@{/login}">로그인</a>
            </div>
        </div>
    </section>


<!--    설문완료된 사람은 팝업없이 페이지만 보여지도록 필요함.-->
    <div class="pop_up_wrap doneSignUp">
        <div class="pop_up pop_up01">
            <div class="pop_head">
                <h4>회원가입 완료</h4>
            </div>
            <div class="pop_main">
                <div class="pop_title">
                    <div></div>
                    <p>
                        <span>[[${user.nickName}]]</span> 님, 환영합니다</p>
                    <p>회원가입이 완료되었습니다.</p>
                </div>
                <div class="pop_text">
                    <p>사용자 맞춤형 교육 및 컨설팅 서비스 매칭을 위해</p>
                    <p>추가적인 정보가 필요합니다.</p>
                    <p>다음 설문을 통해 보다 정확하고</p>
                    <p>[[${user.nickName}]] 님께 필요한 서비스를 제공할 수 있습니다.</p>
                </div>
                <div class="pop_btn">
                    <button id="to_do_next" class="btn">다음에 하기</button>
                    <button onclick="formSubmit()" class="btn blue">설문 참여하기</button>
                </div>
            </div>
            <form name="surveyForm" th:action="@{/user/surveyForm}" th:object="${user}" method="POST" >
                <input type="hidden" th:field="*{id}">
                <input type="hidden" th:field="*{userSeq}">
                <input type="hidden" th:field="*{username}">
                <input type="hidden" th:field="*{nickName}">
                <input type="hidden" th:field="*{userType}">
                <input type="hidden" th:field="*{email}">
                <input type="hidden" th:field="*{type}">
                <input type="hidden" th:field="*{subType}">
            </form>

        </div>
    </div>

</article>
<th:block layout:fragment="custom_js">
    <script th:inline="javascript">

        $('#to_do_next').on('click', function() {
            $('.pop_up_wrap').hide();
        });

        function formSubmit() {
            var surveyUse = /*[[${survey.surveyUse}]]*/ '';

            if(surveyUse != 'Y'){
                alert("설문지 준비중입니다..");
                return false;
            }
            document.forms.surveyForm.submit();
        }
    </script>
</th:block>
</body>

</html>