<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<head>
    <title>회원가입</title>
    <meta property="og:url" content="">
    <meta property="og:title" content="소공자 플랫폼 | 회원가입">
    <meta property="og:image" content="../images/img-logo-black.png">
    <meta property="og:description" content="소공자 플랫폼 회원가입">
    <meta name="keywords" content="소공자 플랫폼, 회원가입, 약관동의, 관심지역, 상권, 건물, 임대">
    <meta name="description" content="소공자 플랫폼 회원가입">
    <style type="text/css">
        .check_item{ font-weight:400; margin-bottom:20px;}
        .check_item table{ width:100%; border:1px solid #666666; border-collapse:collapse; margin-top:10px; margin-bottom:15px;}
        .check_item table th{ border:1px solid #666666; padding:2%; font-size:12px; text-align:center;}
        .check_item table td{ border:1px solid #666666; padding:2%; font-size:12px}
    </style>
</head>

<body>
    <article layout:fragment="content">
        <section class="sub_visual">
            <div class="container">
                <h2 class="border_title">회원가입</h2>
                <p>아직 계정이 없으신가요? 간단한 가입 후 더 많은 정보를 을 수 있습니다.</p>
            </div>
            <div class="lnb">
                <div class="m_tab">회원가입</div>
                <ul class="container">
                    <li><a th:href="@{/login}">로그인</a></li>
                    <li class="active"><a th:href="@{/signup}">회원가입</a></li>
                </ul>
            </div>
        </section>
        <section class="wrap">
            <div class="sub_container signup_info">
<!--                <ul class="info_stage">-->
<!--                    <li class="active">01 약관동의</li>-->
<!--                    <li class="">02 정보입력</li>-->
<!--                    <li class="">03 가입완료</li>-->
<!--                </ul>-->
                <form name="joinForm" th:action="@{/signup/info}" method="POST" onsubmit="return validationForm();">
                    <input type="hidden" th:value="${param.uniqueId != ''?param.uniqueId:''}" name="uniqueId"/>
                    <input type="hidden" th:value="${param.email != ''?param.email:''}" name="email" />
                    <input type="hidden" th:value="${param.name != ''?param.name:''}" name="name" />
                    <input type="hidden" th:value="${param.type != ''?param.type:''}" name="type" />
                    <div class="stage_01">
                        <ul class="max_width800">
                            <li>
                                <div class="check_wrap">
                                    <p>이용약관 동의 <span>(필수)</span></p>
                                    <div>
                                        <input type="checkbox" class="checkbox_style checkbox_style_small" id="agree1" name="checkOne" value="Y">
                                        <label for="agree1">동의합니다</label>
                                    </div>
                                </div>
                                <div class="check_text">
                                    제1장 총칙<br><br>
                                    제1조 (목적)<br>
                                    이 이용약관은 ㈜싸이트플래닝건축사사무소(이하“회사”)이 제공하는 인터넷 사이트 및 모바일 어플리케이션(이하 "소공자")의 가입조건 및 이용에 관한 제반 사항과 기타 필요한 사항을 구체적으로 규정함을 목적으로 합니다.
                                    <br><br>
                                    제2조 (용어의 정의)<br>
                                    1. 이 약관에서 사용하는 용어의 정의는 다음과 같습니다.<br>
                                    ① 이용자 : 소공자에 접속하여 회사가 제공하는 서비스를 받는 회원 및 비회원<br>
                                    ② 회원 : 소공자에 접속하여 이 약관에 동의하고, ID(고유번호)와 PASSWORD(비밀번호)를 발급받아 문자 인증 등 확인 절차를 거친 자<br>
                                    ③ 비회원 : 회원가입을 하지 않고 회사가 제공하는 서비스를 이용하는 자<br>
                                    ④ ID(고유번호) : 회원 식별과 회원의 서비스 이용을 위하여 회사가 선정 및 승인하는 영문자와 숫자의 조합<br>
                                    ⑤ PASSWORD(비밀번호) : 회원의 정보 보호를 위해 회원 자신이 설정한 문자와 숫자의 조합<br>
                                    ⑥ 이용 해지 : 회사 또는 회원이 소공자 이용 이후 그 이용 계약을 종료시키는 의사표시<br>
                                    2. 이 약관에서 사용하는 용어의 정의는 제1항에서 정하는 것을 제외하고는 관계법령 및 서비스별 안내에서 정하는 바에 의합니다.<br>
                                    <br>
                                    제3조 (약관의 효력 및 변경)<br>
                                    1. 이 약관은 소공자 화면에 게시하거나 기타의 방법으로 공지함으로써 회원에게 공시하고, 이에 동의한 회원가 소공자에 가입함으로써 효력이 발생합니다.<br>
                                    2. 회사는 필요하다고 인정되는 경우 관련 법령을 위배하지 않는 범위 내에서 본 약관의 내용을 변경할 수 있으며, 변경된 약관은 소공자 화면에 공지함으로써 회원가 직접 확인할 수 있도록 할 것입니다.<br>
                                    3. 회원는 변경된 약관에 동의하지 않으실 경우 소공자 이용을 중단하고 본인의 회원등록을 취소할 수 있으며, 계속 사용하시는 경우에는 약관 변경에 동의한 것으로 간주되며 변경된 약관은 전항과 같은 방법으로 효력이 발생합니다.<br>
                                    4. 회원가 이 약관의 내용에 동의하는 경우 회사의 소공자 제공행위 및 회원의 소공자 이용행위에는 서비스별 안내에서 정하는 바 보다, 이 약관이 우선적으로 적용될 것입니다. 이 약관에 명시되지 않은 사항에 대해서는 전기통신기본법, 전기통신사업법, 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 방송통신심의위원회 심의규정, 정보통신 윤리강령, 프로그램 보호법 등 기타 대한민국의 관련 법령과 상관습에 의합니다.<br>
                                    <br><br>
                                    제2장 서비스 이용 계약<br>
                                    <br>
                                    제4조 (이용 계약의 성립)<br>
                                    이용 계약은 회원의 이용약관 내용에 대한 동의와 회원의 이용 신청에 대한 회사의 승낙으로 성립합니다.<br>
                                    <br>
                                    제5조 (이용 신청)<br>
                                    이용신청은 소공자의 회원정보 화면에서 회원가 회사에서 요구하는 가입신청 양식에 개인의 신상정보를 기록하는 방식으로 신청합니다.<br>
                                    <br>
                                    제6조 (이용신청의 수락과 거절)<br>
                                    1. 제5조에 따른 가입 신청자에게 회사는 원칙적으로 소공자 가입을 승낙합니다. 다만, 회사는 아래 각 호의 경우에는 그 사유가 해소될 때까지 승낙을 유보하거나 승낙하지 않을 수 있습니다.<br>
                                    ① 내용이 허위(차명 등)인 것으로 판명되거나, 그러하다고 의심할만한 합리적인 사유가 발생할 경우<br>
                                    ② 만 14세 미만의 아동<br>
                                    ③ 다른 사람의 서비스 이용을 방해하거나 그 정보를 도용하는 등의 행위를 하였을 때<br>
                                    ④ 사회의 안녕과 질서 또는 미풍양속을 저해할 목적으로 신청하였을 때<br>
                                    ⑤ 회사로부터 서비스 이용정지 조치 등을 받은 자가 그 조치 기간에 통합서비스 이용 계약을 임의로 해지하고 재가입을 신청하는 경우<br>
                                    ⑥ 서비스 제공 설비 용량에 현실적인 여유가 없는 경우<br>
                                    ⑦ 서비스 제공을 위한 기술적인 부분에 문제가 있다고 판단되는 경우<br>
                                    ⑧ 기타 회사가 재정적 기술적으로 필요하다고 인정하는 경우<br>
                                    ⑨ 기타 회사가 정한 이용 신청 요건이 미비 되었을 때<br>
                                    2. 위 조건에 위반하여 서비스에 가입한 것으로 판명된 때에는 즉시 서비스 이용을 정지시키거나 계정을 삭제하는 등 적절한 제한을 할 수 있습니다.<br>
                                    <br>
                                    제7조 (계약사항의 변경)<br>
                                    회원은 회원정보관리를 통해 언제든지 자신의 정보를 열람하고 수정할 수 있습니다. 회원은 이용신청 시 기재한 사항이 변경되었을 때에는 수정을 하여야 하며, 수정하지 아니하여 발생하는 문제의 책임은 회원에게 있습니다.<br>
                                    <br><br>
                                    제3장 서비스 제공 및 이용<br>
                                    <br>
                                    제8조 (서비스의 내용)<br>
                                    1. 회사는 다음과 같은 서비스를 제공합니다.<br>
                                    ① 소상공인 교육 및 컨설팅 서비스 제공 및 전문기관 연계<br>
                                    ② 상권정보분석 서비스<br>
                                    ③ 소상공인 공공지원사업 및 정책 정보 제공<br>
                                    ④ 상업용 부동산 매물 및 부동산 전반에 관한 정보 제공<br>
                                    2. 회사가 제공하는 서비스는 원칙적으로 상품 중도 변경, 일시중지, 양도양수가 불가합니다. 단, 이용자의 귀책사유가 아님을 증명할 수 있을 경우 예외적으로 처리될 수 있습니다.<br>
                                    3. 회사가 제공하는 서비스의 내용을 기술적 사양의 변경 등의 이유로 변경할 경우에는 그 사유를 이용자에게 통지하거나, 이용자가 알아볼 수 있도록 공지사항으로 게시합니다.<br>
                                    <br>
                                    제9조 (서비스의 이용시간)<br>
                                    1. 회사는 회원의 이용신청을 수락한 때부터 서비스를 개시합니다. 단, 일부 서비스의 경우에는 지정된 일자부터 서비스를 개시합니다.<br>
                                    2. 서비스의 이용은 연중무휴 1일 24시간을 원칙으로 합니다.<br>
                                    3. 회원에 가입한 후라도 일부 서비스 이용 시 서비스 제공자의 요구에 따라 특정 회원에게만 서비스를 제공할 수도 있습니다.<br>
                                    4. 회사는 서비스를 일정 범위로 분할하여 각 범위 별로 이용가능 시간을 별도로 정할 수 있습니다. 이 경우 그 내용을 사전에 공지합니다.<br>
                                    <br>
                                    제10조 (서비스의 변경, 중지 및 정보의 저장과 사용)<br>
                                    1. 회사의 업무상 또는 기술상의 장애로 인하여 서비스를 개시하지 못하는 경우에는 사이트에 공시하거나 회원에게 이를 통지합니다.<br>
                                    2. 회원은 본 서비스에 보관되거나 전송된 메시지 및 기타 통신 메시지 등의 내용이 국가의 비상사태, 정전, 회사의 관리범위 외의 서비스 설비 장애 및 기타 불가항력에 의하여 보관되지 못하였거나 삭제된 경우, 전송되지 못한 경우 및 기타 통신 데이터의 손실에 대해 회사가 아무런 책임을 지지 않음에 동의합니다.<br>
                                    3. 회사의 업무상 또는 기술상의 이유로 서비스가 일시 중지될 수 있고, 또한 정기점검 등 운영상의 목적으로 회사가 정한 기간에는 서비스가 일시 중지될 수 있습니다. 이러한 경우, 회사는 사전 또는 사후에 이를 공지합니다.<br>
                                    4. 회사의 사정으로 서비스를 영구적으로 중단할 경우 제2항을 준용합니다. 다만, 이 경우 사전 고지기간은 1개월로 합니다.<br>
                                    5. 회사는 사전 고지 후 서비스를 일시적으로 수정, 변경 및 중단할 수 있으며, 이에 대하여 회원 또는 제3자에게 어떠한 책임도 부담하지 아니합니다.<br>
                                    6. 회사는 회원이 이 약관의 내용에 위배되는 행동을 한 경우, 임의로 서비스 사용을 중지할 수 있습니다. 이 경우 회사는 회원의 접속을 금지할 수 있으며, 회원이 게시한 내용의 전부 또는 일부를 임의로 삭제할 수 있습니다.<br>
                                    7. 장기간 휴면 회원인 경우 안내 메일 또는 공지사항 발표 후 1주일간의 통지 기간을 거쳐 서비스 사용을 중지할 수 있습니다.<br>
                                    <br>
                                    제11조 (게시물 또는 내용물의 삭제)<br>
                                    1. 회사는 회원이 게시하거나 등록하는 서비스 내의 모든 내용물이 다음 각 호의 경우에 해당된다고 판단되는 경우 사전 통지 없이 삭제할 수 있으며, 이에 대해 회사는 어떠한 책임도 지지 않습니다.<br>
                                    ① 회사, 다른 회원 또는 제3자를 비방하거나 중상 모략으로 명예를 손상시키는 내용인 경우<br>
                                    ② 공공질서 및 미풍양속에 위반되는 내용인 경우<br>
                                    ③ 범죄적 행위에 결부된다고 인정되는 내용일 경우<br>
                                    ④ 제3자의 저작권 등 기타 권리를 침해하는 내용인 경우<br>
                                    ⑤ 서비스 성격에 부합하지 않는 정보의 경우<br>
                                    ⑥ 기타 관계 법령 및 회사에서 정한 규정 등에 위배되는 경우<br>
                                    2. 회사는 서비스에 게시된 내용을 사전 통지된 지 3일 이후 편집, 이동, 삭제할 수 있는 권리를 보유하며, 게시된 내용이 이 약관에 위배되거나 상용 또는 비합법적, 불건전한 내용일 경우 및 해지 회원이 게시한 게시물은 사전통보 없이 삭제할 수 있습니다.<br>
                                    3. 회사는 게시된 내용이 일정기간 이상 경과되어, 게시물로써의 효력을 상실하여 그 존치 목적이 불분명한 경우 공지사항 발표 후 1주일간의 통지기간을 거쳐 해당 게시물을 삭제할 수 있습니다.<br>
                                    <br>
                                    제12조 (게시물의 저작권)<br>
                                    1. 회원이 서비스 내에 게시한 게시물의 저작권은 회원에게 있으며, 회사는 서비스 질 향상을 위해 게시물 내용을 다른 서비스에서의 개재 등에 활용할 수 있습니다.<br>
                                    2. 회원의 게시물이 타인의 저작권, 프로그램 저작권 등을 침해함으로써 발생하는 민, 형사상의 책임은 전적으로 회원이 부담하여야 합니다.<br>
                                    3. 회원은 서비스를 이용하여 얻은 정보를 가공, 판매하는 행위 등 서비스에 게재된 자료를 상업적으로 사용할 수 없습니다.<br>
                                    <br>
                                    제13조 (권리의 귀속 및 자료의 이용)<br>
                                    1. 회사가 제공하는 서비스, 그에 필요한 소프트웨어, 이미지, 마크, 로고, 디자인, 서비스명칭, 정보 및 상표 등과 관련된 지적재산권 및 기타권리는 회사에게 소유권이 있습니다.<br>
                                    2. 회원은 회사가 명시적으로 승인한 경우를 제외하고는 제1항 소정의 각 재산에 대한 전부 또는 일부의 수정, 대여, 대출, 판매, 배포, 제작, 양도, 재라이센스, 담보권 설정행위, 상업적 이용행위를 할 수 없으며, 제3자로 하여금 이와 같은 행위를 하도록 허락할 수 없습니다.<br>
                                    <br>
                                    제14조 (정보의 제공 및 광고의 게재)<br>
                                    1. 회사는 회원이 서비스 이용 중 필요가 있다고 인정되는 다양한 정보 및 광고에 대해서는 전자우편이나 서신우편, SMS(휴대폰 문자메시지), DM, 메신저 등의 방법으로 회원에게 제공할 수 있으며, 만약 원치 않는 정보를 수신한 경우 회원은 이를 수신거부 할 수 있습니다.<br>
                                    2. 회사는 서비스의 운용과 관련하여 서비스화면, 홈페이지, 전자우편 등에 광고 등을 게재할 수 있으며, 회사는 서비스를 이용하고자 하는 회원이 이 광고게재에 대하여 동의하는 것으로 간주합니다.<br>
                                    3. 회사는 서비스 상에 게재되어 있거나 서비스를 통한 광고주와의 판촉활동에 회원이 참여하거나 교신 또는 거래의 결과로서 발생하는 모든 손실 또는 손해에 대해 책임을 지지 않습니다.<br>
                                    <br>
                                    제15조 (유료서비스의 이용)<br>
                                    1. 회사는 기본적으로 무료로 서비스를 제공하고 있으나, 광고 등의 일부 서비스의 경우 유료로 제공할 수 있습니다.<br>
                                    2. 회원는 회사가 제공하는 유료서비스를 이용하는 경우 이용대금을 납부한 후 이용하는 것을 원칙으로 합니다.<br>
                                    ① 회사가 제공하는 유료서비스에 대한 이용요금의 결제 방법은 계좌이체, 신용카드결제, 무통장입금 등이 있으며(유료서비스마다 결제 방법의 차이가 있을 수 있음), 회원은 회사가 정하고 인정하는 방식에 따라 결제를 이행하여야 합니다.<br>
                                    3. 회사는 결제의 이행을 위하여 회원의 개인정보를 추가적으로 요구할 수 있으며, 회원은 회사가 요구하는 개인정보를 정확하게 제공하여야 합니다.<br>
                                    4. 회사가 제공하는 유료서비스 이용을 위해 이용대금의 납부, 환불 방법, 이의제기 등 구체적인 내용은 회사가 정하는 별도의 규정에 따릅니다. 회원의 개인정보도용 및 결제사기로 인한 환불요청 또는 결제자의 개인정보 요구는 법률이 정한 경우 외에는 거절될 수 있습니다.<br>
                                    5. 회원은 유료서비스 이용 전에 반드시 회사가 제공하는 유료서비스의 상세 내용과 이용 조건을 정확하게 확인한 후 구매를 하여야 합니다. 회원이 이용 조건을 확인하지 않고 구매하여 발생한 모든 손실, 손해에 대한 책임을 부담합니다.<br>
                                    6. 회원이 유료서비스를 이용할 때 다음 각호에 해당하는 행위를 금지합니다.<br>
                                    ① 회사가 제공하는 유료서비스 이용방법에 의하지 아니하고 비정상적인 방법으로 유료서비스를 이용하거나 시스템에 접근하는 행위<br>
                                    ② 타인의 명의, 카드정보, 계좌정보 등을 도용하여 회사가 제공하는 유료서비스를 이용하는 행위<br>
                                    ③ 회사가 정하지 않은 비정상적인 방법으로 유료서비스를 취득하거나 사용하는 행위<br>
                                    <br><br>
                                    제4장 계약 당사자의 의무<br>
                                    <br>
                                    제16조 (회사의 의무)<br>
                                    1. 회사는 특별한 사정이 없는 한 회원이 신청한 서비스 제공 개시일에 서비스를 이용할 수 있도록 합니다.<br>
                                    2. 회사는 이 약관에서 정한 바에 따라 계속적, 안정적으로 서비스를 제공할 의무가 있습니다.<br>
                                    3. 회사가 제공하는 서비스로 인하여 회원에게 손해가 발생한 경우 그러한 손해가 회사의 고의나 중과실에 기해 발생한 경우에 한하여 회사에서 책임을 부담하며, 그 책임의 범위는 통상손해에 한합니다.<br>
                                    4. 회사는 회원으로부터 제기되는 의견이나 불만이 정당하다고 인정할 경우에는 신속히 처리하여야 합니다. 다만, 신속한 처리가 곤란한 경우에는 회원에게 그 사유와 처리일정을 통보하여야 합니다.<br>
                                    5. 회사는 관련법령이 정하는 바에 따라서 회원 등록정보를 포함한 회원의 개인정보를 보호하기 위하여 노력합니다. 회원의 개인정보보호에 관해서는 관련법령 및 제 18조에 제시된 내용을 지킵니다.<br>
                                    6. 회사는 회원 상호간의 거래에 있어서 어떠한 보증도 제공하지 않습니다. 회원 상호간 거래 행위에서 발생하는 문제 및 손실에 대해서 회사는 일체의 책임을 부담하지 않으며, 거래 당사자 간에 직접 해결해야 합니다.<br>
                                    <br>
                                    제17조 (회원의 정보보안에 대한 의무)<br>
                                    1. 회원은 서비스 이용을 위해 가입할 경우 현재의 사실과 일치하는 완전한 정보(이하 "가입정보"라 한다)를 제공하여야 합니다. 또한 가입정보에 변경이 발생할 경우 즉시 갱신하여야 합니다.<br>
                                    2. 회원의 아이디, 비밀번호 관리를 위해 회원의 승인 없이 비밀번호, 아이디가 사용되는 문제가 발생하면 즉시 회사에 신고하여야 하고 매 접속 종료 시 확실히 로그아웃을 하여야 합니다.<br>
                                    <br>
                                    제18조 (이용자의 의무)<br>
                                    1. 이용자는 서비스를 이용하면서 다음과 같은 행위를 하지 않기로 동의합니다.<br>
                                    ① 타인(소수를 포함)에게 위해를 가하는 행위<br>
                                    가. 타인의 ID, PASSWORD 및 타인으로 가장하는 행위<br>
                                    나. 타인과의 관계를 허위로 명시하는 행위<br>
                                    다. 타인을 비방할 목적으로 사실 또는 허위의 사실을 적시하여 명예를 훼손하는 행위<br>
                                    라. 자기 또는 타인에게 재산상의 이익을 주거나 타인에게 손해를 가할 목적으로 허위의 정보를 유통하는 행위<br>
                                    마. 수치심이나 혐오감 또는 공포심을 일으키는 말이나 음향, 글이나 화상 또는 영상을 계속하여 상대방에게 도달하게 하여 상대방의 일상적 생활을 방해하는 행위<br>
                                    바. 회사의 사전 승낙 없이 서비스를 이용한 영리 행위<br>
                                    사. 타인의 정보통신서비스 이용 명의를 도용하여 사용하는 행위<br>
                                    ② 불필요하거나 승인되지 않은 광고, 판촉물을 게재하거나, "정크 메일(junk mail)", "스팸(spam)", "행운의 편지(chain letters)", "도배글", "피라미드 조직" 등을 권유하거나 게시, 게재 또는 전자우편으로 보내는 행위<br>
                                    ③ 저속 또는 음란한 데이터, 텍스트, 소프트웨어, 음악, 사진, 그래픽, 비디오 메시지 등(이하 "콘텐츠")을 게시, 게재 또는 전자우편으로 보내는 행위<br>
                                    ④ 권리(지적재산권을 포함한 모든 권리)가 없는 콘텐츠를 게시, 게재 또는 전자우편으로 보내는 행위<br>
                                    ⑤ 컴퓨터 소프트웨어, 하드웨어, 전기통신 장비를 파괴, 방해 또는 기능을 제한하기 위한 소프트웨어 바이러스를 게시, 게재 또는 전자우편으로 보내는 행위<br>
                                    ⑥ 다른 컴퓨터 코드, 파일, 프로그램을 포함하고 있는 자료를 게시, 게재, 전자우편으로 보내는 행위 등 다른 사용자의 개인정보를 수집 또는 저장하는 행위<br>
                                    ⑦ 재물을 걸고 도박하거나 사행행위를 하는 행위<br>
                                    ⑧ 윤락행위를 알선하거나 음행을 매개하는 내용의 정보를 유통하는 행위<br>
                                    ⑨ 기타 불법적이거나 부당한 행위<br>
                                    2. 회사는 전항의 규정 된 위반 행위를 하는 회원에 대해 서비스 일시 중단 등의 조치를 취할 수 있으며, 필요한 경우 이에 대한 시정을 요구할 수 있습니다. 특히, 회원이 시정을 요구받은 기간 내에 시정을 하지 아니한 경우, 동일한 위반 행위를 반복할 경우 또는 다수의 위반 행위가 확인된 경우, 의무 위반 행위가 중대하며 회사에 손해를 입힌 경우에 회사는 회원과의 서비스 이용계약을 해지할 수 있습니다. 단, 이 경우 회사는 회원에게 전화, E-mail, SMS 등의 방법으로 개별 통지합니다.<br>
                                    3. 회사는 회사의 정책에 따라서 회원 간의 차별화된 유료서비스를 언제든지 제공할 수 있습니다. 만약 회원이 비용을 지불하지 않고 사용을 할 경우 회사는 특정 회원에게 서비스 중지 및 특정 서비스 제한을 할 수 있습니다.<br>
                                    4. 회원은 이 약관 및 관계 법령에서 규정한 사항을 준수하여야 합니다.<br>
                                    <br>
                                    제19조 (개인정보보호정책) # 네모 이용약관 제10조 참고<br>
                                    1. 회사는 개인정보의 보호 및 처리와 관련하여 “개인정보 보호법”, "정보통신망 이용촉진 및 정보보호 등에 관한 법률" 및 각 그 하위 법령에 정하는 사항을 준수하며, 개인정보의 보호를 위하여 노력합니다.<br>
                                    2. 회사는 개인정보의 수집, 이용, 제공, 보호, 위탁 등에 관한 제반 사항의 구체적인 내용을 개인정보처리방침을 통하여 규정하며, 개인정보처리방침은 회사의 웹페이지, 소공자 서비스 화면 등을 통하여 게시합니다.<br>
                                    <br><br>

                                    제5장 계약해지<br>
                                    <br>
                                    제20조 (계약해지 및 이용제한)<br>
                                    1. 회원이 이용계약을 해지하고자 하실 때에는 회원 본인이 직접 인터넷을 통해 회사에 해지 신청을 하여야 합니다.<br>
                                    2. 회사는 보안 및 아이디 정책, 서비스의 원활한 제공 등과 같은 이유로 회원의 ID 및 PASSWORD 변경을 요구하거나 변경할 수 있습니다.<br>
                                    3. 회사는 회원이 다음 각 호에 해당하는 행위를 하였을 경우 사전통지 없이 이용계약을 해지할 수 있습니다.<br>
                                    ① 회원이 제공한 데이터가 허위임이 판명된 경우<br>
                                    ② 범죄적 행위에 관련되는 경우<br>
                                    ③ 국익 또는 사회적 공익을 저해할 목적으로 서비스 이용을 계획 또는 실행할 경우<br>
                                    ④ 타인의 명예를 손상시키거나 불이익을 주는 경우<br>
                                    ⑤ 서비스에 위해를 가하는 등 서비스의 건전한 이용을 저해하는 경우<br>
                                    ⑥ 기타 관련법령이나 회사가 정한 이용조건에 위배되는 경우<br>
                                    4. 본 조항에 따라 이용계약이 종료된 때에는 회사는 회원의 개인정보를 지체없이 삭제합니다. 단, 관계 법령, 본 약관 또는 “개인정보처리방침"에 따라 회사가 보유하기로 한 정보, 재가입 방지 및 가입승낙을 위하여 필요한 정보, 회원이 서비스를 이용하여 게시하거나 공개한 정보는 소멸되지 않거나 별도로 보관될 수 있습니다.<br>
                                    <br>
                                    제7장 손해배상 등<br>
                                    <br>
                                    제21조 (손해배상)<br>
                                    1. 회사는 이용자가 서비스를 이용함에 있어 회사의 고의 또는 과실로 인해 손해가 발생한 경우에는 민법 등 관련 법령이 규율하는 범위 내에서 그 손해를 배상합니다. 다만, 회사는 아래와 같은 손해에 대해서는 회사의 고의 또는 중대한 과실이 없는 한 책임을 부담하지 않습니다. 또한 회사는 법률상 허용되는 한도 내에서 간접 손해, 특별 손해, 결과적 손해, 징계적 손해, 및 징벌적 손해에 대한 책임을 부담하지 않습니다.<br>
                                    ① 천재지변 또는 이에 준하는 불가항력의 상태에서 발생한 손해<br>
                                    ② 이용자의 귀책사유로 서비스 이용에 장애가 발생한 경우<br>
                                    ③ 서비스에 접속 또는 이용과정에서 발생하는 개인적인 손해<br>
                                    ④ 제3자가 불법적으로 회사의 서버에 접속하거나 서버를 이용함으로써 발생하는 손해<br>
                                    ⑤ 제3자가 회사 서버에 대한 전송 또는 회사 서버로부터의 전송을 방해함으로써 발생하는 손해<br>
                                    ⑥ 제3자가 악성 프로그램을 전송 또는 유포함으로써 발생하는 손해<br>
                                    ⑦ 전송된 데이터의 생략, 누락, 파괴 등으로 발생한 손해, 명예훼손 등 제3자가 서비스를 이용하는 과정에서 발생된 손해<br>
                                    ⑧ 기타 회사의 고의 또는 과실이 없는 사유로 인해 발생한 손해<br>
                                    2. 회사는 법령상 허용되는 한도 내에서 서비스와 관련하여 본 약관에 명시되지 않은 어떠한 구체적인 사항에 대한 약정이나 보증을 하지 않습니다. 또한, 회사는 자료에 대한 사실의 신뢰도 및 정확성 등에 대해서는 보증을 하지 않으며, 회사의 고의 또는 중대한 과실 없이 발생된 이용자의 손해에 대하여는 책임을 부담하지 않습니다. 이용자가 약관 및 회사가 정한 운영정책 등을 위반하거나 관계 법령을 위반하여 회사에 손해가 발생한 경우에는 회사에 그 손해를 배상하여야 합니다.<br>
                                    3. 회원이 소공자 서비스를 이용함에 있어 행한 불법행위나 제3항의 위반행위로 인하여 회사가 당해 이용자 이외의 제3자로부터 손해배상 청구 또는 소송을 비롯한 각종 이의제기를 받는 경우, 당해 이용자는 자신의 책임과 비용으로 회사를 면책시켜야 하고, 그로 인하여 회사에 발생한 손해를 배상하여야 합니다.<br>
                                    <br>
                                    제22조 (분쟁해결)<br>
                                    1. 회사는 회원 상호 간 분쟁에서 발생하는 문제에 대해서 일체의 책임을 지지 않습니다. 회원 상호 간 분쟁은 당사자들이 직접 해결해야 합니다.<br>
                                    2. 회원 상호 간에 서비스 이용과 관련하여 발생한 분쟁에 대해 회원의 피해 구제 신청이 있는 경우에는 공정 거래 위원회 또는 시·도지사가 의뢰하는 분쟁 조정 기관의 조정에 따를 수 있습니다.<br>
                                    3. 회원은 분쟁이 발생한 경우 분쟁의 해결을 위하여 성실히 임하여야 하며, 분쟁해결에 대한 회원의 불성실로 인하여 콘텐츠 공급자 또는 회사에 손해가 발생한 경우 회원은 해당 손해를 배상할 책임을 부담합니다.<br>
                                    <br>
                                    부 칙<br>
                                    (시행일) 이 약관은 2022년 12월 1일부터 적용합니다.<br>
                                </div>
                            </li>
                            <li>
                                <div class="check_wrap">
                                    <p>개인정보 수집 및 이용동의 <span>(필수)</span></p>
                                    <div>
                                        <input type="checkbox" class="checkbox_style checkbox_style_small" id="agree2" name="checkOne" value="Y">
                                        <label for="agree2">동의합니다</label>
                                    </div>
                                </div>
                                <div class="check_text">

                                    <!--1. 개인정보의 수집항목 및 수집방법<br><br>
                                    소공자 홈페이지에서는 기본적인 회원 서비스 제공을 위한 필수정보와 정보주체 각각의 기호와 필요에 맞는 서비스를 제공하기 위한 선택정보로 구분하여 다음의 정보를 수집하고 있습니다. 가입정보에 대한 선택정보를 입력하지 않은 경우에도 서비스 이용에는 제한이 없습니다.(단 실명인증이 필요한 서비스에서는 실명인증을 하지 않을시 서비스 이용에 제한이 있을 수 있습니다)<br>
                                    가. 수집하는 개인정보의 항목<br><br>-->

                                    소공자(이하 “회사”)는 소공자 웹사이트(이하 "사이트"라고 함)를 이용하는 이용자의 개인정보를 소중하게 생각하고, 고객의 개인정보를 보호하기 위하여 항상 최선을 다하고 있습니다. 이 개인정보 처리방침은 개인정보와 관련한 법령 또는 지침의 변경이 있는 경우 갱신되고, 정책의 변화에 따라 달라질 수 있으니 이용자께서는 사이트을 방문 시 수시로 확인하여 주시기 바랍니다. 회사의 개인정보 처리방침은 다음과 같은 내용을 담고 있습니다.<br><br>
                                    <div class="check_text_in">
                                    1. 개인정보 수집에 대한 동의<br>
                                    2. 개인정보 수집의 목적, 범위 및 방법<br>
                                    3. 개인정보 제3자 제공<br>
                                    4. 개인정보 처리 위탁<br>
                                    5. 이용자 개인정보의 보유 : 이용기간 및 파기<br>
                                    6. 쿠키(Cookie)의 운용 및 거부<br>
                                    7. 이용자 및 법정대리인의 권리<br>
                                    8. 이용자의 의무<br>
                                    9. 링크 사이트에 대한 책임<br>
                                    10. 개인정보의 기술적/관리적 보호 대책<br>
                                    11. 개인정보관리책임자<br>
                                    12. 고지의 의무<br>
                                    </div><br><br>
                                    1. 개인정보 수집에 대한 동의<br>
                                    사이트에서 적법하고 공정한 방법에 의하여 서비스 이용계약의 성립 및 이행에 필요한 최소한의 개인정보를 수집하며 이용자의 개인 식별이 가능한 개인정보를 수집하기 위하여 회원가입시 개인정보수집 이용 동의에 대한 내용을 제공하고 회원이 ‘동의’ 버튼을 클릭하면 개인정보 수집 이용에 대해 동의한 것으로 봅니다.<br>
                                    <br>
                                    2. 개인정보 수집의 목적, 범위 및 방법<br>
                                    가. 원활한 서비스 제공을 위하여 회사가 수집할 수 있는 개인정보는 다음과 같습니다.<br>
                                    1) 회원 가입 및 서비스 이용 과정에서 아래와 같은 정보들이 명시적으로 수집될 수 있습니다.<br>
                                    • 성명, 생년월일, 성별, 외국인등록번호, 휴대폰번호, 아이디(이메일주소), 비밀번호, 본인확인 값(CI, DI): 회사가 제공하는 서비스의 이용에 따르는 본인확인, 회원의 서비스 이용 통계 및 설문 등<br>
                                    • 기업형태, 회사명, 대표자명, 사업자등록번호, 업태, 종목, 전자세금계산서 발급용 이메일, 담당자명, 사업장 혹은 담당자 연락처: 사업자 회원 서비스 제공, 세금계산서 발행 등<br>
                                    • 성명, 이메일주소, 휴대폰번호 : 계약이행 및 약관변경 등의 고지를 위한 연락, 본인의사확인 및 민원 처리, 새로운 서비스/상품 안내 등<br>
                                    • 성명, 배송주소, 전화번호 : 서비스 또는 상품과 경품 발송을 위한 발송지 확인 등<br>
                                    • 계좌정보 : 환불, 수익금 또는 리워드 지급 등 송금 처리<br>
                                    • 주민등록번호 : 수익금 또는 리워드 지급 등에 따른 세무 처리<br>
                                    • 닉네임, 본인 사진 또는 회사 로고 : 본인을 표현할 수 있는 부가서비스 등<br>
                                    2) 서비스 이용 과정에서 아래와 같은 정보들이 생성되어 수집될 수 있습니다.<br>
                                    • IP 주소, 기기 정보, 접속 로그, 서비스 이용 기록, 쿠키 정보, 앱설치 정보 : 부정 이용 방지, 비인가 사용 방지, 신규서비스 개발 및 맞춤서비스 제공 등<br>
                                    나. 만 14세 미만 아동의 개인정보는 법정대리인의 동의를 얻은 경우에 수집.이용할 수 있습니다. 이 경우 회사는 법정대리인의 성명, 생년월일, 휴대폰 번호, 이메일주소, 본인확인 값(CI, DI)을 추가로 수집할 수 있습니다.<br>
                                    다. 회사는 다음과 같은 방법으로 개인정보를 수집할 수 있습니다.<br>
                                    1) PC 웹페이지(홈페이지), 모바일 어플리케이션, 모바일 웹페이지, 서면, 팩스, 전화, 고객센터 문의하기, 이벤트 응모<br>
                                    2) 생성정보 수집 툴을 통한 자동 수집<br>
                                    3) 제휴 회사로부터의 제공<br>
                                    라. 이용자의 기본적 인권을 침해할 우려가 있는 인종, 출신지, 본적지, 사상, 정치적 성향, 범죄기록, 건강상태 등의 정보는 이용자의 동의 또는 법령의 규정에 의한 경우 이외에는 수집하지 않습니다.<br>
                                    <br>
                                    3. 개인정보 제3자 제공<br>
                                    가. 회사는 이용자의 개인정보를 「개인정보의 수집·이용」에서 고지한 범위 내에서 사용하며, 이용자의 사전 동의 없이 동 범위를 초과하여 이용하거나 원칙적으로 이용자의 개인정보를 제3자에게 제공하지 않습니다. 다만, 아래의 경우에는 예외로 합니다.<br>
                                    ① 이용자들이 사전에 공개 또는 제3자 제공에 동의한 경우<br>
                                    ② 법령의 규정에 의거하거나, 수사, 조사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관 및 감독당국의 요구가 있는 경우<br>
                                    나. 회사가 제공하는 서비스를 통하여 회사가 아닌 제3자가 공급자인 경우 거래 당사자간 원활한 의사소통 및 거래 이행을 위하여 관련된 정보를 필요한 범위 내에서 쌍방 거래 당사자에게 제공합니다.<br>
                                    다. 그 밖에 개인정보 제3자 제공이 필요한 경우에는 이용자의 동의를 얻는 등 적법한 절차를 통하여 제3자에게 개인정보를 제공할 수 있습니다.<br>
                                    <div class="check_item">
                                    <table>
                                        <tbody>
                                        <tr>
                                            <th width="19%">공유받는 자</th>
                                            <th width="31%">공유하는 항목</th>
                                        </tr>
                                        <tr>
                                            <th>일반회원</th>
                                            <td>1. 공급회원 정보(닉네임, 연락처)<br />
                                        </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                    • 공유받는 자의 이용목적 : 정보통신서스제공계약 및 전자상거래(통신판매)계약 이행을 위해 필요한 업무<br>
                                    • 보유 및 이용기간 : 서비스 제공기간(관계법령의 규정에 의하여 보존할 필요가 있는 경우 및 사전 동의를 득한 경우 해당 보유 기간)<br>
                                    <br>
                                    4. 개인정보의 처리 위탁<br>
                                    가. 회사는 원활하고 향상된 서비스를 위하여 개인정보 처리를 타인에게 위탁할 수 있습니다.<br>
                                    나. 회사는 개인정보의 처리와 관련하여 아래와 같이 업무를 위탁하고 있으며, 관계법령에 따라 위탁 계약 시 개인정보가 안전하게 관리될 수 있도록 필요한 조치를 하고 있습니다. 또한 위탁처리하는 정보는 원활한 서비스를 제공하기 위하여 필요한 최소한의 정보에 국한됩니다.<br>
                                    다. 회사의 이용자의 개인정보 위탁 처리 시 수탁업체 및 위탁 목적은 아래와 같습니다.<br>
                                    <div class="check_item">
                                        <table>
                                            <tbody>
                                            <tr>
                                                <th height="23" width="45%">수탁업체</th>
                                                <th>위탁업무 내용</th>
                                            </tr>
                                            <tr>
                                                <td>(주)카카오</td>
                                                <td rowspan="3">소셜로그인 서비스 이용자 확인</td>
                                            </tr>
                                            <tr>
                                                <td>네이버</td>
                                            </tr>
                                            <tr>
                                                <td>구글</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    5. 개인정보의 보관기간 및 파기<br>
                                    회사는 이용자의 개인정보를 원칙적으로 고지 및 약정한 기간 동안 보유 및 이용하며 개인정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다. 다만, 도용으로 인한 원치 않는 회원탈퇴 등의 피해가 발생할 우려가 있으므로 탈퇴신청 후 7일의 유예기간 동안 개인정보를 임시 보관하게 되며, 이는 이용 해지 시 이용자에게 고지됩니다. 단, 다음의 정보에 대해서는 아래의 이유로 명시한 기간 동안 보존합니다.<br>
                                    가. 관련법에에 의한 정보보유 사유<br>
                                    관계법령의 규정에 의하여 보존할 필요가 있는 경우 법령에서 규정한 일정한 기간 동안 이용자 개인정보를 보관합니다. 이 경우 회사는 보관하는 정보를 그 보관의 목적으로만 이용하며 보존기간은 아래와 같습니다.<br>
                                    ① 탈퇴한 회원의 개인정보<br>
                                    • 보존 이유: 임의해지 등을 반복적으로 행하는 등 회사가 제공하는 서비스의 이익을 불·편법적으로 수취하는 행위 및 명의 도용 등의 불·편법 행위 차단<br>
                                    • 보존 기간: 1년<br>
                                    나. 수집된 개인정보의 보유·이용기간은 서비스이용계약체결(회원가입)시부터 서비스이용계약해지(탈퇴신청, 직권탈퇴 포함)입니다. 또한 동의 해지 시 회사는 이용자의 개인정보를 상기 명시한 정보보유 사유에 따라 일정 기간 저장하는 자료를 제외하고는 지체 없이 파기하며 개인정보 처리가 제3자에게 위탁된 경우에는 수탁자에게도 파기하도록 지시합니다.<br>
                                    다. 파기방법 : 이용자의 개인정보는 수집 및 이용목적이 달성된 후에는 지체 없이 파기됩니다. 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각 등을 통하여 파기하고, 전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법 또는 물리적 방법을 사용하여 파기합니다.<br>
                                    <br>
                                    6. 쿠키(Cookie)의 운용 및 거부<br>
                                    가. 쿠키의 사용 목적<br>
                                    ① 회사는 개인 맞춤 서비스를 제공하기 위해서 이용자에 대한 정보를 저장하고 수시로 불러오는 '쿠키(cookie)'를 사용합니다. 쿠키는 웹사이트 서버가 이용자의 브라우저에게 전송하는 소량의 정보로서 이용자 컴퓨터의 하드디스크에 저장됩니다.<br>
                                    ② 회사는 쿠키의 사용을 통해서만 가능한 특정된 맞춤형 서비스를 제공할 수 있습니다.<br>
                                    ③ 회사는 회원을 식별하고 회원의 로그인 상태를 유지하기 위해 쿠키를 사용할 수 있습니다.<br>
                                    나. 쿠키의 설치/운용 및 거부<br>
                                    ① 이용자는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서 이용자는 웹브라우저에서 옵션을 조정함으로써 모든 쿠키를 허용/거부하거나, 쿠키가 저장될 때마다 확인을 거치도록 할 수 있습니다<br>
                                    ② 쿠키의 저장을 거부할 경우에는 개인 맞춤서비스 등 회사가 제공하는 일부 서비스는 이용이 어려울 수 있습니다.<br>
                                    <br>
                                    7. 이용자의 의무<br>
                                    이용자는 자신의 개인정보를 보호할 의무가 있으며, 회사의 귀책사유가 없이 ID, 비밀번호, 접근매체 등의 양도·대여·분실이나 로그인 상태에서 이석 등 이용자 본인의 부주의나 관계법령에 의한 보안조치로 차단할 수 없는 방법이나 기술을 사용한 해킹 등 회사가 상당한 주의에도 불구하고 통제할 수 없는 인터넷 상의 문제 등으로 개인정보가 유출되어 발생한 문제에 대해 회사는 책임을 지지 않습니다.<br>
                                    가. 이용자는 자신의 개인정보를 최신의 상태로 유지해야 하며, 이용자의 부정확한 정보 입력으로 발생하는 문제의 책임은 이용자 자신에게 있습니다.<br>
                                    나. 타인의 개인정보를 도용한 회원가입 또는 주민등록번호 등을 도용하여 물품거래 시 이용자자격 상실과 함께 주민등록법에 의거하여 처벌될 수 있습니다.<br>
                                    다. 이용자는 ID, 비밀번호 등에 대해 보안을 유지할 책임이 있으며 제3자에게 이를 양도하거나 대여할 수 없습니다. 또한, 이용자는 회사의 개인정보보호정책에 따라 보안을 위해 비밀번호의 주기적 변경에 협조할 의무가 있습니다.<br>
                                    라. 이용자는 회사의 서비스를 이용한 후에는 반드시 로그인 계정을 종료하고 프로그램을 종료해야 합니다.<br>
                                    마. 이용자는 "정보 통신망 이용촉진 및 정보보호 등에 관한 법률", “개인정보보호법”, "주민등록법" 등 기타 개인정보에 관한 법률을 준수하여야 합니다.<br>
                                    <br>
                                    8. 링크 사이트에 대한 책임<br>
                                    회사는 이용자에게 다른 웹사이트에 대한 링크를 제공할 수 있습니다. 다만, 링크되어 있는 웹사이트들이 개인정보를 수집하는 행위에 대해서는 본 "개인정보 처리방침"이 적용되지 않습니다.<br>
                                    <br>
                                    9. 개인정보의 기술적/관리적 보호 대책<br>
                                    회사는 이용자들의 개인정보를 처리함에 있어 개인정보가 분실, 도난, 누출, 변조 또는 훼손되지 않도록 안전성 확보를 위하여 다음과 같은 기술적/관리적 보호대책을 강구하고 있습니다.<br>
                                    가. 개인정보의 암호화<br>
                                    이용자의 비밀번호는 일방향 암호화하여 저장 및 관리되고 있으며, 개인정보의 확인 및 변경은 비밀번호를 알고 있는 본인에 의해서만 가능합니다. 주민등록번호, 외국인 등록번호, 은행계좌번호 및 신용카드번호 등의 개인정보는 안전한 암호 알고리즘으로 암호화되어 저장 및 관리되고 있습니다.<br>
                                    나. 해킹 등에 대비한 대책<br>
                                    민감한 개인정보는 암호화 통신 등을 통하여 네트워크상에서 개인정보를 안전하게 전송할 수 있도록 하고 있습니다.<br>
                                    다. 개인정보 취급자 최소화 및 교육<br>
                                    회사는 회사의 개인정보 취급자를 최소한으로 제한하며, 개인정보 취급자에 대한 교육 등 관리적 조치를 통해 개인정보보호의 중요성을 인식시키고 있습니다.<br>
                                    <br>
                                    10. 개인정보관리책임자<br>
                                    회사는 이용자가 회사의 서비스를 안전하게 이용할 수 있도록 최선을 다하고 있습니다. 이용자는 회사의 서비스 이용과 관련한 모든 개인정보보호 민원을 개인정보관리책임자 또는 담당부서로 신고하실 수 있으며, 회사는 이용자의 신고사항에 대해 신속하고 성실하게 답변해드리고 있습니다.<br>
                                    <br>
                                    [개인정보관리책임자]
                                    성명 :
                                    연락처 :<br>
                                    기타 개인정보침해에 대한 신고 또는 상담이 필요하신 경우에는 아래 기관으로 문의하시기 바랍니다.<br>
                                    • 개인정보침해신고센터 (www.118.or.kr / 118)<br>
                                    • 정보보호마크인증위원회 (www.eprivacy.or.kr / 02-550-9531~2)<br>
                                    • 대검찰청 사이버범죄수사단 (cybercid@spo.go.kr / 02-3480-3571)<br>
                                    • 경찰청 사이버테러대응센터 (www.ctrc.go.kr / 02-393-9112)<br>
                                    <br>
                                    11. 고지의 의무<br>
                                    현 개인정보 처리방침은 정부의 정책 또는 회사의 필요에 의하여 변경될 수 있으며 내용의 추가 및 삭제, 수정이 있을 시에는 시행 7일 전에 홈페이지 또는 이메일을 통해 사전 공지하며 사전 공지가 곤란한 경우 지체 없이 공지하며, 이 정책은 공지한 날로부터 시행됩니다. 다만, 개인정보의 수집•이용 목적, 제3자 제공대상 등 중요한 사항이 추가 및 삭제, 수정되는 경우에는 30일 전에 사전 공지하고, 30일이 경과된 후에 시행됩니다. 또한 당사는 개인정보의 수집 및 활용, 제3자 제공 등 정보통신망 이용촉진 및 정보보호 등 에 관한 법률 등 관련 법령에 따라 고객의 별도 동의가 필요한 사항과 관련된 내용이 추가, 변경되는 경우에는 관련 법령에 따른 고객의 별도 동의를 받습니다.<br>
                                    <br>
                                    =========================<br>
                                    공고일자 : 2022년 10월 24일<br>
                                    시행일자 : 2022년 10월 24일<br>
                                    개인정보처리방침 버전 : v1.0<br>
                                    =========================
                                </div>
                            </li>
                        </ul>
                        <div class="stage_all_agree">
                            <input type="checkbox" class="checkbox_style " id="agree_all" name="checkAll">
                            <label for="agree_all">전체 이용 약관 및 개인정보 수집 및 이용에 동의 합니다.</label>
                        </div>
                    </div>
                    <div class="btn_box">
                        <button type="submit" class="btn blue">다음</button>
                    </div>
                </form>
            </div>
        </section>
    </article>
    <th:block layout:fragment="custom_js">
        <script th:src="@{/js/pages/user/signup_agree.js}"></script>
    </th:block>
</body>

</html>