<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<head>
    <title th:text="${breadcrumb.menu_name}">게시판관리</title>
</head>
<div layout:fragment="content">
    <nav th:replace="fragments/page_breadcrumb"></nav>
    <div class="row card">
        <div class="col-12 col-xl-12 grid-margin">
            <div class="row">
                <div class="col-3 col-xl-3 grid-margin category_wrap">
                    <form th:action="@{/category/category1}" th:object="${category1}" method="post" onsubmit="return validationForm1();">
                        <h3>소공자 대분류</h3>
                        <div class="card">
                            <ul class="category lCategory list-group">
                                <li class="list-group-item list-group-item-action active">
                                    <p>창업</p>
                                    <span class="del_btn">x</span>
                                </li>
                                <li class="list-group-item list-group-item-action">
                                    <p>지원</p>
                                    <span class="del_btn">x</span>
                                </li>
                                <li class="list-group-item list-group-item-action">
                                    <p>상권</p>
                                    <span class="del_btn">x</span>
                                </li>
                                <li class="list-group-item list-group-item-action">
                                    <p>성장</p>
                                    <span class="del_btn">x</span>
                                </li>
                            </ul>
                        </div>
                        <div class="add_category_btn row">
                            <input type="text" id="name" name="name" class="col-sm-8 form-control">
                            <button type="submit" class="col-sm-3 offset-sm-1 btn btn-primary">+</button>
                        </div>
                    </form>
                </div>
                <div class="col-3 col-xl-3 grid-margin category_wrap">
                    <h3>소공자 중분류</h3>
                    <div class="card">
                        <ul class="category mCategory list-group">
                            <li class="list-group-item list-group-item-action">
                                <p>경영</p>
                                <span class="del_btn">x</span>
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <p>법무</p>
                                <span class="del_btn">x</span>
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <p>세무/노무</p>
                                <span class="del_btn">x</span>
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <p>세무/노무</p>
                                <span class="del_btn">x</span>
                            </li>
                        </ul>
                    </div>
                    <div class="add_category_btn row">
                        <input type="text" class="col-sm-8 form-control">
                        <button type="button" class="col-sm-3 offset-sm-1 btn btn-primary">+</button>
                    </div>
                </div>
                <div class="col-3 col-xl-3 grid-margin category_wrap">
                    <h3>소공자 소분류</h3>
                    <div class="card">
                        <ul class="category sCategory list-group">
                            <li class="list-group-item list-group-item-action">
                                <p>리더십</p>
                                <span class="del_btn">x</span>
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <p>경영이해</p>
                                <span class="del_btn">x</span>
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <p>점포운영</p>
                                <span class="del_btn">x</span>
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <p>경영개선 사례</p>
                                <span class="del_btn">x</span>
                            </li>
                        </ul>
                    </div>
                    <div class="add_category_btn row">
                        <input type="text" class="col-sm-8 form-control">
                        <button type="button" class="col-sm-3 offset-sm-1 btn btn-primary">+</button>
                    </div>
                </div>
                <div class="col-3 col-xl-3 grid-margin category_wrap">
                    <h3>지원 기관</h3>
                    <div class="card">
                        <ul id="otherCategory" class="category otherCategory list-group">
                            <li class="list-group-item list-group-item-action">
                                <p>HACCP 인증</p>
                                <span class="del_btn">x</span>
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <p>재무관리</p>
                                <span class="del_btn">x</span>
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <p>매출 및 손익관리</p>
                                <span class="del_btn">x</span>
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <p>점포 환경관리</p>
                                <span class="del_btn">x</span>
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <p>원자재 및 재고관리</p>
                                <span class="del_btn">x</span>
                            </li>
                        </ul>
                    </div>
                    <div class="add_category_btn row">
                        <input id="otherCategory_input" type="text" class="col-sm-8 form-control">
                        <button type="button" onclick="createList(this);" class="col-sm-3 offset-sm-1 btn btn-primary">+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form name="deleteForm" th:action="@{/education/delete}" method="post">
        <input type="hidden" name="eduSeq">
    </form>
</div>
<th:block layout:fragment="custom_css">
</th:block>
<th:block layout:fragment="custom_js">
    <script th:src="@{/assets/js/pages/category/category.js}"></script>
</th:block>

</html>