<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<head>
    <title th:text="${breadcrumb.menu_name}">게시판관리</title>
</head>
<div layout:fragment="content">
    <nav th:replace="fragments/page_breadcrumb"></nav>
    <div class="row card">
        <div class="col-12 col-xl-12 grid-margin">
            <div class="row">
                <div class="col-3 col-xl-3 grid-margin category_wrap">
                    <input type="hidden" id="category1Size" th:value="${#lists.size(category1List)}">
                    <form th:action="@{/category/add}" th:object="${category1}" method="post" onsubmit="return validationForm1();">
                        <input type="hidden" name="type" value="1">
                        <input type="hidden" name="category1Seq" value="0">
                        <h3>소공자 대분류</h3>
                        <div class="card">
                            <div class="category lCategory list-group" id="list-group1">
                                <label class="list-group-item list-group-item-action" name="label_group1" th:classappend="${i.first == true?'active':''}"  th:each="item, i : ${category1List}" th:unless="${#lists.isEmpty(category1List)}">
                                    <p>[[${item.name}]]</p>
                                    <input type="hidden" name="category_type" value="1">
                                    <input type="radio" name="lCategory" th:value="${item.category1_seq}">
                                    <span class="del_btn del_category">x</span>
                                </label>
                            </div>
                        </div>
                        <div class="add_category_btn row">
                            <input type="text" id="name" name="name" class="col-sm-8 form-control">
                            <button type="submit" class="col-sm-3 offset-sm-1 btn btn-primary">+</button>
                        </div>
                    </form>
                </div>
                <div class="col-3 col-xl-3 grid-margin category_wrap">
                    <input type="hidden" id="category2Size" th:value="${#lists.size(category1List)}">
                    <form th:action="@{/category/add}" th:object="${category1}" method="post" onsubmit="return validationForm2();">
                        <input type="hidden" name="type" value="2">
                        <input type="hidden" name="category1Seq">
                        <input type="hidden" name="category2Seq" value="0">
                        <h3>소공자 중분류</h3>
                        <div class="card">
                            <div class="category lCategory list-group" id="list-group2">
                                <label class="list-group-item list-group-item-action" th:name="${'label_c2_'+item.category1_seq}" style="display: none"
                                       th:each="item, i : ${category2List}" th:unless="${#lists.isEmpty(category2List)}">
                                    <input type="hidden" name="category_type" value="2">
                                    <p>[[${item.name}]]</p>
                                    <input type="radio" name="mCategory" th:value="${item.category2_seq}">
                                    <span class="del_btn del_category">x</span>
                                </label>
                            </div>
                        </div>
                        <div class="add_category_btn row">
                            <input type="text" id="name2" name="name" class="col-sm-8 form-control">
                            <button type="submit" class="col-sm-3 offset-sm-1 btn btn-primary">+</button>
                        </div>
                    </form>
                </div>
                <div class="col-3 col-xl-3 grid-margin category_wrap">
                    <input type="hidden" id="category3Size" th:value="${#lists.size(category1List)}">
                    <form th:action="@{/category/add}" th:object="${category1}" method="post" onsubmit="return validationForm3();">
                        <input type="hidden" name="type" value="3">
                        <input type="hidden" name="category1Seq">
                        <input type="hidden" name="category2Seq">
                        <h3>소공자 소분류</h3>
                        <div class="card">
                            <div class="category lCategory list-group" id="list-group3">
                                <label class="list-group-item list-group-item-action" th:name="${'label_c3_'+item.category2_seq}" style="display: none"
                                        th:each="item, i : ${category3List}" th:unless="${#lists.isEmpty(category3List)}">
                                    <p>[[${item.name}]]</p>
                                    <input type="hidden" name="category_type" value="3">
                                    <input type="radio" name="sCategory" th:value="${item.category3_seq}">
                                    <span class="del_btn del_category">x</span>
                                </label>
                            </div>
                        </div>
                        <div class="add_category_btn row">
                            <input type="text" id="name3" name="name" class="col-sm-8 form-control">
                            <button type="submit" class="col-sm-3 offset-sm-1 btn btn-primary">+</button>
                        </div>
                    </form>
                </div>
                <div class="col-3 col-xl-3 grid-margin category_wrap">
                    <form th:action="@{/category/support/add}" th:object="${support}" method="post" onsubmit="return validationForm4();">
                        <h3>지원 기관</h3>
                        <div class="card">
                            <div id="otherCategory" class="category otherCategory list-group">
                                <label class="list-group-item list-group-item-action" th:each="item, i : ${supportList}" th:unless="${#lists.isEmpty(supportList)}">
                                    <p>[[${item.support_name}]]</p>
                                    <input type="radio" name="otherSupport" th:value="${item.support_seq}">
                                    <span class="del_btn" id="del_support">x</span>
                                </label>
                            </div>
                        </div>
                        <div class="add_category_btn row">
                            <input type="text" class="col-sm-8 form-control" name="supportName" id="support_name">
                            <button type="submit" class="col-sm-3 offset-sm-1 btn btn-primary">+</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <form name="deleteForm" th:action="@{/category/delete}" method="post">
        <input type="hidden" name="type">
        <input type="hidden" name="categorySeq">
    </form>

    <form name="deleteSupportForm" th:action="@{/category/support/delete}" method="post">
        <input type="hidden" name="supportSeq">
    </form>
</div>
<th:block layout:fragment="custom_css">
</th:block>
<th:block layout:fragment="custom_js">
    <script th:inline="javascript">

        var groupName1 = /*[[${category1List[0].group_name}]]*/'';
        var groupName2 = /*[[${category2List[0].group_name}]]*/'';
        var groupName3 = /*[[${category3List[0].group_name}]]*/'';

        if([[${#lists.size(supportList)}]] > 0){
            var supportName = /*[[${supportGroup}]]*/'';
        }else{
            var supportName = '';
        }

    </script>
    <script th:src="@{/assets/js/pages/category/category.js}" th:inline="javascript"></script>

</th:block>

</html>