<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<head>
    <title th:text="${breadcrumb.menu_name}">코드관리</title>
</head>
<div layout:fragment="content">
    <nav th:replace="fragments/page_breadcrumb"></nav>
    <div class="row">
        <div class="col-5 grid-margin grid-margin-xl-0 stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-baseline mb-2">
                        <h6 class="card-title mb-0">그룹 코드</h6>
                        <div>
                            <a th:href="@{/setting/code(menuCode=${params.menuCode})}" class="btn btn-primary btn-icon-text mr-2">
                                <i class="btn-icon-prepend" data-feather="search"></i>조회
                            </a>
                            <button type="button" class="btn btn-secondary btn-icon-text btn-add-master">
                                <i class="btn-icon-prepend" data-feather="edit"></i>등록
                            </button>
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="table-responsive table-no-paging">
                            <table class="table table-hover code-master">
                                <colgroup>
                                    <col style="width: 30%;">
                                    <col style="width: 35%;">
                                    <col style="width: 35%;">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>그룹 코드</th>
                                        <th>그룹 코드명</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="item : ${masterList}" th:class="${item.grp_code} == ${groupCode} ? 'table-info'" th:data-group-code="${item.grp_code}">
                                        <td th:text="${item.grp_code}">code</td>
                                        <td>
                                            <a th:href="@{/setting/code(groupCode=${item.grp_code},menuCode=${params.menuCode})}" th:text="${item.grp_code_name}">grp_code_name</a>
                                        </td>
                                        <td class="text-right">
                                            <button type="button" class="btn btn-outline-primary btn-sm mr-2 btn-modify-master" th:data-group-code="${item.grp_code}">수정</button>
                                            <button type="button" class="btn btn-outline-danger btn-sm btn-delete-master" th:data-group-code="${item.grp_code}">삭제</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-7 grid-margin grid-margin-xl-0 stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-baseline mb-2">
                        <h6 class="card-title mb-0 ml-4">상세 코드</h6>
                        <button type="button" class="btn btn-secondary btn-icon-text btn-add-detail">
                            <i class="btn-icon-prepend" data-feather="edit"></i>등록
                        </button>
                    </div>
                    <div class="table-responsive table-no-paging">
                        <table class="table table-hover">
                            <colgroup>
                                <col style="width: 5%;">
                                <col style="width: 17%;">
                                <col style="width: 30%;">
                                <col style="width: 12%;">
                                <col style="width: 15%;">
                                <col style="width: 21%;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>코드</th>
                                    <th>코드명</th>
                                    <th>사용여부</th>
                                    <th>등록일</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <th:block th:include="fragments/table_empty:: table_empty(6)" th:if="${#lists.isEmpty(detailList)}"></th:block>
                                <tr th:each="item, row : ${detailList}" th:unless="${#lists.isEmpty(detailList)}">
                                    <td th:text="${row.index + 1}"></td>
                                    <td th:text="${item.code}">code</td>
                                    <td th:text="${item.code_name}">code_name</td>
                                    <td th:text="${item.use_flag} ? '사용' : '미사용'">use_flag</td>
                                    <td th:text="${item.reg_dt}">reg_dt</td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-outline-primary btn-sm mr-2 btn-modify-detail" th:data-group-code="${item.grp_code}" th:data-code="${item.code}">수정</button>
                                        <button type="button" class="btn btn-outline-danger btn-sm btn-delete-detail" th:data-group-code="${item.grp_code}" th:data-code="${item.code}">삭제</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal" id="modal-group" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">그룹 코드</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <form id="groupForm" method="post">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label required">그룹 코드</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="grp_code" maxlength="20" placeholder="" required="required">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label required">그룹 코드명</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="grp_code_name" maxlength="50" placeholder="" required="required">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark btn-icon-text mr-2 btn-register-master">
                        <i class="btn-icon-prepend" data-feather="edit"></i>저장
                    </button>
                    <button type="button" class="btn btn-secondary btn-icon-text" data-dismiss="modal">
                        <i class="btn-icon-prepend" data-feather="x-square"></i>닫기
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- // modal -->
    <!-- Modal -->
    <div class="modal" id="modal-detail" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">상세 코드</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <form id="editForm" method="post">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label required">그룹 코드</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="group_code" required="required">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label required">코드</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="code" maxlength="50" placeholder="" required="required">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label required">코드명</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="code_name" maxlength="50" placeholder="" required="required">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label required">정렬순서</label>
                                    <div class="col-sm-9">
                                        <input type="number" class="form-control" id="ordby" maxlength="2" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label required">사용여부</label>
                                    <div class="col-sm-9">
                                        <input type="checkbox" id="use_flag" data-toggle="toggle" data-size="small" data-on="사용" data-off="미사용" data-width="80">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark btn-icon-text mr-2 btn-register-detail">
                        <i class="btn-icon-prepend" data-feather="edit"></i>저장
                    </button>
                    <button type="button" class="btn btn-secondary btn-icon-text" data-dismiss="modal">
                        <i class="btn-icon-prepend" data-feather="x-square"></i>닫기
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- // modal -->
</div>
<th:block layout:fragment="custom_css">
    <style type="text/css">
    .table-no-paging {
        height: 650px;
        overflow-x: hidden;
    }
    </style>
</th:block>
<th:block layout:fragment="custom_js">
    <script th:src="@{/assets/js/pages/setting/code_list.js}"></script>
</th:block>

</html>