<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>소공자플랫폼 관리자</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="shortcut icon" href="data:image/x-icon" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/index.css}">
</head>

<body>
    <div class="login_wrap">
        <div class="login">
            <h1>소공자플랫폼 관리자</h1>
            <form th:action="@{/login}" method="post" th:object="${loginForm}">
                <ul>
                    <li>
                        <input type="text" th:field="*{id}" title="아이디를 입력하세요." placeholder="아이디를 입력하세요." required="required" autofocus="autofocus" maxlength="15">
                    </li>
                    <li>
                        <input type="password" th:field="*{password}" title="비밀번호를 입력하세요." placeholder="비밀번호를 입력하세요." required="required" maxlength="20">
                    </li>
                </ul>
                <div class="login_btn">
                    <div>
                        <input type="checkbox" class="checkbox_style" id="login_keep">
                        <label for="login_keep">로그인 상태 유지</label>
                    </div>
                    <button type="submit">Login</button>
                </div>
                <div class="box_desc" th:if="${not #strings.isEmpty(error)}">
                    <p class="desc_error" th:text="${error}">아이디 혹은 비밀번호가 일치하지 않습니다. 입력한 내용을 다시 확인해 주세요.</p>
                </div>
            </form>
        </div>
        <p>COPYRIGHT 2021 siteplanning. ALL RIGHTS RESERVED.</p>
    </div>
</body>

</html>