<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title layout:title-pattern="$LAYOUT_TITLE :: $CONTENT_TITLE">소공자 플랫폼 관리자</title>
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}" type="image/x-icon">
    <!--/* Common css */-->
    <th:block th:include="fragments/common_css"></th:block>
    <th:block layout:fragment="custom_css"></th:block>
    <!--/* Custom or page css */-->
    <script th:inline="javascript">
    var contextPath = /*[[${#httpServletRequest.getContextPath()}]]*/ '';
    var result_code = /*[[${result_code}]]*/ '';
    var session_max_inactive_interval = /*[[${#httpServletRequest.getSession().getMaxInactiveInterval()}]]*/ 0;
    </script>
</head>

<body class="sidebar-dark">
    <div class="main-wrapper">
        <!--/* sidebar */-->
        <nav th:replace="fragments/sidebar"></nav>
        <div class="page-wrapper">
            <!--/* Header */-->
            <nav th:replace="fragments/header"></nav>
            <!--/* Page Content */-->
            <div layout:fragment="content" class="page-content"></div>
            <!--/* Footer */-->
            <footer th:replace="fragments/footer"></footer>
        </div>
    </div>
    <div class="wrap-loading display-none">
        <div><img th:src="@{/assets/images/ajax-loading.gif}" alt="로딩중" /></div>
        <p>몇 분이 소요될 수 있습니다.</p>
    </div>
</body>
<!--/* Common javascript */-->
<th:block th:include="fragments/common_js"></th:block>
<!--/* Custom or page javascript */-->
<th:block layout:fragment="custom_js"></th:block>

</html>