/* ajax loading image */
.wrap-loading {
  z-index: 1060;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr="#20000000", endColorstr="#20000000");
}
.wrap-loading div {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -200px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.main_visual {
  position: relative;
}

.slide_video {
  overflow: hidden;
  position: relative;
  background-color: #1540bf;
}

.main_section {
  height: 100%;
  position: relative;
}
.main_section .sectionBtn {
  position: absolute;
  top: calc(50% - 90px);
  left: 95px;
}
.main_section .sectionBtn ul li {
  background-color: #709bff;
  border: solid 1px #709bff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-bottom: 16px;
}
.main_section .sectionBtn ul li.on {
  background-color: #1540bf;
}
.main_section .mv_text1 {
  height: 100vh;
  position: relative;
}
.main_section .mv_text1 > p {
  text-align: center;
  color: #c8d9ff;
  font-size: 1.5rem;
  font-weight: 200;
  margin-top: 60px;
}
.main_section .mv_text1 .title_main {
  padding-top: 17.1875rem;
  display: flex;
  justify-content: center;
}
.main_section .mv_text1 .title_main * {
  color: #fff;
}
.main_section .mv_text1 .title_main p {
  font-size: 3rem;
  line-height: 1.42;
  font-weight: 300;
  text-shadow: 0 0 8px #1540bf;
}
.main_section .mv_text1 .title_main p + p {
  font-size: 1.1875rem;
  margin-top: 2.1875rem;
  line-height: 1.68;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.35);
}
.main_section .mv_text1 .title_main p strong {
  font-size: 5.25rem;
  font-weight: 700;
}
.main_section .mv_text1 .title_main .left {
  font-size: 1.375rem;
  font-weight: 500;
  background-color: none;
  border-radius: none;
  text-align: center;
  display: inline-block;
  padding: 0 5px;
  width: 36px;
  border: solid 4px #fff;
  border-right: 0;
  margin-right: 40px;
}
.main_section .mv_text1 .title_main .right {
  font-size: 1.375rem;
  font-weight: 500;
  background-color: none;
  border-radius: none;
  text-align: center;
  display: inline-block;
  padding: 0 5px;
  width: 36px;
  border: solid 4px #fff;
  border-left: 0;
  margin-left: 40px;
}
.main_section .mv_text3 {
  height: 100vh;
  position: relative;
  display: flex;
  padding-top: 17.1875rem;
}
.main_section .mv_text3 .left {
  width: 44%;
}
.main_section .mv_text3 .left p {
  font-size: 3.25rem;
  font-weight: 300;
}
.main_section .mv_text3 .left p strong {
  font-weight: bold;
}
.main_section .mv_text3 .left p strong span {
  display: inline-block;
  font-size: 3.25rem;
  font-weight: 300;
  vertical-align: baseline;
}
.main_section .mv_text3 .left span {
  display: inline-block;
  font-size: 1.375rem;
  color: #606060;
  line-height: 1.8;
  margin-top: 40px;
  margin-bottom: 20px;
}
.main_section .mv_text3 .left div a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 60px;
  margin-top: 20px;
  padding: 16px 29px 15px 30px;
  box-shadow: 15px 25px 46px 0 rgba(0, 22, 88, 0.12);
  color: #1540bf;
  font-size: 1.25rem;
  font-weight: bold;
}
.main_section .mv_text3 .left div a:after {
  content: "";
  display: block;
  background: url(../images/new/main/arrow_blue_right.png) no-repeat;
  width: 16px;
  height: 16px;
  margin-left: 5px;
}
.main_section .mv_text3 .right {
  width: 56%;
  position: relative;
  margin-top: -3.375rem;
}
.main_section .mv_text3 .right div {
  background: url(../images/new/main/img_main01.png) no-repeat;
  width: 700px;
  height: 100%;
  background-size: contain;
  margin-left: 5px;
  z-index: 99;
}
.main_section .mv_text3 .right02 {
  width: 56%;
  position: relative;
}
.main_section .mv_text4 {
  height: 100vh;
  position: relative;
  display: flex;
  padding-top: 17.1875rem;
}
.main_section .mv_text4 .left {
  width: 50%;
}
.main_section .mv_text4 .left p {
  font-size: 3.25rem;
  font-weight: 300;
}
.main_section .mv_text4 .left p strong {
  font-weight: bold;
}
.main_section .mv_text4 .left span {
  display: inline-block;
  font-size: 1.375rem;
  color: #606060;
  line-height: 1.8;
  margin-top: 40px;
  margin-bottom: 20px;
}
.main_section .mv_text4 .left div a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 60px;
  margin-top: 20px;
  padding: 16px 29px 15px 30px;
  box-shadow: 15px 25px 46px 0 rgba(0, 22, 88, 0.12);
  color: #1540bf;
  font-size: 1.25rem;
  font-weight: bold;
}
.main_section .mv_text4 .left div a:after {
  content: "";
  display: block;
  background: url(../images/new/main/arrow_blue_right.png) no-repeat;
  width: 16px;
  height: 16px;
  margin-left: 5px;
}
.main_section .mv_text4 .right {
  width: 50%;
  position: relative;
  margin-top: -3.375rem;
}
.main_section .mv_text4 .right div {
  background: url(../images/new/main/img_main01.png) no-repeat;
  width: 700px;
  height: 100%;
  background-size: contain;
  margin-left: 5px;
  z-index: 99;
}
.main_section .back_img01 {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 387px;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.main_section .back_img01 div {
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 370px;
  margin: 80.3px 0 0;
  background-image: linear-gradient(to bottom, #c8d9ff, #c8d9ff 36%, #fbfcfe);
  transform: rotate(-5deg);
}

.linkedMain {
  background-color: #e9f0ff;
}
.linkedMain .mv_text5 {
  height: 100vh;
  position: relative;
  padding-top: 17.1875rem;
}
.linkedMain .mv_text5 .mv_title {
  width: 100%;
}
.linkedMain .mv_text5 .mv_title p {
  text-align: center;
}
.linkedMain .mv_text5 .flex_wrap {
  display: flex;
}
.linkedMain .mv_text5 .flex_wrap .left {
  width: 50%;
}
.linkedMain .mv_text5 .flex_wrap .right {
  width: 50%;
}

.mySwiper {
  height: 100%;
}
.mySwiper .mv_text1 {
  padding-top: 17.1875rem;
}
.mySwiper .mv_text1 * {
  color: #fff;
}
.mySwiper .mv_text1 > span {
  font-size: 1.375rem;
  font-weight: 500;
  background: #1540bf;
  border-radius: 30px;
  text-align: center;
  display: inline-block;
  padding: 0px 5px;
}
.mySwiper .mv_text1 p {
  font-size: 3rem;
  line-height: 1.42;
  font-weight: 300;
  text-shadow: 0 0 8px #1540bf;
}
.mySwiper .mv_text1 p + p {
  font-size: 1.1875rem;
  margin-top: 2.1875rem;
  line-height: 1.68;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.35);
}
.mySwiper .mv_text1 p strong {
  font-weight: 700;
}
.mySwiper .mv_text2 {
  max-width: 600px;
  padding-top: 14.25rem;
}
.mySwiper .mv_text2 li {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  padding: 2.5rem 0;
}
.mySwiper .mv_text2 li span {
  font-size: 3rem;
  line-height: 1.42;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 0 12px rgba(21, 100, 191, 0.22);
}
.mySwiper .mv_text2 li p {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 2.2;
  color: #fff;
  margin-left: 4.375rem;
  text-shadow: 0 0 12px rgba(21, 100, 191, 0.22);
}
.mySwiper .mv_text2 li:last-child {
  border-bottom: none;
}
.mySwiper .swiper-pagination {
  text-align: right;
  right: 17.5rem;
  left: auto !important;
  width: auto !important;
  bottom: 29% !important;
}
.mySwiper .swiper-pagination p {
  width: 80px;
  margin: 0 !important;
  border-radius: 0;
  height: 2px;
  background: rgba(255, 255, 255, 0.6) !important;
  opacity: 1;
  font-weight: 700;
}
.mySwiper .swiper-pagination p.swiper-pagination-bullet-active {
  background: #fff !important;
}
.mySwiper .swiper-pagination p:first-child span {
  position: absolute;
  top: 2px;
  left: -22px;
  display: block;
}
.mySwiper .swiper-pagination p:last-child span {
  position: absolute;
  top: 2px;
  right: -22px;
  display: block;
}
.mySwiper .swiper-pagination p span {
  color: #fff;
  display: none;
  font-size: 1rem;
}

.main_tab {
  background: #f6f8f9;
}
.main_tab .main_tab_ul {
  display: flex;
  position: relative;
  z-index: 2;
}
.main_tab .main_tab_ul li {
  background: #fff;
  width: 25%;
  position: relative;
  top: 0;
}
.main_tab .main_tab_ul li * {
  color: #606060;
}
.main_tab .main_tab_ul li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 11.9375rem 0rem 3.5625rem 2.4375rem;
}
.main_tab .main_tab_ul li a h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.3125rem;
}
.main_tab .main_tab_ul li a p {
  font-weight: 300;
  line-height: 1.25;
}
.main_tab .main_tab_ul li.active {
  box-shadow: 0 0 60px 0 #1540bf;
  background-color: #1540bf;
  position: relative;
  top: -0.75rem;
}
.main_tab .main_tab_ul li.active:before {
  opacity: 1;
}
.main_tab .main_tab_ul li.active:first-child {
  background: #1540bf url(../images/img-main-icon01-active.png) no-repeat 16% 16%;
}
.main_tab .main_tab_ul li.active:nth-child(2) {
  background: #1540bf url(../images/img-main-icon02-active.png) no-repeat 16% 16%;
}
.main_tab .main_tab_ul li.active:nth-child(3) {
  background: #1540bf url(../images/img-main-icon03-active.png) no-repeat 16% 16%;
}
.main_tab .main_tab_ul li.active:last-child {
  background: #1540bf url(../images/img-main-icon04-active.png) no-repeat 16% 16%;
}
.main_tab .main_tab_ul li.active h2 {
  color: #fff;
}
.main_tab .main_tab_ul li.active p {
  color: rgba(255, 255, 255, 0.8);
}
.main_tab .tab_cont {
  padding-bottom: 10rem;
  padding-top: 8rem;
}
.main_tab .tab_cont .tab_cont_a {
  display: none;
}
.main_tab .tab_cont .tab_cont_a.active {
  display: block;
}
.main_tab .tab_cont .tab_cont_a > div {
  display: flex;
  justify-content: space-between;
}
.main_tab .tab_cont .tab_text {
  width: 50%;
}
.main_tab .tab_cont .tab_text a {
  margin-bottom: 1.25rem;
  display: inline-block;
}
.main_tab .tab_cont .tab_text p {
  font-size: 1.25rem;
  color: #606060;
  font-weight: 500;
  line-height: 1.6;
}
.main_tab .tab_cont .tab_text ul {
  margin-top: 3.125rem;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-flow: row wrap;
}
.main_tab .tab_cont .tab_text ul li {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
  color: #606060;
  font-weight: 300;
  text-decoration: underline;
  width: 50%;
  position: relative;
  padding-left: 1.5rem;
}
.main_tab .tab_cont .tab_text ul li:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  top: 13px;
  left: 0;
  background: #1540bf;
}
.main_tab .tab_cont .tab_text .w100 li {
  width: 100%;
}
.main_tab .tab_cont .tab_text .w100 li span {
  font-weight: 700;
  vertical-align: 0;
  color: #606060;
}
.main_tab .tab_cont .tab_img {
  width: 50%;
  position: relative;
}
.main_tab .tab_cont .tab_img .img {
  background-position: 50%;
  height: 26.25rem;
  width: 100%;
  text-indent: -9999px;
}
.main_tab .tab_cont .tab_img a {
  box-shadow: 4px 0 8px 0 #00185e;
  background-color: #1540bf;
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  width: 200px;
  position: absolute;
  bottom: 1.5rem;
  left: -2.25rem;
  padding: 1.5rem 0;
}
.main_tab .tab_cont .tab_img a:before {
  content: "";
  position: absolute;
  width: 36px;
  height: 21px;
  top: -20px;
  left: 0;
  background: url(../images/img-triangle.png) no-repeat;
}

.border_title {
  font-size: 3rem;
  font-weight: 700;
  color: #000;
  line-height: 1;
  position: relative;
  z-index: 0;
}
.border_title:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 12px;
  top: 85%;
  left: 0;
  background: #709bff;
  opacity: 0.6;
  z-index: -1;
}

/*# sourceMappingURL=main.css.map */
