.br_420 {
  display: none;
}

/* ajax loading image */
.wrap-loading {
  z-index: 1060;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr="#20000000", endColorstr="#20000000");
}
.wrap-loading div {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -200px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.main_visual {
  position: relative;
}

.sectionBtn {
  position: absolute;
  top: calc(50% - 90px);
  left: 95px;
}
.sectionBtn ul li {
  background-color: #709bff;
  border: solid 1px #709bff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-bottom: 16px;
  cursor: pointer;
}
.sectionBtn ul li:hover {
  box-shadow: 0 0 10px #709bff;
}
.sectionBtn ul li.on {
  background-color: #1540bf;
}

.main_section {
  height: 100%;
  position: relative;
}
.main_section .mv_text1 {
  height: 100vh;
  position: relative;
  min-height: 998px;
}
.main_section .mv_text1 > p {
  text-align: center;
  color: #c8d9ff;
  font-size: 1.5rem;
  font-weight: 200;
  margin-top: 60px;
}
.main_section .mv_text1 .title_main {
  padding-top: 17.1875rem;
  display: flex;
  justify-content: center;
}
.main_section .mv_text1 .title_main * {
  color: #fff;
}
.main_section .mv_text1 .title_main p {
  font-size: 3rem;
  line-height: 1.42;
  font-weight: 300;
  text-shadow: 0 0 8px #1540bf;
}
.main_section .mv_text1 .title_main p + p {
  font-size: 1.1875rem;
  margin-top: 2.1875rem;
  line-height: 1.68;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.35);
}
.main_section .mv_text1 .title_main p strong {
  font-size: 5.25rem;
  font-weight: 700;
}
.main_section .mv_text1 .title_main .left {
  font-size: 1.375rem;
  font-weight: 500;
  background-color: transparent;
  border-radius: 0;
  text-align: center;
  display: inline-block;
  padding: 0 5px;
  width: 36px;
  border: solid 4px #fff;
  border-right: 0;
  margin-right: 40px;
}
.main_section .mv_text1 .title_main .right {
  font-size: 1.375rem;
  font-weight: 500;
  background-color: transparent;
  border-radius: 0;
  text-align: center;
  display: inline-block;
  padding: 0 5px;
  width: 36px;
  border: solid 4px #fff;
  border-left: 0;
  margin-left: 40px;
}
.main_section .mv_text1 .scrollDown_wrap {
  position: absolute;
  bottom: -50px;
  width: 102px;
  height: 102px;
  left: calc(50% - 51px);
  cursor: pointer;
}
.main_section .mv_text1 .scrollDown_wrap:hover .scrollDown_arrow_wrap, .main_section .mv_text1 .scrollDown_wrap:active .scrollDown_arrow_wrap {
  top: -25px;
  transition: 0.4s;
}
.main_section .mv_text1 .scrollDown_wrap:hover .scrollDown_circle {
  margin: 20px auto;
  width: 80px;
  height: 80px;
  transition: 0.4s;
}
.main_section .mv_text1 .scrollDown_wrap .scrollDown_arrow_wrap {
  position: absolute;
  top: -40px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  transition: 0.4s;
}
.main_section .mv_text1 .scrollDown_wrap .scrollDown_arrow_wrap span {
  color: #c8d9ff;
  font-size: 0.75rem;
  animation-delay: 0s;
  animation-duration: 1.6s;
  animation-name: opacity;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes opacity {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}
.main_section .mv_text1 .scrollDown_wrap .scrollDown_arrow_wrap .scrollDown_arrow {
  background: url(../images/new/main/icon_h_arrow.png) no-repeat;
  width: 18px;
  height: 78px;
  margin: 5px auto 0;
}
.main_section .mv_text1 .scrollDown_wrap .scrollDown_circle {
  background-color: #1540bf;
  width: 102px;
  height: 102px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main_section .mv_text3 {
  height: 100vh;
  position: relative;
  display: flex;
  padding-top: 12.5rem;
}
.main_section .mv_text3 .left {
  width: 44%;
}
.main_section .mv_text3 .left p {
  font-size: 3.25rem;
  font-weight: 300;
}
.main_section .mv_text3 .left p strong {
  font-weight: bold;
}
.main_section .mv_text3 .left p strong span {
  display: inline-block;
  font-size: 3.25rem;
  font-weight: 300;
  vertical-align: baseline;
  margin: 0;
}
.main_section .mv_text3 .left span {
  display: inline-block;
  font-size: 1.375rem;
  color: #606060;
  line-height: 1.8;
  margin-top: 40px;
  margin-bottom: 20px;
}
.main_section .mv_text3 .left div a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 60px;
  margin-top: 20px;
  padding: 16px 29px 15px 30px;
  box-shadow: 15px 25px 46px 0 rgba(0, 22, 88, 0.12);
  color: #1540bf;
  font-size: 1.25rem;
  font-weight: bold;
}
.main_section .mv_text3 .left div a:after {
  content: "";
  display: block;
  background: url(../images/new/main/arrow_blue_right.png) no-repeat;
  width: 16px;
  height: 16px;
  margin-left: 5px;
}
.main_section .mv_text3 .right {
  width: 56%;
  position: relative;
  margin-top: -3.5rem;
}
.main_section .mv_text3 .right div {
  background: url(../images/new/main/img_main01.png) no-repeat;
  width: 700px;
  height: 100%;
  background-size: contain;
  margin-left: 5px;
  z-index: 99;
}
.main_section .mv_text3 .right02 {
  width: 56%;
  position: relative;
}
.main_section .back_img01 {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 387px;
  z-index: -1;
}
.main_section .back_img01 div {
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 370px;
  margin: 80.3px 0 0;
  background-image: linear-gradient(to bottom, #c8d9ff, #c8d9ff 36%, #fbfcfe);
  transform: rotate(-5deg);
}

.slide_video {
  position: relative;
  background-color: #1540bf;
}
.slide_video .mv_text4 {
  height: 100vh;
  position: relative;
  display: flex;
  padding-top: 17.1875rem;
}
.slide_video .mv_text4 .swiper_text_wrap {
  width: 44%;
}
.slide_video .mv_text4 .swiper_text_wrap .swiper_text {
  width: 100%;
  display: none;
}
.slide_video .mv_text4 .swiper_text_wrap .swiper_text.on {
  display: block;
}
.slide_video .mv_text4 .swiper_text_wrap .swiper_text.on p {
  font-size: 3.25rem;
  font-weight: 300;
  color: #fff;
}
.slide_video .mv_text4 .swiper_text_wrap .swiper_text.on p strong {
  font-weight: bold;
}
.slide_video .mv_text4 .swiper_text_wrap .swiper_text.on span {
  display: inline-block;
  font-size: 1.375rem;
  color: #c8d9ff;
  line-height: 1.8;
  margin-top: 40px;
  margin-bottom: 20px;
}
.slide_video .mv_text4 .swiper_text_wrap .swiper_text.on div a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 60px;
  margin-top: 20px;
  box-shadow: 15px 25px 46px 0 rgba(0, 22, 88, 0.12);
  color: #1540bf;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #fff;
}
.slide_video .mv_text4 .swiper_text_wrap .swiper_text.on div a:after {
  content: "";
  display: block;
  background: url(../images/new/main/arrow_blue_right.png) no-repeat;
  width: 16px;
  height: 16px;
  margin-left: 5px;
}
.slide_video .mySwiper {
  width: 56%;
  overflow: hidden;
  position: absolute;
  top: 280px;
  left: 44%;
}
.slide_video .mySwiper .right div {
  background-color: #ccc;
  border: solid;
  width: 100%;
  height: 400px;
}

.swiper-pagination {
  width: calc(66% - 190px);
  top: 220px;
  left: 44%;
  position: relative;
  text-align: left !important;
}
.swiper-pagination:before {
  content: "";
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.6) !important;
  position: absolute;
  top: 13px;
  left: 0;
}
.swiper-pagination p {
  width: 122px;
  margin: 0 !important;
  border-radius: 0;
  height: 2px;
  opacity: 1;
  font-weight: 700;
  position: relative;
  background-color: transparent;
}
.swiper-pagination p.swiper-pagination-bullet-active {
  background: #fff !important;
}
.swiper-pagination p.swiper-pagination-bullet-active span {
  color: #fff;
}
.swiper-pagination p span {
  position: absolute;
  bottom: 12px;
  left: 0;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 100%;
  font-size: 1.375rem;
}

.list_solution > li {
  margin: 0 0 16px;
  box-shadow: 15px 25px 46px 0 rgba(69, 102, 200, 0.26);
  background-color: #fcfdfe;
}
.list_solution > li .list_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}
.list_solution > li .list_title p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #969aaf;
}
.list_solution > li .list_title span {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-top: solid 3px #969aaf;
  border-right: solid 3px #969aaf;
  transform: rotate(135deg);
}
.list_solution > li .list_text {
  overflow: hidden;
  height: 0;
  padding: 0 40px;
  border-top: solid 1px #f3f3f3;
  transition: 0.2s;
}
.list_solution > li .list_text .list_sub_title {
  font-size: 1.125rem;
  color: #1540bf;
  font-weight: bold;
  margin-bottom: 20px;
}
.list_solution > li .list_text .list_sub_text {
  display: flex;
  justify-content: space-between;
}
.list_solution > li .list_text .list_sub_text > div {
  width: calc(50% - 10px);
  background-color: #f9f9f9;
  padding: 20px;
}
.list_solution > li.on .list_title p {
  color: #000;
}
.list_solution > li.on .list_title span {
  border-top: solid 3px #000;
  border-right: solid 3px #000;
  transform: rotate(-45deg);
}
.list_solution > li.on .list_text {
  height: 100%;
  padding: 20px 40px;
  transition: 0.2s;
}

.sub_text_info > div {
  display: flex;
  margin-bottom: 10px;
}
.sub_text_info > div .num {
  font-size: 1.125rem;
  font-weight: bold;
  color: #709bff;
  margin-right: 10px;
}
.sub_text_info > div p {
  font-size: 1.125rem;
  font-weight: bold;
}
.sub_text_info > ul li {
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-size: 0.875rem;
  color: #606060;
}
.sub_text_info > ul li:before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #969aaf;
  margin-right: 10px;
}

.linkedMain {
  background-color: #e9f0ff;
}
.linkedMain .mv_text5 {
  height: 100vh;
  position: relative;
  padding-top: 3.75rem;
}
.linkedMain .mv_text5 .mv_title {
  width: 100%;
  margin-bottom: 40px;
}
.linkedMain .mv_text5 .mv_title p {
  text-align: center;
  font-size: 3.25rem;
}
.linkedMain .mv_text5 .flex_wrap {
  display: flex;
  justify-content: space-between;
}
.linkedMain .mv_text5 .flex_wrap > div {
  width: calc(50% - 10px);
}
.linkedMain .mv_text5 .flex_wrap > div .linked_img {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3764705882);
  box-shadow: 15px 25px 46px 0 rgba(0, 22, 88, 0.25);
  position: relative;
}
.linkedMain .mv_text5 .flex_wrap > div .linked_img .ab_img {
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 150px);
  width: 300px;
  height: 80px;
}
.linkedMain .mv_text5 .flex_wrap > div .linked_img img {
  display: block;
  width: 100%;
}
.linkedMain .mv_text5 .flex_wrap > div .linked_title {
  display: flex;
  margin-top: 20px;
}
.linkedMain .mv_text5 .flex_wrap > div .linked_title p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 10px;
}
.linkedMain .mv_text5 .flex_wrap > div .linked_title span {
  font-size: 1.5rem;
  font-weight: 300;
}
.linkedMain .mv_text5 .flex_wrap > div .linked_btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 60px;
  margin-top: 20px;
  box-shadow: 15px 25px 46px 0 rgba(0, 22, 88, 0.12);
  color: #1540bf;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #fff;
}
.linkedMain .mv_text5 .flex_wrap > div .linked_btn a:after {
  content: "";
  display: block;
  background: url(../images/new/main/arrow_blue_right.png) no-repeat;
  width: 16px;
  height: 16px;
  margin-left: 5px;
}
.linkedMain .mv_text5 .flex_wrap > div .none_btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 60px;
  margin-top: 20px;
  box-shadow: 15px 25px 46px 0 rgba(0, 22, 88, 0.12);
  color: #969aaf;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #e2e2e2;
}

.main_tab {
  background: #f6f8f9;
}
.main_tab .main_tab_ul {
  display: flex;
  position: relative;
  z-index: 2;
}
.main_tab .main_tab_ul li {
  background: #fff;
  width: 25%;
  position: relative;
  top: 0;
}
.main_tab .main_tab_ul li * {
  color: #606060;
}
.main_tab .main_tab_ul li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 11.9375rem 0rem 3.5625rem 2.4375rem;
}
.main_tab .main_tab_ul li a h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.3125rem;
}
.main_tab .main_tab_ul li a p {
  font-weight: 300;
  line-height: 1.25;
}
.main_tab .main_tab_ul li.active {
  box-shadow: 0 0 60px 0 #1540bf;
  background-color: #1540bf;
  position: relative;
  top: -0.75rem;
}
.main_tab .main_tab_ul li.active:before {
  opacity: 1;
}
.main_tab .main_tab_ul li.active:first-child {
  background: #1540bf url(../images/img-main-icon01-active.png) no-repeat 16% 16%;
}
.main_tab .main_tab_ul li.active:nth-child(2) {
  background: #1540bf url(../images/img-main-icon02-active.png) no-repeat 16% 16%;
}
.main_tab .main_tab_ul li.active:nth-child(3) {
  background: #1540bf url(../images/img-main-icon03-active.png) no-repeat 16% 16%;
}
.main_tab .main_tab_ul li.active:last-child {
  background: #1540bf url(../images/img-main-icon04-active.png) no-repeat 16% 16%;
}
.main_tab .main_tab_ul li.active h2 {
  color: #fff;
}
.main_tab .main_tab_ul li.active p {
  color: rgba(255, 255, 255, 0.8);
}
.main_tab .tab_cont {
  padding-bottom: 10rem;
  padding-top: 8rem;
}
.main_tab .tab_cont .tab_cont_a {
  display: none;
}
.main_tab .tab_cont .tab_cont_a.active {
  display: block;
}
.main_tab .tab_cont .tab_cont_a > div {
  display: flex;
  justify-content: space-between;
}
.main_tab .tab_cont .tab_text {
  width: 50%;
}
.main_tab .tab_cont .tab_text a {
  margin-bottom: 1.25rem;
  display: inline-block;
}
.main_tab .tab_cont .tab_text p {
  font-size: 1.25rem;
  color: #606060;
  font-weight: 500;
  line-height: 1.6;
}
.main_tab .tab_cont .tab_text ul {
  margin-top: 3.125rem;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-flow: row wrap;
}
.main_tab .tab_cont .tab_text ul li {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
  color: #606060;
  font-weight: 300;
  text-decoration: underline;
  width: 50%;
  position: relative;
  padding-left: 1.5rem;
}
.main_tab .tab_cont .tab_text ul li:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  top: 13px;
  left: 0;
  background: #1540bf;
}
.main_tab .tab_cont .tab_text .w100 li {
  width: 100%;
}
.main_tab .tab_cont .tab_text .w100 li span {
  font-weight: 700;
  vertical-align: 0;
  color: #606060;
}
.main_tab .tab_cont .tab_img {
  width: 50%;
  position: relative;
}
.main_tab .tab_cont .tab_img .img {
  background-position: 50%;
  height: 26.25rem;
  width: 100%;
  text-indent: -9999px;
}
.main_tab .tab_cont .tab_img a {
  box-shadow: 4px 0 8px 0 #00185e;
  background-color: #1540bf;
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  width: 200px;
  position: absolute;
  bottom: 1.5rem;
  left: -2.25rem;
  padding: 1.5rem 0;
}
.main_tab .tab_cont .tab_img a:before {
  content: "";
  position: absolute;
  width: 36px;
  height: 21px;
  top: -20px;
  left: 0;
  background: url(../images/img-triangle.png) no-repeat;
}

.border_title {
  font-size: 3rem;
  font-weight: 700;
  color: #000;
  line-height: 1;
  position: relative;
  z-index: 0;
}
.border_title:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 12px;
  top: 85%;
  left: 0;
  background: #709bff;
  opacity: 0.6;
  z-index: -1;
}

@media (max-width: 1600px) {
  .sectionBtn {
    left: 40px;
  }
  .main_section .mv_text3 {
    height: auto;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 8.75rem 100px;
  }
  .main_section .mv_text3 .left {
    width: 100%;
  }
  .main_section .mv_text3 .right {
    width: 100%;
  }
  .main_section .mv_text3 .right div {
    width: 80%;
    height: 560px;
    margin-left: 20%;
    margin-top: 80px;
  }
  .main_section .mv_text3 .right02 {
    width: 100%;
    margin-top: 40px;
  }
  .main_section .back_img01 {
    height: 290px;
  }
  .slide_video {
    padding: 100px;
  }
  .slide_video .mv_text4 {
    height: auto;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
  }
  .slide_video .mv_text4 .swiper_text_wrap {
    width: 100%;
  }
  .slide_video .mySwiper {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding: 160px 0 0;
    overflow: hidden;
  }
  .linkedMain .mv_text5 {
    height: auto;
    padding: 5rem 100px;
  }
  .swiper-pagination {
    top: 570px;
    left: 100px;
    width: calc(100% - 200px);
  }
}
@media (max-width: 1400px) {
  html {
    font-size: 81.3% !important;
  }
  .main_section .wrap_img {
    background-size: cover !important;
  }
  .main_section .wrap_img .mv_text1 {
    height: auto;
    min-height: 800px;
  }
  .swiper-pagination {
    top: 550px;
    left: 100px;
    width: calc(100% - 200px);
  }
  .swiper-pagination:before {
    top: 9px;
  }
  .swiper-pagination p {
    width: 33.3333333333%;
  }
  .linkedMain .mv_text5 .flex_wrap > div .linked_title {
    flex-wrap: wrap;
  }
  .linkedMain .mv_text5 .flex_wrap > div .linked_title p {
    width: 100%;
  }
  .linkedMain .mv_text5 .flex_wrap > div .linked_img .ab_img {
    top: calc(50% - 25px);
    left: calc(50% - 100px);
    width: 200px;
    height: 50px;
  }
}
@media (max-width: 767px) {
  .br_420 {
    display: block;
  }
  html {
    font-size: 62.5% !important;
  }
  .sectionBtn {
    display: none;
  }
  .main_section .wrap_img .mv_text1 {
    min-height: 600px;
  }
  .main_section .wrap_img .mv_text1 .scrollDown_wrap .scrollDown_circle {
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }
  .main_section .wrap_img .mv_text1 .title_main .left {
    margin-right: 20px;
  }
  .main_section .wrap_img .mv_text1 .title_main .right {
    margin-left: 20px;
  }
  .main_section .wrap_img .mv_text1 .title_main p strong {
    font-size: 3.75rem;
  }
  .main_section .wrap_img .mv_text1 > p {
    padding: 0 40px;
  }
  .main_section .mv_text3 {
    padding: 80px 40px;
  }
  .main_section .mv_text3 .right div {
    width: 80%;
    height: 260px;
    margin-left: 20%;
    margin-top: 80px;
  }
  .main_section .mv_text3 .left p {
    font-size: 2.5rem;
    font-weight: 300;
  }
  .main_section .mv_text3 .left p strong span {
    font-size: 2.5rem;
  }
  .main_section .mv_text3 .left div a {
    width: 160px;
    height: 48px;
  }
  .main_section .mv_text3 .left span {
    margin-top: 20px;
  }
  .main_section .back_img01 {
    height: 250px;
  }
  .slide_video {
    padding: 80px 40px;
  }
  .slide_video .mv_text4 {
    padding: 0;
  }
  .slide_video .mv_text4 .swiper_text_wrap .swiper_text.on div a {
    width: 160px;
    height: 48px;
  }
  .slide_video .mv_text4 .swiper_text_wrap .swiper_text.on p {
    font-size: 2.5rem;
  }
  .swiper-pagination {
    top: 460px;
    left: 40px;
    width: calc(100% - 82px);
  }
  .swiper-pagination:before {
    top: 7px;
  }
  .linkedMain .mv_text5 {
    padding: 80px 0;
  }
  .linkedMain .mv_text5 .flex_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 40px;
  }
  .linkedMain .mv_text5 .flex_wrap > div {
    width: 100%;
    margin-top: 40px;
  }
  .linkedMain .mv_text5 .flex_wrap > div:first-child {
    margin-top: 0;
  }
  .linkedMain .mv_text5 .flex_wrap > div:first-child .linked_img .ab_img {
    top: calc(50% - 25px);
    left: calc(50% - 100px);
    width: 200px;
    height: 50px;
  }
}
@media (max-width: 420px) {
  .main_section .wrap_img .mv_text1 .title_main .left {
    margin-right: 10px;
  }
  .main_section .wrap_img .mv_text1 .title_main .right {
    margin-left: 10px;
  }
  .main_section .wrap_img .mv_text1 .title_main p strong {
    font-size: 3.25rem;
  }
  .main_section .wrap_img .mv_text1 > p {
    padding: 0 20px;
  }
  .main_section .mv_text3 {
    padding: 60px 20px;
  }
  .main_section .mv_text3 .right div {
    width: 80%;
    height: 260px;
    margin-left: 20%;
    margin-top: 80px;
  }
  .main_section .back_img01 {
    height: 200px;
  }
  .slide_video {
    padding: 60px 20px;
  }
  .slide_video .mySwiper {
    padding: 100px 0 0;
  }
  .linkedMain .mv_text5 {
    padding: 60px 0;
  }
  .linkedMain .mv_text5 .flex_wrap {
    flex-wrap: wrap;
    padding: 0 20px;
  }
  .swiper-pagination {
    top: 400px;
    left: 20px;
    width: calc(100% - 40px);
  }
}
.animate__animated.slideInDown {
  --animate-duration: 2s;
}

/*# sourceMappingURL=main.css.map */
