<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<head>
    <title>맞춤형 교육</title>
    <meta property="og:url" content="">
    <meta property="og:title" content="소공자 플랫폼 | 맞춤형 교육">
    <meta property="og:image" th:content="@{/images/img-logo-black.png}">
    <meta property="og:description" content="소공자 플랫폼 맞춤형 교육">
    <meta name="keywords" content="소공자 플랫폼, 소공자 과외방, 교육, 추천교육">
    <meta name="description" content="소공자 플랫폼 맞춤형 교육">
</head>

<body>
    <article layout:fragment="content">
        <section class="sub_visual">
            <div class="container">
                <h2 class="border_title">소공자 과외방</h2>
                <p>입력한 정보를 기반으로 나에게 필요한 교육 및 컨설팅 콘텐츠를 맞춤형으로 제공해드립니다.</p>
            </div>
            <div class="lnb">
                <ul class="container">
                    <li class=""><a th:href="@{/study/education}">소상공인 교육</a></li>
                    <li class=""><a th:href="@{/study/counseling}">소공자 컨설팅</a></li>
                    <li class="active"><a th:href="@{/solution/education}">맞춤 교육</a></li>
                    <li class=""><a th:href="@{/solution/consulting}">맞춤 컨설팅</a></li>
                </ul>
            </div>
        </section>
        <section class="wrap">
            <div class="sub_container solution_edu_wrap">
                <div class="solution_edu">
                    <div class="h3_title_wrap h3_flex">
                        <h3 class="h3_title">추천교육</h3>
                        <div>
                            <input type="checkbox" id="edu_hide" class="checkbox_style c181818">
                            <label for="edu_hide">이미 수강한 교육 감추기</label>
                        </div>
                    </div>
                    <div class="solution_edu_recommend" th:classappend="${#lists.size(recommendList) > 3} ? 'more_recommend'">
                        <ul class="af">
                            <li th:each="item : ${recommendList}">
                                <div class="thumb_img">
                                    <div class="view_favorite">
                                        <button type="button" class="favorite" th:data-edu-seq="${item.edu_seq}">찜하기</button>
                                        <!--                                    수강완료되었을 때-->
                                        <!--                                    <span class="edu_done"></span>-->
                                        <!--                                    수강완료 전-->
                                        <span class="edu_none"></span>
                                    </div>
                                </div>
                                <div class="text_wrap">
                                    <div>
                                        <span class="Agency">지원기관 이름 나와야함.</span>
                                        <span class="view m_del" th:text="${item.read_cnt}">12</span>
                                    </div>
                                    <h4>
                                        <a th:href="${item.edu_url}" target="_blank" th:text="${item.subject}">소상공인들을 위한 희망센터 안내 교육센터 </a>
                                    </h4>
                                    <div class="flex_right_view">
                                        <span class="view" th:text="${item.read_cnt}">12</span>
                                    </div>
                                </div>
<!--                                <div class="edu_flex">-->
<!--                                    <ul class="hashtag" th:if="${not #strings.isEmpty(item.tags)}">-->
<!--                                        <th:block th:each="tag : ${#strings.arraySplit(item.tags,',')}">-->
<!--                                            <li><a href="#n" th:text="|#${tag}|">#교양</a></li>-->
<!--                                        </th:block>-->
<!--                                    </ul>-->
<!--                                    <button type="button" class="edu_more_box" th:data-edu-seq="${item.edu_seq}">더보기</button>-->
<!--                                    <ul class="edu_more_box2">-->
<!--                                        <li><a href="#n">수강완료</a></li>-->
<!--                                        <li><a href="#n">수강하기</a></li>-->
<!--                                        <li><a href="#n">관심교육 해제</a></li>-->
<!--                                        <li><a href="#n">관심교육 등록</a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
                            </li>
                        </ul>
                        <div class="edu_more">
                            <a href="#n">더보기<span>더보기</span></a>
                        </div>
                    </div>
                </div>
                <div class="edu_list_wrap">
                    <form name="searchForm" th:action="@{/solution/education}" th:object="${params}">
                        <th:block th:include="fragments/search_hidden"></th:block>
                    </form>
                    <div class="h3_title_wrap">
                        <h3 class="h3_title">다른 사용자가 자주 찾는 교육</h3>
                        <th:block th:include="fragments/paging_result :: paging_result('total')"></th:block>
                    </div>
                    <ul class="edu_list af" th:unless="${#lists.isEmpty(list)}">
                        <th:block th:each="item : ${list}">
                            <th:block th:if="${#strings.isEmpty(item.thumbnail_path)}">
                                <li>
                                    <div class="thumb_img">
                                        <div class="view_favorite">
                                            <button type="button" th:class="${item.favorite == true ? 'favorite on':'favorite'}" th:data-edu-seq="${item.edu_seq}" th:onclick="favorite([[${item.edu_seq}]])">찜하기</button>
                                            <!--                                    수강완료되었을 때-->
                                            <!--                                    <span class="edu_done"></span>-->
                                            <!--                                    수강완료 전-->
                                            <span class="edu_none"></span>
                                        </div>
                                    </div>
                                    <div class="text_wrap">
                                        <div>
                                            <span class="Agency">지원기관 이름 나와야함.</span>
                                            <span class="view m_del" th:text="${item.read_cnt}">12</span>
                                        </div>
                                        <h4>
                                            <a th:onclick="detailEducation([[${item.edu_seq}]])" target="_blank" th:text="${item.subject}">소상공인들을 위한 희망센터 안내 교육센터 </a>
                                        </h4>
                                        <div class="flex_right_view">
                                            <span class="view" th:text="${item.read_cnt}">12</span>
                                        </div>
                                    </div>
                                </li>
                            </th:block>
                            <th:block th:unless="${#strings.isEmpty(item.thumbnail_path)}">
                                <li class="thumnail" >
                                    <div class="thumb_img" th:style="|background-image: url('@{|/thumb/${item.thumbnail_path}|}');|">
                                        <div class="view_favorite">
                                            <button type="button" class="favorite" th:data-edu-seq="${item.edu_seq}">찜하기</button>
                                        </div>
                                    </div>
                                    <div class="text_wrap">
                                        <div>
                                            <span class="Agency">지원기관 이름 나와야함.</span>
                                            <span class="view m_del" th:text="${item.read_cnt}">12</span>
                                        </div>
                                        <h4>
                                            <a th:href="${item.edu_url}" target="_blank" th:text="${item.subject}">소상공인들을 위한 희망센터 안내 교육센터 </a>
                                        </h4>
                                        <div class="flex_right_view">
                                            <span class="view" th:text="${item.read_cnt}">12</span>
                                        </div>
                                    </div>
                                </li>
                            </th:block>
                        </th:block>
                    </ul>
                </div>
                <th:block th:include="fragments/paging"></th:block>
            </div>
        </section>
    </article>
    <th:block layout:fragment="custom_js">
        <script th:src="@{/js/pages/solution/education_list.js}"></script>
    </th:block>
</body>

</html>