<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<head>
    <title>맞춤형 교육</title>
    <meta property="og:url" content="">
    <meta property="og:title" content="소공자 플랫폼 | 맞춤형 교육">
    <meta property="og:image" th:content="@{/images/img-logo-black.png}">
    <meta property="og:description" content="소공자 플랫폼 맞춤형 교육">
    <meta name="keywords" content="소공자 플랫폼, 소공자 과외방, 교육, 추천교육">
    <meta name="description" content="소공자 플랫폼 맞춤형 교육">
</head>

<body>
    <article layout:fragment="content">
        <section class="sub_visual">
            <div class="container">
                <h2 class="border_title">맞춤 교육</h2>
                <p>입력한 정보를 기반으로 나에게 필요한 교육 및 컨설팅 콘텐츠를 맞춤형으로 제공해드립니다.</p>
            </div>
            <div class="lnb">
                <div class="m_tab">맞춤 교육</div>
                <ul class="container">
                    <li class=""><a th:href="@{/study/education}">소상공인 교육</a></li>
                    <li class=""><a th:href="@{/study/consulting}">소공자 컨설팅</a></li>
                    <li class="active"><a th:href="@{/solution/education}">맞춤 교육</a></li>
                    <li class=""><a th:href="@{/solution/consulting}">맞춤 컨설팅</a></li>
                </ul>
            </div>
        </section>
        <section class="wrap">
            <div class="sub_container solution_edu_wrap">
                <div class="solution_edu">
                    <div class="h3_title_wrap h3_flex">
                        <h3 class="h3_title">추천교육</h3>
                        <form name="searchForm1" th:action="@{/solution/education}" th:object="${params}">
                            <input type="hidden" th:field="*{eduWatchingView1}" >
                            <input type="hidden" th:field="*{eduWatchingView2}" >
                            <div class="mb_20">
                                <input type="checkbox" id="edu_watching_hide1" class="checkbox_style c181818" th:checked="${params.eduWatchingView1 == true}" onchange="edu_watching_hide();">
                                <label for="edu_watching_hide1">이미 수강한 교육 감추기</label>
                            </div>
                        </form>
                    </div>
                    <div class="solution_edu_recommend" th:classappend="${#lists.size(recommendList) > 3} ? 'more_recommend'">
                        <ul class="af">
                            <th:block th:if="${#lists.isEmpty(recommendList)}">
                                <div class="none_contents">
                                    <span></span>
                                    <p>컨텐츠가 존재하지 않습니다.</p>
                                </div>
                            </th:block>
                            <li th:each="item : ${recommendList}" th:unless="${#lists.isEmpty(recommendList)}">
                                <div class="thumb_img" th:style="|background-image: url('@{|/thumb/${item.thumbnail_path}|}');|" th:if="${item.thumbnail_path ne null}">
                                    <div class="view_favorite">
                                        <input type="hidden" id="edu_mark_seq" th:value="${item.edu_mark_seq}">
                                        <button type="button" th:class="${item.edu_mark_seq ne null ? 'favorite on':'favorite'}" th:data-edu-seq="${item.edu_seq}" th:onclick="favorite([[${item.edu_seq}]])" >찜하기</button>
                                        <span th:classappend="${item.edu_watching_seq ne null ? 'edu_done':'edu_none'}" name="watchingSucess" th:data-edu-seq="${item.edu_seq}" style="cursor: pointer"></span>
                                    </div>
                                </div>
                                <div class="thumb_img" th:style="|background-image: url('@{|${item.crawl_url}|}');|" th:if="${item.thumbnail_path eq null && item.crawl_url ne null}">
                                    <div class="view_favorite">
                                        <input type="hidden" id="edu_mark_seq" th:value="${item.edu_mark_seq}">
                                        <button type="button" th:class="${item.edu_mark_seq ne null ? 'favorite on':'favorite'}" th:data-edu-seq="${item.edu_seq}" th:onclick="favorite([[${item.edu_seq}]])" >찜하기</button>
                                        <span th:classappend="${item.edu_watching_seq ne null ? 'edu_done':'edu_none'}" name="watchingSucess" th:data-edu-seq="${item.edu_seq}" style="cursor: pointer"></span>
                                    </div>
                                </div>
                                <div class="thumb_img" th:style="|background-image: url('@{|/images/default_thumb.jpg|}');|" th:if="${item.thumbnail_path eq null && item.crawl_url eq null}">
                                    <div class="view_favorite">
                                        <input type="hidden" id="edu_mark_seq" th:value="${item.edu_mark_seq}">
                                        <button type="button" th:class="${item.edu_mark_seq ne null ? 'favorite on':'favorite'}" th:data-edu-seq="${item.edu_seq}" th:onclick="favorite([[${item.edu_seq}]])" >찜하기</button>
                                        <span th:classappend="${item.edu_watching_seq ne null ? 'edu_done':'edu_none'}" name="watchingSucess" th:data-edu-seq="${item.edu_seq}" style="cursor: pointer"></span>
                                    </div>
                                </div>
                                <div class="text_wrap">
                                    <div>
                                        <span class="Agency">[[${item.support_org_name}]]</span>
                                        <span class="view m_del" th:text="${item.read_cnt}">12</span>
                                    </div>
                                    <h4>
                                        <a th:onclick="detailEducation([[${item.edu_seq}]])" target="_blank" th:text="${item.subject}">소상공인들을 위한 희망센터 안내 교육센터 </a>
                                    </h4>
                                    <div class="flex_right_view">
                                        <span class="view" th:text="${item.read_cnt}">12</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="edu_more" onclick="edu_more(this);">
                            <a href="#n">더보기<span>더보기</span></a>
                        </div>
                    </div>
                </div>
                <div class="edu_list_wrap">
                    <form name="searchForm" th:action="@{/solution/education}" th:object="${params}">
                        <input type="hidden" th:field="*{eduWatchingView1}" >
                        <input type="hidden" th:field="*{eduWatchingView2}" >
                        <th:block th:include="fragments/search_hidden"></th:block>
                    </form>
                    <div class="h3_title_wrap h3_flex">
                        <div>
                            <h3 class="h3_title">다른 사용자가 자주 찾는 교육</h3>
                            <th:block th:include="fragments/paging_result :: paging_result('total')"></th:block>
                        </div>
                        <div class="mb_20">
                            <input type="checkbox" id="edu_watching_hide2" class="checkbox_style c181818" th:checked="${params.eduWatchingView2 == true}" onchange="edu_watching_hide2();">
                            <label for="edu_watching_hide2">이미 수강한 교육 감추기</label>
                        </div>
                    </div>
                    <th:block th:if="${#lists.isEmpty(eduList)}">
                        <div class="none_contents">
                            <span></span>
                            <p>컨텐츠가 존재하지 않습니다.</p>
                        </div>
                    </th:block>
                    <ul class="edu_list af">
                        <th:block th:each="item : ${eduList}" th:unless="${#lists.isEmpty(eduList)}">
                                <li class="thumnail">
                                    <div class="thumb_img" th:style="|background-image: url('@{|/thumb/${item.thumbnail_path}|}');|" th:if="${item.thumbnail_path ne null}">
                                        <div class="view_favorite">
                                            <button type="button" th:class="${item.edu_mark_seq ne null ? 'favorite on':'favorite'}" th:data-edu-seq="${item.edu_seq}" th:onclick="favorite([[${item.edu_seq}]])" >찜하기</button>
                                            <span th:classappend="${item.edu_watching_seq ne null ? 'edu_done':'edu_none'}" name="watchingSucess" th:data-edu-seq="${item.edu_seq}" style="cursor: pointer"></span>
                                        </div>
                                    </div>
                                    <div class="thumb_img" th:style="|background-image: url('@{|${item.crawl_url}|}');|" th:if="${item.thumbnail_path eq null && item.crawl_url ne null}">
                                        <div class="view_favorite">
                                            <button type="button" th:class="${item.edu_mark_seq ne null ? 'favorite on':'favorite'}" th:data-edu-seq="${item.edu_seq}" th:onclick="favorite([[${item.edu_seq}]])" >찜하기</button>
                                            <span th:classappend="${item.edu_watching_seq ne null ? 'edu_done':'edu_none'}" name="watchingSucess" th:data-edu-seq="${item.edu_seq}" style="cursor: pointer"></span>
                                        </div>
                                    </div>
                                    <div class="thumb_img" th:style="|background-image: url('@{|/images/default_thumb.jpg|}');|" th:if="${item.thumbnail_path eq null && item.crawl_url eq null}">
                                        <div class="view_favorite">
                                            <button type="button" th:class="${item.edu_mark_seq ne null ? 'favorite on':'favorite'}" th:data-edu-seq="${item.edu_seq}" th:onclick="favorite([[${item.edu_seq}]])" >찜하기</button>
                                            <span th:classappend="${item.edu_watching_seq ne null ? 'edu_done':'edu_none'}" name="watchingSucess" th:data-edu-seq="${item.edu_seq}" style="cursor: pointer"></span>
                                        </div>
                                    </div>
                                    <div class="text_wrap">
                                        <div>
                                            <span class="Agency">[[${item.support_org_name}]]</span>
                                            <span class="view m_del" th:text="${item.read_cnt}">12</span>
                                        </div>
                                        <h4>
                                            <a th:onclick="detailEducation([[${item.edu_seq}]])" target="_blank" th:text="${item.subject}">소상공인들을 위한 희망센터 안내 교육센터 </a>
                                        </h4>
                                        <div class="flex_right_view">
                                            <span class="view" th:text="${item.read_cnt}">12</span>
                                        </div>
                                    </div>
                                </li>
                        </th:block>
                    </ul>
                    <th:block th:include="fragments/mypage_paging" ></th:block>
                </div>

            </div>
        </section>
    </article>
    <th:block layout:fragment="custom_js">
        <script th:src="@{/js/pages/solution/education_list.js}"></script>
    </th:block>
</body>

</html>