<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="fragments/common_meta"></th:block>
    <title>소공자플랫폼 커머스 도시공간분석</title>
    <meta property="og:url" content="">
    <meta property="og:title" content="소공자 플랫폼 | 커머스 도시공간분석">
    <meta property="og:image" th:content="@{/images/bg-maintext1.png}">
    <meta property="og:description" content="소공자 플랫폼 커머스 도시공간분석">
    <meta name="keywords" content="소공자 플랫폼, 커머스 도시공간분석, 상권연구소, 상권분석정보, 상권특성정보, 지역특성정보">
    <meta name="description" content="소공자 플랫폼 커머스 도시공간분석">
    <!--/* Common css */-->
    <th:block th:include="fragments/common_css"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>

<body class="area">
<article>
    <div th:replace="~{fragments/header :: header}"></div>
    <div id="map_wrap">
        <div id="map"></div>
        <div class="addressSearchTop only_commerce">
            <div class="hAddr">
                <span class="title"></span>
                <div class="addrlist">
                    <span id="centerAddr1" onclick="changeSelectBox('sido')"></span>
                    <ul id="sidoBox">시도</ul>
                </div>
                <div class="addrlist">
                    <span id="centerAddr2" onclick="changeSelectBox('sigungu')"></span>
                    <ul id="sigunguBox">시군구 조회중</ul>
                </div>
                <div class="addrlist">
                    <span id="centerAddr3" onclick="changeSelectBox('dong')"></span>
                    <ul id="dongBox">행정동 조회중</ul>
                </div>
            </div>

            <div class="searchInput">
                <form onsubmit="searchPlaces2(); return false;" id="search-place">
                    <input type="text" value="" id="keyword" size="15" placeholder="주소를 검색하세요">
                    <input type="text" style="display:none">
                    <button type="submit" class="addresswidth"></button>
                    <button type="button" style="display:none"></button>
                </form>
            </div>
            <div class="dif"></div>
        </div>
        <div class="msearch_pop">
            <div class="msearch">
                <form  class="ddif"onsubmit="searchPlacesMobile(); return false;">
                    <input type="text" value="" id="keyword2" size="15" placeholder="주소를 검색하세요">
                    <button type="submit" class=""></button>
                </form>
            </div>
            <button type="button" class="search_pop_del">x</button>
        </div>
        <ul class="commerce_options">
            <li class="report">
                <label for="report">
                    <input type="checkbox" class="depth1" name="depth1" value="report" id="report">
                    <span>보고서</span>
                </label>
            </li>
            <li>
                <label for="density">
                <input type="checkbox" class="sub_options depth1" name="depth1" value="density" id="density">
                    <span>업종<br />밀집도</span>
                </label>
                <ul class="options density_options" >
                    <li>
                        <input type="radio" name="depth2_density" value="all" id="all-sector2" />
                        <label for="all-sector2">전체</label>
                    </li>
                    <li th:each="mainCategory : ${mainCategories}">
                        <input type="radio" name="depth2_density" th:value="${mainCategory.code_type1}" th:id="|${mainCategory.code_type1}-sector2|"/>
                        <label th:for="|${mainCategory.code_type1}-sector2|">[[ ${mainCategory.nm_type1} ]]</label>
                    </li>
                </ul>
            </li>
            <li>
                <label for="land">
                <input type="checkbox" class="sub_options depth1" name="depth1" value="land" id="land">
                    <span>토지<br />특성</span>
                </label>
                <ul class="options land_options" >
                    <li>
                        <input type="radio" name="depth2_land" value="mean" id="mean" />
                        <label for="mean">표고</label>
                    </li>
                    <li>
                        <input type="radio" name="depth2_land" value="gradient" id="gradient" />
                        <label for="gradient">경사</label>
                    </li>
                </ul>
            </li>
            <li>
                <label for="vs_facilities">
                <input type="checkbox" class="sub_options depth1" name="depth1" value="vs_facilities" id="vs_facilities">
                    <span>집객<br />시설</span>
                </label>
            </li>
            <li>
                <label for="population">
                <input type="checkbox" class="sub_options depth1" name="depth1" value="population" id="population">
                    <span>인구<br />특성</span>
                </label>
            </li>
            <li>
                <label for="store">
                <input type="checkbox" class="sub_options depth1" name="depth1" value="store" id="store">
                    <span>상가<br />공실</span>
                </label>
            </li>
        </ul>
        <ul class="bottom_area_ctrl">
            <li><span class="area_icon"></span>영역설정</li>
            <li>
                <label for="300m">
                <input type="radio" name="meter" value="300" id="300m" checked>
                    <span>300m</span>
                </label>
            </li>
            <li>
                <label for="500m">
                <input type="radio" name="meter" value="500" id="500m">
                    <span>500m</span>
                </label>
            </li>
        </ul>
        <!-- report with map --->
        <div id="report_with_map_wrap">
            <div class="toggle_btn">
            </div>
            <div class="report_list">
                <div class="report_block">
                    <div class="close_report_block_btn"></div>
                    <div class="report_block_con">
                    <div class="report_block_title">경쟁업체 분석</div>
                    <div class="des">선택한 지역의 경쟁업종 <span class="bold">점포밀집도를 지도</span>에서 확인하세요.</div>
                </div>
                    <div class="report_block_con">
                        <div class="report_block_title">
                          점포수 및 구성비
                        </div>
                        <ul class="report_list_type1">
                            <li>
                                <div class="obj_key">
                                 <span class="icon"></span>
                                    전체 점포수
                                </div>
                                <div class="num">
                                    10개
                                </div>
                            </li>
                            <li>
                                <div class="obj_key">
                                    <span class="icon"></span>
                                    한식/백반/한정식
                                </div>
                                <div class="num blue">
                                    32개
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="report_block_con">
                    <div class="report_block_title">
                        점포수 및 구성비 추이
                    </div>
                    <div id="reportChart1_1"></div>
                </div>
                </div>
                <div class="report_block">
                    <div class="close_report_block_btn"></div>
                    <div class="report_block_con">
                        <div class="report_block_title2">매출 정보</div>
                    </div>
                    <div class="report_block_con">
                        <div class="report_block_title">
                            요일별 매출비중
                        </div>
                        <div id="reportChart3_1"></div>
                    </div>
                    <div class="report_block_con">
                        <div class="report_block_title">
                            시간대별 매출비중
                        </div>
                        <div id="reportChart4_1"></div>
                    </div>
                    <div class="report_block_con">
                        <div class="report_block_title">
                            성/연령대별 고객비중
                        </div>
                        <div id="reportChart5_1"></div>
                    </div>
                </div>
            </div>
            </div>

        </div>
    </div>
    <div id="filter_wrap">
        <div class="filterbox">
            <div class="filterbox_title">
                <h3>어떤 점포를 찾고 계신가요?</h3>
            </div>
            <div class="Sectors_wrap">
                <div class="mainSectors_wrap">
                    <ul class="mainSectors">
                        <li>
                            <input type="radio" name="area_maincate" value="all" id="all-sector" />
                            <label for="all-sector">전체</label>
                        </li>
                        <li th:each="mainCategory : ${mainCategories}">
                            <input type="radio" name="area_maincate" th:value="${mainCategory.code_type1}" th:id="|${mainCategory.code_type1}-sector|" onchange="" />
                            <label th:for="|${mainCategory.code_type1}-sector|">[[ ${mainCategory.nm_type1} ]]</label>
                        </li>
                    </ul>
                </div>
                <div class="midSecBox">
                    <ul th:each="subCategory : ${subCategories}" th:class="|midSectors all-${subCategory.code_type1}-sector|">
                        <li th:each="sub : ${subCategory.sub}">
                            <input type="radio" name="area_midcate" th:value="${sub.code_type3}" th:id="${sub.code_type3}"/>
                            <label th:for="${sub.code_type3}">[[ ${sub.nm_type3} ]]</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="report_confirm_wrap">
        <div class="report_confirm_box">
            <div class="modal_title">분석보고서를 생성하시겠습니까?</div>
            <div class="btns">
                <div class="button confirmed">
                    확인
                </div>
                <div class="button cancel">
                    취소
                </div>
            </div>
        </div>
    </div>
    <div id="report_wrap">
        <div class="report_modal_box">
            <div class="close_report_modal_btn">
            </div>
            <div class="report_modal_top">
                <div class="report_modal_title">
                    한식/백반/한정식 분석
                </div>
                <div class="report_modal_button" id="with_map_btn">
                    지도와 함께 보기
                </div>
            </div>
            <div class="report_modal_solution">
                <div class="report_modal_sol_des">
                    <span>맞춤형 빅데이터, 120% 활용하기!</span> 숙련된 전문가와 함께 경영전략을 세워보아요!
                </div>
                <a class="report_modal_button" th:href="@{/commerce/service}">
                    솔루션 서비스(가칭) 바로가기
                </a>
            </div>
            <div class="report_detail_area">
                <div class="report_detail_top">
                    <div class="report_detail_title">
                        경쟁업체&집객시설 분석
                    </div>
                    <div class="report_detail_con">
                        <div class="report_detail_box">
                            <div class="report_detail_data">
                                <div class="">
                                    <div class="report_detail_sub_title">
                                        점포수 및 구성비
                                    </div>
                                    <ul class="report_list_type1">
                                        <li>
                                            <div class="obj_key">
                                            <span class="icon"></span>
                                            전체 점포수
                                            </div>
                                            <div class="num">
                                                10개
                                            </div>
                                        </li>
                                        <li>
                                            <div class="obj_key">
                                            <span class="icon"></span>
                                                한식/백반/한정식
                                            </div>
                                            <div class="num blue">
                                                32개
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div style="flex: 1">
                                    <div class="report_detail_sub_title">
                                        점포수 및 구성비 추이
                                    </div>
                                <div id="reportChart1"></div>
                                </div>
                            </div>
                            <div class="report_detail_des">
                                대통령은 헌법과 법률이 정하는 바에 의하여 국군을 통수한다. 모든 국민은 법률이 정하는 바에 의하여 선거권을 가진다. 국가는 노인과 청소년의 복지향상을 위한 정책을 실시할 의무를 진다.
                            </div>
                        </div>
                        <div class="report_detail_box">
                            <div class="report_detail_data">
                                <div style="flex: 1">
                                    <div class="report_detail_sub_title">
                                        집객시설
                                    </div>
                                    <div id="reportChart2"></div>
                                </div>
                            </div>
                            <div class="report_detail_des">
                                대통령은 헌법과 법률이 정하는 바에 의하여 국군을 통수한다. 모든 국민은 법률이 정하는 바에 의하여 선거권을 가진다. 국가는 노인과 청소년의 복지향상을 위한 정책을 실시할 의무를 진다.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="report_detail_bot">
                    <div class="report_detail_title">
                        매출정보
                    </div>
                    <div class="report_detail_con">
                        <div class="report_detail_box">
                            <div class="report_detail_data">
                                <div style="flex: 1">
                                    <div class="report_detail_sub_title">
                                        요일별 매출비중
                                    </div>
                                    <div id="reportChart3"></div>
                                </div>
                            </div>
                            <div class="report_detail_des">
                                대통령은 헌법과 법률이 정하는 바에 의하여 국군을 통수한다. 모든 국민은 법률이 정하는 바에 의하여 선거권을 가진다. 국가는 노인과 청소년의 복지향상을 위한 정책을 실시할 의무를 진다.
                            </div>
                        </div>
                        <div class="report_detail_box">
                            <div class="report_detail_data">
                                <div style="flex: 1">
                                    <div class="report_detail_sub_title">
                                        시간대별 매출비중
                                    </div>
                                    <div id="reportChart4"></div>
                                </div>
                            </div>
                            <div class="report_detail_des">
                                대통령은 헌법과 법률이 정하는 바에 의하여 국군을 통수한다. 모든 국민은 법률이 정하는 바에 의하여 선거권을 가진다. 국가는 노인과 청소년의 복지향상을 위한 정책을 실시할 의무를 진다.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

<div class="wrap-loading display-none">
    <div><img th:src="@{/images/ajax-loading.gif}" alt="로딩중" /></div>
</div>
<th:block th:include="fragments/common_js"></th:block>
<!-- 지도를 표시할 div 입니다 -->

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=21e6944cf244415210a4c4474a6327ca&libraries=services"></script>
<script th:inline="javascript">
    var mainCategories = /*[[${mainCategories}]]*/ [];
    console.log(mainCategories);

    var subCategories = /*[[${subCategories}]]*/ [];
    console.log(subCategories);

    var shopList = /*[[${shopList}]]*/ [];
    console.log(shopList);
    //필터 대분류 중분류 체크
</script>
<script th:src="@{/js/pages/commerce/commerce_area.js}"></script>
<script th:src="@{/js/pages/commerce/commerce_area_action.js}"></script>
<script th:src="@{/js/pages/commerce/report_chart.js}"></script>
</body>
</html>