<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="fragments/common_meta"></th:block>
    <title>소공자플랫폼 상점연구소</title>
    <meta property="og:url" content="">
    <meta property="og:title" content="소공자 플랫폼 | 상권연구소">
    <meta property="og:image" th:content="@{/images/bg-maintext1.png}">
    <meta property="og:description" content="소공자 플랫폼 상권연구소">
    <meta name="keywords" content="소공자 플랫폼, 상권연구소, 상권분석정보, 상권특성정보, 지역특성정보">
    <meta name="description" content="소공자 플랫폼 상권연구소">
    <!--/* Common css */-->
    <th:block th:include="fragments/common_css"></th:block>
</head>

<body class="area">
<article>
    <div th:replace="~{fragments/header :: header}"></div>
    <div id="map_wrap" class="area_map">
        <div id="map"></div>
        <ul style="position: absolute; left: 10px;">
            <div>사이드 메뉴</div>
            <li>
                <input type="checkbox" name="depth1" value="report" id="report" checked>
                <label for="report">보고서</label>
            </li>
            <li>
                <input type="checkbox" name="depth1" value="density" id="density">
                <label for="density">업종밀집도</label>
            </li>
            <li>
                <input type="checkbox" name="depth1" value="land" id="land">
                <label for="land">토지특성</label>
            </li>
            <li>
                <input type="checkbox" name="depth1" value="pubTrans" id="pubTrans">
                <label for="pubTrans">대중교통</label>
            </li>
            <li>
                <input type="checkbox" name="depth1" value="facility" id="facility">
                <label for="facility">주변시설</label>
            </li>
            <li>
                <input type="checkbox" name="depth1" value="population" id="population">
                <label for="population">인구특성</label>
            </li>
            <li>
                <input type="checkbox" name="depth1" value="store" id="store">
                <label for="store">상가공실</label>
            </li>
        </ul>

        <ul style="position: absolute">
            <div>영역설정</div>
            <li>
                <input type="radio" name="meter" value="300" id="300m" checked>
                <label for="300m">300m</label>
            </li>
            <li>
                <input type="radio" name="meter" value="500" id="500m">
                <label for="500m">500m</label>
            </li>
        </ul>
    </div>
</article>

<div class="wrap-loading display-none">
    <div><img th:src="@{/images/ajax-loading.gif}" alt="로딩중" /></div>
</div>
<th:block th:include="fragments/common_js"></th:block>
<!-- 지도를 표시할 div 입니다 -->

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=21e6944cf244415210a4c4474a6327ca"></script>
<script th:src="@{/js/pages/commerce/commerce_area.js}"></script>

</body>
</html>