@charset "utf-8";
form label.required:before { content: "* "; color: #db0000; }
form select:invalid,
form select option[value=""] { color: #999; }
select.form-control,
select { color: #495057; }
body.swal2-shown { overflow-y: auto !important }
div.datepicker { z-index: 2000 !important; }
.table td { white-space: inherit; }
.table td.multi-line { vertical-align: top; line-height: 1.4; }
.table td img.banner { width: 100%; height: auto; border-radius: inherit; }
.table td img.banner.mobile { width: 60%; }
.col-form-label { font-weight: 700; }
.col-form-span { font-weight: 500; padding-top: 9px; }
.label-info { background-color: #5bc0de; padding: 6px; }
.bootstrap-tagsinput { border: 1px solid #e8ebf1 !important; font-weight: 400; font-size: 0.875rem; width: 100%; border-radius: inherit !important; line-height: 32px !important; }
.bootstrap-tagsinput input { min-width: 100px; }
.table thead th { vertical-align: middle !important; }
.navbar .navbar-content .navbar-nav .nav-item .nav-link { font-weight: 700; }
.invalid-feedback { color: red !important; }
.cont_login .box_desc { margin-top: 20px; padding: 20px; font-size: 13px; line-height: 20px; background-color: #fafafa; }
.cont_login .box_desc .desc_error { color: #e65f32; }
.btn-default { color: #333; background-color: #fff; border-color: #ccc }
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default { color: #333; background-color: #e6e6e6; border-color: #adadad }
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default { background-image: none }
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active { background-color: #fff; border-color: #ccc }
.btn-default .badge { color: #fff; background-color: #333 }
.tree_container li { margin: 1rem 0; }
a.file-download { display: block; flex: 1 1 auto; }
.display-block { display: block; }
.display-none { display: none; }
.sign_wrapper { width: 100%; height: 20rem; max-height: 400px; border: solid 2px #ccc; }

/* ajax loading image */
.wrap-loading { z-index: 1060; position: fixed; left: 0; right: 0; top: 0; bottom: 0; background: rgba(0, 0, 0, 0.2); /*not in ie */ filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#20000000', endColorstr='#20000000');    /* ie */ }
.wrap-loading div { position: fixed; top: 50%; left: 50%; margin-left: -200px; margin-top: -200px; }
.display-block { display: block; }
.display-none { display: none; }

/* 로그인 */
.login_wrap { background: #000000 url(../images/bg-login.png) no-repeat; height: 100vh; display: flex; align-items: center; flex-direction: column; justify-content: center; }
.login_wrap > p { font-size: 14px; color: #c2d5ff; font-weight: 300; position: absolute; bottom: 1.75rem; width: 100%; left: 0; text-align: center; }
.login { max-width: 500px; height: 540px; background: rgba(0, 0, 0, 0.6); width: 100%; padding: 83px 40px; }
.login ul li { margin-bottom: 1rem; }
.login h1 { text-indent: -9999px; background: url(../images/logo.png) no-repeat center; height: 43px; margin-bottom: 3.75rem; }
.login_btn { border-top: 1px solid #fff; margin-top: 2rem; padding-top: 1.5rem; }
.login_btn button { width: 100%; background: #fff; border: none; line-height: 2.75rem; font-size: 1.25rem; font-weight: 700; color: #000; margin-top: 1.5rem; }

/*로고*/
.sidebar-header img{display: block;width:100%;padding-right: 10px;}
.sidebar .sidebar-header .sidebar-toggler {
	cursor: pointer;
	width: 30px;

}

/*첨부파일 썸네일*/
.bannerThumb{display:block;margin-top: 20px;max-width: 300px;}

/*datepicker 조정*/
.datepicker{border: solid 1px #eee;padding: 8px 16px}
.datepicker:focus{border: solid 1px #eee; box-shadow: 0 0 10px #cccccc50;}

/*탭 조정*/
.tab_wrap{width: 100%;}
.tab a{text-align: center; display:block;background-color: #fff; color:#ccc; font-size: 1rem;line-height: 1;padding: 1rem 1rem 1rem; border-radius: 10px;box-shadow: 0 0 10px #eee;}
.tab.active a{background-color: #727cf5; color:#fff; box-shadow: 0 0 10px #efefef; font-weight: bold;}


/*flex박스*/
.flex_box{
	display: flex;
	align-items: center;
}

/*설문 관련*/
.item_wrap{
	border-top: solid 1px #eee;
	padding: 20px 0;
}
.form_num{
	margin-left: 10px;
	margin-top: -6px;
}
.form_num input{
	border-radius: 4px;
	border: solid 1px #eee;
	margin-bottom: 5px;
	outline: none;
	padding: 4px 2px 4px 12px;
}
.form_num input:focus{ border: solid 1px #727cf5;}

.add_item_wrap{
	background-color: #f9f9f9;
	padding: 20px;
	border-radius: 5px;
}
.add_item_choice{
	display: flex;
	align-items: center;
	margin-top: 10px;
}
.tag_wrap{
	display: flex;
	flex-wrap: wrap;
}
.positionAdd-selectedtagBound{
	display: flex;
	justify-content: space-between;
	min-width: 100px;
	padding: 4px 10px;
	background-color: #fff;
	border: solid 1px #727cf5;
	color: #727cf5;
	text-align: center;
	margin-top: 10px;
	border-radius: 5px;
	margin-right: 10px;
}
.positionAdd-selectedtagBound:last-child{
	margin-right: 0;
}
.positionAdd-selectedtagBound label{
	margin: 0;
	margin-top: 2px;
}
.positionAdd-deltagBtn{
	display: inline-block;
	color: #727cf5;
	margin-left: 10px;
	cursor: pointer;
	outline: none;
	background-color: transparent;
	border: none;
}


.add_item_button button{
	margin-top: 20px;
}

.item_list_wrap{
	margin-top: 10px;
}
.del_item_button button{
	color: #fff;
	background-color: #ff3366;
	outline: none;
	border: none;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-right: 10px;
	padding: 0;
	line-height: 41px;
	font-size: 26px;
}
.del_item_button button:active{
	color: #fff;
	background-color: #ff3366;
}
.item_list{
	display: flex;
	align-items: center;
}
.item_list div:first-child{
	padding: 10px 20px;
	border-radius: 5px;
	border: solid 1px #eee;
	margin-right: 10px;
}
.survey_text{
	padding: 0 0 0 20px;
	min-width: 100px;
	border: 1px solid #e8ebf1;
	border-radius: 3px;
	height: 40px;
	line-height: 40px !important;
	margin-right: 10px;
}
.qDelBtn{
	height: 40px;
}


.item_tag_wrap{
	display: flex;
	align-items: center;
}
.item_tag_wrap .item_tag{
	display: inline-block;
	background-color: #727cf5;
	color: #fff;
	text-align: center;
	padding: 4px 6px;
	min-width: 80px;
	border-radius: 5px;
	margin-right: 10px;
}
.item_tag_wrap .item_tag:last-child{
	margin-right: 0;
}

/*질문지 모달 팝업*/
.modal{
	background: #00000050;
}
.modal_in_wrap{
	overflow-y: scroll;
	height: 70vh;
}
.modal-header{
	padding: 20px 30px;
	background-color: #727cf5;
}
.modal-content{
	border: 0;
}
.modal-title{
	color: #fff;
	display: flex;
	align-items: center;
	line-height: 1;
	margin-top: 10px;
}
.modal-title span{
	display: inline-block;
	color: #ccc;
	font-size: 14px;
	margin-left: 10px;
}
.review_qTitle{
	padding: 20px 20px 0 20px;
}
.review_qTitle h5{
	font-size: 1.125rem;
}
.review_qTitle h5 span{
	font-size: 0.875rem;
}
.review_qTitle p{
	color: #ccc;
	font-size: 0.875rem;
	margin-top: 5px;
}
.review_qText{
	padding: 20px;
}
.review_qText div{
	width: 100%;
	margin: 0 auto;
}
.review_qText .choice_board{
	background-color: #eee;
	color: #ccc;
	font-size: 1rem;
	line-height: 100px;
	width: 100%;
	min-height: 100px;
	padding: 0 20px;
	margin-top: 20px;
}
.check_survey{
	padding: 0;
}
.check_survey li{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.check_survey li input{
	display: block;
	width: 40px;
	height: 40px;
	position: relative;
	margin: 0 10px 0 0;
}
.review_qText .adress_board{
	background-color: #eee;
	color: #ccc;
	font-size: 1rem;
	line-height: 100px;
	width: 100%;
	min-height: 100px;
	padding: 0 20px;
}
.review_qText .address_add{
	width: 100%;
	height: 40px;
}

/*카테고리*/
.category_wrap{
	flex-direction: column;
}
.category_wrap h3{
	font-size: 18px;
	padding: 20px 10px 10px;
	color: #727cf5;
}
.category_wrap > div.card{
	height: 500px;
	overflow-y: scroll;
}
.category{}
.category label{
	display: flex;
	justify-content: space-between;
	border: none;
}

.category label:hover{
	border: none;
}
.category label:hover .del_btn{
	display: block;
	transition: 0.4s;
}
.category label .del_btn{
	display: none;
	background-color: #ff3366;
	transition: 0.4s;
	color: #fff;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
	line-height: 20px;
	text-align: center;
}
.category label input{
	-webkit-appearance: none;
}
.add_category_btn{
	width: 100%;
	margin: 0 auto;
	padding: 10px;
}


/* media */
@media screen and (max-width:640px) {
	.login_wrap { background-size: cover; }
	.login { max-width: 90%; height: auto; padding: 40px 20px 50px; }
	.login input { height: 40px; font-size: 14px; }
	.login h1 { height: 40px; margin-bottom: 30px; background-size: contain; }
	.checkbox_style[type="checkbox"] + label { font-size: 14px; }
	.checkbox_style[type="checkbox"] + label::before { text-indent: 3px; }
	.login_btn button { font-size: 16px; }
	.login_wrap > p { font-size: 12px; }
}
