@import "_var"
@import "_mixin"
/* ajax loading image */
.wrap-loading
	z-index: 1060
	+positionAt(fixed, $top: 0, $right: 0, $bottom: 0, $left: 0)
	background: rgba(0, 0, 0, 0.2)
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#20000000', endColorstr='#20000000')  /* ie */
	div
		+positionAt(fixed, $top: 50%, $left: 50%)
		margin-left: -200px
		margin-top: -200px
.display-block
	display: block
.display-none
	display: none
.container
	max-width: 1400px
	margin: 0 auto
.main_visual
	position: relative
.sectionBtn
	position: absolute
	top: calc(50% - 90px)
	left: 95px
	ul
		li
			background-color: #709bff
			border: solid 1px #709bff
			width: 16px
			height: 16px
			border-radius: 50%
			margin-bottom: 16px
			cursor: pointer
			&:hover
				box-shadow: 0 0 10px #709bff

		li.on
			background-color: #1540bf


.main_section
	height: 100%
	position: relative
	.mv_text1
		height: 100vh
		position: relative
		min-height: 998px
		> p
			text-align: center
			color: #c8d9ff
			font-size: rem(24)
			font-weight: 200
			margin-top: 60px
		.title_main
			padding-top: rem(275)
			display: flex
			justify-content: center
			*
				color: #fff
			//> span
			//	font-size: rem(22)
			//	font-weight: 500
			//	background: #1540bf
			//	border-radius: 30px
			//	text-align: center
			//	display: inline-block
			//	padding: 0px 5px
			p
				font-size: rem(48)
				line-height: 1.42
				font-weight: 300
				text-shadow: 0 0 8px #1540bf
				& + p
					font-size: rem(19)
					margin-top: rem(35)
					line-height: 1.68
					text-shadow: 0 0 12px rgba(0, 0, 0, 0.35)
				strong
					font-size: rem(84)
					font-weight: 700
			.left
				font-size: 1.375rem
				font-weight: 500
				background-color: transparent
				border-radius: 0
				text-align: center
				display: inline-block
				padding: 0 5px
				width: 36px
				border: solid 4px #fff
				border-right: 0
				margin-right: 40px
			.right
				font-size: 1.375rem
				font-weight: 500
				background-color: transparent
				border-radius: 0
				text-align: center
				display: inline-block
				padding: 0 5px
				width: 36px
				border: solid 4px #fff
				border-left: 0
				margin-left: 40px
		.scrollDown_wrap
			+positionAt(absolute, $bottom: -50px)
			width: 102px
			height: 102px
			left: calc(50% - 51px)
			cursor: pointer
			&:hover .scrollDown_arrow_wrap
				top: -25px
				transition: 0.4s
			&:hover .scrollDown_circle
				margin: 20px auto
				width: 80px
				height: 80px
				transition: 0.4s

			.scrollDown_arrow_wrap
				+positionAt(absolute, $top: -40px)
				text-align: center
				margin: 0 auto
				width: 100%
				transition: 0.4s
				span
					color: #c8d9ff
					font-size: rem(12)
					@include keyframe (opacity)
						100%
							opacity: 0
						0%
							opacity: 1
					@include animation (0s, 1.6s, opacity, infinite,alternate)
				.scrollDown_arrow
					background: url(../images/new/main/icon_h_arrow.png) no-repeat
					width: 18px
					height: 78px
					margin: 5px auto 0
			.scrollDown_circle
				background-color: #1540bf
				width: 102px
				height: 102px
				border-radius: 50%
				display: flex
				flex-direction: column
				align-items: center



	.mv_text3
		height: 100vh
		position: relative
		display: flex
		padding-top: rem(200)
		.left
			width: 44%
			p
				font-size: rem(52)
				font-weight: 300
				strong
					font-weight: bold
					span
						display: inline-block
						font-size: rem(52)
						font-weight: 300
						vertical-align: baseline
						margin: 0
			span
				display: inline-block
				font-size: rem(22)
				color: #606060
				line-height: 1.8
				margin-top: 40px
				margin-bottom: 20px
			div
				a
					display: flex
					align-items: center
					justify-content: center
					width: 180px
					height: 60px
					margin-top: 20px
					padding: 16px 29px 15px 30px
					box-shadow: 15px 25px 46px 0 rgba(0, 22, 88, 0.12)
					color: #1540bf
					font-size: rem(20)
					font-weight: bold
					&:after
						content: ""
						display: block
						background: url(#{$assetPath}/new/main/arrow_blue_right.png) no-repeat
						width: 16px
						height: 16px
						margin-left: 5px
		.right
			width: 56%
			position: relative
			margin-top: rem(-56)
			div
				background: url(../images/new/main/img_main01.png) no-repeat
				width: 700px
				height: 100%
				background-size: contain
				margin-left: 5px
				z-index: 99
		.right02
			width: 56%
			position: relative

	.back_img01
		+positionAt(absolute, $bottom: 0, $left: 0)
		overflow: hidden
		width: 100%
		height: 387px
		z-index: -1
		div
			+positionAt(absolute, $top: 0, $left: 0)
			width: 120%
			height: 370px
			margin: 80.3px 0 0
			background-image: linear-gradient(to bottom, #c8d9ff, #c8d9ff 36%, #fbfcfe)
			transform: rotate(-5deg)

.slide_video
	position: relative
	background-color: #1540bf
	.mv_text4
		height: 100vh
		position: relative
		display: flex
		padding-top: rem(275)
		.swiper_text_wrap
			width: 44%
			.swiper_text
				width: 100%
				display: none
			.swiper_text.on
				display: block
				p
					font-size: rem(52)
					font-weight: 300
					color: #fff
					strong
						font-weight: bold
				span
					display: inline-block
					font-size: rem(22)
					color: #c8d9ff
					line-height: 1.8
					margin-top: 40px
					margin-bottom: 20px
				div
					a
						display: flex
						align-items: center
						justify-content: center
						width: 180px
						height: 60px
						margin-top: 20px
						box-shadow: 15px 25px 46px 0 rgba(0, 22, 88, 0.12)
						color: #1540bf
						font-size: rem(20)
						font-weight: bold
						background-color: #fff
						&:after
							content: ""
							display: block
							background: url(#{$assetPath}/new/main/arrow_blue_right.png) no-repeat
							width: 16px
							height: 16px
							margin-left: 5px
	.mySwiper
		width: 56%
		overflow: hidden
		+positionAt(absolute, $top: 280px, $left: 44%)
		.right
			div
				background-color: #ccc
				border: solid
				width: 100%
				height: 400px


.swiper-pagination
	top: 220px
	left: 44%
	position: relative
	&:before
		content: ""
		width: 100%
		height: 2px
		background: rgba(255, 255, 255, 0.6) !important
		+positionAt(absolute, $top: 13px, $left: 0)
	p
		width: 122px
		margin: 0 !important
		border-radius: 0
		height: 2px
		opacity: 1
		font-weight: 700
		position: relative
		background-color: transparent
		&.swiper-pagination-bullet-active
			background: #fff !important
			span
				color: #fff
		span
			+positionAt(absolute, $bottom: 12px, $left: 0)
			color: rgba(255, 255, 255, 0.6)
			text-align: center
			margin: 0 auto
			display: block
			width: 100%
			font-size: rem(22)

.list_solution
	> li
		margin: 0 0 16px
		box-shadow: 15px 25px 46px 0 rgba(69, 102, 200, 0.26)
		background-color: #fcfdfe
		.list_title
			display: flex
			justify-content: space-between
			padding: 20px 40px
			align-items: center
			p
				font-size: rem(24)
				font-weight: bold
				color: #969aaf
			span
				display: inline-block
				width: 18px
				height: 18px
				border-top: solid 3px #969aaf
				border-right: solid 3px #969aaf
				transform: rotate(135deg)
		.list_text
			overflow: hidden
			height: 0
			padding: 0 40px
			border-top: solid 1px #f3f3f3
			transition: 0.2s
			.list_sub_title
				font-size: rem(18)
				color: #1540bf
				font-weight: bold
				margin-bottom: 20px
			.list_sub_text
				display: flex
				justify-content: space-between
				> div
					width: calc(50% - 10px)
					background-color: #f9f9f9
					padding: 20px
	> li.on
		.list_title
			p
				color: #000
			span
				border-top: solid 3px #000
				border-right: solid 3px #000
				transform: rotate(-45deg)
		.list_text
			height: 100%
			padding: 20px 40px
			transition: 0.2s


.sub_text_info
	> div
		display: flex
		margin-bottom: 10px
		.num
			font-size: rem(18)
			font-weight: bold
			color: #709bff
			margin-right: 10px
		p
			font-size: rem(18)
			font-weight: bold
	> ul
		li
			display: flex
			margin-left: 20px
			font-size: rem(14)
			color: #606060
			align-items: center
			&:before
				content: ""
				display: inline-block
				width: 6px
				height: 6px
				border-radius: 50%
				background-color: #969aaf
				margin-right: 10px

.linkedMain
	background-color: #e9f0ff
	.mv_text5
		height: 100vh
		position: relative
		padding-top: rem(60)
		.mv_title
			width: 100%
			margin-bottom: 40px
			p
				text-align: center
				font-size: rem(52)
		.flex_wrap
			display: flex
			justify-content: space-between
			> div
				width: calc(50% - 10px)
				.linked_img
					width: 100%
					height: 440px
					background-color: #ccc
					box-shadow: 15px 25px 46px 0 rgba(0, 22, 88, 0.25)
				.linked_title
					display: flex
					margin-top: 20px
					p
						font-size: rem(24)
						font-weight: bold
						margin-right: 10px
					span
						font-size: rem(24)
						font-weight: 300
				.linked_btn
					a
						display: flex
						align-items: center
						justify-content: center
						width: 180px
						height: 60px
						margin-top: 20px
						box-shadow: 15px 25px 46px 0 rgba(0, 22, 88, 0.12)
						color: #1540bf
						font-size: rem(20)
						font-weight: bold
						background-color: #fff
						&:after
							content: ""
							display: block
							background: url(#{$assetPath}/new/main/arrow_blue_right.png) no-repeat
							width: 16px
							height: 16px
							margin-left: 5px
				.none_btn
					a
						display: flex
						align-items: center
						justify-content: center
						width: 180px
						height: 60px
						margin-top: 20px
						box-shadow: 15px 25px 46px 0 rgba(0, 22, 88, 0.12)
						color: #969aaf
						font-size: rem(20)
						font-weight: bold
						background-color: #e2e2e2


.main_tab
	background: #f6f8f9
	.main_tab_ul
		display: flex
		position: relative
		z-index: 2
		li
			background: #fff
			width: 25%
			position: relative
			top: 0
			*
				color: #606060
			a
				display: block
				width: 100%
				height: 100%
				padding: rem(191) rem(0) rem(57) rem(39)
				h2
					font-size: rem(24)
					font-weight: 700
					margin-bottom: rem(5)
				p
					font-weight: 300
					line-height: 1.25
			&.active
				box-shadow: 0 0 60px 0 #1540bf
				background-color: #1540bf
				position: relative
				top: rem(-12)
				&:before
					opacity: 1
				&:first-child
					background: #1540bf url(#{$assetPath}/img-main-icon01-active.png) no-repeat 16% 16%
				&:nth-child(2)
					background: #1540bf url(#{$assetPath}/img-main-icon02-active.png) no-repeat 16% 16%
				&:nth-child(3)
					background: #1540bf url(#{$assetPath}/img-main-icon03-active.png) no-repeat 16% 16%
				&:last-child
					background: #1540bf url(#{$assetPath}/img-main-icon04-active.png) no-repeat 16% 16%
				h2
					color: #fff
				p
					color: rgba(255,255,255,0.8)
	.tab_cont
		padding-bottom: rem(160)
		padding-top: 8rem
		.tab_cont_a
			display: none
			&.active
				display: block
			> div
				+flex_type($justify: space-between)
		.tab_text
			width: 50%
			a
				margin-bottom: rem(20)
				display: inline-block
			p
				font-size: rem(20)
				color: #606060
				font-weight: 500
				line-height: 1.6
			ul
				margin-top: rem(50)
				display: flex
				+flex_wrap
				li
					font-size: rem(20)
					margin-bottom: rem(12)
					color: #606060
					font-weight: 300
					text-decoration: underline
					width: 50%
					position: relative
					padding-left: rem(24)
					&:before
						+before($widthB: 6px, $heightB: 6px, $topB: 13px, $leftB: 0, $bgB : #1540bf)
			.w100
				li
					width: 100%
					span
						font-weight: 700
						vertical-align: 0
						color: #606060

		.tab_img
			width: 50%
			position: relative
			.img
				background-position: 50%
				height: rem(420)
				width: 100%
				text-indent: -9999px
			a
				box-shadow: 4px 0 8px 0 #00185e
				background-color: #1540bf
				color: #fff
				text-align: center
				font-size: rem(20)
				font-weight: 500
				width: 200px
				+positionAt(absolute, $bottom: rem(24), $left: rem(-36))
				padding: rem(24) 0
				&:before
					+before($widthB: 36px, $heightB: 21px, $topB: -20px, $leftB: 0, $bgB : url(#{$assetPath}/img-triangle.png) no-repeat )

.border_title
		font-size: rem(48)
		font-weight: 700
		color: #000
		line-height: 1
		position: relative
		z-index: 0
		&:before
			+before($widthB: 100%, $heightB: 12px, $topB: 85%, $leftB: 0, $bgB : #709bff)
			opacity: 0.6
			z-index: -1


//반응형처리
@include desktop
	.sectionBtn
		left: 40px
	.main_section
		.mv_text3
			height: auto
			flex-wrap: wrap
			flex-direction: column
			padding: rem(140) rem(100)
			.left
				width: 100%
			.right
				width: 100%
				div
					width: 80%
					height: 560px
					margin-left: 20%
					margin-top: 80px
			.right02
				width: 100%
				margin-top: 40px
		.back_img01
			height: 290px
	.slide_video
		padding: 100px
		.mv_text4
			height: auto
			flex-wrap: wrap
			flex-direction: column
			padding: 0
			.swiper_text_wrap
				width: 100%
		.mySwiper
			width: 100%
			position: relative
			top: 0
			left: 0
			padding: 160px 0 0
			overflow: hidden
	.linkedMain
		.mv_text5
			height: auto
			.flex_wrap
				flex-wrap: wrap
				padding: 0 100px
				> div
					width: 100%
					margin-top: 40px
				> div:first-child
					margin-top: 0

	.swiper-pagination
		top: 570px
		left: 100px

@include tablet
	html
		font-size: 81.3% !important
	.main_section
		.wrap_img
			background-size: cover !important
			.mv_text1
				height: auto
				min-height: 800px
	.swiper-pagination
		top: 550px
		left: 100px
		&:before
			top: 9px

@include mobile
	html
		font-size: 62.5% !important
	.sectionBtn
		display: none
	.main_section
		.wrap_img
			.mv_text1
				min-height: 600px
				.title_main
					.left
						margin-right: 20px
					.right
						margin-left: 20px
					p strong
						font-size: rem(60)
				> p
					padding: 0 40px
		.mv_text3
			padding: 80px 40px
			.right
				div
					width: 80%
					height: 260px
					margin-left: 20%
					margin-top: 80px
		.back_img01
			height: 250px
	.slide_video
		padding: 80px 40px
		.mv_text4
			padding: 0
	.swiper-pagination
		top: 480px
		left: 40px
		&:before
			top: 7px
	.linkedMain
		.mv_text5
			padding: 60px 0
			.flex_wrap
				flex-wrap: wrap
				padding: 0 40px




//animate 조절
.animate__animated.slideInDown
	--animate-duration: 2s