@import "_var"
@import "_mixin"

/*map*/
#map
  width: 100%
  height: 100%
  +positionAt(relative)
  overflow: hidden
  z-index: 0
.area .wrap
  padding-bottom: 0
  overflow: hidden
#map_wrap
  +positionAt(relative, $top:105px)
  background: transparent
  box-shadow: none
  padding: 0
  margin-bottom: 0
  width: 100%
  height: calc(100vh - 105px)
  +flex_type($justify: space-between ,$direction: row-reverse)
  .map_tab
    //+positionAt(absolute, $top: rem(0), $left: 0)
    height: calc(100vh - 5rem)
    background: #fff
    width: 26.5%
    box-shadow: 12px 0 16px 0 rgba(0, 0, 0, 0.12)
    .map_search
      box-shadow: 4px 3px 8px 0 rgba(0, 0, 0, 0.1)
      background-color: #eceff1
      padding: rem(12) rem(25)
      position: relative

      input
        height: rem(48)
        background: #fff
        width: 100%
      button
        width: rem(18)
        height: rem(18)
        position: absolute
        right: rem(41)
        top: 50%
        margin-top: rem(-9)
        text-indent: -9999px
        background: url(#{$assetPath}/icon-search_bk.png) no-repeat 50%
      legend,
      label
        position: absolute
        visibility: hidden
    .map_list
      > ul
        +flex_type($justify: center, $align: center)
        > li
          width: 33.33%
          text-align: center
          background: #fff
          &.active
            background-color: #f6f8f9
            a
              color: #1540bf
              font-weight: 500
              text-decoration: underline
          a
            font-weight: 300
            color: #b7b4b4
            padding: rem(18) 0
            display: block
      .tab_a1
        display: block
  .selectbox
    +positionAt(absolute, $top: rem(20), $left: 22%)
    display: none
    max-width: 486px
    width: 100%
    border: solid 1px #e2e2e2
    border-right: none
    ul
      +flex_type($justify: center, $align: center)
      li
        width: 33.333%
        text-align: left
        .select-selected
          border-right: 1px solid #e2e2e2

  .tab_a1_div
    padding: rem(5) 0 rem(21) 0
    background: #f6f8f9
    overflow-y: auto
    height: calc(100vh - 72px - 58px - 5rem)
    &.pb0
      padding-bottom: 0
    .bgeceff1
      background: #eceff1
      padding: rem(20)
      margin-top: rem(24)
      padding-left: 0
    .mt0
      margin-top: 0
    > ul
      > li
        padding-right: rem(21)
        > div.tab_top
          position: relative
          > div.tab_title
            margin-top: rem(16)
            border-radius: 0 29px 29px 0
            background-color: #eceff1
            padding: rem(15) rem(24)
            position: relative
            &.mt44
              margin-top: rem(44)
            *
              font-size: rem(14)
              color: #000
              display: inline-block
            p
              line-height: 1
              span
                border-left: 1px solid rgba(0, 0, 0, 0.4)
                padding-left: rem(15)
                margin-left: rem(15)
                font-weight: 700
                vertical-align: 0
            button
              background: url(#{$assetPath}/icon-info-blue.png) no-repeat 50%
              width: rem(20)
              height: rem(20)
              text-indent: -9999px
              +positionAt(absolute, $top: 50%, $right: rem(20))
              margin-top: rem(-10)
          > .tooltip
            display: none
            box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.16)
            background-color: #f3f3f3
            max-width: 286px
            width: 100%
            +positionAt(absolute, $top: 85%, $right: 0)
            padding: rem(21) rem(24)
            text-align: center
            > p
              display: inline-block
              margin-bottom: rem(27)
              position: relative
              z-index: 1
              &:before
                +before($widthB: 100%, $heightB: 4px,$leftB: 0, $bgB : #ff4600)
                bottom: 2px
                opacity: 0.8
                z-index: -1
              span
                display: inline-block
                font-weight: 700
                vertical-align: 0
            div
              text-align: left
              p
                font-size: rem(14)
                color: #767676
                margin-bottom: 1rem
                position: relative
                padding-left: rem(10)
                &:last-child
                  margin-bottom: 0
                &:before
                  +before($widthB: 4px, $heightB: 4px, $topB: 9px, $leftB: 0, $bgB : #767676)
        div.tab_style
          margin-left: rem(20)
          margin-top: rem(16)
          background: #fff
          padding: rem(20)
          &.p0
            margin-top: 0
            padding: 0
          .tab_sub_t
            text-align: center
            color: #000
            font-weight: 700
            font-size: 14px
            margin-bottom: 1rem
          .tab_li
            max-width: 276px
            width: 100%
            justify-content: space-around
            +flex_type($align: center)
            border: solid 1px #eceff1
            +flex_wrap
            margin: 0 auto
            margin-bottom: rem(30)
            li
              background: #fff
              text-align: center
              width: 50%
              height: rem(32)
              border-right: solid 1px #eceff1
              border-bottom: solid 1px #eceff1
              &:nth-child(2n+2)
                border-right: none
              a
                font-size: 12px
                color: #777
              &.active
                background: #1540bf
                box-shadow: 0 0 8px 0 rgba(21, 64, 191, 0.4)
                a
                  color: #fff
                  display: inline-block
          .tab_b
            div
              padding: rem(0)
              background: #fff
          img
            max-width: 100%
          .bb_bottom
            border-bottom: 1px solid #eceff1
.bt_fff
  border-top: 1px solid #fff
  &.pb58
    padding-bottom: rem(58) !important
  &.p20
    margin-top: rem(21)
.tab_table
  .tab_sub_t
    padding: rem(20)
    padding-bottom: rem(10)
  table
    width: 100%
    border-top: 1px solid #f6f8f9
    tr
      border-bottom: 1px solid #f6f8f9
      *
        font-size: rem(14)
        padding: rem(10) 0
      th
        text-align: left
        padding-left: rem(20)
      td
        text-align: right
        padding-right: rem(20)
        font-weight: 700
        &.first
          color: #ff4600
.map_tooltip
  background-color: #eceff1
  text-align: center
  position: relative
  // &:before
  // 	border-top: 20px solid transparent
  // 	border-right: 20px solid #fff
  // 	+before($widthB: 0, $heightB: 0, $leftB: -20px, )
  // 	bottom: 0
  // &:after
  // 	+before($widthB: 100%, $heightB: 100%, $leftB: -1px,$topB: -1px)
  // 	border: 2px solid #fff
  h3
    padding: rem(15) 0
    width: 192px
    font-weight: 500
    span
      font-size: 12px
      vertical-align: 0
      margin-left: 6px
      display: inline-block
  .close
    +positionAt(absolute, $top: 4px, $right: 5px)
    background: transparent
    padding: 0
    background: url(#{$assetPath}/mobile_open_button.png) no-repeat 50%
    width: 20px
    background-size: contain
    cursor: pointer
    height: 20px
  div
    background: #fff
    padding: rem(16) rem(24)
    *
      font-size: 12px
    ul
      li
        +flex_type($justify: space-between, $align: center)
        margin-bottom: 4px
        p
          color: #181818
          margin-left: 13px
          width: 60%
          text-align: left
        span
          color: #777
          display: inline-block
          text-align: right
          width: 35%

.custom_zoomcontrol
  +positionAt(absolute, $top : 60px,$right : 20px)
  width: 32px
  height: 73px
  overflow: hidden
  z-index: 1
  background-color: #f5f5f5
  box-shadow: 0 0 10px #ccc
  border-radius: 4px
  span
    background-color: #fff
    display: block
    width: 32px
    height: 36px
    text-align: center
    cursor: pointer
    img
      width: 15px
      padding: 12px 0
      border: none
    &:first-child
      border-bottom: 1px solid #bfbfbf






.title
  font-weight: bold
  display: block
.addressSearchTop
  +positionAt(absolute, $top: 16px, $left:50%)
  transform: translateX(-50%)
  z-index: 1
  width: 600px
.hAddr
  width: 360px
  float: right
  height: 50px
  margin-top: 1px
.centerAddr
  display: block
  float: left
  font-size: 16px
  padding: 12px 3px
  width: 120px
  height: 50px
  border: 1px solid #d5d5d5
  box-sizing: border-box
  margin: -1px
  background: #fff
  background-image: url(../images/icon-arrow-down-big.png)
  background-repeat: no-repeat
  background-position: center right
.current-local
  +positionAt(absolute, $top: 20px, $right: 20px )
  z-index: 1
  width: 36px
  height: 36px
  opacity: 0.7
  background: url(https://t1.daumcdn.net/localimg/localimages/07/2018/pc/common/img_search.png) no-repeat -150px -450px
  &:hover
      opacity: 1
.searchInput
  width: 230px
  background-color: aquamarine
  position: relative
  input
    border-right: none
    padding-right: 40px
  button
    +positionAt(absolute, $top: 1px, $right: 1px)
    height: 48px
    width: 28px
    background-image: url(../images/icon-search_bk.png)
    background-color: #fff
    background-repeat: no-repeat
    background-position: center left
.companyChoice_wrap
  +positionAt(absolute, $top: 16px, $left:50%)
  .choice_pop_wrap
    +positionAt(absolute, $top: 0, $left:0)
    display: none
#category
  +positionAt(absolute, $bottom:60px)
  width: 600px
  right: calc(50% - 300px)
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4)
  background: #fff
  overflow: hidden
  z-index: 2
  +flex_type()
  li
    width: calc(100%/6)
    list-style: none
    border-right: 1px solid #efefef
    padding: 6px 0
    text-align: center
    cursor: pointer
    &:hover
      background: #efefef
    &:last-child
      margin-right: 0
      border-right: 0
    .on
      background: #eee
    label
      +flex-type($align:center, $justify:center)
      cursor: pointer
      input[type="checkbox"]
        display: none
      .category_bg
        background: url(#{$assetPath}/new/area/marker_null.png) no-repeat
        width: 12px
        height: 12px
        background-size: contain !important
        margin-right: 10px
      input[type="checkbox"]:checked ~ .bank
        background: url(#{$assetPath}/new/area/marker01.png) no-repeat
      input[type="checkbox"]:checked ~ .mart
        background: url(#{$assetPath}/new/area/marker02.png) no-repeat
      input[type="checkbox"]:checked ~ .pharmacy
        background: url(#{$assetPath}/new/area/marker03.png) no-repeat
      input[type="checkbox"]:checked ~ .oil
        background: url(#{$assetPath}/new/area/marker04.png) no-repeat
      input[type="checkbox"]:checked ~ .cafe
        background: url(#{$assetPath}/new/area/marker05.png) no-repeat
      input[type="checkbox"]:checked ~ .store
        background: url(#{$assetPath}/new/area/marker06.png) no-repeat
    .on .category_bg
      background-position-x: -46px
.placeinfo_wrap
  +positionAt(absolute, $bottom:28px, $left: -150px)
  width: 300px
.placeinfo
  +positionAt(relative)
  width: 100%
  border-radius: 6px
  border: 1px solid #ccc
  border-bottom: 2px solid #ddd
  padding-bottom: 10px
  background: #fff
  &:nth-of-type(n)
    border: 0
    box-shadow: 0px 1px 2px #888
  a,
  a:hover,
  a:active
    color: #fff
    text-decoration: none
  a,
  span
    display: block
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap
  span
    margin: 5px 5px 0 5px
    cursor: default
    font-size: 13px
  .title
    font-weight: bold
    font-size: 14px
    border-radius: 6px 6px 0 0
    margin: -1px -1px 0 -1px
    padding: 10px
    color: #fff
    background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center
  .tel
    color: #0f7833
  .jibun
    color: #999
    font-size: 11px
    margin-top: 0
.after
  content: ""
  +positionAt(relative, $left: 50%)
  margin-left: -12px
  width: 22px
  height: 12px
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png")
.infoWin
  background: #fff
  border: solid 5px #fff

#sidebar
  display: none
  +positionAt(fixed, $top:105px, $left:0)
  position: fixed
  z-index: 1
  width: 400px
  height: calc(100vh - 105px)
  background-color: #e2e2e2
  .sideinfo
      background-color: #fff
      padding: 20px
      margin-bottom: 10px
      .sideinfoTitle
        color: #1540bf
        font-weight: bold
        font-size: 14px
        margin-bottom: 10px
      .listCtegory
        display: flex
        span
          margin-right: 5px
          font-size: 14px
          &:after
            content: ""
            display: inline-block
            width: 6px
            height: 6px
            border-top: solid 2px #ccc
            border-right: solid 2px #ccc
            transform: rotate(45deg)
            margin-right: 5px
            margin-left: 5px
        span:last-child
          &:after
            display: none
      .iconPlus
        font-size: 14px
        margin-bottom: 5px
        &:before
          content: ""
          display: inline-block
          width: 14px
          height: 14px
          background-size: contain
          margin-right: 10px
        .position_name
          margin: 0 5px
        .distance
          color: #969aaf
          font-size: 14px
          vertical-align: middle
      .iconPlus.location
        background: url(#{$assetPath}/new/area/location.png) no-repeat
      .iconPlus.storegray
        background: url(#{$assetPath}/new/area/storegray.png) no-repeat
      .iconPlus.subway
        background: url(#{$assetPath}/new/area/train.png) no-repeat
      .iconPlus.bus
        background: url(#{$assetPath}/new/area/bus.png) no-repeat
      .iconPlus.street
        background: url(#{$assetPath}/new/area/car.png) no-repeat
        &:last-child
          margin-bottom: 0
      .issue
        background-color: #e2e2e2
        padding: 20px
        +flex_type($justify:space-between, $align: center)
        span
          display: inline-block
          font-size: 14px
        a
          display: inline-block
          color: #1540bf
          cursor: pointer
          font-size: 14px
          border-bottom: solid 1px #1540bf
          &:after
            content: ""
            display: inline-block
            width: 6px
            height: 6px
            border-top: solid 1px #1540bf
            border-right: solid 1px #1540bf
            transform: rotate(45deg)
  .toggle_side
    +positionAt(absolute, $right:-30px)
    top: calc(50% - 30px)
    width: 30px
    height: 60px
    background: #fff
    box-shadow: 14px 3px 24px #00000010
    cursor: pointer
    &:after
      content: ""
      +positionAt(absolute)
      left: calc(50% - 7px)
      top: calc(50% - 7px)
      width: 14px
      height: 14px
      border-right: solid 2px #333
      border-top: solid 2px #333
      transform: rotate(225deg)
.analysisBtn
  +positionAt(relative)
  margin: 20px
  padding: 20px
  width: calc(100% - 40px)
  background-color: #1540bf
  color: #fff
  text-align: left
  &:after
    content: ""
    border-top: solid 2px #ffffff
    border-right: solid 2px #ffffff
    transform: rotate(45deg)
    width: 14px
    height: 14px
    +positionAt(absolute, $top: 25px, $right: 20px)
.solution_btn
  +positionAt(absolute, $bottom:40px, $right:20px)
  background: #1540bf url(#{$assetPath}/new/icon/bg_solution_btn.png) no-repeat
  width: 80px
  height: 80px
  border-radius: 50%
  padding: 20px
  background-position: center
  transition: 0.4s
  a
    display: block
    color: #ffffff
    font-size: 14px
  &:hover
    box-shadow: 0 0 10px #1540bf60
    transition: 0.4s
.community_wrap
  +positionAt(absolute, $top: 245px, $right: 20px)
  .community_Btn
    background: #001658 url(#{$assetPath}/new/icon/icon-community.png) no-repeat
    width: 32px
    height: 32px
    background-size: cover
    border-radius: 4px
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16)
    cursor: pointer
  .community_pop_wrap
    display: none
    +positionAt(absolute, $top: 40px, $right:0)
    width: 280px
    background-color: #e2e2e2
    .community_pop_title
      background-color: #ffffff
      +flex_type($justify:space-between, $align:center)
      margin-bottom: 10px
      padding: 20px
      h4
        font-size: 14px
        font-weight: bold
        color: #1540bf
      a
        display: block
        width: 80px
        background-color: #1540bf
        color: #ffffff
        box-shadow: 0 0 8px rgba(21, 64, 191, 0.4)
        font-size: 12px
        padding: 5px
        text-align: center
    .community_pop_list
      > li
        background-color: #fff
        border-bottom: solid 1px #eceff1
        padding: 20px
        &:last-child
          border-bottom: none
  .community_pop_wrap.on
    display: block
.community_main
  .top_info
    span
      display: block
      color: #1540bf
      font-size: 12px
      margin-bottom: 5px
    h5
      font-size: 14px
      margin-bottom: 5px
  > p
    color: #606060
    font-size: 12px
    margin-bottom: 10px
  .down_info
    +flex_type($justify:space-between, $align:center)
    p
      color: #1540bf
      font-size: 12px
    span
      display: block
      color: #606060
      font-size: 12px
.coment_list
  li
    background-color: #ffffff
    padding: 20px
    .coment_main
      +flex_type
      margin-bottom: 10px
      > span
        background: url(#{$assetPath}/icon-answer.png) no-repeat
        width: 14px
        height: 14px
        background-size: cover
        margin-right: 6px
      p
        width: calc(100% - 20px)
    .down_info
      +flex_type($justify:space-between, $align:center)
      padding-left: 20px
      p
        color: #1540bf
        font-size: 12px
      span
        display: block
        color: #606060
        font-size: 12px
.coment_form
  +flex_type($justify:center, $align:center)
  margin: 10px
  input
    border: solid 1px #d2d2d2
    background-color: #fff
    padding: 0 rem(16)
    width: 70%
    height: 40px
  button
    background-color: #1540bf
    color: #ffffff
    width: 30%
    height: 40px
.detail_community
  .community_main
    background-color: #ffffff
    padding: 20px
    margin-bottom: 10px