<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="fragments/common_meta"></th:block>
    <title>소공자플랫폼 상권연구소</title>
    <meta property="og:url" content="">
    <meta property="og:title" content="소공자 플랫폼 | 상권연구소">
    <meta property="og:image" th:content="@{/images/img-logo-black.png}">
    <meta property="og:description" content="소공자 플랫폼 상권연구소">
    <meta name="keywords" content="소공자 플랫폼, 상권연구소, 상권분석정보, 상권특성정보, 지역특성정보">
    <meta name="description" content="소공자 플랫폼 상권연구소">
    <!--/* Common css */-->
    <th:block th:include="fragments/common_css"></th:block>
</head>

<body class="area">
    <article >
        <div th:replace="~{fragments/header :: header}"></div>
            <div id="map_wrap">
                <div id="map" style="width:100%;height:100%;"></div>
            </div>
    </article>
    <div class="wrap-loading display-none">
        <div><img th:src="@{/images/ajax-loading.gif}" alt="로딩중" /></div>
    </div>
    <th:block th:include="fragments/common_js"></th:block>
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d14360c2f4885b7f30157d53c4575f04"></script>
    <script th:inline="javascript">
    var areaJson = /*[[${areaJson}]]*/ [];
    </script>
    <script th:src="@{/js/pages/area/chart.js}"></script>
    <script th:src="@{/js/pages/area/chart_list.js}"></script>
    <script th:src="@{/js/pages/area/trading_area_analysis.js}"></script>
</body>

</html>