<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="fragments/common_meta"></th:block>
    <title>소공자플랫폼 상점연구소</title>
    <meta property="og:url" content="">
    <meta property="og:title" content="소공자 플랫폼 | 상권연구소">
    <meta property="og:image" th:content="@{/images/img-logo-black.png}">
    <meta property="og:description" content="소공자 플랫폼 상권연구소">
    <meta name="keywords" content="소공자 플랫폼, 상권연구소, 상권분석정보, 상권특성정보, 지역특성정보">
    <meta name="description" content="소공자 플랫폼 상권연구소">
    <!--/* Common css */-->
    <th:block th:include="fragments/common_css"></th:block>
</head>

<body class="area">
<article >
    <div th:replace="~{fragments/header :: header}"></div>
    <div id="map_wrap">
        <div id="map"></div>
        <!-- 지도 확대, 축소 컨트롤 div 입니다 -->
        <div class="custom_zoomcontrol radius_border">
            <button class="current-local" onclick="setCenter()"></button>
            <div class="zoombox">
            <span onclick="zoomIn()"><img src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_plus.png" alt="확대"></span>
            <span onclick="zoomOut()"><img src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_minus.png" alt="축소"></span>
            </div>
            <div class="community_Btn" sec:authorize="isAuthenticated()"></div>
        </div>

        <div class="addressSearchTop">
            <div class="hAddr">
                <span class="title"></span>
                <div class="addrlist">
                    <span id="centerAddr1" onclick="changeSelectBox('sido')"></span>
                    <ul id="sidoBox">시도</ul>
                </div>
                <div class="addrlist">
                    <span id="centerAddr2" onclick="changeSelectBox('sigungu')"></span>
                    <ul id="sigunguBox">시군구 조회중</ul>
                </div>
                <div class="addrlist">
                    <span id="centerAddr3" onclick="changeSelectBox('dong')"></span>
                    <ul id="dongBox">행정동 조회중</ul>
                </div>
            </div>

            <div class="searchInput">
                <form onsubmit="searchPlaces2(); return false;" id="search-place">
                    <input type="text" value="" id="keyword" size="15" placeholder="주소를 검색하세요">
                    <input type="text" style="display:none">
                    <button type="submit" class="addresswidth"></button>
                    <button type="button" style="display:none"></button>
                </form>
            </div>
        </div>

        <div class="msearch_pop">
            <div class="msearch">
                <input type="text" value="" id="keyword" size="15" placeholder="주소를 검색하세요">
                <button type="button" class=""></button>
            </div>
            <button type="button" class="search_pop_del">x</button>
        </div>


        <div class="category_wrap">
            <ul id="category">
                <li data-order="0">
                    <label for="Q">
                        <input type="checkbox" name="cate" value="Q" id="Q" onchange="changeMap()" checked/>
                        <span class="category_bg Q"></span>
                        <p>음식</p>
                    </label>
                </li>
                <li data-order="1">
                    <label for="N">
                        <input type="checkbox" name="cate" value="N" id="N" onchange="changeMap()" checked/>
                        <span class="category_bg N"></span>
                        <p>관광·여가·오락</p>
                    </label>
                </li>
                <li data-order="2">
                    <label for="L">
                        <input type="checkbox" name="cate" value="L" id="L" onchange="changeMap()" checked/>
                        <span class="category_bg L"></span>
                        <p>부동산</p>
                    </label>
                </li>
                <li data-order="3">
                    <label for="F">
                        <input type="checkbox" name="cate" value="F" id="F" onchange="changeMap()" checked/>
                        <span class="category_bg F"></span>
                        <p>생활서비스</p>
                    </label>
                </li>
                <li data-order="4">
                    <label for="D">
                        <input type="checkbox" name="cate" value="D" id="D" onchange="changeMap()" checked/>
                        <span class="category_bg D"></span>
                        <p>소매</p>
                    </label>
                </li>
                <li data-order="5">
                    <label for="O">
                        <input type="checkbox" name="cate" value="O" id="O" onchange="changeMap()" checked/>
                        <span class="category_bg O"></span>
                        <p>숙박</p>
                    </label>
                </li>
                <li data-order="6">
                    <label for="P">
                        <input type="checkbox" name="cate" value="P" id="P"onchange="changeMap()"checked/>
                        <span class="category_bg P"></span>
                        <p>스포츠</p>
                    </label>
                </li>

                <li data-order="7">
                    <label for="R">
                        <input type="checkbox" name="cate" value="R" id="R"onchange="changeMap()" checked/>
                        <span class="category_bg R"></span>
                        <p>학문·교육</p>
                    </label>
                </li>
            </ul>
        </div>
    </div>

    <div id="sidebar"></div>

    <div class="community_wrap">
         <div class="community_pop_wrap">
            <div class="community_pop_title">
                <div class="m_scroll_btn">
                    <span></span>
                </div>
                <h4>상점 Community</h4>
                <a th:href="@{/community(type=shop)}">글쓰기</a>
            </div>
            <ul class="community_pop_list">
                <li class="community_main_li" th:each="item : ${shopCommunityList}">
                    <div class="community_main">
                        <div class="top_info">
                            <span>[[${item.region_name1}]] [[${item.region_name2}]] [[${item.category_name1}]] [[${item.category_name2}]]</span>
                            <h5>[[${item.subject}]]</h5>
                        </div>
                        <div class="down_info">
                            <p>[[${item.nick_name}]]</p>
                            <span>[[${item.reg_dt}]]</span>
                        </div>
                    </div>
                    <!--            커뮤니티 상세 보기-->
                    <div class="detail_community">
                        <div class="backbtn">← 뒤로가기</div>
                        <div class="community_main">
                            <div class="top_info">
                                <span>서울시 강남구 숙박음식점</span>
                                <h5>재적의원과반수의 출석과 어쩌구 sdfsdf저쩌구</h5>
                            </div>
                            <p>
                                커뮤니티 글의 내용이 입력됩니다.커뮤니티 글의 내용이 입력됩니다.
                                커뮤니티 글의 내용이 입력됩니다.커뮤니티 글의 내용이 입력됩니다.
                                커뮤니티 글의 내용이 입력됩니다.커뮤니티 글의 내용이 입력됩니다.
                                커뮤니티 글의 내용이 입력됩니다.커뮤니티 글의 내용이 입력됩니다.
                            </p>
                            <div class="down_info">
                                <p>아이디 노출</p>
                                <span>2022.10.25</span>
                            </div>
                        </div>
                        <ul class="coment_list">
                            <li>
                                <div class="coment_main">
                                    <span></span>
                                    <p>
                                        커뮤니티 글의 내용이 입력됩니다.커뮤니티 글의 내용이 입력됩니다.
                                        커뮤니티 글의 내용이 입력됩니다.커뮤니티 글의 내용이 입력됩니다.
                                        커뮤니티 글의 내용이 입력됩니다.커뮤니티 글의 내용이 입력됩니다.
                                        커뮤니티 글의 내용이 입력됩니다.커뮤니티 글의 내용이 입력됩니다.
                                    </p>
                                </div>
                                <div class="down_info">
                                    <p>아이디 노출</p>
                                    <span>2022.10.25</span>
                                </div>
                            </li>
                        </ul>
                        <form action="" class="coment_form">
                            <input type="text">
                            <button type="button">댓글</button>
                        </form>
                    </div>
                </li>
            </ul>
             <!--           상점 커뮤니티 페이지로 이동-->
             <div class="community_more">상점 커뮤니티 더보기</div>
        </div>
    </div>

    <div class="solution_btn">
        <a th:href="@{/solution/education}">
            소공자 <br>
            솔루션
        </a>
    </div>
</article>

<div class="wrap-loading display-none">
    <div><img th:src="@{/images/ajax-loading.gif}" alt="로딩중" /></div>
</div>
<th:block th:include="fragments/common_js"></th:block>
<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b1b498b9b5f5cf2ae9f152080bcb6cec&libraries=services,clusterer,drawing"></script>

<script th:inline="javascript">
    var areaJson = /*[[${areaJson}]]*/ [];
    var researchShop = /*[[${researchShop}]]*/ [];

</script>
<script th:src="@{/js/pages/area/area_function.js}"></script>
<script th:src="@{/js/pages/area/chart.js}"></script>
<script th:src="@{/js/pages/area/chart_list.js}"></script>
<script th:src="@{/js/pages/area/trading_area_common.js}"></script>
<script th:src="@{/js/pages/area/trading_area_shop.js}"></script>


</body>

</html>