<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="fragments/common_meta"></th:block>
    <title>소공자플랫폼 상권연구소</title>
    <meta property="og:url" content="">
    <meta property="og:title" content="소공자 플랫폼 | 상권연구소">
    <meta property="og:image" th:content="@{/images/img-logo-black.png}">
    <meta property="og:description" content="소공자 플랫폼 상권연구소">
    <meta name="keywords" content="소공자 플랫폼, 상권연구소, 상권분석정보, 상권특성정보, 지역특성정보">
    <meta name="description" content="소공자 플랫폼 상권연구소">
    <!--/* Common css */-->
    <th:block th:include="fragments/common_css"></th:block>
</head>

<body class="area">
<article >
    <div th:replace="~{fragments/header :: header}"></div>
    <div id="map_wrap" class="area_map">
        <div id="map"></div>

        <!-- 공통요소 " 지도 확대, 축소 컨트롤 div 입니다 -->
        <div class="custom_zoomcontrol radius_border">
            <button class="current-local" onclick="setCenter()"></button>
            <div class="zoombox">
                <span onclick="zoomIn()"><img src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_plus.png" alt="확대"></span>
                <span onclick="zoomOut()"><img src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_minus.png" alt="축소"></span>
            </div>
        </div>
        <div class="addressSearchTop">
            <div class="hAddr">
                <span class="title"></span>
                <div class="addrlist">
                    <span id="centerAddr1" onclick="changeSelectBox('sido')"></span>
                    <ul id="sidoBox">시도</ul>
                </div>
                <div class="addrlist">
                    <span id="centerAddr2" onclick="changeSelectBox('sigungu')"></span>
                    <ul id="sigunguBox">시군구 조회중</ul>
                </div>
                <div class="addrlist">
                    <span id="centerAddr3" onclick="changeSelectBox('dong')"></span>
                    <ul id="dongBox">행정동 조회중</ul>
                </div>
            </div>
            <div class="searchInput">
                <form onsubmit="searchPlaces2(); return false;" id="search-place">
                    <input type="text" value="" id="keyword" size="15" placeholder="주소를 검색하세요">
                    <input type="text" style="display:none">
                    <button type="submit" class="addresswidth"></button>
                    <button type="button" style="display:none"></button>
                </form>
            </div>
        </div>
        <div class="msearch_pop">
            <div class="msearch">
                <input type="text" value="" id="keyword" size="15" placeholder="주소를 검색하세요">
                <button type="button" class=""></button>
            </div>
            <button type="button" class="search_pop_del">x</button>
        </div>
        <!-- 공통요소 주소창 검색 -->

        <!--상점수 개폐업수 추정매출 탭 -->
        <ul class="areaTap">
            <li>
                <input type="radio" name="areaTab" value="stores" id="stores" checked>
                <label for="stores">상점수</label>
            </li>
            <li>
                <div class="openclose">개폐업수</div>
                <ul class="openclose_list">
                    <li>
                        <input type="radio" name="areaTab" value="open" id="open">
                        <label for="open">개업수</label>
                    </li>
                    <li>
                        <input type="radio" name="areaTab" value="close" id="close">
                        <label for="close">폐업수</label>
                    </li>
                </ul>
            </li>
            <li class="sales">
                <input type="radio" name="areaTab" value="sales" id="sales">
                <label for="sales">추정매출</label>
            </li>
        </ul>

        <div id="filter">
            <div class="filterIcon">업종선택</div>
            <div class="filterbox">
                <h3><span></span>필터</h3>
                <ul class="timeSelect">
                    <h4>시간선택</h4>
                    <li>
                        <input type="checkbox" name="timecate" value="SUM_00_06" id="SUM_00_06" onchange="" checked />
                        <label for="SUM_00_06">00:00~06:00</label>
                    </li>
                    <li>
                        <input type="checkbox" name="timecate" value="SUM_06_11" id="SUM_06_11" onchange="" checked />
                        <label for="SUM_06_11">06:00~11:00</label>
                    </li>
                    <li>
                        <input type="checkbox" name="timecate" value="SUM_11_14" id="SUM_11_14" onchange="" checked />
                        <label for="SUM_11_14">11:00~14:00</label>
                    </li>
                    <li>
                        <input type="checkbox" name="timecate" value="SUM_14_17" id="SUM_14_17" onchange="" checked />
                        <label for="SUM_14_17">14:00~17:00</label>
                    </li>
                    <li>
                        <input type="checkbox" name="timecate" value="SUM_17_21" id="SUM_17_21" onchange="" checked />
                        <label for="SUM_17_21">17:00~21:00</label>
                    </li>
                    <li>
                        <input type="checkbox" name="timecate" value="SUM_21_24" id="SUM_21_24" onchange="" checked />
                        <label for="SUM_21_24">21:00~24:00</label>
                    </li>
                </ul>
                <h4>업종선택</h4>
                <h5>대분류 선택</h5>
                <ul class="mainSectors">
                    <li>
                        <input type="radio" name="area_maincate" value="all" id="all-sector" onchange="" checked />
                        <label for="all-sector">전체</label>
                    </li>
                    <li>
                        <input type="radio" name="area_maincate" value="I" id="I-sector" onchange="" />
                        <label for="I-sector">숙박·음식</label>
                    </li>
                    <li>
                        <input type="radio" name="area_maincate" value="S" id="S-sector" onchange="" />
                        <label for="S-sector">수리·개인서비스</label>
                    </li>
                    <li>
                        <input type="radio" name="area_maincate" value="G" id="G-sector" onchange="" />
                        <label for="G-sector">도·소매</label>
                    </li>
                    <li>
                        <input type="radio" name="area_maincate" value="R" id="R-sector" onchange="" />
                        <label for="R-sector">예술·스포츠·여가</label>
                    </li>
                    <li>
                        <input type="radio" name="area_maincate" value="N" id="N-sector" onchange="" />
                        <label for="N-sector">시설관리·임대</label>
                    </li>
                    <li>
                        <input type="radio" name="area_maincate" value="M" id="M-sector" onchange="" />
                        <label for="M-sector">과학·기술</label>
                    </li>
                    <li>
                        <input type="radio" name="area_maincate" value="L" id="L-sector" onchange="" />
                        <label for="L-sector">부동산</label>
                    </li>
                    <li>
                        <input type="radio" name="area_maincate" value="P" id="P-sector" onchange="" />
                        <label for="P-sector">교육</label>
                    </li>
                </ul>
                <h5>중분류 선택</h5>
                <div class="midSecBox">
                    <ul class="midSectors all-mid-sector">
                        <li>
                            <input type="radio" name="area_midcate" value="all-mid-sector" id="all-mid-sector" onchange="" checked />
                            <label for="all-mid-sector">전체 업종</label>
                        </li>
                    </ul>
                    <ul class="midSectors all-I-sector">
                        <li>
                            <input type="radio" name="area_midcate" value="all-I-sector" id="all-I-sector" onchange="" />
                            <label for="all-I-sector">전체 숙박·음식</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="I9001" id="I9001" onchange=""   />
                            <label for="I9001">고시원</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="I1914" id="I1914" onchange=""   />
                            <label for="I1914">분식전문점</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="I1223" id="I1223" onchange=""   />
                            <label for="I1223">양식전문점</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="I1002" id="I1002" onchange=""   />
                            <label for="I1002">여관</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="I1204" id="I1204" onchange=""   />
                            <label for="I1204">일식전문점</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="I1903" id="I1903" onchange=""   />
                            <label for="I1903">제과점</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="I1201" id="I1201" onchange=""   />
                            <label for="I1201">중식음식점</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="I1913" id="I1913" onchange=""   />
                            <label for="I1913">치킨전문점</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="I2201" id="I2201" onchange=""   />
                            <label for="I2201">커피-음료</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="I1102" id="I1102" onchange=""   />
                            <label for="I1102">한식음식점</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="I2109" id="I2109" onchange=""   />
                            <label for="I2109">호프-간이주점</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="I1005" id="I1005" onchange=""   />
                            <label for="I1005">게스트하우스</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="I1908" id="I1908" onchange=""   />
                            <label for="I1908">패스트푸드점</label>
                        </li>
                    </ul>
                    <ul class="midSectors all-S-sector">
                        <li>
                            <input type="radio" name="area_midcate" value="all-S-sector" id="all-S-sector" onchange=""   />
                            <label for="all-S-sector">전체 수리·개인서비스</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="S3102" id="S3102" onchange=""   />
                            <label for="S3102">가전제품수리</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="S1103" id="S1103" onchange=""   />
                            <label for="S1103">네일숍</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="S1101" id="S1101" onchange=""   />
                            <label for="S1101">미용실</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="S9101" id="S9101" onchange=""   />
                            <label for="S9101">세탁소</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="S2102" id="S2102" onchange=""   />
                            <label for="S2102">자동차수리</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="S6313" id="S6313" onchange=""   />
                            <label for="S6313">자전거 및 기타운송장비</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="S1201" id="S1201" onchange=""   />
                            <label for="S1201">통신기기수리</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="S1102" id="S1102" onchange=""   />
                            <label for="S1102">피부관리실</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="S2103" id="S2103" onchange=""   />
                            <label for="S2103">자동차미용</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="S2201" id="S2201" onchange=""   />
                            <label for="S2201">모터사이클 및 부품</label>
                        </li>
                    </ul>
                    <ul class="midSectors all-G-sector">
                        <li>
                            <input type="radio" name="area_midcate" value="all-G-sector" id="all-G-sector" onchange=""   />
                            <label for="all-G-sector">전체 도·소매</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="G5201" id="G5201" onchange=""   />
                            <label for="G5201">가구</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="G4401" id="G4401" onchange=""   />
                            <label for="G4401">가방</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="G3206" id="G3206" onchange=""   />
                            <label for="G3206">가전제품</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="G6102" id="G6102" onchange=""   />
                            <label for="G6102">문구</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="G5919" id="G5919" onchange=""   />
                            <label for="G5919">복권방</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="G6101" id="G6101" onchange=""   />
                            <label for="G6101">서적</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="G4208" id="G4208" onchange=""   />
                            <label for="G4208">섬유제품</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="G2110" id="G2110" onchange=""   />
                            <label for="G2110">수산물판매</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="G1902" id="G1902" onchange=""   />
                            <label for="G1902">슈퍼마켓</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="G8301" id="G8301" onchange=""   />
                            <label for="G8301">시계및귀금속</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="G4301" id="G4301" onchange=""   />
                            <label for="G4301">신발</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="G5906" id="G5906" onchange=""   />
                            <label for="G5906">악기</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="G9903" id="G9903" onchange=""   />
                            <label for="G9903">안경</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="G6403" id="G6403" onchange=""   />
                            <label for="G6403">완구</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="G6307" id="G6307" onchange=""   />
                            <label for="G6307">운동/경기용품</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="G4104" id="G4104" onchange=""   />
                            <label for="G4104">유아의류</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="G2104" id="G2104" onchange=""   />
                            <label for="G2104">육류판매</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="G8107" id="G8107" onchange=""   />
                            <label for="G8107">의료기기</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="G5910" id="G5910" onchange=""   />
                            <label for="G5910">인테리어</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="G4105" id="G4105" onchange=""   />
                            <label for="G4105">일반의류</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="G2102" id="G2102" onchange=""   />
                            <label for="G2102">자동차부품</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="G9102" id="G9102" onchange=""   />
                            <label for="G9102">전자상거래업</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="G8601" id="G8601" onchange=""   />
                            <label for="G8601">중고가구</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="G1201" id="G1201" onchange=""   />
                            <label for="G1201">중고차판매</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="G2111" id="G2111" onchange=""   />
                            <label for="G2111">청과상</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="G3101" id="G3101" onchange=""   />
                            <label for="G3101">컴퓨터및주변장치판매</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="G1903" id="G1903" onchange=""   />
                            <label for="G1903">편의점</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="G4102" id="G4102" onchange=""   />
                            <label for="G4102">한복점</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="G3105" id="G3105" onchange=""   />
                            <label for="G3105">핸드폰</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="G8108" id="G8108" onchange=""   />
                            <label for="G8108">화장품</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="G8501" id="G8501" onchange=""   />
                            <label for="G8501">화초</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="G2124" id="G2124" onchange=""   />
                            <label for="G2124">반찬가게</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="G8409" id="G8409" onchange=""   />
                            <label for="G8409">예술품</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="G8102" id="G8102" onchange=""   />
                            <label for="G8102">의약품</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="G8604" id="G8604" onchange=""   />
                            <label for="G8604">재생용품 판매점</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="G7103" id="G7103" onchange=""   />
                            <label for="G7103">주유소</label>
                        </li>
                    </ul>
                    <ul class="midSectors all-R-sector">
                        <li>
                            <input type="radio" name="area_midcate" value="all-R-sector" id="all-R-sector" onchange="" />
                            <label for="all-R-sector">전체 예술·스포츠·여가</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="R2202" id="R2202" onchange="" />
                            <label for="R2202">PC방</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="R2904" id="R2904" onchange="" />
                            <label for="R2904">기타오락장</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="R2203" id="R2203" onchange="" />
                            <label for="R2203">노래방</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="R1306" id="R1306" onchange="" />
                            <label for="R1306">당구장</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="R2105" id="R2105" onchange="" />
                            <label for="R2105">독서실</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="R1305" id="R1305" onchange="" />
                            <label for="R1305">볼링장</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="R2201" id="R2201" onchange="" />
                            <label for="R2201">전자게임장</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="R1104" id="R1104" onchange="" />
                            <label for="R1104">녹음실</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="R1319" id="R1319" onchange="" />
                            <label for="R1319">스포츠클럽</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="R1341" id="R1341" onchange="" />
                            <label for="R1341">스포츠 강습</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="R1309" id="R1309" onchange="" />
                            <label for="R1309">골프연습장</label>
                        </li>
                    </ul>
                    <ul class="midSectors all-N-sector">
                        <li>
                            <input type="radio" name="area_midcate" value="all-N-sector" id="all-N-sector" onchange="" />
                            <label for="all-N-sector">전체 시설관리·임대</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="N2904" id="N2904" onchange="" />
                            <label for="N2904">가정용품임대</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="N2912" id="N2912" onchange="" />
                            <label for="N2912">의류임대</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="N2101" id="N2101" onchange="" />
                            <label for="N2101">건축물청소</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="N2902" id="N2902" onchange="" />
                            <label for="N2902">비디오/서적임대</label>
                        </li>
                    </ul>
                    <ul class="midSectors all-M-sector">
                        <li>
                            <input type="radio" name="area_midcate" value="all-M-sector" id="all-M-sector" onchange="" />
                            <label for="all-M-sector">전체 과학·기술</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="M1001" id="M1001" onchange="" />
                            <label for="M1001">변호사사무소</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="M1002" id="M1002" onchange="" />
                            <label for="M1002">변리사사무소</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="M3001" id="M3001" onchange="" />
                            <label for="M3001">사진관</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="M2003" id="M2003" onchange="" />
                            <label for="M2003">세무사사무소</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="M9002" id="M9002" onchange="" />
                            <label for="M9002">통번역서비스</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="M2002" id="M2002" onchange="" />
                            <label for="M2002">회계사사무소</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="M1003" id="M1003" onchange="" />
                            <label for="M1003">기타법무서비스</label>
                        </li>
                    </ul>
                    <ul class="midSectors all-L-sector">
                        <li>
                            <input type="radio" name="area_midcate" value="L2201" id="L2201" onchange="" />
                            <label for="L2201">부동산중개업</label>
                        </li>
                    </ul>
                    <ul class="midSectors all-P-sector">
                        <li>
                            <input type="radio" name="area_midcate" value="all-P-sector" id="all-P-sector" onchange="" />
                            <label for="all-P-sector">전체 교육</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="P6211" id="P6211" onchange="" />
                            <label for="P6211">외국어학원</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="P6901" id="P6901" onchange="" />
                            <label for="P6901">컴퓨터학원</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="P6607" id="P6607" onchange="" />
                            <label for="P6607">예술학원</label>
                        </li>
                        <li>
                            <input type="radio" name="area_midcate" value="P6304" id="P6304" onchange="" />
                            <label for="P6304">일반교습학원</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="category_wrap area">
            <ul class="category">
                <li data-order="0">
                    <label for="Aa">
                        <input type="radio" name="cate2" value="A" id="Aa" onchange="changeMap()" checked/>
                        <span class="category_bg A"></span>
                        <p>골목상권</p>
                    </label>
                </li>
                <li data-order="1">
                    <label for="Ua">
                        <input type="radio" name="cate2" value="U" id="Ua" onchange="changeMap()"/>
                        <span class="category_bg U"></span>
                        <p>관광특구</p>
                    </label>
                </li>
                <li data-order="2">
                    <label for="Da">
                        <input type="radio" name="cate2" value="D" id="Da" onchange="changeMap()"/>
                        <span class="category_bg D"></span>
                        <p>발달상권</p>
                    </label>
                </li>
                <li data-order="3">
                    <label for="Ra">
                        <input type="radio" name="cate2" value="R" id="Ra" onchange="changeMap()"/>
                        <span class="category_bg R"></span>
                        <p>전통시장</p>
                    </label>
                </li>
              </ul>
        </div>

        <div class="category_wrap" id="storelist">
            <ul class="category">
                <li data-order="0">
                    <label for="Q">
                        <input type="checkbox" name="cate" value="Q" id="Q" onchange="changeMap()" checked/>
                        <span class="category_bg Q"></span>
                        <p>음식</p>
                    </label>
                </li>
                <li data-order="1">
                    <label for="N">
                        <input type="checkbox" name="cate" value="N" id="N" onchange="changeMap()" checked/>
                        <span class="category_bg N"></span>
                        <p>관광·여가·오락</p>
                    </label>
                </li>
                <li data-order="2">
                    <label for="L">
                        <input type="checkbox" name="cate" value="L" id="L" onchange="changeMap()" checked/>
                        <span class="category_bg L"></span>
                        <p>부동산</p>
                    </label>
                </li>
                <li data-order="3">
                    <label for="F">
                        <input type="checkbox" name="cate" value="F" id="F" onchange="changeMap()" checked/>
                        <span class="category_bg F"></span>
                        <p>생활서비스</p>
                    </label>
                </li>
                <li data-order="4">
                    <label for="D">
                        <input type="checkbox" name="cate" value="D" id="D" onchange="changeMap()" checked/>
                        <span class="category_bg D"></span>
                        <p>소매</p>
                    </label>
                </li>
                <li data-order="5">
                    <label for="O">
                        <input type="checkbox" name="cate" value="O" id="O" onchange="changeMap()" checked/>
                        <span class="category_bg O"></span>
                        <p>숙박</p>
                    </label>
                </li>
                <li data-order="6">
                    <label for="P">
                        <input type="checkbox" name="cate" value="P" id="P"onchange="changeMap()"checked/>
                        <span class="category_bg P"></span>
                        <p>스포츠</p>
                    </label>
                </li>

                <li data-order="7">
                    <label for="R">
                        <input type="checkbox" name="cate" value="R" id="R" onchange="changeMap()" checked/>
                        <span class="category_bg R"></span>
                        <p>학문·교육</p>
                    </label>
                </li>
            </ul>
        </div>

    </div>
</article>
<div class="wrap-loading display-none">
    <div><img th:src="@{/images/ajax-loading.gif}" alt="로딩중" /></div>
</div>
<th:block th:include="fragments/common_js"></th:block>
<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b1b498b9b5f5cf2ae9f152080bcb6cec&libraries=services,clusterer,drawing"></script>
<script th:inline="javascript">
    var areaJson = /*[[${areaJson}]]*/ [];
</script>
<script th:src="@{/js/pages/area/area_function.js}"></script>
<script th:src="@{/js/pages/area/chart.js}"></script>
<script th:src="@{/js/pages/area/chart_list.js}"></script>
<script th:src="@{/js/pages/area/trading_area_common.js}"></script>
<script th:src="@{/js/pages/area/trading_area_analysis.js}"></script>
</body>

</html>