<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="fragments/common_meta"></th:block>
    <title>소공자플랫폼 상권연구소</title>
    <meta property="og:url" content="">
    <meta property="og:title" content="소공자 플랫폼 | 상권연구소">
    <meta property="og:image" th:content="@{/images/img-logo-black.png}">
    <meta property="og:description" content="소공자 플랫폼 상권연구소">
    <meta name="keywords" content="소공자 플랫폼, 상권연구소, 상권분석정보, 상권특성정보, 지역특성정보">
    <meta name="description" content="소공자 플랫폼 상권연구소">
    <!--/* Common css */-->
    <th:block th:include="fragments/common_css"></th:block>
</head>
<style>

</style>
<body class="area">
<article >
    <div th:replace="~{fragments/header :: header}"></div>
    <div id="map_wrap">
        <div id="map"></div>

        <div class="addressSearchTop">
            <div class="hAddr">
                <span class="title"></span>
                <span class="centerAddr centerAddr1" id="centerAddr1"></span>
                <span class="centerAddr centerAddr2" id="centerAddr2"></span>
                <span class="centerAddr centerAddr3" id="centerAddr3"></span>
            </div>

            <div class="searchInput">
                <form onsubmit="searchPlaces2(); return false;" id="search-place">
                    <input type="text" value="" id="keyword" size="15" placeholder="주소를 검색하세요">
                    <input type="text" style="display:none">
                    <button type="submit"></button>
                    <button type="button" style="display:none"></button>
                </form>
            </div>
        </div>
        <button class="current-local" onclick="setCenter()"></button>

        <ul id="category">
            <li data-order="0">
                <input type="checkbox" name="cate" value="BK9" id="BK9" onchange="a()" checked />
                <span class="category_bg bank"></span>
                은행
            </li>
            <li data-order="1">
                <input type="checkbox" name="cate" value="MT1" id="MT1" onchange="b()" checked />
                <span class="category_bg mart"></span>
                마트
            </li>
            <li data-order="2">
                <input type="checkbox" name="cate" value="PM9" id="PM9" onchange="c()" checked />
                <span class="category_bg pharmacy"></span>
                약국
            </li>
            <li data-order="3">
                <input type="checkbox" name="cate" value="OL7" id="OL7" onchange="d()" checked />
                <span class="category_bg oil"></span>
                주유소
            </li>
            <li data-order="4">
                <input type="checkbox" name="cate" value="CE7" id="CE7" onchange="e()" checked />
                <span class="category_bg cafe"></span>
                카페
            </li>
            <li data-order="5">
                <input type="checkbox" name="cate" value="CS2" id="CS2" onchange="f()" checked />
                <span class="category_bg store"></span>
                편의점
            </li>
        </ul>
    </div> <div id="sidebar"></div>
</article>
<div class="wrap-loading display-none">
    <div><img th:src="@{/images/ajax-loading.gif}" alt="로딩중" /></div>
</div>
<th:block th:include="fragments/common_js"></th:block>
<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b1b498b9b5f5cf2ae9f152080bcb6cec&libraries=services"></script>

<script th:inline="javascript">
    var areaJson = /*[[${areaJson}]]*/ [];
</script>
<script th:src="@{/js/pages/area/chart.js}"></script>
<script th:src="@{/js/pages/area/chart_list.js}"></script>
<script th:src="@{/js/pages/area/trading_area_shop.js}"></script>
</body>

</html>