<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<head>
    <title th:text="${breadcrumb.menu_name}">게시판관리</title>
</head>
<div layout:fragment="content">
    <nav th:replace="fragments/page_breadcrumb"></nav>
    <div class="row">
        <div class="col-12 col-xl-12 grid-margin stretch-card">
            <div class="tab_wrap">
                <div class="row">
                    <div class="col-sm-2 tab">
                        <a th:href="@{/areaSetting/shop}">상점 데이터</a>
                    </div>
                    <div class="col-sm-2 tab active">
                        <a th:href="@{/areaSetting/analysis}">상권 데이터</a>
                    </div>
                    <div class="col-sm-2 tab">
                        <a th:href="@{/areaSetting/regional}">지역(동) 데이터</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <form name="searchForm">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <label class="col-sm-2 col-form-label">대분류</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <select class="form-control">
                                            <option>전체</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <label class="col-sm-2 col-form-label">중분류</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <select class="form-control">
                                            <option>전체</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <label class="col-sm-2 col-form-label">소분류</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <select class="form-control">
                                            <option>전체</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1">
                                <label class="col-sm-12 col-form-label">검색</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="검색어를 입력하세요">
                            </div>
                            <button type="submit" class="col-sm-3 btn btn-primary btn-icon-text btn-search">
                                <i class="btn-icon-prepend" data-feather="search"></i>검색
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row justify-content-between">
                        <div class="col-sm-4 row pl-4">
                            <label for="all_check" class="mt-2">
                                <input type="checkbox" id="all_check">
                                전체선택
                            </label>
                            <th:block th:fragment="paging_result(title)" th:with="sort=(${sort} ?: '')">
                                <div class="ml-2 mt-2">
                                    <div>
                                        <span class="title font-weight-bold h5 mr-2" th:text="${title}">News</span>
                                        <span class="result-count text-muted">
                                            <span th:text="${#numbers.formatInteger(paging.total,0,'COMMA')}">87</span>
                                            <span>Results</span>
                                        </span>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                        <div class="row justify-content-end col-sm-8">
                            <button type="button" class="btn col-sm-2 btn-danger mr-1">선택삭제</button>
                            <button type="button" class="btn col-sm-2 btn-primary mr-1"><i class="icon-cloud-download" data-feather="download-cloud"></i> 내려받기</button>
                            <form class="col-sm-7 row justify-content-end ml-2" th:action="@{/excel/read}" method="POST" enctype="multipart/form-data">
                                <div class="col-sm-8 mt-1 mr-3 custom-file">
                                    <input class="custom-file-input" type="file" id="fileExcel" name="file">
                                    <label class="custom-file-label" for="fileExcel">파일선택</label>
                                    <input type="hidden" name="excelType" value="faq">
                                </div>
                                <button type="submit" class="btn col-sm-3 btn-success" id="excelUpload"><i class="btn-icon-prepend" data-feather="file-text"></i>일괄등록</button>
                                <!--                            <button type="button" class="btn col-sm-1 btn-success"><i class="btn-icon-prepend" data-feather="file-text"></i>일괄등록</button>-->
                            </form>
                        </div>
                    </div>
                    <form name="searchForm" th:action="@{|/board/${boardType}|(menuCode=${params.menuCode})}" th:object="${params}" method="get">
                        <th:block th:include="fragments/search_hidden"></th:block>
                    </form>
                    <p class="card-description"></p>
                    <div class="table-responsive" style="text-align:center">
                        <table class="table table-hover" style="white-space: nowrap">
                            <thead>
                            <tr>
                                <th>선택</th>
                                <th>#</th>
                                <th>상호명</th>
                                <th>지역명</th>
                                <th>상권업종대분류코드</th>
                                <th>상권업종대분류명</th>
                                <th>상권업종중분류코드</th>
                                <th>상권업종중분류명</th>
                                <th>상권업종소분류코드</th>
                                <th>상권업종소분류명</th>
                                <th>등록일</th>
                                <th>1234123</th>
                                <th>1234123</th>
                                <th>1234123</th>
                                <th>1234123</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:include="fragments/table_empty:: table_empty(7)" th:if="${#lists.isEmpty(list)}"></th:block>
                            <tr th:each="item : ${list}" th:unless="${#lists.isEmpty(list)}">
                                <td><input type="checkbox" th:name="chk_shop"></td>
                                <td>
                                    <th:block th:text="${paging.total - item.rnum + 1}">1</th:block>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td th:text="${#dates.format(item.reg_date, 'yyyy-MM-dd HH:mm:ss')}">등록일</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <th:block th:include="fragments/paging"></th:block>
                </div>
            </div>
        </div>
    </div>
    <form name="deleteForm" th:action="@{/board/settingDelete}" method="post">
        <input type="hidden" name="boardSettingSeq">
        <input type="hidden" name="boardType" th:value="${boardType}">
        <input type="hidden" name="menuCode" th:value=${params.menuCode}>
    </form>
</div>
<th:block layout:fragment="custom_css">
</th:block>
<th:block layout:fragment="custom_js">
    <script th:src="@{/assets/js/pages/board/board_setting_list.js}"></script>
    <script th:src="@{/assets/js/pages/area/area.js}"></script>
</th:block>

</html>