<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<head>
    <title th:text="${breadcrumb.menu_name}">게시판관리</title>
</head>
<div layout:fragment="content">
    <nav th:replace="fragments/page_breadcrumb"></nav>
    <div class="row">
        <div class="col-12 col-xl-12 grid-margin stretch-card">
            <div class="tab_wrap">
                <div class="row">
                    <div class="col-sm-2 tab active">
                        <a th:href="@{/areaSetting/shop}">상점 데이터</a>
                    </div>
                    <div class="col-sm-2 tab">
                        <a th:href="@{/areaSetting/analysis}">상권 데이터</a>
                    </div>
                    <div class="col-sm-2 tab">
                        <a th:href="@{/areaSetting/regional}">지역(동) 데이터</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <form name="searchForm" th:action="@{/areaSetting/shop}" th:object="${params}" method="get">
                        <th:block th:include="fragments/search_hidden"></th:block>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <label class="col-sm-2 col-form-label">대분류</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <select class="form-control" th:field="*{category1}" onchange="selSubmit()">
                                            <option value="">전체</option>
                                            <option th:each="item : ${category1List}" th:value="${item.code_type1}">[[${item.nm_type1}]]</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <label class="col-sm-2 col-form-label">중분류</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <select class="form-control" th:field="*{category2}" onchange="selSubmit()">
                                            <option value="">전체</option>
                                            <option th:each="item : ${category2List}" th:value="${item.code_type2}" th:if="category2List != null">[[${item.nm_type2}]]</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <label class="col-sm-2 col-form-label">소분류</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <select class="form-control" th:field="*{category3}" onchange="selSubmit()">
                                            <option value="">전체</option>
                                            <option th:each="item : ${category3List}" th:value="${item.code_type3}" th:if="category3List != null">[[${item.nm_type3}]]</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1">
                                <label class="col-sm-12 col-form-label">상호명</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" th:field="*{keyword}" placeholder="검색어를 입력하세요">
                            </div>
                            <button type="submit" class="col-sm-3 btn btn-primary btn-icon-text btn-search">
                                <i class="btn-icon-prepend" data-feather="search"></i>검색
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row justify-content-between">
                        <div class="col-sm-4 row pl-4">
                            <label for="all_check" class="mt-2">
                                <input type="checkbox" id="all_check">
                                전체선택
                            </label>
                            <th:block th:fragment="paging_result(title)" th:with="sort=(${sort} ?: '')">
                                <div class="ml-2 mt-2">
                                    <div>
                                        <span class="title font-weight-bold h5 mr-2" th:text="${title}">News</span>
                                        <span class="result-count text-muted">
                                            <span th:text="${#numbers.formatInteger(paging.total,0,'COMMA')}">87</span>
                                            <span>Results</span>
                                        </span>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                        <div class="row justify-content-end col-sm-8">
                            <button type="button" class="btn col-sm-2 btn-danger mr-1" id="del_reSearchShop">선택삭제</button>
                            <button type="button" class="btn col-sm-2 btn-primary mr-1"><i class="icon-cloud-download" data-feather="download-cloud"></i> 내려받기</button>
                            <form class="col-sm-7 row justify-content-end ml-2" th:action="@{/excel/read}" method="POST" enctype="multipart/form-data">
                                <div class="col-sm-8 mt-1 mr-3 custom-file">
                                    <input class="custom-file-input" type="file" id="fileExcel" name="file">
                                    <label class="custom-file-label" for="fileExcel">파일선택</label>
                                    <input type="hidden" name="excelType" value="faq">
                                </div>
                                <button type="submit" class="btn col-sm-3 btn-success" id="excelUpload"><i class="btn-icon-prepend" data-feather="file-text"></i>일괄등록</button>
                                <!--                            <button type="button" class="btn col-sm-1 btn-success"><i class="btn-icon-prepend" data-feather="file-text"></i>일괄등록</button>-->
                            </form>
                        </div>
                    </div>
                    <!--/*<form name="searchForm" th:action="@{|/board/${boardType}|(menuCode=${params.menuCode})}" th:object="${params}" method="get">
                        <th:block th:include="fragments/search_hidden"></th:block>
                    </form>*/-->
                    <p class="card-description"></p>
                    <div class="table-responsive" style="text-align:center">
                        <table class="table table-hover" style="white-space: nowrap">
                            <thead>
                            <tr>
                                <th>선택</th>
                                <th>#</th>
                                <th>상점번호</th>
                                <th>상호명</th>
                                <th>지점명</th>
                                <th>상권 업종 대분류 코드</th>
                                <th>상권 업종 대분류명</th>
                                <th>상권 업종 중분류 코드</th>
                                <th>상권 업종 중분류명</th>
                                <th>상권 업종 소분류 코드</th>
                                <th>상권 업종 소분류명</th>
                                <th>지번 코드</th>
                                <th>지번 주소</th>
                                <th>도로명 주소</th>
                                <th>읍면동 코드</th>
                                <th>읍면동명</th>
                                <th>경도</th>
                                <th>위도</th>
                                <th>지하철 노선명 역명</th>
                                <th>역 번호</th>
                                <th>월 평균 지하철 총 승차 승객 수</th>
                                <th>월 평균 지하철 총 하차 승객 수</th>
                                <th>월 합계 지하철 총 승차 승객 수</th>
                                <th>월 합계 지하철 총 하차 승객 수</th>
                                <th>버스정류장 정류장명</th>
                                <th>정류장 번호</th>
                                <th>월 평균 버스정류장 승차 총 승객 수</th>
                                <th>월 평균 버스정류장 하차 총 승객 수</th>
                                <th>월 합계 버스정류장 승차 총 승객 수</th>
                                <th>월 합계 버스정류장 하차 총 승객 수</th>
                                <th>사용 승인일</th>
                                <th>지상 층수</th>
                                <th>지하 층수</th>
                                <th>주용도 코드</th>
                                <th>주용도 코드명</th>
                                <th>기타 용도</th>

                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:include="fragments/table_empty:: table_empty(7)" th:if="${#lists.isEmpty(list)}"></th:block>
                            <tr th:each="item : ${list}" th:unless="${#lists.isEmpty(list)}">
                                <td><input type="checkbox" name="shop_check" th:value="${item.shop_seq}"></td>
                                <td>
                                    <th:block th:text="${paging.total - item.rnum + 1}">1</th:block>
                                </td>
                                <td>[[${item.shop_no}]]</td>
                                <td>[[${item.shop_nm}]]</td>
                                <td>[[${item.branch}]]</td>
                                <td>[[${item.code_type1}]]</td>
                                <td>[[${item.nm_type1}]]</td>
                                <td>[[${item.code_type2}]]</td>
                                <td>[[${item.nm_type2}]]</td>
                                <td>[[${item.code_type3}]]</td>
                                <td>[[${item.nm_type3}]]</td>
                                <td>[[${item.addr_cd}]]</td>
                                <td>[[${item.addr}]]</td>
                                <td>[[${item.st_addr}]]</td>
                                <td>[[${item.emd_cd}]]</td>
                                <td>[[${item.emd_nm}]]</td>
                                <td>[[${item.longitude}]]</td>
                                <td>[[${item.latitude}]]</td>
                                <td>[[${item.sub_sta_nm}]]</td>
                                <td>[[${item.sub_sta_no}]]</td>
                                <td>[[${item.ave_sub_pass_on}]]</td>
                                <td>[[${item.ave_sub_pass_off}]]</td>
                                <td>[[${item.sum_sub_pass_on}]]</td>
                                <td>[[${item.sum_sub_pass_off}]]</td>
                                <td>[[${item.bus_sta_nm}]]</td>
                                <td>[[${item.ars_id}]]</td>
                                <td>[[${item.ave_bus_pass_on}]]</td>
                                <td>[[${item.ave_bus_pass_off}]]</td>
                                <td>[[${item.sum_bus_pass_on}]]</td>
                                <td>[[${item.sum_bus_pass_off}]]</td>
                                <td>[[${item.apprv_date}]]</td>
                                <td>[[${item.ct_grd}]]</td>
                                <td>[[${item.ct_base}]]</td>
                                <td>[[${item.pincp_use_cd}]]</td>
                                <td>[[${item.princp_use}]]</td>
                                <td>[[${item.other_use}]]</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <th:block th:include="fragments/paging"></th:block>
                </div>
            </div>
        </div>
    </div>
    <form name="deleteForm" th:action="@{/areaSetting/shop/delete}" method="post">
        <input type="hidden" name="reSearchShopStr">
    </form>
</div>
<th:block layout:fragment="custom_css">
</th:block>
<th:block layout:fragment="custom_js">
    <script th:src="@{/assets/js/pages/board/board_setting_list.js}"></script>
    <script th:src="@{/assets/js/pages/area/area.js}"></script>
</th:block>

</html>