<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<head>
  <title th:text="${breadcrumb.menu_name}">게시판관리</title>
</head>
<div layout:fragment="content">
  <nav th:replace="fragments/page_breadcrumb"></nav>
  <div class="row">
    <div class="col-12 col-xl-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <form name="searchForm" th:action="@{|/board/${boardType}|(menuCode=${params.menuCode})}" th:object="${params}" method="get">
            <th:block th:include="fragments/search_hidden"></th:block>
            <div class="row">
              <label class="col-sm-8 col-form-label">게시판 목록</label>
              <div class="col-sm-4 text-right">
                <a th:href="@{|/board/setting/form?${pageParams}|}" class="btn btn-secondary btn-icon-text">
                  <i class="btn-icon-prepend" data-feather="edit"></i>게시판 추가
                </a>
              </div>
            </div>
          </form>
          <p class="card-description"></p>
          <div class="table-responsive" style="text-align:center">
            <table class="table table-hover">
              <colgroup>
                <col style="width: 5%;">
                <col style="width: 35%;">
                <col style="width: 12%;">
                <col style="width: 12%;">
                <col style="width: 12%;">
                <col style="width: 12%;">
                <col style="width: 5%;">
                <col style="width: 12%;">
              </colgroup>
              <thead>
              <tr>
                <th>#</th>
                <th>게시판 이름</th>
                <th>첨부파일</th>
                <th>답변사용</th>
                <th>비밀글</th>
                <th>등록일</th>
                <th>게시글 관리</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <th:block th:include="fragments/table_empty:: table_empty(7)" th:if="${#lists.isEmpty(list)}"></th:block>
              <tr th:each="item : ${list}" th:unless="${#lists.isEmpty(list)}">
                <td>
                  <!--<span class="badge badge-primary" >게시판</span>-->
                  <th:block th:text="${paging.total - item.rnum + 1}">1</th:block>
                </td>
                <td>
                  <a th:href="@{|/board/setting/detail/${item.board_setting_seq}?${pageParams}|}" th:text="${item.name}">게시판 이름</a>
                </td>
                <td>
                  <!--첨부파일-->
                  <i data-feather="check-square" th:style="${item.file_use == false? 'display:none':''}"></i>
                </td>
                <td>
                  <!--답변사용-->
                  <i data-feather="check-square" th:style="${item.answer_use == false? 'display:none':''}"></i>
                </td>
                <td>
                  <!--비밀글-->
                  <i data-feather="check-square" th:style="${item.secret_use == false? 'display:none':''}"></i>
                </td>
                <td th:text="${#dates.format(item.reg_date, 'yyyy-MM-dd HH:mm:ss')}">등록일</td>
                <td>
                  <!--게시글 관리-->
                  <a th:href="@{|/board/${item.board_setting_seq}?${pageParams}|}"><i data-feather="corner-right-down"></i></a>
                </td>
                <td class="text-right">
                  <button type="button" class="btn btn-outline-danger btn-sm btn-delete" th:data-board-setting-seq="${item.board_setting_seq}">삭제</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <th:block th:include="fragments/paging"></th:block>
        </div>
      </div>
    </div>
  </div>
  <form name="deleteForm" th:action="@{/board/settingDelete}" method="post">
    <input type="hidden" name="boardSettingSeq">
    <input type="hidden" name="boardType" th:value="${boardType}">
    <input type="hidden" name="menuCode" th:value=${params.menuCode}>
  </form>
</div>
<th:block layout:fragment="custom_css">
</th:block>
<th:block layout:fragment="custom_js">
  <script th:src="@{/assets/js/pages/board/board_setting_list.js}"></script>
</th:block>

</html>