<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layouts/layout}">

<head>
    <title th:text="${breadcrumb.menu_name}">게시판관리</title>
</head>
<div layout:fragment="content">
    <nav th:replace="fragments/page_breadcrumb"></nav>
    <form name="editForm" th:action="@{/education/form}" th:object="${education}" method="post" enctype="multipart/form-data" onsubmit="return validationForm();">
        <input type="hidden" th:field="*{eduSeq}">
        <input type="hidden" name="menuCode" th:value="${menuCode}">
        <input type="hidden" name="pageParams" th:value="${pageParams}">
        <input type="hidden" th:field="*{content}">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">대분류</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" th:field="*{category1}" required>
                                            <option value="">선택하세요</option>
                                            <!--/*<option th:each="item : ${category1}" th:value="${item.code}" th:text="${item.code_name}">전체</option>*/-->
                                            <option th:each="item : ${category1}" th:value="${item.category1_seq}" th:text="${item.name}">전체</option>
                                        </select>
                                        <th:block th:include="fragments/form_invalid:: form_invalid('category1')"></th:block>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">중분류</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" th:field="*{category2}" required>
                                            <option value="">선택하세요</option>
                                            <!--/*<option th:each="item : ${category2}" th:value="${item.code}" th:text="${item.code_name}">전체</option>*/-->
                                            <option th:each="item : ${category2}" th:value="${item.category2_seq}" th:text="${item.name}">전체</option>
                                        </select>
                                        <th:block th:include="fragments/form_invalid:: form_invalid('category2')"></th:block>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">세분류</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" th:field="*{category3}" required>
                                            <option value="">선택하세요</option>
                                            <option th:each="item : ${category3}" th:value="${item.category3_seq}" th:text="${item.name}">전체</option>
                                        </select>
                                        <th:block th:include="fragments/form_invalid:: form_invalid('category3')"></th:block>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">교육명</label>
                                    <div class="col-sm-10">
                                        <input type="text" th:field="*{subject}" maxlength="100" class="form-control" required="required">
                                        <th:block th:include="fragments/form_invalid:: form_invalid('subject')"></th:block>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">교육내용</label>
                                    <div class="col-sm-10">
                                        <div id="editor" style="height: 500px;"></div>
<!--                                        <textarea class="form-control" th:field="*{content}" rows="10"></textarea>-->
                                        <!--/*<th:block th:include="fragments/form_invalid:: form_invalid('content')"></th:block>*/-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">제공기관</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" th:field="*{supportOrg}" required="required">
                                            <option value="">선택하세요</option>
                                            <option th:each="item : ${supportOrg}" th:value="${item.support_seq}" th:text="${item.support_name}" >전체</option>
                                        </select>
                                        <th:block th:include="fragments/form_invalid:: form_invalid('supportOrg')"></th:block>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">URL</label>
                                    <div class="col-sm-10">
                                        <input type="text" th:field="*{eduUrl}" maxlength="200" class="form-control" required>
                                        <th:block th:include="fragments/form_invalid:: form_invalid('eduUrl')"></th:block>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">대표 이미지</label>
                                    <div class="col-sm-5">
                                        <div class="attach-file">
                                            <input type="file" name="imageFile" class="file-upload-default" accept="image/jpg, image/jpeg, image/png">
                                            <div class="input-group">
                                                <input type="text" class="form-control file-upload-title" disabled="disabled" placeholder="">
                                                <span class="input-group-append">
                                                    <button type="button" class="file-upload-browse btn btn-primary">파일선택</button>
                                                </span>
                                            </div>
                                        </div>
                                        <th:block th:if="${not #lists.isEmpty(imageList)}" th:each="item : ${imageList}">
                                            <div class="pb-2 attach-file attach-file-count">
                                                <div class="input-group">
                                                    <a th:href="@{|/file/download/${item.file_seq}|}" class="file-download mt-2 mr-2" th:text="${item.file_name}">파일명</a>
                                                    <span class="input-group-append">
                                                        <button type="button" class="btn btn-danger btn-delete-file" th:data-file-seq="${item.file_seq}">삭제</button>
                                                    </span>
                                                </div>
                                                <img th:src="@{|/thumb/${item.thumbnail_path}|}" th:alt="${item.file_name}" width="300">
                                            </div>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">키워드</label>
                                    <div class="col-sm-10">
                                        <input type="text" th:field="*{tags}" class="form-control">
                                        <th:block th:include="fragments/form_invalid:: form_invalid('tags')"></th:block>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <a class="btn btn-outline-primary btn-icon-text" th:href="@{|/education?${pageParams}|}">
                    <i class="btn-icon-prepend" data-feather="list"></i>목록
                </a>
                <button type="submit" class="btn btn-primary mr-2 btn-icon-text" th:if="*{eduSeq == 0}">
                    <i class="btn-icon-prepend" data-feather="edit"></i>등록
                </button>
                <button type="submit" class="btn btn-secondary mr-2 btn-icon-text" th:unless="*{eduSeq == 0}">
                    <i class="btn-icon-prepend" data-feather="edit"></i>수정
                </button>
            </div>
        </div>
    </form>
</div>
<th:block layout:fragment="custom_css">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap-tagsinput.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/tui-color-picker.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/toastui-editor.css}" />
</th:block>
<th:block layout:fragment="custom_js">
    <script th:inline="javascript">
        var tui_content = /*[[${education.content}]]*/ '';

        var editor;
        console.log("tui_content :: "+tui_content);
    </script>
    <script th:src="@{/assets/js/libs/codemirror.js}"></script>
    <script th:src="@{/assets/js/libs/toastui-editor.js}"></script>
    <script th:src="@{/assets/js/libs/toastui-editor-plugin-color-syntax.js}"></script>
    <script th:src="@{/assets/js/libs/bootstrap-tagsinput.min.js}"></script>
    <script th:src="@{/assets/js/file-upload.js}"></script>
    <script th:src="@{/assets/js/pages/education/education_form.js}"></script>
</th:block>

</html>