<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stoneitgt.sogongja.admin.mapper.CategoryMapper">

    <select id="getCategory1List" parameterType="map" resultType="com.stoneitgt.common.LowerKeyMap">
        /* file : CategoryMapper.xml, id : getCategory1List */
        SELECT *, (select group_concat(NAME) from ST_CATEGORY1 WHERE DEL_FLAG = 0) as GROUP_NAME
        FROM ST_CATEGORY1
        WHERE DEL_FLAG = 0
        ORDER BY CATEGORY1_SEQ

    </select>

    <select id="getCategory2List" parameterType="map" resultType="com.stoneitgt.common.LowerKeyMap">
        /* file : CategoryMapper.xml, id : getCategory2List */
        SELECT *, (select group_concat(NAME) from ST_CATEGORY2 WHERE DEL_FLAG = 0) as GROUP_NAME
        FROM ST_CATEGORY2
        WHERE DEL_FLAG = 0
        ORDER BY CATEGORY2_SEQ

    </select>

    <select id="getCategory3List" parameterType="map" resultType="com.stoneitgt.common.LowerKeyMap">
        /* file : CategoryMapper.xml, id : getCategory3List */
        SELECT *, (select group_concat(NAME) from ST_CATEGORY3 WHERE DEL_FLAG = 0) as GROUP_NAME
        FROM ST_CATEGORY3
        WHERE DEL_FLAG = 0
        ORDER BY CATEGORY3_SEQ

    </select>

    <insert id="insertCategory1" parameterType="com.stoneitgt.sogongja.domain.Category1">
        /* file : CategoryMapper.xml, id : insertCategory1 */
        INSERT
        INTO ST_CATEGORY1 (
        NAME
        , REG_USER_SEQ
        , REG_DATE)
        VALUES (
        #{name}
        , #{loginUserSeq}
        , CURRENT_TIMESTAMP())

        <selectKey resultType="int" keyProperty="category1Seq" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertCategory2" parameterType="com.stoneitgt.sogongja.domain.Category2">
        /* file : CategoryMapper.xml, id : insertCategory2 */
        INSERT
        INTO ST_CATEGORY2 (
        NAME
        , CATEGORY1_SEQ
        , REG_USER_SEQ
        , REG_DATE)
        VALUES (
        #{name}
        , #{category1Seq}
        , #{loginUserSeq}
        , CURRENT_TIMESTAMP())

        <selectKey resultType="int" keyProperty="category2Seq" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertCategory3" parameterType="com.stoneitgt.sogongja.domain.Category3">
        /* file : CategoryMapper.xml, id : insertCategory3 */
        INSERT
        INTO ST_CATEGORY3 (
        NAME
        , CATEGORY2_SEQ
        , REG_USER_SEQ
        , REG_DATE)
        VALUES (
        #{name}
        , #{category2Seq}
        , #{loginUserSeq}
        , CURRENT_TIMESTAMP())

        <selectKey resultType="int" keyProperty="category3Seq" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="getCategory1Info" parameterType="int" resultType="com.stoneitgt.sogongja.domain.Category1">
        /* file : CategoryMapper.xml, id : getCategory1Info */
        SELECT *
        FROM ST_CATEGORY1
        WHERE DEL_FLAG = 0 AND CATEGORY1_SEQ = #{categorySeq}

    </select>

    <select id="getCategory2Info" parameterType="int" resultType="com.stoneitgt.sogongja.domain.Category2">
        /* file : CategoryMapper.xml, id : getCategory2Info */
        SELECT *
        FROM ST_CATEGORY2
        WHERE DEL_FLAG = 0 AND CATEGORY2_SEQ = #{categorySeq}

    </select>

    <select id="getCategory3Info" parameterType="int" resultType="com.stoneitgt.sogongja.domain.Category3">
        /* file : CategoryMapper.xml, id : getCategory3Info */
        SELECT *
        FROM ST_CATEGORY3
        WHERE DEL_FLAG = 0 AND CATEGORY3_SEQ = #{categorySeq}

    </select>

    <update id="deleteCategory1" parameterType="com.stoneitgt.sogongja.domain.Category1" >
        /* file : CategoryMapper.xml, id : deleteCategory1 */
        UPDATE ST_CATEGORY1
        SET DEL_FLAG     = 1
          , DEL_USER_SEQ = #{loginUserSeq}
          , DEL_DATE     = CURRENT_TIMESTAMP()
        WHERE CATEGORY1_SEQ = #{category1Seq}

    </update>

    <update id="deleteCategory2" parameterType="com.stoneitgt.sogongja.domain.Category2" >
        /* file : CategoryMapper.xml, id : deleteCategory2 */
        UPDATE ST_CATEGORY2
        SET DEL_FLAG     = 1
          , DEL_USER_SEQ = #{loginUserSeq}
          , DEL_DATE     = CURRENT_TIMESTAMP()
        WHERE CATEGORY2_SEQ = #{category2Seq}

    </update>

    <update id="deleteCategory3" parameterType="com.stoneitgt.sogongja.domain.Category3" >
        /* file : CategoryMapper.xml, id : deleteCategory3 */
        UPDATE ST_CATEGORY3
        SET DEL_FLAG     = 1
          , DEL_USER_SEQ = #{loginUserSeq}
          , DEL_DATE     = CURRENT_TIMESTAMP()
        WHERE CATEGORY3_SEQ = #{category3Seq}

    </update>

    <update id="deleteAllCategory2" parameterType="com.stoneitgt.sogongja.domain.Category2" >
        /* file : CategoryMapper.xml, id : deleteAllCategory2 */
        UPDATE ST_CATEGORY2
        SET DEL_FLAG     = 1
          , DEL_USER_SEQ = #{loginUserSeq}
          , DEL_DATE     = CURRENT_TIMESTAMP()
        WHERE CATEGORY1_SEQ = #{category1Seq}

    </update>

    <update id="deleteAllCategory3" parameterType="com.stoneitgt.sogongja.domain.Category3" >
        /* file : CategoryMapper.xml, id : deleteAllCategory2 */
        UPDATE ST_CATEGORY3
        SET DEL_FLAG     = 1
          , DEL_USER_SEQ = #{loginUserSeq}
          , DEL_DATE     = CURRENT_TIMESTAMP()
        WHERE CATEGORY2_SEQ = #{category2Seq}

    </update>

    <update id="deleteCategory3Parent" parameterType="int" >
        /* file : CategoryMapper.xml, id : deleteAllCategory2 */
        UPDATE ST_CATEGORY3
        SET DEL_FLAG     = 1
          , DEL_USER_SEQ = #{loginUserSeq}
          , DEL_DATE     = CURRENT_TIMESTAMP()
        WHERE CATEGORY2_SEQ = #{seq}

    </update>

    <select id="getCategory2DelInfo" parameterType="int" resultType="com.stoneitgt.sogongja.domain.Category1">
        /* file : CategoryMapper.xml, id : getCategory2DelInfo */
        SELECT group_concat(CATEGORY2_SEQ) as DEL_GROUP_SEQ
        FROM ST_CATEGORY2
        WHERE DEL_FLAG = 0 AND CATEGORY1_SEQ = #{categorySeq}

    </select>

    <select id="getCategory2" parameterType="map" resultType="com.stoneitgt.common.LowerKeyMap">
        /* file : CategoryMapper.xml, id : getCategory2 */
        SELECT *
        FROM ST_CATEGORY2
        WHERE CATEGORY1_SEQ = #{category1Seq}
          AND DEL_FLAG = 0

    </select>

    <select id="getCategory3" parameterType="map" resultType="com.stoneitgt.common.LowerKeyMap">
        /* file : CategoryMapper.xml, id : getCategory3 */
        SELECT *
        FROM ST_CATEGORY3
        WHERE CATEGORY2_SEQ = #{category2Seq}
          AND DEL_FLAG = 0

    </select>

    <select id="getCategory1Infomation" parameterType="string" resultType="com.stoneitgt.sogongja.domain.Category1">
        /* file : CategoryMapper.xml, id : getCategory1Infomation */
        select * from ST_CATEGORY1
        where DEL_FLAG =0 AND NAME = REPLACE(#{category1Name},' ','');

    </select>

    <select id="getCategory2Infomation" parameterType="string" resultType="com.stoneitgt.sogongja.domain.Category2">
        /* file : CategoryMapper.xml, id : getCategory2Infomation */
        select * from ST_CATEGORY2
        where DEL_FLAG =0 AND NAME like CONCAT('%', #{category2Name}, '%');

    </select>

    <select id="getCategory3Infomation" parameterType="string" resultType="com.stoneitgt.sogongja.domain.Category3">
        /* file : CategoryMapper.xml, id : getCategory3Infomation */
        select * from ST_CATEGORY3
        where DEL_FLAG =0 AND NAME like CONCAT('%', #{category3Name}, '%');

    </select>

    <select id="selectTotalRecords" resultType="int">
        SELECT FOUND_ROWS();
    </select>

</mapper>