<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stoneitgt.sogongja.admin.mapper.ConsultingMapper">

	<select id="getConsultingList" parameterType="map" resultType="com.stoneitgt.common.LowerKeyMap">
		/* file : ConsultingMapper.xml, id : getConsultingList */
		  SELECT C.*
			   , CATE1.NAME                     AS CATEGORY_1_NAME
			   , CATE2.NAME                     AS CATEGORY_2_NAME
			   , CATE3.NAME                     AS CATEGORY_3_NAME
			   , SUPPORT.SUPPORT_NAME               AS SUPPORT_ORG_NAME
		       , DATE_FORMAT(C.REG_DATE, '%Y-%m-%d') AS REG_DT
		       , U.USERNAME                          AS REG_USERNAME
		    FROM ST_CONSULTING C
			INNER JOIN ST_USER U ON C.REG_USER_SEQ = U.USER_SEQ
			inner join ST_CATEGORY1 as CATE1 ON CATE1.CATEGORY1_SEQ = C.CATEGORY_1
			inner join ST_CATEGORY2 as CATE2 ON CATE2.CATEGORY2_SEQ = C.CATEGORY_2
			inner join ST_CATEGORY3 as CATE3 ON CATE3.CATEGORY3_SEQ = C.CATEGORY_3
			left join ST_SUPPORT as SUPPORT ON SUPPORT.SUPPORT_SEQ = C.SUPPORT_ORG
		   WHERE C.DEL_FLAG                    = 0
		<if test="keyword != null and keyword != ''">
             AND C.SUBJECT LIKE CONCAT('%', #{keyword}, '%')
        </if>

		<if test="category1 != null and category1 != ''">
			AND C.CATEGORY_1        = #{category1}
		</if>
		<if test="category2 != null and category2 != ''">
			AND C.CATEGORY_2        = #{category2}
		</if>
		<if test="category3 != null and category3 != ''">
			AND C.CATEGORY_3        = #{category3}
		</if>
		ORDER BY CON_SEQ DESC
	/*||ORDER BY CON_SEQ DESC||*/
	</select>

	<insert id="insertConsulting" parameterType="com.stoneitgt.sogongja.domain.Consulting">
		/* file : ConsultingMapper.xml, id : insertConsulting */
		INSERT
		  INTO ST_CONSULTING (
		            CATEGORY_1
		            , CATEGORY_2
		            , CATEGORY_3
		            , SUBJECT
		            , CONTENT
		            , SUPPORT_CONTENT
		            , SUPPORT_BY
		            , REGION
		            , SUPPORT_ORG
		            , CON_URL
		            , RECOMMEND_FLAG
		            , TAGS
		            , REG_USER_SEQ)
		       VALUES (
					#{category1}
					, #{category2}
					, #{category3}
		            , #{subject}
		            , #{content}
					, #{supportContent}
					, #{supportBy}
					, #{region}
		            , #{supportOrg}
		            , #{conUrl}
		            , #{recommendFlag}
		            , #{tags}
		            , #{loginUserSeq})

		<selectKey resultType="int" keyProperty="conSeq" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>

	<update id="updateConsulting" parameterType="com.stoneitgt.sogongja.domain.Consulting">
		/* file : ConsultingMapper.xml, id : updateConsulting */
		UPDATE ST_CONSULTING
		   SET CATEGORY_1     = #{category1}
		     , CATEGORY_2     = #{category2}
		     , CATEGORY_3     = #{category3}
		     , SUBJECT        = #{subject}
			 , CONTENT        = #{content}
			 , SUPPORT_CONTENT= #{supportContent}
			 , SUPPORT_BY     = #{supportBy}
			 , REGION         = #{region}
		     , SUPPORT_ORG    = #{supportOrg}
		     , CON_URL        = #{conUrl}
		     , RECOMMEND_FLAG = #{recommendFlag}
		     , TAGS           = #{tags}
		     , MOD_USER_SEQ   = #{loginUserSeq}
		     , MOD_DATE       = CURRENT_TIMESTAMP()
		 WHERE CON_SEQ        = #{conSeq}
	</update>

	<update id="deleteConsulting" parameterType="map" >
		/* file : ConsultingMapper.xml, id : deleteConsulting */
		  UPDATE ST_CONSULTING
		     SET DEL_FLAG     = 1
		       , DEL_USER_SEQ = #{login_user_seq}
		       , DEL_DATE     = CURRENT_TIMESTAMP()
		   WHERE CON_SEQ      = #{con_seq}
	</update>

	<select id="getConsulting" parameterType="int" resultType="com.stoneitgt.sogongja.domain.Consulting">
		/* file : ConsultingMapper.xml, id : getConsulting */
		  SELECT A.*
		    FROM ST_CONSULTING A
		   WHERE A.DEL_FLAG = 0
		     AND A.CON_SEQ  = #{conSeq}
	</select>

	<select id="selectTotalRecords" resultType="int">
		SELECT FOUND_ROWS();
	</select>

</mapper>