<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stoneitgt.sogongja.admin.mapper.EventMapper">

    <select id="getEventList" parameterType="map" resultType="com.stoneitgt.common.LowerKeyMap">
        /* file : EventMapper.xml, id : getEventList */
        SELECT *
        FROM ST_EVENT
        WHERE DEL_FLAG            = 0
        <if test="keyword != null and keyword != ''">
            AND TITLE LIKE CONCAT('%', #{keyword}, '%')
        </if>
        ORDER BY EVENT_SEQ DESC
        /*||ORDER BY EVENT_SEQ DESC||*/
    </select>

    <insert id="insertEvent" parameterType="com.stoneitgt.sogongja.domain.Event">
        /* file : EventMapper.xml, id : insertEvent */
        INSERT
        INTO ST_EVENT (
        TITLE
        ,URL
        ,USED
        ,EVENT_START
        ,EVENT_END
        , REG_USER_SEQ
        , REG_DATE)
        VALUES (
        #{title}
        ,#{url}
        ,#{used}
        ,#{eventStart}
        ,#{eventEnd}
        , #{loginUserSeq}
        , CURRENT_TIMESTAMP())

        <selectKey resultType="int" keyProperty="eventSeq" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="updateEvent" parameterType="com.stoneitgt.sogongja.domain.Event">
        /* file : BoardMapper.xml, id : updateBoard */
        UPDATE ST_EVENT
        SET TITLE   = #{title}
          , URL      = #{url}
          , USED     = #{used}
          , EVENT_START = #{eventStart}
          , EVENT_END = #{eventEnd}
          , MOD_USER_SEQ = #{loginUserSeq}
          , MOD_DATE     = CURRENT_TIMESTAMP()
        WHERE EVENT_SEQ    = #{eventSeq}
    </update>

    <select id="getEvent" parameterType="int" resultType="com.stoneitgt.sogongja.domain.Event">
        /* file : EventMapper.xml, id : getEvent */
        SELECT *
        FROM ST_EVENT
        WHERE DEL_FLAG  = 0
          AND EVENT_SEQ = #{eventSeq}
    </select>

    <update id="deleteEvent" parameterType="map" >
        /* file : EventMapper.xml, id : deleteEvent */
        UPDATE ST_EVENT
        SET DEL_FLAG     = 1
          , DEL_USER_SEQ = #{login_user_seq}
          , DEL_DATE     = CURRENT_TIMESTAMP()
        WHERE EVENT_SEQ      = #{event_seq}
    </update>

    <select id="getEventUsedCheck" resultType="string">
        /* file : EventMapper.xml, id : getEventUsedCheck */
        SELECT EVENT_SEQ
        FROM ST_EVENT
        WHERE DEL_FLAG  = 0 AND USED = '1'
    </select>

    <update id="updateEventUsed" parameterType="com.stoneitgt.sogongja.domain.Event">
        /* file : EventMapper.xml, id : updateEventUsed */
        UPDATE ST_EVENT
        SET USED     = null
          , MOD_USER_SEQ = #{loginUserSeq}
          , MOD_DATE     = CURRENT_TIMESTAMP()
        WHERE EVENT_SEQ    = #{eventSeq}
    </update>

    <update id="updateEventUsed2" parameterType="map" >
        /* file : EventMapper.xml, id : updateEventOrder */
        UPDATE ST_EVENT
        SET
            USED = #{use}
          , MOD_USER_SEQ = #{login_user_seq}
          , MOD_DATE     = CURRENT_TIMESTAMP()
        WHERE EVENT_SEQ      = #{event_seq}
    </update>

    <select id="getUsedEvent" parameterType="int" resultType="com.stoneitgt.sogongja.domain.Event">
        /* file : EventMapper.xml, id : getUsedEvent */
        SELECT *
        FROM ST_EVENT
        WHERE DEL_FLAG  = 0 AND USED = 1 limit 1
    </select>

    <select id="selectTotalRecords" resultType="int">
        SELECT FOUND_ROWS();
    </select>

</mapper>