<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stoneitgt.sogongja.admin.mapper.ReSearchShopMapper">

    <select id="getReSearchShopList" parameterType="map" resultType="com.stoneitgt.common.LowerKeyMap">
        /* file : ReSearchShopMapper.xml, id : getReSearchShopList */
        SELECT *
        FROM ST_RESEARCH_SHOP
        where 1=1 and DEL_FLAG = 0

        <if test="keyword != null and keyword != ''">
            AND SHOP_NM LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="category1 != null and category1 != ''">
            AND CODE_TYPE1              = #{category1}
        </if>
        <if test="category2 != null and category2 != ''">
            AND CODE_TYPE2              = #{category2}
        </if>
        <if test="category3 != null and category3 != ''">
            AND CODE_TYPE3              = #{category3}
        </if>
        ORDER BY SHOP_SEQ DESC
        /*||ORDER BY SHOP_SEQ DESC||*/

    </select>

    <select id="getReSearchShopCategoty1" parameterType="int" resultType="com.stoneitgt.common.LowerKeyMap">
        /* file : ReSearchShopMapper.xml, id : getReSearchShopCategoty1 */
        select * from ST_RESEARCH_SHOP group by CODE_TYPE1;
    </select>

    <select id="getReSearchShopCategoty2" parameterType="string" resultType="com.stoneitgt.common.LowerKeyMap">
        /* file : ReSearchShopMapper.xml, id : getReSearchShopCategoty2 */
        select * from ST_RESEARCH_SHOP where CODE_TYPE2 LIKE CONCAT('%', #{category1}, '%') group by CODE_TYPE2;
    </select>

    <select id="getReSearchShopCategoty3" parameterType="string" resultType="com.stoneitgt.common.LowerKeyMap">
        /* file : ReSearchShopMapper.xml, id : getReSearchShopCategoty3 */
        select * from ST_RESEARCH_SHOP where CODE_TYPE3 LIKE CONCAT('%', #{category2}, '%') group by CODE_TYPE3;
    </select>

    <select id="getReSearchShopAll" parameterType="map" resultType="com.stoneitgt.common.LowerKeyMap">
        /* file : ReSearchShopMapper.xml, id : getReSearchShopAll */
        select * from ST_RESEARCH_SHOP
        where 1=1
        <if test="seqData != null and seqData != ''">
            AND SHOP_SEQ IN
            <foreach collection="seqData" item="item" index='i' open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        order by SHOP_SEQ desc ;
    </select>

    <update id="deleteReSearchShop" parameterType="map" >
        /* file : ReSearchShopMapper.xml, id : deleteEducation */
        UPDATE ST_RESEARCH_SHOP
        SET DEL_FLAG     = 1
          , DEL_USER_SEQ = #{login_user_seq}
          , DEL_DATE     = CURRENT_TIMESTAMP()
        WHERE SHOP_SEQ      = #{seq}
    </update>

    <insert id="insertReSearchShopExcel" parameterType="java.util.List">
        /* file : ReSearchShopMapper.xml, id : insertReSearchShopExcel */
        INSERT
        INTO ST_RESEARCH_SHOP (
        SHOP_NO
        , SHOP_NM
        , BRANCH
        , CODE_TYPE1
        , NM_TYPE1
        , CODE_TYPE2
        , NM_TYPE2
        , CODE_TYPE3
        , NM_TYPE3
        , ADDR_CD
        , ADDR
        , ST_ADDR
        , EMD_CD
        , EMD_NM
        , LONGITUDE
        , LATITUDE
        , SUB_STA_NM
        , SUB_STA_NO
        , AVE_SUB_PASS_ON
        , AVE_SUB_PASS_OFF
        , SUM_SUB_PASS_ON
        , SUM_SUB_PASS_OFF
        , BUS_STA_NM
        , ARS_ID
        , AVE_BUS_PASS_ON
        , AVE_BUS_PASS_OFF
        , SUM_BUS_PASS_ON
        , SUM_BUS_PASS_OFF
        , APPRV_DATE
        , CT_GRD
        , CT_BASE
        , PINCP_USE_CD
        , PRINCP_USE
        , OTHER_USE
        , REG_USER_SEQ
        , REG_DATE)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.shopNo}
            , #{item.shopNm}
            , #{item.branch}
            , #{item.codeType1}
            , #{item.nmType1}
            , #{item.codeType2}
            , #{item.nmType2}
            , #{item.codeType3}
            , #{item.nmType3}
            , #{item.addrCd}
            , #{item.addr}
            , #{item.stAddr}
            , #{item.emdCd}
            , #{item.emdNm}
            , #{item.longitude}
            , #{item.latitude}
            , #{item.subStaNm}
            , #{item.subStaNo}
            , #{item.aveSubPassOn}
            , #{item.aveSubPassOff}
            , #{item.sumSubPassOn}
            , #{item.sumSubPassOff}
            , #{item.busStaNm}
            , #{item.arsId}
            , #{item.aveBusPassOn}
            , #{item.aveBusPassOff}
            , #{item.sumBusPassOn}
            , #{item.sumBusPassOff}
            , #{item.apprvDate}
            , #{item.ctGrd}
            , #{item.ctBase}
            , #{item.pincpUseCd}
            , #{item.pincpUse}
            , #{item.otherUse}
            , #{item.loginUserSeq}
            , CURRENT_TIMESTAMP()
            )
        </foreach>


        <selectKey resultType="int" keyProperty="shopSeq" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="checkReSearchShop" parameterType="int" resultType="int">
        /* file : ReSearchShopMapper.xml, id : checkReSearchShop */
        SELECT count(*)
        FROM ST_RESEARCH_SHOP
        WHERE DEL_FLAG = 0
          AND SHOP_NO  = #{shopNo}
    </select>

    <select id="selectTotalRecords" resultType="int">
        SELECT FOUND_ROWS();
    </select>
</mapper>