<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stoneitgt.sogongja.admin.mapper.ServiceMatchingMapper">


    <select id="getTitle" parameterType="int" resultType="com.stoneitgt.common.LowerKeyMap">
        /* file : ServiceMatchingMapper.xml, id : getTitle */
        SELECT SS.TITLE
             , US.REG_DATE
             , COUNT(*) AS REGISTERED
        FROM ST_USER_SURVEY US
                 INNER JOIN ST_SURVEY_SETTING SS
                            ON US.SURVEY_SETTING_SEQ = SS.SURVEY_SETTING_SEQ
        WHERE US.REG_USER_SEQ = #{userSeq}
    </select>

    <select id="getQuestionList" parameterType="int" resultType="com.stoneitgt.common.LowerKeyMap">
        /* file : ServiceMatchingMapper.xml, id : findTitle */
        SELECT UQ.*
        FROM ST_USER_QUESTION UQ
        WHERE UQ.REG_USER_SEQ = #{userSeq}
          AND UQ.DEL_FLAG = 0;
    </select>

    <select id="getQuestion" resultType="com.stoneitgt.common.LowerKeyMap">
        /* file : ServiceMatchingMapper.xml, id : getQuestion */
        SELECT UQ.USER_QUESTION_SEQ, QS.TITLE, QS.QUESTION_TYPE
        FROM ST_USER_QUESTION UQ
                 INNER JOIN ST_QUESTION_SETTING QS
                            ON UQ.QUESTION_SETTING_SEQ = QS.QUESTION_SETTING_SEQ
        WHERE UQ.USER_QUESTION_SEQ = #{param1}
    </select>

    <select id="getChoiceAnswer" parameterType="int" resultType="com.stoneitgt.common.LowerKeyMap">
        /* file : ServiceMatchingMapper.xml, id : getChoiceAnswer */
        select UA2.USER_ANSWER2_SEQ, UA2.ANSWER, UA2.RANK, (group_concat(C2.NAME)) as CATEGORY2
        from ST_USER_QUESTION as UQ
                 left join ST_USER_ANSWER2 AS UA2 ON UA2.USER_QUESTION_SEQ = UQ.USER_QUESTION_SEQ
                 left join ST_CATEGORY2 as C2 ON C2.CATEGORY2_SEQ = UA2.CATEGORY2_SEQ
        where UQ.DEL_FLAG = 0 and UQ.USER_QUESTION_SEQ = #{userQuestionSeq}
        group by UA2.ANSWER
    </select>

    <select id="getAddAnswer" parameterType="int" resultType="com.stoneitgt.common.LowerKeyMap">
        /* file : ServiceMatchingMapper.xml, id : getAddAnswer */

        select UA1.USER_ANSWER1_SEQ,
            CASE UA1.`TYPE`
                WHEN 1 THEN C3.NAME
                WHEN 2 THEN UA1.ADDRESS
                END AS ANSWER, UA1.RANK, UA1.TYPE
        from ST_USER_QUESTION as UQ
                 left join ST_USER_ANSWER1 AS UA1 ON UA1.USER_QUESTION_SEQ = UQ.USER_QUESTION_SEQ
                 left JOIN ST_CATEGORY3 C3 ON C3.CATEGORY3_SEQ = UA1.CATEGORY3_SEQ
        where UQ.DEL_FLAG = 0 and UQ.USER_QUESTION_SEQ = #{userQuestionSeq}
    </select>

    <select id="getKeyword" parameterType="int" resultType="com.stoneitgt.common.LowerKeyMap">
        /* file : ServiceMatchingMapper.xml, id : getKeyword */

        select * from ST_USER_KEYWORD where DEL_FLAG = 0 and USER_ANSWER1_SEQ = #{userAnswer1Seq}
    </select>


</mapper>