<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stoneitgt.sogongja.admin.mapper.SurveyMapper">

    <select id="getSurveySettingList" parameterType="map" resultType="com.stoneitgt.common.LowerKeyMap">
        /* file : SurveyMapper.xml, id : getSurveySettingList */
        SELECT *, DATE_FORMAT(REG_DATE, '%Y-%m-%d') AS REG_DT
        FROM ST_SURVEY_SETTING
        ORDER BY SURVEY_SETTING_SEQ
    </select>

    <select id="getSurveySubList" parameterType="int" resultType="com.stoneitgt.common.LowerKeyMap">
        /* file : SurveyMapper.xml, id : getSurveySubList */
        SELECT SS.*, QS.TITLE
        FROM ST_SURVEY_SETTING_SUB AS SS
        LEFT JOIN ST_QUESTION_SETTING AS QS ON QS.QUESTION_SETTING_SEQ = SS.QUESTION_SETTING_SEQ
        WHERE SS.SURVEY_SETTING_SEQ = #{surveySeq} AND SS.DEL_FLAG != 1
        ORDER BY SS.SURVEY_SETTING_SEQ;
    </select>

    <select id="getSurveySetting" parameterType="int" resultType="com.stoneitgt.sogongja.domain.Survey">
        /* file : SurveyMapper.xml, id : getSurveySetting */
        SELECT *
        FROM ST_SURVEY_SETTING
        WHERE SURVEY_SETTING_SEQ = #{surveySettingSeq}
    </select>

    <insert id="insertSurveySub" parameterType="map">
        /* file : BannerMapper.xml, id : insertBanner */
        INSERT
        INTO ST_SURVEY_SETTING_SUB (
               SURVEY_SETTING_SEQ
               , QUESTION_SETTING_SEQ
               , REG_USER_SEQ
               , REG_DATE)
        VALUES (
               #{surveySettingSeq}
               , #{questionSettingSeq}
               , #{loginUserSeq}
               , CURRENT_TIMESTAMP())
    </insert>

    <update id="deleteSurveySub" parameterType="com.stoneitgt.sogongja.domain.Survey" >
        /* file : SurveyMapper.xml, id : deleteSurveySub */
        UPDATE ST_SURVEY_SETTING_SUB
        SET DEL_FLAG     = 1
          , DEL_USER_SEQ = #{loginUserSeq}
          , DEL_DATE     = CURRENT_TIMESTAMP()
        WHERE SURVEY_SETTING_SEQ      = #{surveySettingSeq}
    </update>

    <update id="updateSurvey" parameterType="com.stoneitgt.sogongja.domain.Survey" >
        /* file : SurveyMapper.xml, id : updateSurvey */
        UPDATE ST_SURVEY_SETTING
        SET
          TITLE = #{title}
          , SURVEY_USE = #{surveyUse}
          , MOD_USER_SEQ = #{loginUserSeq}
          , MOD_DATE     = CURRENT_TIMESTAMP()
        WHERE SURVEY_SETTING_SEQ      = #{surveySettingSeq}
    </update>



    <select id="selectTotalRecords" resultType="int">
        SELECT FOUND_ROWS();
    </select>

</mapper>