<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layouts/layout}">

<head>
    <title th:text="${breadcrumb.menu_name}">게시판관리</title>
</head>
<div layout:fragment="content">
    <nav th:replace="fragments/page_breadcrumb"></nav>
    <form name="editForm" th:action="@{/board/form}" th:object="${board}" method="post" enctype="multipart/form-data" onsubmit="return validationForm();">
        <input type="hidden" th:field="*{boardSeq}">
        <input type="hidden" th:field="*{boardType}">
        <input type="hidden" name="menuCode" th:value="${menuCode}">
        <input type="hidden" name="pageParams" th:value="${pageParams}">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label required">유형</label>
                                    <div class="col-sm-9">
                                        <div class="form-check form-check-inline" th:each="item : ${category}">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" th:field="*{category}" th:value="${item.code}" th:text="${item.code_name}" required="required">유형
                                                <i class="input-frame"></i>
                                            </label>
                                        </div>
                                        <th:block th:include="fragments/form_invalid:: form_invalid('category')"></th:block>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label required">제목</label>
                                    <div class="col-sm-9">
                                        <input type="text" th:field="*{subject}" maxlength="100" class="form-control" required="required">
                                        <th:block th:include="fragments/form_invalid:: form_invalid('subject')"></th:block>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label required">내용</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" th:field="*{content}" required="required" rows="20"></textarea>
                                        <th:block th:include="fragments/form_invalid:: form_invalid('content')"></th:block>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary mr-2 btn-icon-text" th:if="*{boardSeq == 0}">
                    <i class="btn-icon-prepend" data-feather="edit"></i>등록
                </button>
                <button type="submit" class="btn btn-secondary mr-2 btn-icon-text" th:unless="*{boardSeq == 0}">
                    <i class="btn-icon-prepend" data-feather="edit"></i>수정
                </button>
                <a class="btn btn-outline-primary btn-icon-text" th:href="@{|/board/${board.boardType}?${pageParams}|}">
                    <i class="btn-icon-prepend" data-feather="list"></i>목록
                </a>
            </div>
        </div>
    </form>
</div>
<th:block layout:fragment="custom_css">
</th:block>
<th:block layout:fragment="custom_js">
    <script th:src="@{/assets/js/pages/board/board_form_faq.js}"></script>
</th:block>

</html>