<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<head>
  <title th:text="${breadcrumb.menu_name}">게시판관리</title>
</head>
<div layout:fragment="content">
  <nav th:replace="fragments/page_breadcrumb"></nav>
  <div class="row">
    <div class="col-12 col-xl-12 grid-margin stretch-card">
      <div class="tab_wrap">
        <div class="row">
          <div class="col-sm-2 tab active">
            <a th:href="@{/community/shop}">상점 커뮤니티</a>
          </div>
          <div class="col-sm-2 tab">
            <a th:href="@{/community/region}">지역 커뮤니티</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-xl-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <form name="searchForm" th:action="@{/community/shop}" th:object="${params}" method="get">
            <th:block th:include="fragments/search_hidden"></th:block>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group row">
                  <div class="col-sm-1">
                    <label class="col-sm-2 col-form-label">지역선택</label>
                  </div>
                  <div class="col-sm-3">
                    <select class="form-control sidoBox" name="regionCode1" onchange="changeSido(this);">
                      <option value="">시도</option>
                    </select>
                  </div>
                  <div class="col-sm-3">
                    <select class="form-control sigunguBox" name="regionCode2">
                      <option value="">시군구</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group row">
                  <div class="col-sm-1">
                    <label class="col-sm-2 col-form-label">업종선택</label>
                  </div>
                  <div class="col-sm-3">
                    <select class="form-control main_type" name="categoryCode1">
                      <option value="">상업업종 대분류</option>
                      <option th:each="item : ${researchShopGroupList}" th:value="${item.code_type1}" th:text="${item.nm_type1}"></option>
                    </select>
                  </div>
                  <div class="col-sm-3">
                    <select class="form-control sub_type" name="categoryCode2">
                      <option value="">상권업종 중분류</option>
                      <option th:each="item : ${researchShopSubGroupList}" th:value="${item.code_type2}" th:text="${item.nm_type2}" style="display: none"></option>
                    </select>
                  </div>
                  <!--<div class="col-sm-3">
                    <select class="form-control">
                      <option value="">상권업종 소분류</option>
                    </select>
                  </div>-->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <select th:field="*{field}" class="form-control">
                  <option value="subject">제목</option>
                </select>
              </div>
              <div class="col-sm-8">
                <input type="text" th:field="*{keyword}" class="form-control" placeholder="검색어를 입력하세요">
              </div>
              <button type="submit" class="col-sm-1 btn btn-primary btn-icon-text btn-search">
                <i class="btn-icon-prepend" data-feather="search"></i>조회
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-xl-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="text-right">
            <button class="btn btn-secondary btn-icon-text btn-danger" id="del_community">선택 삭제</button>
            <!--/*
            <a th:href="@{|/board/type/${boardType}/form?${pageParams}|}" class="btn btn-secondary btn-icon-text" >
              <i class="btn-icon-prepend" data-feather="edit"></i>등록
            </a>
            */-->
            <a th:href="@{|/community/form?${pageParams}|}" class="btn btn-secondary btn-icon-text" >
              <i class="btn-icon-prepend" data-feather="edit"></i>등록
            </a>
          </div>
          <p class="card-description">
            <th:block th:include="fragments/paging_result:: paging_result('')"></th:block>
          </p>
          <p class="card-description"></p>
          <div class="table-responsive">
            <table class="table table-hover">
              <colgroup>
                <col style="width: 8%;">
                <col style="width: 5%;">
                <col style="width: 13%;">
                <col style="width: 12%;">
                <col style="width: 30%;">
                <col style="width: 10%;">
                <col style="width: 12%;">
                <col style="width: 10%;">
              </colgroup>
              <thead>
              <tr>
                <th>선택</th>
                <th>#</th>
                <th>지역</th>
                <th>업종</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>댓글</th>
              </tr>
              </thead>
              <tbody>
              <th:block th:include="fragments/table_empty:: table_empty(7)" th:if="${#lists.isEmpty(list)}"></th:block>
              <tr th:each="item : ${list}" th:unless="${#lists.isEmpty(list)}">
                <td>
                  <!--선택 체크박스-->
                  <div class="form-check form-check-inline">
                    <label class="form-check-label" style="margin: 0 auto;">
                      <input type="checkbox" id="allChk" name="com_check" th:value="${item.community_seq}">
                    </label>
                  </div>
                </td>
                <td>
                  <!--/*<span class="badge badge-primary" th:if="${item.notice_flag == true}">공지</span>*/-->
                  <th:block th:text="${paging.total - item.rnum + 1}">1</th:block>
                </td>
                <td>[[${item.region_name1}]]/[[${item.region_name2}]]</td>
                <td>[[${item.category_name1}]]/[[${item.category_name2}]]</td>
                <td>
                  <a th:href="@{|/community/detail/${item.community_seq}?${pageParams}|}" th:text="${item.subject}">제목</a>
                </td>
                <td th:text="${item.reg_username}">작성자</td>
                <td th:text="${item.reg_dt}">작성일</td>
                <td th:text="${item.reply_cnt}">댓글</td>
              </tr>
              </tbody>
            </table>
          </div>
          <th:block th:include="fragments/paging"></th:block>
        </div>
      </div>
    </div>
  </div>
  <form name="deleteForm" th:action="@{/community/batchDelete}" method="post">
    <input type="hidden" name="comStr">
    <input type="hidden" name="communityType" value="shop">
  </form>
</div>
<th:block layout:fragment="custom_css">
</th:block>
<th:block layout:fragment="custom_js">
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b1b498b9b5f5cf2ae9f152080bcb6cec&libraries=services"></script>
  <script th:src="@{/assets/js/pages/community/community_list.js}"></script>
</th:block>

</html>