<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layouts/layout}">

<head>
  <title th:text="${breadcrumb.menu_name}">게시판관리</title>
</head>
<div layout:fragment="content">
  <nav th:replace="fragments/page_breadcrumb"></nav>
  <form name="editForm" th:action="@{/community/form}" th:object="${community}" method="post" enctype="multipart/form-data" onsubmit="return validationForm();">
    <input type="hidden" th:field="*{communitySeq}">
    <input type="hidden" th:field="*{communityType}">
    <input type="hidden" th:field="*{content}">
    <input type="hidden" th:field="*{regionName1}">
    <input type="hidden" th:field="*{regionName2}">
    <input type="hidden" th:field="*{regionName3}">
    <input type="hidden" th:field="*{regionCode1}">
    <input type="hidden" th:field="*{regionCode2}">
    <input type="hidden" th:field="*{regionCode3}">
    <input type="hidden" th:field="*{categoryName1}">
    <input type="hidden" th:field="*{categoryName2}">
    <input type="hidden" th:field="*{categoryCode1}">
    <input type="hidden" th:field="*{categoryCode2}">
    <input type="hidden" name="menuCode" th:value="${menuCode}">
    <input type="hidden" name="pageParams" th:value="${pageParams}">
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="form-group row">
              <label class="col-sm-1 col-form-label">지역선택</label>
              <div class="row col-sm-11">
                <div class="col-sm-3">
                  <select class="form-control sidoBox" onchange="changeSido(this,'');" required>
                    <option value="">시도</option>
                  </select>
                </div>
                <div class="col-sm-3">
                  <select class="form-control sigunguBox" onchange="changeSigungu(this,'');" required>
                    <option value="">시군구</option>
                  </select>
                </div>
              </div>
            </div>
<!--            지역-->
            <div class="form-group row">
              <label class="col-sm-1 col-form-label">동 선택</label>
              <div class="col-sm-11 row">
                <div class="col-sm-3">
                  <select class="form-control dongBox" required>
                    <option value="">동</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group row">
                  <label class="col-sm-1 col-form-label required">제목</label>
                  <div class="col-sm-11">
                    <input type="text" th:field="*{subject}" maxlength="100" class="form-control" required="required">
                    <th:block th:include="fragments/form_invalid:: form_invalid('subject')"></th:block>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group row">
                  <label class="col-sm-1 col-form-label required">내용</label>
                  <div class="col-sm-11">
                    <div id="editor" style="height: 500px;"></div>
                    <th:block th:include="fragments/form_invalid:: form_invalid('content')"></th:block>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group row">
                  <div class="col-sm-1">
                    <label class="col-form-label">첨부파일</label><br>
                    <button type="button" class="btn btn-secondary btn-sm ml-2" id="btn-add-file">추가</button>
                  </div>
                  <div class="col-sm-5">
                    <th:block th:if="${not #lists.isEmpty(fileList)}" th:each="item : ${fileList}">
                      <div class="pt-2 attach-file">
                        <div class="input-group">
                          <a th:href="@{|/file/download/${item.file_seq}|}" class="file-download mt-1 mr-2" th:text="${item.file_name}">파일명</a>
                          <span class="input-group-append">
                                                        <button type="button" class="btn btn-danger btn-delete-file" th:data-file-seq="${item.file_seq}">삭제</button>
                                                    </span>
                        </div>
                      </div>
                    </th:block>
                    <div class="attach-file-group">
                      <div class="pt-2 attach-file" th:if="${#lists.isEmpty(fileList) || #lists.size(fileList) < 5}">
                        <input type="file" name="attachFiles" class="file-upload-default">
                        <div class="input-group">
                          <input type="text" class="form-control file-upload-title" disabled="disabled" placeholder="">
                          <span class="input-group-append">
                                                        <button type="button" class="file-upload-browse btn btn-primary">파일선택</button>
                                                        <button type="button" class="btn btn-danger btn-delete-upload ml-3">삭제</button>
                                                    </span>
                        </div>
                      </div>
                    </div>
                    <div class="text-danger mt-2">
                      첨부파일은 한 파일당 100MB, 총 300MB까지 업로드 가능합니다.
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div th:if="${detail eq true and #lists.size(replyList) > 0}">
      <div class="col-md-12">
        <div class="row card p-3">

          <div class="row m-3" th:each="item,i : ${replyList}">
            <span class="col-md-1"></span>
            <div class="col-md-10 text-dark bg-light">
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">[[${item.comment}]]</p>
                <p class="card-text"><small class="text-muted"><span>[[${item.nick_name}]]</span> [[${item.reg_dt}]]</small></p>
              </div>
            </div>
            <div class="col-md-1">
              <button class="btn btn-danger delBtn" type="button" th:value="${item.reply_seq}"><i class="btn-icon-prepend" data-feather="trash-2"></i></button>
            </div>
          </div>
          <hr>
          <div class="row m-3">
            <span class="col-md-1"></span>
            <textarea class="col-md-10 form-control" name="comment" id="comment1" cols="30" rows="5"></textarea>
            <button class="btn btn-primary col-md-1" type="button" id="reply_w">댓글달기</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-3">
      <div class="col-sm-12">
        <a class="btn btn-outline-primary btn-icon-text" th:href="@{/community/region}">
          <i class="btn-icon-prepend" data-feather="list"></i>목록
        </a>
        <button type="button" class="btn btn-danger communityDel-Btn" th:value="${community.communitySeq}">삭제</button>
        <button type="submit" class="btn btn-secondary mr-2 btn-icon-text" th:unless="*{communitySeq == 0}">
          <i class="btn-icon-prepend" data-feather="edit"></i>수정
        </button>
        <button type="submit" class="btn btn-primary mr-2 btn-icon-text" th:if="*{communitySeq == 0}">
          <i class="btn-icon-prepend" data-feather="edit"></i>등록
        </button>
      </div>
    </div>
  </form>
  <form name="replyWrite" th:action="@{/reply/replyWrite}" th:object="${reply}" method="post" onsubmit="return validationForm2();">
    <input type="hidden" name="replySeq" value="0">
    <input type="hidden" name="communitySeq" th:value="${community.communitySeq}">
    <input type="hidden" name="communityType" th:value="${type}">
    <input type="hidden" name="comment" id="comment_w">
  </form>
  <form class="reply_write" name="replyDelete" th:action="@{/reply/replyDelete}" method="post">
    <input type="hidden" name="replySeq">
    <input type="hidden" name="communitySeq" th:value="${community.communitySeq}">
    <input type="hidden" name="communityType" th:value="${type}">
  </form>
  <form name="deleteForm" th:action="@{/community/delete}" method="post">
    <input type="hidden" name="communitySeq" id="communitySeq" th:value="${community.communitySeq}">
    <input type="hidden" name="communityType" th:value="${type}">
  </form>
</div>
<th:block layout:fragment="custom_css">
  <link rel="stylesheet" th:href="@{/assets/css/codemirror.css}" />
  <link rel="stylesheet" th:href="@{/assets/css/tui-color-picker.css}" />
  <link rel="stylesheet" th:href="@{/assets/css/toastui-editor.css}" />
</th:block>
<th:block layout:fragment="custom_js">
  <script th:inline="javascript">
    var tui_content = /*[[${community.content}]]*/ '';
    var board_type = /*[[${communityType}]]*/ '';
    var community_type = /*[[${communityType}]]*/ '';
    var detail = /*[[${detail}]]*/ '';
    var regionName1 = [[${community.regionName1}]];
    var regionName2 = [[${community.regionName2}]];
    var regionName3 = [[${community.regionName3}]];
    var categoryName1 = [[${community.categoryName1}]];
    var categoryName2 = [[${community.categoryName2}]];
    var editor;
  </script>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b1b498b9b5f5cf2ae9f152080bcb6cec&libraries=services"></script>
  <script th:src="@{/assets/js/libs/codemirror.js}"></script>
  <script th:src="@{/assets/js/libs/toastui-editor.js}"></script>
  <script th:src="@{/assets/js/libs/toastui-editor-plugin-color-syntax.js}"></script>
  <script th:src="@{/assets/js/file-upload.js}"></script>
  <script th:src="@{/assets/js/pages/community/community_form.js}"></script>
</th:block>

</html>