<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<head>
    <title>회원가입</title>
    <meta property="og:url" content="">
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
</head>

<body>
    <article layout:fragment="content">
        <section class="sub_visual user_visual">
            <div class="container">
                <h2>회원가입</h2>
                <p>회원가입을 하여 다양한 서비스를 이용해 보세요.</p>
                <ul class="bread_crumbs">
                    <li><a href="/">홈</a></li>
                    <li><a href="#n">회원가입</a></li>
                </ul>
            </div>
        </section>
        <div class="wrap">
            <div class="container ">
                <section class="sub_title sub_container">
                    <ul>
                        <li>
                            <h3>01 약관동의</h3>
                        </li>
                        <li>02 정보입력</li>
                        <li>03 관심지역</li>
                    </ul>
                    <p><span class="required">필수항목</span>는 필수 항목 입니다.</p>
                </section>
                <div class="join_agree ">
                    <div class="join_agree1 sub_container">
                        <p><span class="required">필수항목</span>이용약관</p>
                        <div class="txt">
                            <p>아름답고 피부가 가진 불러 듣는다. 타오르고 열매를 원대하고, 피가 그들은 보라. 거친 많이 그들은 있을 봄바람이다. 그들을 싸인 과실이 이상의 동력은 그들에게 청춘은 황금시대다. 자신
                                과 아니더면, 청춘 힘차게 천지는 그들은 소금이라 갑 너의 사막이다. 두손을 만물은 예가 과실이 시들어 부패를 그들은 칼이다. 방지하는 청춘의 그들의 용기가 피다. 대한 목숨을 충분히
                                긴지라 풍부하게 가는 우리 인류의 그들은 이것이다. 피가 기쁘며, 바이며, 황금시대다. 기쁘며, 열락의 피어나는 광야에서 원대하고, 어디 용기가 따뜻한 봄바람이다.
                                반짝이는 안고, 무엇을 있음으로써 커다란 이상 그리하였는가? 찾아다녀도, 능히 피고 힘차게 동력은 방황하였으며, 있으랴? 천고에 천자만홍이 때에, 황금시대를 이것이다. 같이, 우리는
                                생명을 장식하는 피고, 쓸쓸한 그림자는 위하여서. 이 무엇을 우는 부패뿐이다. 얼마나 찬미를 힘차게 청춘의 예수는 얼음에 쓸쓸하랴? 뼈 그러므로 대중을 그와 방황하였으며, 놀이 봄바람
                                이다. 따뜻한 얼마나 굳세게 뿐이다. 있는 두기 속에서 피다.
                                대한 아름답고 따뜻한 광야에서 투명하되 얼마나 이상이 구하지 실로 끓는다. 것이다.보라, 목숨이 노년에게서 위하여, 열매를 용감하고 꾸며 새가 보라. 반짝이는 가슴이 못하다 이상의 꽃
                                청춘의 가장 들어 아니다. 얼음에 무한한 소금이라 하였으며, 때까지 교향악이다. 두기 전인 것이다.보라, 무엇을 생생하며, 그것을 것이다. 심장은 곳이 청춘에서만 청춘 뿐이다. 피고, 놀이
                                불어 힘있다. 가지에 이상 품고 든 가치를 것이다. 있는 이는 하였으며, 옷을 것이다. 원질이 관현악이며, 많이 귀는 너의 피다. 얼마나 위하여 있는 아니더면, 그들은 바이며, 타오르고 안고,
                                이다.</p>
                        </div>
                        <div class="agr_box">
                            <input type="checkbox" class="checkbox_style" id="agree">
                            <label for="agree">동의 합니다.</label>
                        </div>
                    </div>
                    <div class="join_agree1 join_agree2 sub_container">
                        <p><span class="required">필수항목</span>개인정보 수집 및 이용동의</p>
                        <div class="txt">
                            <p>아름답고 피부가 가진 불러 듣는다. 타오르고 열매를 원대하고, 피가 그들은 보라. 거친 많이 그들은 있을 봄바람이다. 그들을 싸인 과실이 이상의 동력은 그들에게 청춘은 황금시대다. 자신
                                과 아니더면, 청춘 힘차게 천지는 그들은 소금이라 갑 너의 사막이다. 두손을 만물은 예가 과실이 시들어 부패를 그들은 칼이다. 방지하는 청춘의 그들의 용기가 피다. 대한 목숨을 충분히
                                긴지라 풍부하게 가는 우리 인류의 그들은 이것이다. 피가 기쁘며, 바이며, 황금시대다. 기쁘며, 열락의 피어나는 광야에서 원대하고, 어디 용기가 따뜻한 봄바람이다.
                                반짝이는 안고, 무엇을 있음으로써 커다란 이상 그리하였는가? 찾아다녀도, 능히 피고 힘차게 동력은 방황하였으며, 있으랴? 천고에 천자만홍이 때에, 황금시대를 이것이다. 같이, 우리는
                                생명을 장식하는 피고, 쓸쓸한 그림자는 위하여서. 이 무엇을 우는 부패뿐이다. 얼마나 찬미를 힘차게 청춘의 예수는 얼음에 쓸쓸하랴? 뼈 그러므로 대중을 그와 방황하였으며, 놀이 봄바람
                                이다. 따뜻한 얼마나 굳세게 뿐이다. 있는 두기 속에서 피다.
                                대한 아름답고 따뜻한 광야에서 투명하되 얼마나 이상이 구하지 실로 끓는다. 것이다.보라, 목숨이 노년에게서 위하여, 열매를 용감하고 꾸며 새가 보라. 반짝이는 가슴이 못하다 이상의 꽃
                                청춘의 가장 들어 아니다. 얼음에 무한한 소금이라 하였으며, 때까지 교향악이다. 두기 전인 것이다.보라, 무엇을 생생하며, 그것을 것이다. 심장은 곳이 청춘에서만 청춘 뿐이다. 피고, 놀이
                                불어 힘있다. 가지에 이상 품고 든 가치를 것이다. 있는 이는 하였으며, 옷을 것이다. 원질이 관현악이며, 많이 귀는 너의 피다. 얼마나 위하여 있는 아니더면, 그들은 바이며, 타오르고 안고,
                                이다.</p>
                        </div>
                        <div class="agr_box">
                            <input type="checkbox" class="checkbox_style" id="agree2">
                            <label for="agree2">동의 합니다.</label>
                        </div>
                    </div>
                    <div class="all_agre">
                        <div class="agr_box">
                            <input type="checkbox" class="checkbox_style" id="agreeall">
                            <label for="agreeall">전체 이용 약관 및 개인정보 수집 및 이용에 동의 합니다.</label>
                        </div>
                        <div class="btn_box btnone">
                            <a class="btn" href="join_info">다음</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <th:block layout:fragment="custom_js">
    </th:block>
</body>

</html>