<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
    <head>
        <title>문의 상세페이지</title>
        <meta property="og:url" content="">
        <meta property="og:title" content="">
        <meta property="og:image" content="">
        <meta property="og:description" content="">
        <meta name="keywords" content="">
        <meta name="description" content="">
    </head>
    <body>
        <article layout:fragment="content">
            <section class="sub_visual user_visual">
                <div class="container">
                    <h2>문의 및 답변</h2>
                    <ul class="bread_crumbs">
                        <li><a href="/">홈</a></li>
                        <li class="active"><a href="#n">문의 및 답변</a></li>
                    </ul>
                </div>
            </section>
            <div class="wrap">
                <div class="container">
                    <div class="sub_container">
                        <div class="qna_view">
                            <div class="qna_cont">
                                <div class="view_title">
                                    <h3>소상공인 불공정 피해 상담센터 운영</h3>
                                    <p>작성일 2021.01.01</p>
                                </div>
                                <div class="view_text">
                                    누구든지 병역의무의 이행으로 인하여 불이익한 처우를 받지 아니한다. 국무총리는 대통령을 보좌하며, 행정에 관하여 대통령의 명을 받아 행정각부를 통할한다. 국가는 농수산물의 수급균형과 유통구조의 개선에 노력하여 가격안정을 도모함으로써 농·어민의 이익을 보호한다. 군인 또는 군무원이 아닌 국민은 대한민국의 영역안에서는 중대한 군사상 기밀·초병·초소·유독음식물공급·포로·군용물에 관한 죄중 법률이 정한 경우와 비상계엄이 선포된 경우를 제외하고는 군사법원의 재판을 받지 아니한다. 누구든지 병역의무의 이행으로 인하여 불이익한 처우를 받지 아니한다. 국무총리는 대통령을 보좌하며, 행정에 관하여 대통령의 명을 받아 행정각부를 통할한다. 국가는 농수산물의 수급균형과 유통구조의 개선에 노력하여 가격안정을 도모함으로써 농·어민의 이익을 보호한다.
                                    군인 또는 군무원이 아닌 국민은 대한민국의 영역안에서는 중대한 군사상 기밀·초병·초소·유독음식물공급·포로·군용물에 관한 죄중 법률이 정한 경우와 비상계엄이 선포된 경우를 제외하고는 군사법원의 재판을 받지 아니한다. 누구든지 병역의무의 이행으로 인하여 불이익한 처우를 받지 아니한다. 국무총리는 대통령을 보좌하며, 행정에 관하여 대통령의 명을 받아 행정각부를 통할한다. 국가는 농수산물의 수급균형과 유통구조의 개선에 노력하여 가격안정을 도모함으로써 농·어민의 이익을 보호한다. 군인 또는 군무원이 아닌 국민은 대한민국의 영역안에서는 중대한 군사상 기밀·초병·초소·유독음식물공급·포로·군용물에 관한 죄중 법률이 정한 경우와 비상계엄이 선포된 경우를 제외하고는 군사법원의 재판을 받지 아니한다. 누구든지 병역의무의 이행으로 인하여 불이익한 처우를 받지 아니한다.
                                    국무총리는 대통령을 보좌하며, 행정에 관하여 대통령의 명을 받아 행정각부를 통할한다. 국가는 농수산물의 수급균형과 유통구조의 개선에 노력하여 가격안정을 도모함으로써 농·어민의 이익을 보호한다. 군인 또는 군무원이 아닌 국민은 대한민국의 영역안에서는 중대한 군사상 기밀·초병·초소·유독음식물공급·포로·군용물에 관한 죄중 법률이 정한 경우와 비상계엄이 선포된 경우를 제외하고는 군사법원의 재판을 받지 아니한다. 누구든지 병역의무의 이행으로 인하여 불이익한 처우를 받지 아니한다. 국무총리는 대통령을 보좌하며, 행정에 관하여 대통령의 명을 받아 행정각부를 통할한다. 국가는 농수산물의 수급균형과 유통구조의 개선에 노력하여 가격안정을 도모함으로써 농·어민의 이익을 보호한다. 군인 또는 군무원이 아닌 국민은 대한민국의 영역안에서는 중대한 군사상 기밀·초병·초소·유독음식물공급·포로·군용물에 관한 죄중 법률이 정한 경우와 비상계엄이 선포된 경우를 제외하고는 군사법원의 재판을 받지 아니한다.
                                </div>
                                <ul class="file_list">
                                    <li>
                                        <a href="#n" download="">(Q&A)2021년 온라인미디어 예술활동 지원 주요 문의사항.pdf</a></p>
                                    </li>
                                    <li>
                                        <p><a href="#n" download="">(Q&A)2021년 온라인미디어 예술활동 지원 주요 문의사항.pdf</a></p>
                                    </li>
                                </ul>
                                <div class="answer">
                                    <p>관리자 답변</p>
                                    <div>
                                        <p>누구든지 병역의무의 이행으로 인하여 불이익한 처우를 받지 아니한다. 국무총리는 대통령을 보좌하며, 행정에 관하여 대통령의 명을 받아 행정각부를 통할한다. 국가는 농수산물의 수급
                                            균형과 유통구조의 개선에 노력하여 가격안정을 도모함으로써 농·어민의 이익을 보호한다.
                                            군인 또는 군무원이 아닌 국민은 대한민국의 영역안에서는 중대한 군사상 기밀·초병·초소·유독음식물공급·포로·군용물에 관한 죄중 법률이 정한 경우와 비상계엄이 선포된 경우를 제외하
                                            고는 군사법원의 재판을 받지 아니한다. 누구든지 병역의무의 이행으로 인하여 불이익한 처우를 받지 아니한다.
                                            국무총리는 대통령을 보좌하며, 행정에 관하여 대통령의 명을 받아 행정각부를 통할한다. 국가는 농수산물의 수급균형과 유통구조의 개선에 노력하여 가격안정을 도모함으로써 농·어민의
                                        이익을 보호한다. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn_box">
                        <a class="btn btn_grey" href="#n">목록으로</a>
                    </div>
                </div>
            </div>
        </article>
        <th:block layout:fragment="custom_js">
        </th:block>
    </body>
</html>