<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
    <head>
        <title>마이솔루션</title>
        <meta property="og:url" content="">
        <meta property="og:title" content="">
        <meta property="og:image" content="">
        <meta property="og:description" content="">
        <meta name="keywords" content="">
        <meta name="description" content="">
    </head>
    <body>
        <article layout:fragment="content">
            <section class="sub_visual my_visual">
                <div class="container">
                    <h2><span>김나모</span>님을 위한 맞춤형 교육</h2>
                    <ul class="bread_crumbs">
                        <li><a href="/">홈</a></li>
                        <li><a href="#n">마이솔루샨</a></li>
                        <li class="active"><a href="#n">맞춤형 교육</a></li>
                    </ul>
                </div>
            </section>
            <div class="wrap">
                <div class="container">
                    <div class="sub_container solution_edu">
                        <div class="flex_title">
                             <p class="sub_t">추천 교육</p>
                             <div>
                                <input type="checkbox" class="checkbox_style fz18" id="hide">
                                <label for="hide">이미 수강한 교육 감추기</label>
                                <a href="#n" class="more_edu">더보기</a>
                             </div>
                        </div>
                        <div class="recommend">
                            <ul>
                                <li>
                                    <div class="rec_title">
                                        <button class="bookmark active">즐겨찾기</button>
                                        <span>상권분석</span>
                                        <div>
                                            <a href="#n">2021년 (국고)온라인미디어 예술활동 지원사업 아트체인지업 공모 안내</a>
                                        </div>
                                    </div>
                                    <div class="rec_info">
                                        <p>조회 : 12345</p>
                                        <button>수강선택</button>
                                        <div>
                                            <a href="#n">수강완료</a>
                                            <a href="#n">수강하기</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="rec_title">
                                        <button class="bookmark">즐겨찾기</button>
                                        <span>상권분석</span>
                                        <div>
                                            <a href="#n">2021년 (국고)온라인미디어 예술활동 지원사업 아트체인지업 공모 안내</a>
                                        </div>
                                    </div>
                                    <div class="rec_info">
                                        <p>조회 : 12345</p>
                                        <button>수강선택</button>
                                        <div>
                                            <a href="#n">수강완료</a>
                                            <a href="#n">수강하기</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="rec_title">
                                        <button class="bookmark">즐겨찾기</button>
                                        <span>경영일반</span>
                                        <div>
                                            <a href="#n">2021년 (국고)온라인미디어 예술활동 지원사업 아트체인지업 공모 안2021년 (국고)온라인미디어 예술활동 지원사업 아트체인지업 공모 안2021년 (국고)온라인미디어 예술활동 지원사업 아트체인지업 공모 안내</a>
                                        </div>
                                    </div>
                                    <div class="rec_info">
                                        <p>조회 : 12345</p>
                                        <button>수강선택</button>
                                        <div>
                                            <a href="#n">수강완료</a>
                                            <a href="#n">수강하기</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="rec_title">
                                        <button class="bookmark">즐겨찾기</button>
                                        <span>창업</span>
                                        <div>
                                            <a href="#n">2021년 (국고)온라인미디어 예술활동 지원사업 아트체인지업 공모 안내</a>
                                        </div>
                                    </div>
                                    <div class="rec_info">
                                        <p>조회 : 12345</p>
                                        <button>수강선택</button>
                                        <div>
                                            <a href="#n">수강완료</a>
                                            <a href="#n">수강하기</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class=" solution_edu2">
                        <div class="sub_container">
                            <div class="flex_title">
                                 <p class="sub_t">다른 사용자가 자주 찾는 교육</p>
                                 <div>
                                    <a href="#n" class="more_edu">더보기</a>
                                 </div>
                            </div>
                           <ul class="edu_list">
                               <li>
                                    <div class="img" style="background-image: url('../images/img.png');">
                                        <a href="#n">자세히 보기<span>바로가기</span></a>
                                        <button class="bookmark">즐겨찾기</button>
                                    </div>
                                    <div class="txt">
                                        <h3><a href="#n">재기 업종전환 사례 분석, 지원사업에 지원사업에지원사업에</a></h3>
                                        <div>
                                            <p>재기</p>
                                            <p>재창업</p>
                                        </div>
                                    </div>
                               </li>
                               <li>
                                    <div class="img" style="background-image: url('../images/img.png');">
                                        <a href="#n">자세히 보기<span>바로가기</span></a>
                                        <button class="bookmark">즐겨찾기</button>
                                    </div>
                                    <div class="txt">
                                        <h3><a href="#n">재기 업종전환 사례 분석, 지원사업에 지원사업에지원사업에</a></h3>
                                        <div>
                                            <p>재기</p>
                                            <p>재창업</p>
                                        </div>
                                    </div>
                               </li>
                               <li>
                                    <div class="img" style="background-image: url('../images/img.png');">
                                        <a href="#n">자세히 보기<span>바로가기</span></a>
                                        <button class="bookmark">즐겨찾기</button>
                                    </div>
                                    <div class="txt">
                                        <h3><a href="#n">재기 업종전환 사례 분석, 지원사업에 지원사업에지원사업에</a></h3>
                                        <div>
                                            <p>재기</p>
                                            <p>재창업</p>
                                        </div>
                                    </div>
                               </li>
                               <li>
                                    <div class="img" style="background-image: url('../images/img.png');">
                                        <a href="#n">자세히 보기<span>바로가기</span></a>
                                        <button class="bookmark">즐겨찾기</button>
                                    </div>
                                    <div class="txt">
                                        <h3><a href="#n">재기 업종전환 사례 분석, 지원사업에 지원사업에지원사업에</a></h3>
                                        <div>
                                            <p>재기</p>
                                            <p>재창업</p>
                                        </div>
                                    </div>
                               </li>
                               <li>
                                    <div class="img" style="background-image: url('../images/img.png');">
                                        <a href="#n">자세히 보기<span>바로가기</span></a>
                                        <button class="bookmark">즐겨찾기</button>
                                    </div>
                                    <div class="txt">
                                        <h3><a href="#n">재기 업종전환 사례 분석, 지원사업에 지원사업에지원사업에</a></h3>
                                        <div>
                                            <p>재기</p>
                                            <p>재창업</p>
                                        </div>
                                    </div>
                               </li>
                           </ul>

                        </div>
                    </div>
                    <div class="btn_box">
                        <a class="btn wa" href="#n">다른 소공자 교육 알아보기</a>
                    </div>
                </div>
            </div>
        </article>
        <th:block layout:fragment="custom_js">
           <script>
               $(".bookmark").click(function(){
                    $(this).toggleClass("active");
               });
               $(".recommend ul li .rec_info button").click(function(){
                    $(this).siblings("div").toggleClass("active");
               });
           </script>
        </th:block>
    </body>
</html>