<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
    <head>
        <title>마이솔루션</title>
        <meta property="og:url" content="">
        <meta property="og:title" content="">
        <meta property="og:image" content="">
        <meta property="og:description" content="">
        <meta name="keywords" content="">
        <meta name="description" content="">
    </head>
    <body>
        <article layout:fragment="content">
            <section class="sub_visual my_visual">
                <div class="container">
                    <h2><span>김나모</span>님을 위한 맞춤형 컨설팅</h2>
                    <ul class="bread_crumbs">
                        <li><a href="/">홈</a></li>
                        <li><a href="#n">마이솔루샨</a></li>
                        <li class="active"><a href="#n">맞춤형 컨설팅</a></li>
                    </ul>
                </div>
            </section>
            <div class="wrap">
                <div class="container">
                    <div class="sub_container solution_edu solution_coun">
                        <div class="flex_title">
                             <p class="sub_t">추천 컨설팅</p>
                             <div>
                                <input type="checkbox" class="checkbox_style fz18" id="hide">
                                <label for="hide">이미 수강한 컨설팅 감추기</label>
                                <a href="#n" class="more_edu">더보기</a>
                             </div>
                        </div>
                        <div class="recommend">
                            <ul>
                                <li>
                                    <div class="rec_title">
                                        <button class="bookmark active">즐겨찾기</button>
                                        <span>창업컨설팅</span>
                                        <div>
                                            <a href="#n">창업컨설팅 <span>창업정보 제공 및 상담</span></a>
                                        </div>
                                    </div>
                                    <div class="rec_info">
                                        <p>조회 : 12345</p>
                                        <button>수강선택</button>
                                        <div>
                                            <a href="#n">수강완료</a>
                                            <a href="#n">수강하기</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="rec_title">
                                        <button class="bookmark active">즐겨찾기</button>
                                        <span>자영업클리닉 지원</span>
                                        <div>
                                            <a href="#n">경영지도  <span>손익관리(원가관리, 비용탕감)</span></a>
                                        </div>
                                    </div>
                                    <div class="rec_info">
                                        <p>조회 : 12345</p>
                                        <button>수강선택</button>
                                        <div>
                                            <a href="#n">수강완료</a>
                                            <a href="#n">수강하기</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class=" solution_edu2 solution_coun2">
                        <div class="sub_container">
                            <div class="flex_title">
                                 <p class="sub_t">다른 사용자가 자주 찾는 컨설팅</p>
                                 <div>
                                    <a href="#n" class="more_edu">더보기</a>
                                 </div>
                            </div>
                           <table class="table_style table_list table_center">
                                <tr>
                                    <th>분류</th>
                                    <th>지원내용</th>
                                    <th class="title2">세부사항</th>
                                    <th class="w200">지원 대상</th>
                                    <th class="w120">지역</th>
                                    <th>바로가기</th>
                                </tr>
                                <tr>
                                    <td class="point">창업컨설팅</td>
                                    <td>창업전 컨설팅</td>
                                    <td>창업 정보 제공 및 상담</td>
                                    <td>서울시 소재 예비 창업자</td>
                                    <td>서울시</td>
                                    <td><a href="#n" class="btn btn_grey2">바로가기</a></td>
                                </tr>
                                <tr>
                                    <td class="point">창업컨설팅</td>
                                    <td>창업전 컨설팅</td>
                                    <td>창업 정보 제공 및 상담</td>
                                    <td>서울시 소재 예비 창업자</td>
                                    <td>서울시</td>
                                    <td><a href="#n" class="btn btn_grey2">바로가기</a></td>
                                </tr>
                                <tr>
                                    <td class="point">창업컨설팅</td>
                                    <td>창업전 컨설팅</td>
                                    <td>창업 정보 제공 및 상담</td>
                                    <td>서울시 소재 예비 창업자</td>
                                    <td>서울시</td>
                                    <td><a href="#n" class="btn btn_grey2">바로가기</a></td>
                                </tr>
                                <tr>
                                    <td class="point">창업컨설팅</td>
                                    <td>창업전 컨설팅</td>
                                    <td>창업 정보 제공 및 상담</td>
                                    <td>서울시 소재 예비 창업자</td>
                                    <td>서울시</td>
                                    <td><a href="#n" class="btn btn_grey2">바로가기</a></td>
                                </tr>
                           </table>
                            <div class="list_info">
                                <div>
                                    <p>전체 510건, 현재페이지 1/43</p>
                                </div>
                                <ul class="pagination">
                                    <li class="start"><a href="#n">처음으로</a></li>
                                    <li class="prev"><a href="#n">이전</a></li>
                                    <li class="active"><a href="#n">1</a></li>
                                    <li><a href="#n">2</a></li>
                                    <li><a href="#n">3</a></li>
                                    <li><a href="#n">4</a></li>
                                    <li><a href="#n">5</a></li>
                                    <li class="next"><a href="#n">다음</a></li>
                                    <li class="last"><a href="#n">끝으로</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="btn_box">
                        <a class="btn wa" href="#n">다른 소공자 컨설팅 알아보기</a>
                    </div>
                </div>
            </div>
        </article>
        <th:block layout:fragment="custom_js">
           <script>
               $(".bookmark").click(function(){
                    $(this).toggleClass("active");
               });
               $(".recommend ul li .rec_info button").click(function(){
                    $(this).siblings("div").toggleClass("active");
               });
           </script>
        </th:block>
    </body>
</html>