<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layouts/layout}">

<head>
    <title th:text="${breadcrumb.menu_name}">질문관리</title>
</head>
<div layout:fragment="content">
    <nav th:replace="fragments/page_breadcrumb"></nav>
    <form name="editForm" th:action="@{/question/form}" th:object="${questionSetting}" method="post"
          enctype="multipart/form-data" onsubmit="return validationForm();">
        <input type="hidden" th:field="*{questionSettingSeq}">
        <input type="hidden" name="menuCode" th:value="${menuCode}">
        <input type="hidden" name="pageParams" th:value="${pageParams}">
        <input type="hidden" th:field="*{answerTitleList}">
        <input type="hidden" th:field="*{answerTagList}">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">

                        <!--여기가 질문 유형 선택 (항목추가형 / 항목선택형)-->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label required">질문유형 선택</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" th:field="*{questionType}" required="required">
                                            <option value="add" selected="selected">항목추가형</option>
                                            <option value="choice">항목선택형</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--{항목 공통사항-->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label required">질문 제목</label>
                                    <div class="col-sm-10">
                                        <input type="text" th:field="*{title}" maxlength="100" class="form-control"
                                               required="required">
                                        <th:block th:include="fragments/form_invalid:: form_invalid('title')">
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">부가 설명</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" th:field="*{description}" rows="10"></textarea>
                                        <th:block th:include="fragments/form_invalid:: form_invalid('description')">
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">답변 항목 옵션</label>
                                    <div class="col-sm-10 flex_box">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input bothChoice"
                                                       name="multipleUse" value="Y" data-label="복수 선택 가능" th:checked="${questionSetting.multipleUse == 'Y'} or ${questionSetting.multipleUse == null}">복수 선택 가능
                                                <i class="input-frame"></i>
                                            </label>
                                        </div>
                                        <div class="flex_box select_num">
                                            <span style="margin: 0 10px 8px 0;"> ( </span>
                                            <div class="form-check">
                                                <label class="form-check-label" th:for="rankChangeUse">
                                                    <input type="checkbox" th:value="Y" id="rankChangeUse" name="rankChangeUse" th:checked="${questionSetting.rankChangeUse == 'Y'}" th:disabled="${questionSetting.multipleUse == 'N'}">
                                                    순위 입력
                                                </label>
                                            </div>
                                            <span style="margin: 0 10px 8px 10px;"> / </span>
                                            <div class="form-check flex_box">
                                                <label class="form-check-label" th:for="maximumUse">
                                                    <input type="checkbox" th:value="1" name="maximumUse" id="maximumUse" th:checked="${questionSetting.maximumUse == '1'}" th:disabled="${questionSetting.multipleUse == 'N'}">
                                                    최대 수
                                                </label>
                                                <div class="form_num">
                                                    <input class="checkNum" type="number" value="2" min="2" max="10" th:field="*{maximumNum}" disabled>
                                                </div>
                                            </div>
                                            <span style="margin: 0 10px 8px 10px;"> ) </span>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input bothChoice"
                                                       name="multipleUse" value="N" data-label="복수 선택 불가" th:checked="${questionSetting.multipleUse == 'N'}">복수 선택 불가
                                                <i class="input-frame"></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--항목 공통사항 끝}-->

                        <!-- {여기서 부터 항목추가형 형태-->
                        <div class="row item_wrap item_wrap01">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">답변 항목</label>
                                    <div class="col-sm-10">
                                        <div class="row" style="align-items: center">
                                            <div class="col-sm-2">
                                                <select th:field="*{answerType}">
                                                    <option value="1" selected="selected">업종</option>
                                                    <option value="2">주소</option>
                                                </select>
                                            </div>
<!--                                            ★★★★업종 선택은 관리자에서 선택할 필요 없습니다.  -->
                                                <div class="col-sm-10">
                                                    <div class="div2">
                                                        <input type="text" class="form-control" data-role="tagsinput" value="jQuery,Script,Net">
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 항목추가형 형태  끝}-->


                        <!-- {여기서 부터 항목선택형 형태-->
                        <div class="row item_wrap item_wrap02">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">답변 항목</label>
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <div id="select_list" class="col-sm-10 add_item_wrap">
                                                <input id="text_list_input" class="form-control item-input" type="text"  placeholder="계획없음">
                                                <div class="row flex_box">
                                                    <div class="col-sm-2" style="margin-top: 10px">
                                                        매칭서비스 분류 추가
                                                    </div>
                                                    <div class="col-sm-10">
                                                        <div class="row add_item_choice">
                                                            <div class="col-sm-5">
                                                                <select name="" id="mach_01">
                                                                    <option value="0" selected="selected">대분류</option>
                                                                    <option th:value="${item.category1_seq}" th:each="item : ${category1List}" th:unless="${#lists.isEmpty(category1List)}">[[${item.name}]]</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-sm-5">
                                                                <select name="mach_02" id="mach_02" >
                                                                    <option value="0" selected="selected">중분류</option>
                                                                    <option th:value="${item2.category1_seq}+'_'+${item2.category2_seq}" th:each="item2 : ${category2List}" th:unless="${#lists.isEmpty(category2List)}" style="display: none">[[${item2.name}]]</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="tag_wrap"></div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-sm-2 add_item_button">
                                                <button type="button" onclick="getInputValue();" class="btn btn-primary mr-2 btn-icon-text">추가하기</button>
                                            </div>

                                            <div class="col-sm-10" id="answer_wrap">
                                                <!--<div class="flex_box item_list_wrap"></div>-->
                                                <!-- 여기에 선택 내용이 담김 -->
                                                <th:block th:each="item,i : ${answerList}" th:unless="${#lists.isEmpty(answerList)}">
                                                    <div class="flex_box item_list_wrap" name="answerArr"><div class="del_item_button">
                                                        <button type="button" class="btn">-</button>
                                                    </div>
                                                    <div th:id="answer_+${i.index}" class="item_list">
                                                        <div>
                                                            <p>[[${item.answer}]]</p>
                                                        </div>
                                                        <div class="item_tag_wrap">
                                                            <!--
                                                            <span name="matching_1" class="item_tag">생활/취미<input type="hidden" id="answerSeq" value="19"></span>
                                                            <span name="matching_1" class="item_tag">세무/노무<input type="hidden" id="answerSeq" value="10"></span>
                                                            -->
                                                            <span th:name="matching_+${i.index}" class="item_tag" th:each="item2,j : ${item.namearr}">[[${item2}]]
                                                                <input type="hidden" id="answerSeq" th:value="${item.seqarr[j.index]}">
                                                            </span>
                                                        </div>
                                                    </div></div>
                                                </th:block>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 항목선택형 형태  끝}-->



                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <a class="btn btn-outline-primary btn-icon-text" th:href="@{|/question?${pageParams}|}">
                    <i class="btn-icon-prepend" data-feather="list"></i>목록
                </a>
                <button type="submit" class="btn btn-primary mr-2 btn-icon-text" th:if="*{questionSettingSeq == 0}">
                    <i class="btn-icon-prepend" data-feather="edit"></i>저장
                </button>
                <button type="submit" class="btn btn-secondary mr-2 btn-icon-text" th:unless="*{questionSettingSeq == 0}">
                    <i class="btn-icon-prepend" data-feather="edit"></i>수정
                </button>
            </div>
        </div>
    </form>
</div>
<th:block layout:fragment="custom_css">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap-tagsinput.css}" />
</th:block>
<th:block layout:fragment="custom_js">
    <script th:src="@{/assets/js/libs/bootstrap-tagsinput.min.js}"></script>
    <script th:src="@{/assets/js/file-upload.js}"></script>
    <script th:src="@{/assets/js/pages/setting/question_form.js}"></script>
</th:block>

</html>