<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<head>
    <title th:text="${breadcrumb.menu_name}">설문 관리</title>
</head>
<div layout:fragment="content">
    <nav th:replace="fragments/page_breadcrumb"></nav>
    <div class="row">
        <div class="col-12 col-xl-12 grid-margin stretch-card">
            <div class="tab_wrap">
                <div class="row">
                    <div class="col-sm-2 tab active">
                        <a th:href="@{/survey}">설문 관리</a>
                    </div>
                    <div class="col-sm-2 tab">
                        <a th:href="@{/question}">질문 관리</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <label class="col-sm-8 col-form-label">설문 목록</label>
                    </div>
                    <p class="card-description"></p>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <colgroup>
                                <col style="width: 8%;">
                                <col style="width: 25%;">
                                <col style="width: 51%;">
                                <col style="width: 8%;">
                                <col style="width: 8%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>이용자 유형</th>
                                <th>설문명</th>
                                <th style="text-align: center">등록일</th>
                                <th style="text-align: center;">사용여부</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:include="fragments/table_empty:: table_empty(7)" th:if="${#lists.isEmpty(list)}"></th:block>
                            <tr th:each="item : ${list}" th:unless="${#lists.isEmpty(list)}">
                                <td th:text="${item.survey_setting_seq }">1</td>
                                <td>[[${item.survey_type1}+${item.survey_type2 != ''?'/'+item.survey_type2:''}]]</td>
                                <td>
                                    <a th:href="@{|/survey/${item.survey_setting_seq}|}" th:text="${item.title}">제목</a>
                                </td>
                                <td style="text-align: center" th:text="${item.reg_dt}">등록일</td>
                                <td style="text-align: center">
                                    <!--사용여부-->
                                    <i data-feather="check-square" th:if="${item.survey_use != 'N'}"></i>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="custom_css">
</th:block>
<th:block layout:fragment="custom_js">
    <script th:src="@{/assets/js/pages/education/education_list.js}"></script>
</th:block>

</html>