<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layouts/layout}">

<head>
    <title th:text="${breadcrumb.menu_name}">게시판관리</title>
</head>
<div layout:fragment="content">
    <nav th:replace="fragments/page_breadcrumb"></nav>
    <form name="surveyForm" th:action="@{/survey/form}" th:object="${survey}" method="post" enctype="multipart/form-data" onsubmit="return validationForm();">
        <input type="hidden" th:field="*{surveySettingSeq}">
        <input type="hidden" th:field="*{qSeqList}">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <!--이용자 유형-->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label required">이용자 유형</label>
                                    <div class="col-sm-2 mt-2">
                                        <p>[[${survey.surveyType1}]]</p>
                                    </div>
                                    <div class="col-sm-2 mt-2">
                                        <p>[[${survey.surveyType2}]]</p>
                                    </div>
                                    <div class="col-md-1 offset-sm-5">
                                        <button type="button" id="view_rescan" style="text-align: right" class="pop_review_btn mb-3 btn-outline-primary btn">미리보기</button>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!--설문 제목-->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label required">질문 제목</label>
                                    <div class="col-sm-10">
                                        <input type="text" th:field="*{title}" maxlength="100" class="form-control"
                                               required="required">
                                        <th:block th:include="fragments/form_invalid:: form_invalid('title')">
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">질문 추가</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="q_list" required="required">
                                            <option name="q_list" value="0" selected="selected" disabled>질문선택</option>
                                            <option name="q_list" th:value="${item.question_setting_seq}" th:each="item : ${list}" th:unless="${#lists.isEmpty(list)}">[[${item.title}]]</option>
                                            <!--<option name="q_list" value="2">질문 2</option>
                                            <option name="q_list" value="3">질문 3</option>
                                            <option name="q_list" value="4">질문 4</option>
                                            <option name="q_list" value="5">질문 5</option>
                                            <option name="q_list" value="6">질문 6</option>-->
                                        </select>
                                    </div>
                                    <button type="button" onclick="changeQ(this)" class="q_add_btn btn btn-primary col-sm-2 mb-3">질문추가</button>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"></label>
                                    <div class="col-sm-8" id="survey_list_wrap">
                                        <div class="survey_list" th:each="item : ${listSub}" th:unless="${#lists.isEmpty(listSub)}">
                                            <label class="survey_text col-sm-10">[[${item.title}]]</label>
                                            <button type="button" th:value="${item.question_setting_seq}" id="qDelBtn1" class="qDelBtn btn-danger btn col-sm-1">-</button>
                                        </div>
                                        <!--<div class="survey_list">
                                            <label class="survey_text col-sm-10">test999</label>
                                            <button type="button" id="qDelBtn2" class="qDelBtn btn-danger btn col-sm-1">-</button>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--미리보기-->
                        <div class="modal pop_reiview" tabindex="-1" id="dtsch_modal">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">설문지 미리보기 <span>※ 설문지 미리보기는 기능이 없습니다.</span></h4>
                                        <button type="button" class="btn-close btn modal_close btn-primary" aria-label="Close" onclick="preview_close();">x</button>
                                    </div>

                                    <div class="modal-body">
                                        <div class="modal_in_wrap">
                                            <th:block th:each="item,i : ${List}" th:unless="${#lists.isEmpty(List)}">

                                                <!--select 형태(업종)-->
                                                <th:block th:if="${item.questionType == 'add'} and ${item.answerType == 1}">
                                                    <div class="review_qTitle">
                                                        <h5>[[${item.title}]]
                                                            <span>([[${item.multipleUse=='Y'?'복수추가O':'복수추가X'}]],[[${item.rankChangeUse=='Y'?'순위지정O':'순위지정X'}]],최대[[${item.maximumNum}]]개)</span>
                                                        </h5>
                                                        <p>[[${item.description}]]</p>
                                                    </div>
                                                    <div class="review_qText">
                                                        <div class="row justify-content-between">
                                                            <select class="col-sm-3" name="" >
                                                                <option value="0" selected="selected" disabled>대분류</option>
                                                            </select>
                                                            <select class="col-sm-3" name="" >
                                                                <option value="0" selected="selected" disabled>중분류</option>
                                                            </select>
                                                            <select class="col-sm-3" name="" >
                                                                <option value="0" selected="selected" disabled>소분류</option>
                                                            </select>
                                                            <button type="button" class="col-sm-2 btn btn-primary">+</button>
                                                        </div>
                                                        <div class="choice_board">
                                                            분류를 선택해주세요.
                                                        </div>
                                                    </div>
                                                </th:block>

                                                <!--주소 선택-->
                                                <th:block th:if="${item.questionType == 'add'} and ${item.answerType == 2}">
                                                    <div class="review_qTitle">
                                                        <h5>[[${item.title}]]
                                                            <span>([[${item.multipleUse=='Y'?'복수추가O':'복수추가X'}]],[[${item.rankChangeUse=='Y'?'순위지정O':'순위지정X'}]],최대[[${item.maximumNum}]]개)</span>
                                                        </h5>
                                                        <p>[[${item.description}]]</p>
                                                    </div>
                                                    <div class="review_qText">
                                                        <div class="adress_board">
                                                            주소를 추가해주세요.
                                                        </div>
                                                        <button type="button" class="btn btn-primary address_add">+ 주소추가</button>
                                                    </div>
                                                </th:block>

                                                <!--checkbox 형태-->
                                                <th:block th:if="${item.questionType == 'choice'} and ${item.answerType == 3}">
                                                    <div class="review_qTitle">
                                                        <h5>[[${item.title}]]
                                                            <span>([[${item.multipleUse=='Y'?'복수선택O':'복수선택X'}]],[[${item.rankChangeUse=='Y'?'순위지정O':'순위지정X'}]],최대[[${item.maximumNum}]]개)</span>
                                                        </h5>
                                                        <p>[[${item.description}]]</p>
                                                    </div>
                                                    <div class="review_qText">
                                                        <ul class="check_survey check_list_li50">
                                                            <li th:if="${answerArrList[i.index] ne null}" th:each="item2,j : ${answerArrList[i.index]}" th:unless="${#lists.isEmpty(answerArrList[i.index])}">
                                                                <input type="checkbox" value="1" disabled name="check_surveyType_tree" id="check_surveyType_tree1" class="check_survey form-check-input">
                                                                <label class="form-check-label" for="check_surveyType_tree1">[[${item2}]]</label>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </th:block>

                                                <!--순위 형태-->
                                                <!--/*
                                                <div class="review_qTitle">
                                                    <h5>질문의 제목이 노출 <span>(복수선택,2순위까지)</span></h5>
                                                    <p>질문의 상세 내용이 노출</p>
                                                </div>
                                                <div class="review_qText">
                                                    <ul class="check_survey check_list_li50">
                                                        <li>
                                                            <input type="checkbox" value="1" disabled name="check_surveyType_tree" id="check_surveyType_tree1" class="check_survey form-check-input">
                                                            <label class="form-check-label" for="check_surveyType_tree1">임대차 계약관련</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" value="2" disabled name="check_surveyType_tree" id="check_surveyType_tree2" class=" check_survey form-check-input">
                                                            <label class="form-check-label" for="check_surveyType_tree2">보험,손해배상</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" value="3" disabled name="check_surveyType_tree" id="check_surveyType_tree3" class=" check_survey form-check-input">
                                                            <label class="form-check-label" for="check_surveyType_tree3">빚,채무 관련</label>
                                                        </li>
                                                    </ul>
                                                </div>
                                                */-->
                                            </th:block>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <a class="btn btn-outline-primary btn-icon-text" th:href="@{|/survey|}">
                    <i class="btn-icon-prepend" data-feather="list"></i>목록
                </a>
                <button type="submit" class="btn btn-primary mr-2 btn-icon-text" th:if="*{surveySettingSeq == 0}">
                    <i class="btn-icon-prepend" data-feather="edit"></i>등록
                </button>
                <button type="submit" class="btn btn-secondary mr-2 btn-icon-text" th:unless="*{surveySettingSeq == 0}">
                    <i class="btn-icon-prepend" data-feather="edit"></i>수정
                </button>
            </div>
        </div>
    </form>
</div>
<th:block layout:fragment="custom_css">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap-tagsinput.css}" />
</th:block>
<th:block layout:fragment="custom_js">
    <script th:inline="javascript">
        var qArr = /*[[${qArr}]]*/ '';

    </script>
    <script th:src="@{/assets/js/libs/bootstrap-tagsinput.min.js}"></script>
    <script th:src="@{/assets/js/file-upload.js}"></script>
    <script th:src="@{/assets/js/pages/setting/survey_form.js}"></script>
</th:block>

</html>