<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<head>
    <title th:text="${breadcrumb.menu_name}">설문 관리</title>
</head>
<div layout:fragment="content">
    <nav th:replace="fragments/page_breadcrumb"></nav>
    <div class="row">
        <div class="col-12 col-xl-12 grid-margin stretch-card">
            <div class="tab_wrap">
                <div class="row">
                    <div class="col-sm-2 tab active">
                        <a href="#none">설문 관리</a>
                    </div>
                    <div class="col-sm-2 tab">
                        <a href="#none">질문 관리</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <label class="col-sm-8 col-form-label">설문 목록</label>
                    </div>
                    <p class="card-description"></p>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <colgroup>
                                <col style="width: 8%;">
                                <col style="width: 15%;">
                                <col style="width: 61%;">
                                <col style="width: 8%;">
                                <col style="width: 8%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>이용자 유형</th>
                                <th>설문명</th>
                                <th style="text-align: center">등록일</th>
                                <th style="text-align: center;">사용여부</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:include="fragments/table_empty:: table_empty(7)" th:if="${#lists.isEmpty(list)}"></th:block>
                            <tr th:each="item : ${list}" th:unless="${#lists.isEmpty(list)}">
                                <td th:text="${paging.total - item.rnum + 1}">1</td>
                                <td>이용자 유형</td>
                                <td>
                                    <a th:href="@{|/education/${item.edu_seq}?${pageParams}|}" th:text="${item.subject}">제목</a>
                                </td>
                                <td style="text-align: center" th:text="${item.reg_dt}">등록일</td>
                                <td style="text-align: center">
                                    <!--사용여부-->
                                    <i data-feather="check-square"></i>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form name="deleteForm" th:action="@{/education/delete}" method="post">
        <input type="hidden" name="eduSeq">
        <input type="hidden" name="menuCode" th:value=${params.menuCode}>
    </form>
</div>
<th:block layout:fragment="custom_css">
</th:block>
<th:block layout:fragment="custom_js">
    <script th:src="@{/assets/js/pages/education/education_list.js}"></script>
</th:block>

</html>