<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<head>
    <title>소공자 플랫폼</title>
    <meta property="og:url" content="">
    <meta property="og:title" content="소공자 플랫폼">
    <meta property="og:image" th:content="@{/images/bg-maintext.png}">
    <meta property="og:description" content="임대인과 임차인이 함께 소규모 상권의 공생과 자생을 꿈꾸는 플랫폼">
    <meta name="keywords" content="소공자 플랫폼, 임대인, 임차인, 상권, 분석">
    <meta name="description" content="임대인과 임차인이 함께 소규모 상권의 공생과 자생을 꿈꾸는 플랫">
    <link rel="stylesheet" type="text/css" th:href="@{/css/swiper-bundle.min.css}">
</head>

<body>
    <article layout:fragment="content">
        <main>

            <!--메인이미지-->
            <section class="main_visual">
                <div class="main_section">
                    <div class="wrap_img" th:style="|background: url('@{/images/img-main01.png}'), linear-gradient(#1540bf 41%, #031a5c);|">
                        <div class="container mv_text1 " >
                            <div class="title_main">
                                <span class="left"></span>
                                <p>
                                    <strong>
                                        소규모 상점의 <br>
                                        공생과 자생을 <br>
                                        꿈꾸는 플랫폼
                                    </strong>
                                </p>
                                <span class="right"></span>
                            </div>
                            <p>
                                모두가 빠르게 상권의 문제를 예측하고 스스로 해결할 수 있는 사업단계별 맞춤형 서비스!! <br>
                                땀 흘려 일하는 사장님들의 열정을 응원합니다.
                            </p>
                            <div class="scrollDwon"></div>
                        </div>
                    </div>
                    <div class="sectionBtn">
                        <ul>
                            <li class="on"></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </section>

            <!--컨설팅-->
            <section class="educationMain">
                <div class="main_section">
                    <div class="wrap_img">
                        <div class="container mv_text3">
                            <div class="left">
                                <p>
                                    <strong>
                                        꼭맞는 교육과 컨설팅, <br>
                                        한눈에 확인
                                    </strong>
                                    할 수 있을까?
                                </p>
                                <span>
                                    상점 진입부터 재도전까지 단계별 관심과 요구에 맞는 <br>
                                    교육과 컨설팅을 연계 제공합니다.
                                </span>
                                <div>
                                    <a href="#none">
                                        더 알아보기
                                    </a>
                                </div>
                            </div>
                            <div class="right">
                                <div></div>
                            </div>
                        </div>
                        <div class="sectionBtn">
                            <ul>
                                <li></li>
                                <li class="on"></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <div class="back_img01">
                        <div></div>
                    </div>
                </div>
            </section>

            <!--경영환경 - slide/ 동영상-->
            <section class="slide_video">
                <div class="wrap_img">
                    <div class="mv_text4">
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" th:style="|background: url('@{/images/img-main01.png}'), linear-gradient(#1540bf 41%, #031a5c);|">
                                    <div class="container mv_text1">
                                        <span>소공자란?</span>
                                        <p>임대인과 임차인이 함께 <Br>소규모 상권의 <Br>공생과 자생을 꿈꾸는 <strong>'플랫폼'</strong></p>
                                        <p>장사가 잘되고 빈 상점이 없는 상권을 위해 누구나 쉽게 상권의 문제 <br>모두가 빠르게 상권의 문제를 예측하여 문제를 스스로 해결할 수 있는 종합 서비스 플랫폼</p>
                                    </div>
                                </div>
                                <div class="swiper-slide" th:style="|background: url('@{/images/img-main02.png}'), linear-gradient(#709bff 41%, #384b82)|">
                                    <div class="container ">
                                        <ul class="mv_text2">
                                            <li>
                                                <span>임차인</span>
                                                <p>공공기관 교육, 컨설팅 맞춤형 서비스 제공<br>상권 분석 및 활성화 예측 정보 제공<br>조건에 맞는 임대인/상점 매칭<br>맞춤형 상점 특화 서비스 제공</p>
                                            </li>
                                            <li>
                                                <span>임대인</span>
                                                <p>임대차 문제 해결 맞춤형 솔루션 제공<br>상권 분석 및 상권 활성화 예측 정보 제공<br>공실에 대한 상권 맞춤형 임차인 매칭</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <div class="sectionBtn">
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li class="on"></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </section>


            <!--솔루션-->
            <section class="solutionMain">
                <div class="main_section">
                    <div class="wrap_img">
                        <div class="container mv_text3">
                            <div class="left">
                                <p>
                                    <strong>
                                        상점을 위한 솔루션, <br>
                                        맞춤형 피드백<span>을</span>
                                    </strong><br>
                                    받을 수 있을까?
                                </p>
                                <span>
                                    이용자 DATA + 공간 DATA + 맞춤형 전문 연계로 <br>
                                    상점 활성화를 지원합니다.
                                </span>
                                <div>
                                    <a href="#none">
                                        더 알아보기
                                    </a>
                                </div>
                            </div>
                            <div class="right02">
                                <div class="list_solution_wrap">
                                    <ul>
                                        <li>
                                            <div class="list_title">
                                                <p>소공자 솔루션 유형</p>
                                                <span></span>
                                            </div>
                                            <div class="list_text">
                                                <div class="list_sub_title">소공자 솔루션 이용방법</div>
                                                <div class="list_sub_text">

                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list_title">
                                                <p>업종과 입지의 선정방법 솔루션</p>
                                                <span></span>
                                            </div>
                                            <div class="list_text">
                                                <div class="list_sub_title"></div>
                                                <div class="list_sub_text"></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="sectionBtn">
                            <ul>
                                <li></li>
                                <li ></li>
                                <li></li>
                                <li class="on"></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <!--연계서비스-->
            <section class="linkedMain">
                <div class="main_section">
                    <div class="wrap_img">
                        <div class="container mv_text5">
                            <div class="mv_title">
                                <p>
                                    소공자플랫폼
                                    <strong>
                                        연계 서비스
                                    </strong>
                                </p>
                            </div>
                            <div class="flex_wrap">
                                <div class="left">
                                    <div class="linked_img"></div>
                                    <div class="linked_title">
                                        <p></p>
                                        <span></span>
                                    </div>
                                    <div class="linked_btn">
                                        <a href="#none">
                                            게임 하러가기
                                        </a>
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="linked_img"></div>
                                    <div class="linked_title">
                                        <p></p>
                                        <span></span>
                                    </div>
                                    <div class="linked_btn">
                                        <a href="#none">
                                            출시예정
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sectionBtn">
                            <ul>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li class="on"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>



        </main>
    </article>
    <th:block layout:fragment="custom_js">
        <script th:src="@{/js/libs/swiper.min.js}"></script>
        <script th:src="@{/js/pages/index.js}"></script>
        <script>
        var swiper = new Swiper(".mySwiper", {
            spaceBetween: 30,
            effect: 'fade',
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
                renderBullet: function(index, className) {
                    return '<p class="' + className + '"><span>' + (index + 1) + "</span></p>";
                }
            },
        });
        </script>
    </th:block>
</body>

</html>