<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<head>
    <title>소공자 플랫폼</title>
    <meta property="og:url" content="">
    <meta property="og:title" content="소공자 플랫폼">
    <meta property="og:image" th:content="@{/images/bg-maintext.png}">
    <meta property="og:description" content="임대인과 임차인이 함께 소규모 상권의 공생과 자생을 꿈꾸는 플랫폼">
    <meta name="keywords" content="소공자 플랫폼, 임대인, 임차인, 상권, 분석">
    <meta name="description" content="임대인과 임차인이 함께 소규모 상권의 공생과 자생을 꿈꾸는 플랫">
    <link rel="stylesheet" type="text/css" th:href="@{/css/swiper-bundle.min.css}">
</head>

<body>
    <article layout:fragment="content">
        <main>

            <!--메인이미지-->
            <section class="main_visual" id="section1">
                <div class="main_section">
                    <div class="wrap_img" th:style="|background: url('@{/images/img-main01.png}'), linear-gradient(#1540bf 41%, #031a5c);|">
                        <div class="container mv_text1 " >
                            <div class="title_main">
                                <span class="left"></span>
                                <p>
                                    <strong>
                                        소규모 상점의 <br>
                                        공생과 자생을 <br>
                                        꿈꾸는 플랫폼
                                    </strong>
                                </p>
                                <span class="right"></span>
                            </div>
                            <p>
                                모두가 빠르게 상권의 문제를 예측하고 스스로 해결할 수 있는 사업단계별 맞춤형 서비스!! <br>
                                땀 흘려 일하는 사장님들의 열정을 응원합니다.
                            </p>
                            <div class="scrollDwon"></div>
                        </div>
                    </div>
                    <div class="sectionBtn">
                        <ul>
                            <li onclick="fnMove('1')" class="on"></li>
                            <li onclick="fnMove('2')"></li>
                            <li onclick="fnMove('3')"></li>
                            <li onclick="fnMove('4')"></li>
                            <li onclick="fnMove('5')"></li>
                        </ul>
                    </div>
                </div>
            </section>

            <!--컨설팅-->
            <section class="educationMain" id="section2">
                <div class="main_section">
                    <div class="wrap_img">
                        <div class="container mv_text3">
                            <div class="left">
                                <p>
                                    <strong>
                                        꼭맞는 교육과 컨설팅, <br>
                                        한눈에 확인
                                    </strong>
                                    할 수 있을까?
                                </p>
                                <span>
                                    상점 진입부터 재도전까지 단계별 관심과 요구에 맞는 <br>
                                    교육과 컨설팅을 연계 제공합니다.
                                </span>
                                <div>
                                    <a href="#none">
                                        더 알아보기
                                    </a>
                                </div>
                            </div>
                            <div class="right">
                                <div></div>
                            </div>
                        </div>
                        <div class="sectionBtn">
                            <ul>
                                <li onclick="fnMove('1')"></li>
                                <li onclick="fnMove('2')" class="on"></li>
                                <li onclick="fnMove('3')"></li>
                                <li onclick="fnMove('4')"></li>
                                <li onclick="fnMove('5')"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="back_img01">
                        <div></div>
                    </div>
                </div>
            </section>

            <!--경영환경 - slide/ 동영상-->
            <section class="slide_video" id="section3">
                <div class="wrap_img">
                    <div class="mv_text4 container">
                        <div class="swiper_text_wrap">
                            <div class="swiper_text" id="swiper1">
                                <p>
                                    1달라진 경영 환경, <br>
                                    <strong>
                                        잘 대응할 수 있을까?
                                    </strong>

                                </p>
                                <span>
                                            상점, 상권, 지역 단위 빅데이터 분석 정보를 기반으로 <br>
                                            상점의 문제를 상세하게 진단합니다.
                                        </span>
                                <div>
                                    <a href="#none">
                                        더 알아보기
                                    </a>
                                </div>
                            </div>
                            <div class="swiper_text" id="swiper2">
                                <p>
                                    2달라진 경영 환경, <br>
                                    <strong>
                                        잘 대응할 수 있을까?
                                    </strong>

                                </p>
                                <span>
                                            상점, 상권, 지역 단위 빅데이터 분석 정보를 기반으로 <br>
                                            상점의 문제를 상세하게 진단합니다.
                                        </span>
                                <div>
                                    <a href="#none">
                                        더 알아보기
                                    </a>
                                </div>
                            </div>
                            <div class="swiper_text" id="swiper3">
                                <p>
                                    3달라진 경영 환경, <br>
                                    <strong>
                                        잘 대응할 수 있을까?
                                    </strong>

                                </p>
                                <span>
                                            상점, 상권, 지역 단위 빅데이터 분석 정보를 기반으로 <br>
                                            상점의 문제를 상세하게 진단합니다.
                                        </span>
                                <div>
                                    <a href="#none">
                                        더 알아보기
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sectionBtn">
                        <ul>
                            <li onclick="fnMove('1')"></li>
                            <li onclick="fnMove('2')"></li>
                            <li onclick="fnMove('3')" class="on"></li>
                            <li onclick="fnMove('4')"></li>
                            <li onclick="fnMove('5')"></li>
                        </ul>
                    </div>
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="right">
                                    <div></div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="right">
                                    <div></div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="right">
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </section>


            <!--솔루션-->
            <section class="solutionMain" id="section4">
                <div class="main_section">
                    <div class="wrap_img">
                        <div class="container mv_text3">
                            <div class="left">
                                <p>
                                    <strong>
                                        상점을 위한 솔루션, <br>
                                        맞춤형 피드백<span>을</span>
                                    </strong><br>
                                    받을 수 있을까?
                                </p>
                                <span>
                                    이용자 DATA + 공간 DATA + 맞춤형 전문 연계로 <br>
                                    상점 활성화를 지원합니다.
                                </span>
                                <div>
                                    <a href="#none">
                                        더 알아보기
                                    </a>
                                </div>
                            </div>
                            <div class="right02">
                                <div class="list_solution_wrap">
                                    <ul class="list_solution">
                                        <li>
                                            <div class="list_title">
                                                <p>소공자 솔루션 유형</p>
                                                <span></span>
                                            </div>
                                            <div class="list_text">
                                                <div class="list_sub_title">소공자 솔루션 이용방법</div>
                                                <div class="list_sub_text">
                                                    <div class="sub_text_info">
                                                        <div>
                                                            <span class="num">01</span>
                                                            <p>이용자별 자료제공</p>
                                                        </div>
                                                        <ul>
                                                            <li>Check List 확인</li>
                                                            <li>데이터 분석 및 시각화</li>
                                                            <li>필요 데이터 선택</li>
                                                            <li>분석 결과 확인</li>
                                                        </ul>
                                                    </div>
                                                    <div class="sub_text_info">
                                                        <div>
                                                            <span class="num">02</span>
                                                            <p>외부 전문가 연계</p>
                                                        </div>
                                                        <ul>
                                                            <li>분석정보 추천 전문가 선택</li>
                                                            <li>전문 교육 서비스 진행</li>
                                                            <li>전문 컨설팅 서비스 진행</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list_title">
                                                <p>업종과 입지의 선정방법 솔루션</p>
                                                <span></span>
                                            </div>
                                            <div class="list_text">
                                                <div class="list_sub_title"></div>
                                                <div class="list_sub_text"></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="sectionBtn">
                            <ul>
                                <li onclick="fnMove('1')"></li>
                                <li onclick="fnMove('2')"></li>
                                <li onclick="fnMove('3')"></li>
                                <li onclick="fnMove('4')" class="on"></li>
                                <li onclick="fnMove('5')"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <!--연계서비스-->
            <section class="linkedMain" id="section5">
                <div class="main_section">
                    <div class="wrap_img">
                        <div class="container mv_text5">
                            <div class="mv_title">
                                <p>
                                    소공자플랫폼
                                    <strong>
                                        연계 서비스
                                    </strong>
                                </p>
                            </div>
                            <div class="flex_wrap">
                                <div>
                                    <div class="linked_img"></div>
                                    <div class="linked_title">
                                        <p>어반젠트리</p>
                                        <span>젠트리피케이션이 뭐지? 게임을 통해 배워보자!</span>
                                    </div>
                                    <div class="linked_btn">
                                        <a href="#none">
                                            게임 하러가기
                                        </a>
                                    </div>
                                </div>
                                <div>
                                    <div class="linked_img"></div>
                                    <div class="linked_title">
                                        <p>공실사냥꾼</p>
                                        <span>내 주변 공실을 찾고 리워드를 받아가자!</span>
                                    </div>
                                    <div class="none_btn">
                                        <a href="#none">
                                            출시예정
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sectionBtn">
                            <ul>
                                <li onclick="fnMove('1')"></li>
                                <li onclick="fnMove('2')"></li>
                                <li onclick="fnMove('3')"></li>
                                <li onclick="fnMove('4')"></li>
                                <li onclick="fnMove('5')" class="on"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>



        </main>
    </article>
    <th:block layout:fragment="custom_js">
        <script th:src="@{/js/libs/swiper.min.js}"></script>
        <script th:src="@{/js/pages/index.js}"></script>
        <script>
            var menu = ['상점연구', '상권연구', '지역연구']
            var swiper = new Swiper(".mySwiper", {
                spaceBetween: 30,
                loop: true,
                slidesPerView: 1.5,
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                    renderBullet: function(index, className) {
                        return '<p class="' + className + '"><span>' + (menu[index]) + "</span></p>";
                    }
                },
            });

            $(function (){
                $(".list_solution > li").click(function (){
                    $(this).toggleClass("on").siblings().removeClass("on");
                });
            });

            function fnMove(seq){
                var offset = $("#section" + seq).offset();
                $("html, body").animate({scrollTop : offset.top}, 400);
            }

            $(function (){
                $("#swiper1").addClass("on").siblings().remove("on");
                $(".swiper-pagination p:nth-child(1)").click(function (){
                    $("#swiper1").addClass("on").siblings().removeClass("on");
                });
                $(".swiper-pagination p:nth-child(2)").click(function (){
                    $("#swiper2").addClass("on").siblings().removeClass("on");
                });
                $(".swiper-pagination p:nth-child(3)").click(function (){
                    $("#swiper3").addClass("on").siblings().removeClass("on");
                });
            });


        </script>
    </th:block>
</body>

</html>