<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<head>
    <title>소공자 컨설팅</title>
    <meta property="og:url" content="">
    <meta property="og:title" content="소공자 플랫폼 | 소공자 컨설팅">
    <meta property="og:image" th:content="@{/images/img-logo-black.png}">
    <meta property="og:description" content="소공자 플랫폼 소공자 컨설팅">
    <meta name="keywords" content="소공자 플랫폼, 소공자 컨설팅, 경영지원단, 법률">
    <meta name="description" content="소공자 플랫폼 소공자 컨설팅">
</head>

<body>
    <article layout:fragment="content">
        <section class="sub_visual">
            <div class="container">
                <h2 class="border_title">소공자 컨설팅</h2>
                <p>관련 기관에서 제공하는 교육 및 컨설팅 서비스, 콘텐츠를 연계 제공해드립니다.</p>
            </div>
            <div class="lnb">
                <ul class="container">
                    <li class=""><a th:href="@{/study/education}">소상공인 교육</a></li>
                    <li class="active"><a th:href="@{/study/consulting}">소공자 컨설팅</a></li>
                    <li class=""><a th:href="@{/solution/education}">맞춤형 교육</a></li>
                    <li class=""><a th:href="@{/solution/consulting}">맞춤형 컨설팅</a></li>
                </ul>
            </div>
        </section>
        <section class="wrap">
            <div class="sub_container consulting">
                <div class="faq_anchor_wrap">
                    <p>유사한 상담사례가 있는지 확인해보세요.</p>
                    <div><a th:href="@{/study/counseling}">상담사례 찾기</a></div>
                </div>
                <form name="searchForm" th:action="@{/study/consulting}" th:object="${params}">
                    <th:block th:include="fragments/search_hidden"></th:block>
                    <h3 class="h3_title">컨설팅 선택항목</h3>
                    <div class="checkbox_wrap">
                        <ul class="check_list check_list30">
                            <li>
                                <h4>컨설팅 분류</h4>
                                <ul>
                                    <li th:each="item, row : ${conType}">
                                        <input type="checkbox" name="conType" th:id="|conType${row.index}|" class="checkbox_style" th:classappend="${row.index == 0} ? 'checked_all'" th:value="${item.code}">
                                        <label th:for="|conType${row.index}|" th:text="${item.code_name}">전체</label>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h4>컨설팅 분야</h4>
                                <ul class="">
                                    <li th:each="item, row : ${conClass}">
                                        <input type="checkbox" name="conClass" th:id="|conClass${row.index}|" class="checkbox_style" th:classappend="${row.index == 0} ? 'checked_all'" th:value="${item.code}">
                                        <label th:for="|conClass${row.index}|" th:text="${item.code_name}">전체</label>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h4>지원기관</h4>
                                <ul class="">
                                    <li th:each="item, row : ${supportOrg}">
                                        <input type="checkbox" name="supportOrg" th:id="|supportOrg${row.index}|" class="checkbox_style" th:classappend="${row.index == 0} ? 'checked_all'" th:value="${item.code}">
                                        <label th:for="|supportOrg${row.index}|" th:text="${item.code_name}">전체</label>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="check_keyword">
                            <legend>키워드 검색</legend>
                            <label for="keyword_search">키워드 검색</label>
                            <div>
                                <input type="text" th:field="*{keyword}" placeholder="키워드 검색">
                                <button type="submit">검색</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="edu_list_wrap">
                    <th:block th:include="fragments/paging_result :: paging_result('total')"></th:block>
                    <table class="table_style custom_consulting">
                        <caption>다른 사용자가 자주 찾는 컨설팅</caption>
                        <thead>
                        <tr>
                            <th style="width: 8%;">No.</th>
                            <th style="width: 12%;">제공기관</th>
                            <th style="width: 15%;">서비스명</th>
                            <th style="width: 15%;">구분</th>
                            <th style="width: 40%;">지원내용</th>
                            <th style="width: 10%;">관리</th>
                        </tr>
                        </thead>
                        <tbody>
                            <th:block th:include="fragments/table_empty:: table_empty(6)" th:if="${#lists.isEmpty(list)}"></th:block>
                            <th:block th:unless="${#lists.isEmpty(list)}">
                                <tr th:each="item : ${list}">
                                    <td>1</td>
                                    <td>제공기관</td>
                                    <td class="cate2" th:text="${item.con_type_name}">창업컨설팅</td>
                                    <td class="color_606060">창업전 컨설팅</td>
                                    <td class="txl">지원내용</td>
                                    <td>
                                        <div class="management management_wrap">
                                            <button type="button" class="favorite">찜하기</button>
                                            <!--                                    수강완료되었을 때-->
                                            <!--                                    <span class="edu_done"></span>-->
                                            <!--                                    수강완료 전-->
                                            <span class="edu_none"></span>
                                        </div>
                                    </td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>
                <th:block th:include="fragments/paging"></th:block>
            </div>
        </section>
    </article>
    <th:block layout:fragment="custom_js">
        <script th:src="@{/js/pages/study/consulting_list.js}"></script>
    </th:block>
</body>

</html>