<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<head>
    <title>상담사례</title>
    <meta property="og:url" content="">
    <meta property="og:title" content="소공자 플랫폼 | 소공자 컨설팅 상담사례">
    <meta property="og:image" th:content="@{/images/img-logo-black.png}">
    <meta property="og:description" content="소공자 플랫폼 소공자 컨설팅 상담사례">
    <meta name="keywords" content="소공자 플랫폼, 소공자 컨설팅, 경영지원단, 법률">
    <meta name="description" content="소공자 플랫폼 소공자 컨설팅 상담사례">
</head>

<body>
    <article layout:fragment="content">
        <section class="sub_visual">
            <div class="container">
                <h2 class="border_title">소공자 컨설팅</h2>
                <p>관련 기관에서 제공하는 교육 및 컨설팅 서비스, 콘텐츠를 연계 제공해드립니다.</p>
            </div>
            <div class="lnb">
                <ul class="container">
                    <li><a th:href="@{/study/education}">소상공인 교육</a></li>
                    <li class="active"><a th:href="@{/study/counseling}">소공자 컨설팅</a></li>
                    <li><a th:href="@{/solution/education}">맞춤 교육</a></li>
                    <li><a th:href="@{/solution/consulting}">맞춤 컨설팅</a></li>
                </ul>
            </div>
        </section>
        <section class="wrap">
            <div class="sub_container consulting_case">
                <form name="searchForm" th:action="@{/study/counseling}" th:object="${params}">
                    <th:block th:include="fragments/search_hidden"></th:block>
                    <div class="h3_title_wrap">
                        <h3 class="h3_title">경영지원단 상담사례</h3>
                        <p>컨설팅을 찾기전에 상담사례에서 도움을 받을 수 있습니다.</p>
                    </div>
                    <div class="checkbox_wrap">
                        <ul class="check_list check_list50">
                            <li>
                                <h4>사례 분류</h4>
                                <ul>
                                    <li th:each="item, row : ${couType}">
                                        <input type="checkbox" name="couType" th:id="|couType${row.index}|" class="checkbox_style" th:classappend="${row.index == 0} ? 'checked_all'" th:value="${item.code}">
                                        <label th:for="|couType${row.index}|" th:text="${item.code_name}">전체</label>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h4>사례 분야</h4>
                                <ul class="check_list_li50">
                                    <li th:each="item, row : ${couClass}">
                                        <input type="checkbox" name="couClass" th:id="|couClass${row.index}|" class="checkbox_style" th:classappend="${row.index == 0} ? 'checked_all'" th:value="${item.code}">
                                        <label th:for="|couClass${row.index}|" th:text="${item.code_name}">전체</label>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="check_keyword">
                            <legend>키워드 검색</legend>
                            <label for="keyword_search">키워드 검색</label>
                            <div>
                                <input type="text" th:field="*{keyword}" placeholder="키워드 검색">
                                <button type="submit">검색</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="edu_list_wrap">
                    <th:block th:include="fragments/paging_result :: paging_result('total')"></th:block>
                    <table class="table_style custom_counseling">
                        <caption>상담사례</caption>
                        <thead>
                            <tr>
                                <th style="width: 11.5%;">분류</th>
                                <th class="txl">상담사례</th>
                                <th style="width: 18.5%;">등록일</th>
                            </tr>
                        </thead>
                        <tbody>
                            <th:block th:include="fragments/table_empty:: table_empty(3)" th:if="${#lists.isEmpty(list)}"></th:block>
                            <th:block th:unless="${#lists.isEmpty(list)}">
                                <tr th:each="item : ${list}">
                                    <td class="cate" th:text="${item.cou_type_name}">법률</td>
                                    <td class="txl">
                                        <a th:href="@{|/study/counseling/${item.cou_seq}|}" th:text="${item.subject}">2021년 (국고)온라인미디어 예술활동 지원사업 아트체인지업 공모 안내</a>
                                    </td>
                                    <td th:text="${item.reg_dt}">2021.01.01</td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>
                <th:block th:include="fragments/paging"></th:block>
                <div class="more_view">
                    <a th:href="@{/study/consulting}">적당한 사례가 없다면 컨설팅 찾아보기</a>
                </div>
            </div>
        </section>
    </article>
    <th:block layout:fragment="custom_js">
        <script th:src="@{/js/pages/study/counseling_list.js}"></script>
    </th:block>
</body>

</html>