<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">

<head>
    <title th:text="${breadcrumb.menu_name}">게시판관리</title>
</head>
<div layout:fragment="content">
    <nav th:replace="fragments/page_breadcrumb"></nav>
    <form name="editForm" th:action="@{/banner/form}" th:object="${banner}" method="post"
          enctype="multipart/form-data" onsubmit="return validationForm();">
        <input type="hidden" th:field="*{bannerSeq}">
        <!--<input type="hidden" name="menuCode" th:value="${menuCode}">
        <input type="hidden" name="pageParams" th:value="${pageParams}">-->
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label required">제목</label>
                                    <div class="col-sm-10">
                                        <input type="text" th:field="*{title}" maxlength="100" class="form-control"
                                               required="required">
                                        <th:block
                                                th:include="fragments/form_invalid:: form_invalid('title')"></th:block>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">URL</label>
                                    <div class="col-sm-8">
                                        <input type="text" th:field="*{url}" maxlength="200" class="form-control">
                                        <th:block th:include="fragments/form_invalid:: form_invalid('url')">
                                        </th:block>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="form-control" th:field="*{urlOpenType}">
                                            <option th:value="1">현재창</option>
                                            <option th:value="2">새창</option>
                                            <option th:value="3">새탭</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">PC배너</label>
                                    <div class="col-sm-5">
                                        <th:block th:if="${not #lists.isEmpty(fileList_pc)}" th:each="item : ${fileList_pc}"><!-- pc배너 있을경우 출력 -->
                                            <input type="file" name="imageFile" class="file-upload-default" accept="image/jpg, image/jpeg, image/png"  onchange="readURLPC(this);">
                                            <div class="input-group">
                                                <input type="text" class="form-control file-upload-title"  disabled="disabled" placeholder="" th:value="${item.file_name}">
                                                <span class="input-group-append">
                                                        <button type="button"  class="file-upload-browse btn btn-primary">파일선택</button>
                                                        <button type="button" class="btn btn-danger" id="pc_banner_del" th:data-file-seq="${item.file_seq}">삭제</button>
                                                    </span>
                                            </div>
                                            <div class="pb-2 attach-file attach-file-count">
                                                <img class="bannerThumb" th:src="@{|/thumb/${item.thumbnail_path}|}" th:alt="${item.file_name}" width="300">
                                                <div class="input-group">
                                                    <a th:href="@{|/file/download/${item.file_seq}|}" class="file-download mt-2 mr-2" th:text="${item.file_name}">파일명</a>
                                                    <!--<span class="input-group-append">
                                                        <button type="button" class="btn btn-danger btn-delete-file" id="pc_banner_del" th:data-file-seq="${item.file_seq}">삭제</button>
                                                    </span>-->
                                                </div>
                                            </div>
                                        </th:block>
                                        <th:block th:unless="${not #lists.isEmpty(fileList_pc)}"><!-- pc배너 없을경우 출력 -->
                                            <div class="attach-file">
                                                <input type="file" name="imageFile" class="file-upload-default" accept="image/jpg, image/jpeg, image/png"  onchange="readURLPC(this);">
                                                <div class="input-group">
                                                    <input type="text" class="form-control file-upload-title"  disabled="disabled" placeholder="" >
                                                    <span class="input-group-append">
                                                        <button type="button"  class="file-upload-browse btn btn-primary">파일선택</button>
                                                        <button type="button" class="btn btn-danger">삭제</button>
                                                    </span>
                                                </div>
                                                <img class="bannerThumb" id="previewImgPc" src="https://dummyimage.com/500x500/ffffff/000000.png&text=preview+image">
                                            </div>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">모바일 배너</label>
                                    <div class="col-sm-5">
                                        <th:block th:if="${not #lists.isEmpty(fileList_mobile)}" th:each="item : ${fileList_mobile}"><!-- 모바일 배너 있을경우 출력 -->
                                            <input type="file" name="imageFile" class="file-upload-default" accept="image/jpg, image/jpeg, image/png"  onchange="readURLM(this);">
                                            <div class="input-group">
                                                <input type="text" class="form-control file-upload-title"  disabled="disabled" placeholder="" th:value="${item.file_name}">
                                                <span class="input-group-append">
                                                        <button type="button"  class="file-upload-browse btn btn-primary">파일선택</button>
                                                        <button type="button" class="btn btn-danger" id="mobile_banner_del" th:data-file-seq="${item.file_seq}">삭제</button>
                                                    </span>
                                            </div>
                                            <div class="pb-2 attach-file attach-file-count">
                                                <img class="bannerThumb" th:src="@{|/thumb/${item.thumbnail_path}|}" th:alt="${item.file_name}" width="300">
                                                <div class="input-group">
                                                    <a th:href="@{|/file/download/${item.file_seq}|}" class="file-download mt-2 mr-2" th:text="${item.file_name}">파일명</a>
                                                    <!--<span class="input-group-append">
                                                        <button type="button" class="btn btn-danger btn-delete-file" id="pc_banner_del" th:data-file-seq="${item.file_seq}">삭제</button>
                                                    </span>-->
                                                </div>
                                            </div>
                                        </th:block>
                                        <th:block th:unless="${not #lists.isEmpty(fileList_mobile)}"><!-- 모바일배너 없을경우 출력 -->
                                            <div class="attach-file">
                                                <input type="file" name="imageFile" class="file-upload-default" accept="image/jpg, image/jpeg, image/png"  onchange="readURLM(this);">
                                                <div class="input-group">
                                                    <input type="text" class="form-control file-upload-title"  disabled="disabled" placeholder="" >
                                                    <span class="input-group-append">
                                                        <button type="button"  class="file-upload-browse btn btn-primary">파일선택</button>
                                                        <button type="button" class="btn btn-danger">삭제</button>
                                                    </span>
                                                </div>
                                                <img class="bannerThumb" id="previewImgM" src="https://dummyimage.com/500x500/ffffff/000000.png&text=preview+image">
                                            </div>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">사용여부</label>
                                    <div class="col-sm-10">
                                        <input type="checkbox" th:field="*{used}"
                                               data-toggle="toggle" data-size="small" data-on="사용함" data-off="사용안함"
                                               data-width="80" value="1" th:checked="*{urlOpenType == 1}">
                                        <th:block th:include="fragments/form_invalid:: form_invalid('urlOpenType')">
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary mr-2 btn-icon-text" th:if="*{bannerSeq == 0}">
                    <i class="btn-icon-prepend" data-feather="edit"></i>등록
                </button>
                <button type="submit" class="btn btn-secondary mr-2 btn-icon-text" th:unless="*{bannerSeq == 0}">
                    <i class="btn-icon-prepend" data-feather="edit"></i>수정
                </button>
                <a class="btn btn-outline-primary btn-icon-text" th:href="@{|/banner?${pageParams}|}">
                    <i class="btn-icon-prepend" data-feather="list"></i>목록
                </a>
            </div>
        </div>
    </form>
</div>
<th:block layout:fragment="custom_css">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap-tagsinput.css}"/>
</th:block>
<th:block layout:fragment="custom_js">
    <script th:src="@{/assets/js/libs/bootstrap-tagsinput.min.js}"></script>
    <script th:src="@{/assets/js/file-upload.js}"></script>
    <script th:src="@{/assets/js/pages/banner/banner_form.js}"></script>
</th:block>

</html>