<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<head>
    <title th:text="${breadcrumb.menu_name}">배너관리</title>
</head>
<div layout:fragment="content">
    <nav th:replace="fragments/page_breadcrumb"></nav>

    <div class="row">
        <div class="col-12 col-xl-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <form name="searchForm" th:action="@{/education(menuCode=${params.menuCode})}" th:object="${params}"
                          method="get">
                        <th:block th:include="fragments/search_hidden"></th:block>
                        <div class="row">
                            <label class="col-sm-4 col-form-label">배너목록</label>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-right">

                                <a th:href="@{|/banner/form?${pageParams}|}" class="btn btn-secondary btn-icon-text">
                                    <i class="btn-icon-prepend" data-feather="edit"></i>배너추가
                                </a>
                            </div>
                        </div>
                    </form>
                    <p class="card-description">
                        <th:block th:include="fragments/paging_result:: paging_result('')"></th:block>
                    </p>
                    <p class="card-description"></p>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <colgroup>
                                <col style="width: 6%;">
                                <col style="width: 30%;">
                                <col style="width: 30%;">
                                <col style="width: 10%;">
                                <col style="width: 12%;">
                                <col style="width: 12%;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>순서</th>
                                    <th>제목</th>
                                    <th>링크</th>
                                    <th>순서변경</th>
                                    <th>사용</th>
                                    <th>관리</th>
                                </tr>
                            </thead>
                            <tbody>
                                <th></th>
                                <tr>
                                    <td>1123</td>
                                    <td>제목입니당</td>
                                    <td>바로가기 링크적어주세요</td>
                                    <td>
                                        <button type="button><i class="fa-sharp fa-solid fa-arrow-up"></i></button>
                                        <button type="button><i class="fa-sharp fa-solid fa-arrow-down"></i></button>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="" value="">
                                    </td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-outline-danger btn-sm btn-delete"
                                            >삭제</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <th:block th:include="fragments/paging"></th:block>
                </div>
            </div>
        </div>
    </div>
    <form name="deleteForm" th:action="@{/education/delete}" method="post">
        <input type="hidden" name="eduSeq">
        <input type="hidden" name="menuCode" th:value=${params.menuCode}>
    </form>
</div>
<th:block layout:fragment="custom_css">
</th:block>
<th:block layout:fragment="custom_js">
    <script th:src="@{/assets/js/pages/education/education_list.js}"></script>
</th:block>

</html>