<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<head>
    <title th:text="${breadcrumb.menu_name}">배너관리</title>
</head>
<div layout:fragment="content">
    <nav th:replace="fragments/page_breadcrumb"></nav>

    <div class="row">
        <div class="col-12 col-xl-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <form name="searchForm" th:action="@{/education(menuCode=${params.menuCode})}" th:object="${params}"
                          method="get">
                        <th:block th:include="fragments/search_hidden"></th:block>
                        <div class="row">
                            <label class="col-sm-4 col-form-label">배너목록</label>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-right">
                                <a th:href="@{|/banner/form?${pageParams}|}" class="btn btn-secondary btn-icon-text">
                                    <i class="btn-icon-prepend" data-feather="edit"></i>배너추가
                                </a>
                            </div>
                        </div>
                    </form>
                    <p class="card-description">
                        <th:block th:include="fragments/paging_result:: paging_result('')"></th:block>
                    </p>
                    <p class="card-description"></p>
                    <div class="table-responsive" style="text-align: center">
                        <table class="table table-hover">
                            <colgroup>
                                <col style="width: 6%;">
                                <col style="width: 10%;">
                                <col style="width: 30%;">
                                <col style="width: 14%;">
                                <col style="width: 15%;">
                                <col style="width: 15%;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>제목</th>
                                    <th>링크</th>
                                    <th>PC 배너순서</th>
                                    <th>모바일 배너순서</th>
                                    <th>사용</th>
                                    <th>관리</th>
                                </tr>
                            </thead>
                            <tbody>
                                <th:block th:include="fragments/table_empty:: table_empty(7)" th:if="${#lists.isEmpty(list)}"></th:block>
                                <tr th:each="item : ${list}" th:unless="${#lists.isEmpty(list)}">
                                    <td th:text="${paging.total - item.rnum + 1}"></td>
                                    <td ><a th:href="@{|/banner/${item.banner_seq}?${pageParams}|}">[[${item.title}]]</a></td>
                                    <td>[[${item.url}]]</td>
                                    <td>
                                        <div class="row">
                                            <input type="number" class="form-control col-sm-6 mr-2" name="tentacles" th:value="${item.pc_order}" min="1" max="10">
                                            <button type="button" class="btn btn-primary col-sm-4">저장</button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <input type="number" class="form-control col-sm-6 mr-2" name="tentacles" th:value="${item.mobile_order}" min="1" max="10">
                                            <button type="button" class="btn btn-primary col-sm-4">저장</button>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="checkbox" th:checked="${item.used == '1'}">
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-outline-danger btn-sm btn-delete" th:data-banner-seq="${item.banner_seq}">삭제</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <th:block th:include="fragments/paging"></th:block>
                </div>
            </div>
        </div>
    </div>
    <form name="deleteForm" th:action="@{/banner/delete}" method="post">
        <input type="hidden" name="bannerSeq">
    </form>
</div>
<th:block layout:fragment="custom_css">
</th:block>
<th:block layout:fragment="custom_js">
    <script th:src="@{/assets/js/pages/banner/banner_list.js}"></script>
</th:block>

</html>